[2016-04-25 06:11] resmo commented on #1217
Closing this issue as #2064 has been merged and is marked to fix this issue

[2016-04-25 06:11] #1217 closed

[2016-04-25 06:45] HouzuoGuo opened #2094 "zypper: does not install package from URL"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
Zypper command is not installing package from URL

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
RPM is installed via zypper.

##### ACTUAL RESULTS
Error comes back and says "No provider of 'elasticsearch' found."

[2016-04-25 06:52] bmillemathias commented on #1217
Hi
Is there any reason that would prevent this fix and PR 2064 from being backported to 2.0.x ?

Thanks

[2016-04-25 09:31] robinro commented on #1627
@jasonmader please make your commit a pull-request. The code looks really promising.

[2016-04-25 09:32] robinro commented on #878
I would return `Changed=false` even after a reinstall. The version number does not change. So it does not break idempotency.

[2016-04-25 09:33] robinro commented on #299
This issue is old and I can't reproduce it.
close_me

[2016-04-25 09:36] robinro commented on #65
I agree with @matze that implementing this would require a lot of fiddling with zypper output.

A simple solution would be to autoimport gpg keys when adding the repo. You could run `zypper --gpg-auto-import-keys ref` as a handler.
Implementing this in the module might be a good idea.

[2016-04-25 11:20] alxgu commented on #878
And what's about the postscript part? I would vote for `changed=True`

[2016-04-25 11:40] robinro commented on #878
This would loose idempotency then and I would favor idempotency. The `changed=True` does not carry any information, that is not already in `force=yes`. The only non-trivial information would be a fail, which can still happen.

APT's force does something different, which is more like `--non-interactive` in zypper.

[2016-04-25 12:20] DomBlack commented on #1418
Could the old workaround simply not be used by the module directly?

i.e.

[code]

[2016-04-25 12:30] ozbillwang commented on #428
@angystardust

Do you still have the commit of psa/ansible@00e19d1, it is gone.

Could you please send me a copy?

[2016-04-25 12:32] ozbillwang commented on #428
this problem is still not fixed in latest ansible v2.0.1 and v2.1

[2016-04-25 13:29] gyurco opened #2096 "Haproxy module doesn't check if the service is present on the given host"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

haproxy
##### ANSIBLE VERSION

2.0.2.0
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

The haproxy module assumes that a given host presents in _all_ proxies, and if it is not true, an error occures.
##### STEPS TO REPRODUCE

haproxy: host=a_backend_host socket=/run/haproxy/admin.sock state=enabled

If a service exists in haproxy, but t

[2016-04-25 13:52] gyurco commented on #2096
Probably this fixes it, I have to test:
https://github.com/ansible/ansible-modules-extras/pull/1385/

[2016-04-25 23:21] Daemoen opened #2100 "iptables module incorrectl specifies --destination-port instead of --dport"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running from OSX (should be irrelevant)
Ansible managing EL6 (should be irrelevant)

##### SUMMARY

Destination port is not represented correctly, should be --dport not --destination-port, unless this varies by os.

##### STEPS TO REPRODUCE

[

[2016-04-25 23:28] #2100 closed

[2016-04-26 02:52] Etherdaemon opened #2104 "Feature Idea: consul_kv allow json import to key value store"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
consul_kv

##### SUMMARY
Currently the consul_kv module written by @sgargan doesn't really support an import function of a json blob. I think it would be really useful to implement this so that you can import/fill a consul key value store and have the json file that is human readable and parseable by other json products.

##### PROPOSAL

Just

[2016-04-26 07:49] jhawkesworth commented on #2090
I have a fix for this working on PRs now

[2016-04-26 12:09] jmtsi commented on #1794
Same problem for me with ansible 2.0.2.0. Permissions won't accept a list of dicts.

[2016-04-26 18:43] #2090 closed

[2016-04-26 23:11] sgargan commented on #2104
What is your intended access pattern? Do you have a use case that requires the overhead of a k/v pair per document value. Without reason to lock or version at this fine a grain you'd be much better off storing the document for each app and retrieving it in one go, If your primary usecase is for configuration this is definitely the case. You're unlikely to need to version and lock 'log4j_appender_F

[2016-04-26 23:22] Etherdaemon commented on #2104
Hi @sgargan,

I was using the above more as an example of a json blob.

But in terms of use case, for myself personally, I need to import environment configurations into the key/value store and have said environment configs in a human readable format that can be used by both consul as well as being able to be parsed by other apps/languages such as Ruby and Python. When I provision an environment I

[2016-04-27 09:33] wouterla opened #2114 "Consul module for 2.1 fails with wrong parameter name for python-consul constructor ("
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
clustering/consul.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
Consul tasks fail with a message `__init__() got an unexpected keyword argument 'validate_certs`
This is because the boolean value has a different name ('verify') in the constructor for the Consul class.

The code involved looks

[2016-04-27 10:09] artob commented on #1418
The following blog post suggests a workaround, but ideally the PEAR module would handle these prompts natively if it is to claim to offer PECL support:

http://marvelley.com/blog/2014/04/23/handling-interactive-ansible-tasks/

Drawing on the aforementioned, a workaround for @cmacrae might look similar to @DomBlack's suggestion:

[code]

[2016-04-27 18:02] davidstelter commented on #1794
Same here, 2.0.2.0 running on Amazon Linux

[2016-04-27 18:31] aioue commented on #1401
+1

[2016-04-27 20:31] chouseknecht commented on #2114
@sgargan do you have time to take a look at this?

[2016-04-27 20:40] chouseknecht commented on #2092
@jcftang

[2016-04-27 20:41] chouseknecht commented on #2084
@wimnat

[2016-04-27 20:44] chouseknecht commented on #2077
@wimnat

[2016-04-27 20:46] #2073 closed

[2016-04-27 20:48] chouseknecht commented on #2071
@chrishoffman

[2016-04-27 20:52] chouseknecht commented on #2068
This should be opened in ansible_modules_core. Will take a look at it though.

[2016-04-27 21:00] jcftang commented on #2092
@juju4 thanks for the report, I've since migrated to using homebrew in recent times and I don't have a macports based mac to dev/test against to address these feature requests. I probably wont be able to add support for this unfortunately since I do not use it any more.

[2016-04-27 22:28] alikins commented on #2061
Would it be possible to try this ansible 2.0.2 or a devel version?
A copy of the output when ran with '-vvvvv' will contain the info needed for debugging.

Was this using correct authentication to the netscaler? Any idea if the request failed or succeeded or the exist status?

[2016-04-28 13:58] offlinehoster opened #2121 "Jira module is failing if http status code is 201"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jira.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS 64bit

##### SUMMARY
If you send a request to your JIRA and get a http status code 201 back, the jira.py module will fail, because it only allows 200 and 204.

##### STEPS TO REPRODUCE
Doing this curl command
`curl -D- -u username:password

[2016-04-28 14:37] sivel commented on #2121
Duplicate of https://github.com/ansible/ansible-modules-extras/pull/2115

[2016-04-28 14:43] sivel commented on #2121
Closing since we have 2 open PRs for this

[2016-04-28 14:43] #2121 closed

[2016-04-28 17:09] nitzmahone commented on #1785
@ksmets Can you verify that this is working in 2.1RC?

[2016-04-28 17:15] #2003 closed

[2016-04-28 17:17] nitzmahone commented on #1870
Apparently fixed in devel by #2007

[2016-04-28 17:17] #1870 closed

[2016-04-28 17:22] nitzmahone commented on #1140
If you're using kerberos, we've added kerberos delegation support to a new version of pywinrm (that should be available roughly around 2.1 release timeframe)- with that turned on, your credentials can make a transparent second-hop to an SMB share. Once pywinrm >=0.1.2 has shipped (it might be 0.2.0 or 1.0.0, not sure of version yet), you can just add `ansible_winrm_kerberos_delegation=true` to you

[2016-04-28 17:47] nitzmahone commented on #1886
Suspect the only way to make this work would be to add username/password share access support to the chocolatey module (ala what's done in win_package)- I'd say use kerberos delegation, but I'm guessing your NAS is just doing basic workgroup share emulation w/ username/password, so no dice there. Tagging this as a feature request.

[2016-04-28 17:49] nitzmahone commented on #1889
closing per request

[2016-04-28 17:49] #1889 closed

[2016-04-28 18:12] nitzmahone commented on #1968
closing, duplicate

[2016-04-28 18:12] #1968 closed

[2016-04-28 18:15] nitzmahone commented on #1984
@nnovikov have you been able to try @cloudnull 's suggestions?

[2016-04-28 18:19] nitzmahone commented on #1998
@cloudnull Would you recommend closing this issue then? It doesn't sound like there's a clean way to fix...

[2016-04-28 21:45] fvant commented on #1813
It works in 2.0.2.0  (from normal pip install) but no longer in devel.

(but i needed devel because stuff was broken in elasticache in 2.0.2)

[2016-04-28 21:47] bcoca commented on #1813
see if this fixes it #2126

[2016-04-29 00:26] kevingraham77 opened #2127 "ec2_snapshot_facts errors on boto3_tag_list_to_ansible_dict"
##### ISSUE TYPE
Bug Report
##### COMPONENT NAME
[code]
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
[code]
##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2016-04-29 00:36] lepht commented on #751
There seems to be an issue with the CI tests, but for those still experiencing this issue the fix is super simple -- see the patch in #2125

[2016-04-29 03:22] osumampouw opened #2128 "using NVM: npm module throws "ValueError: No JSON object could be decoded" the second time it's run"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing changed, I use the default configuration.
##### OS / ENVIRONMENT

Running ansible on Mac Darwin Kernel Version 13.4.0
This for deploying on Ubuntu 14.04
##### SUMMARY

I used nvm (node version manager https://www.npmjs.com/package/nvm) to install different version of npm on my server. So after installing node

[2016-04-29 09:13] elouanKeryell-Even commented on #774
I encountered the exact same issue, with a `SUCCESS` log line in `/var/log/glusterfs/cmd_history.log`. Mysteriously, I just re-executed the playbook and this time it worked fine. My playbook usually executes without a problem, dunno why it failed this time.

[2016-04-29 10:19] Constantin07 commented on #1813
Thanks @bcoca but with #2126 I get:

[code]

[2016-04-29 15:28] cmacrae commented on #1418
@bendiken Thanks for your input on this. Though, I think @DomBlack's approach makes more sense, as that will simply accept the defaults of the package you're trying to install, instead of answering 'yes' for everything. There are some answers that default to 'no' and I assume some packages will expect a numeric value or perhaps other strings.

[2016-04-29 19:04] evgeni commented on #1998
@nitzmahone we should at least document that the behaviour might be not as desired.

[2016-05-01 18:13] do11 opened #2137 "open_iscsi fails to login when discovery returns multiple portals"
##### ISSUE TYPE

Maybe bug, maybe lack of feature.
##### COMPONENT NAME

open_iscsi
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

Sometimes, iscsi target is configured to return multiple portals with only one IP is really available. Others are firewalled or non-routed to this box.

But, even when I specify `portal=` option `open_iscsi` module does not pass it to `i

[2016-05-01 18:38] do11 commented on #2137
Actually, currently I could do like this:

[code]

After valid target/portal is logged in `iscsiadm -m node -o delete` only able to delete invalid portals, because, opened session blocks deletion of valid portal, thus, it works. But, this is obviously a bit nasty.

[2016-05-02 04:40] tmoschou opened #2139 "maven_artifact does not use classifier when constructing destination name of artifact"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

maven_artifact
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X El Capitan v10.11.4
##### SUMMARY

When specifying a classifier for maven_artifact and a directory as the dest parameter, the destination filename is constructed assuming no classifier. I.e.

`artifact_id + "-" + version + "." + extension` vs
`ar

[2016-05-02 08:09] haeena opened #2140 "modprobe: Call 'modprobe -r' instasd of 'rmmod' for absent?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
modprobe

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A (linux target)

##### SUMMARY
Current implementation of modprobe module uses `rmmod` command to remove kernel module.
https://github.com/ansible/ansible-modules-extras/blob/stable-2.1/system/modprobe.py#L114

Why don't we use `modprobe -r` instead of `r

[2016-05-02 14:03] llernestal opened #2143 "hipchat: module fails when API return 204 HTTP status code"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Hipchat

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Module fails when Hipchat REST API v2 returns a non `200` HTTP status code

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A successful return from module when Hipchat REST API v2 returns a 2xx status code

##### ACTUAL RESULTS

[code]

[2016-05-02 14:20] sparkvilla commented on #1810
@nitzmahone not anymore you can close it. Thank you

[2016-05-02 15:04] alikins commented on #2143
Yup, looks like the module only considers a 200 a success.
https://github.com/ansible/ansible-modules-extras/blob/devel/notification/hipchat.py#L157

https://www.hipchat.com/docs/apiv2/method/send_room_notification does show 204 as the expected return code  (Even though 204 is missing from https://developer.atlassian.com/hipchat/guide/hipchat-rest-api/api-response-codes at the moment)

[2016-05-02 15:07] jhawkesworth commented on #1810
Closed at the request of @sparkvilla

[2016-05-02 15:07] #1810 closed

[2016-05-02 15:10] lgomezma commented on #1638
I have exactly the same issue

[2016-05-02 15:21] photoninger opened #2144 "pkgutil: the values of update_catalog get always translated to true or false, but the module expects yes or no."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/os/pkgutil.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running on MacOS X 10.11.4 against Solaris 10

##### SUMMARY
Argument update_catalog gets wrong values false and true instead of no and yes

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
CSW package gnupg should be installed.

##### ACTUA

[2016-05-02 15:36] llernestal commented on #2143
The module works for me when running:

[code]

but, of course, with room name URL-encoded:

[code]

Isn't that strange since https://github.com/ansible/ansible-modules-extras/blob/stable-2.0.0.1/notification/hipchat.py#L158 also says only `200` code is accepted? Or am I missing something here?

[2016-05-02 15:54] alikins commented on #2143
Likely a result of the changes related to fixes for #15555.
84ee00bb4246bae43e4fdd149b72e9f1b5693c1e or 7f206fdfe8b2374ea289f6140d78ffc3d4d56745 or changes/fixes in fetch_url
( https://github.com/ansible/ansible/commit/ed35e8bce21180529e72f5bbe1d853b67ddac870 or https://github.com/ansible/ansible/commit/ 4647e8b74e614e5ed82becd0eb502d79d10d2b13 etc).

2.0.2 was likely ignoring the 204 and returnin

[2016-05-02 16:37] alikins commented on #2144
The arg spec for update_catalog doesn't seem to make any sense. type=bool kind of conflicts with 'choices=['yes','no'], so both will never be true, iiuc.

[2016-05-02 17:27] alikins commented on #2139
Looks like https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/language/maven_artifact.py#L335 is the likely culprit. The destination dir name building may make more sense to move into MavenArtifact() class.

[2016-05-02 19:27] rackerroush opened #2152 "extra modules update schedule at pypi"
Forgive any ignorance on my part, I was hopeful that someone could tell me how frequently pypi's package of ansible will be updated with changes to these ansible-modules-extras.  There are some updates that were put in place just a few hours ago, but before I start recommending people patch independently of doing a pip upgrade, I wanted to make sure that I have my facts straight.

[2016-05-02 19:44] sivel commented on #2152
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-05-02 19:44] #2152 closed

[2016-05-02 19:47] irlevesque opened #2153 "consul_session: consul.session.create() requires a lock_delay without units"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_session

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When creating a consul session, the module requires passing a unit with the `lock_delay` parameter. This is not a valid option in the [underlying python-consul module](http://python-consul.readthedocs.io/en/latest/#consul.base.Cons

[2016-05-02 19:55] irlevesque opened #2154 "consul_session: feature - add "behavior" to session creation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
consul_session

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[code]

##### SUMMARY
python-consul provides the [`behavior` parameter](http://python-consul.readthedocs.io/en/latest/#consul.base.Consul.Session) when creating a session:

Implemented here: https://github.com/quantopian/ansible-modules-extras/commit/

[2016-05-02 20:09] irlevesque opened #2155 "consul_kv: Fix session-based kv acquire/release"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Following the documented procedure for adding a KV with an associated session fails in multiple ways:
- setting `state` to `acquire` or `release` results in an error that the only valid options are `present` or `absent`
- setting the `s

[2016-05-02 21:21] hryamzik commented on #1545
For now you can use this [role](https://github.com/gitinsky/ansible-role-letsencrypt)

[2016-05-03 06:26] robinro opened #2158 "allow to specify version number when installing with zypper"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
packaging/os/zypper.py

##### ANSIBLE VERSION
2.2, devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
any Suse distro

##### SUMMARY
Allow to put version information in the package name and handle that correctly.

##### STEPS TO REPRODUCE
Things that should work:
[code]
Allowed operators in zypper: `<`, `>`, `<=`, `>=`, `=`. Version should

[2016-05-03 13:40] landro opened #2159 "Gitlab python binding"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

gitlab_user
gitlab_project
gitlab_group
##### ANSIBLE VERSION

Latest
##### SUMMARY

The gitlab_x modules depend on the pyapi-gitlab library. pyapi-gitlab is not actively being maintained (the current maintainer is looking for new maintainers), and there are lots and lots of missing features. I believe it would make sense to move to https://git

[2016-05-04 05:27] #2143 closed

[2016-05-04 05:47] #1627 closed

[2016-05-04 05:47] #299 closed

[2016-05-04 05:47] #546 closed

[2016-05-04 05:47] #2094 closed

[2016-05-04 05:56] georgiee commented on #418
Hello,
this is still present in ansible 2.0.2.0.
Same procedure: Global NPM Installation fails and ansible reports passed.

[2016-05-04 06:18] georgiee commented on #418
Ok immediate follow up:

Manual installing a global package as non-root fails, but the ansible npm module just does it correct and installs it in the home directory. So actually that part never failed- only when you try it yourself. The error happens much later and is related to a symlinked project. So it is more a symlink & npm install error - which is reported correctly as failed then. The debug

[2016-05-04 06:59] HouzuoGuo commented on #2094
thank you.

[2016-05-04 08:05] sgargan commented on #2104
I get what you're trying to do but not why you're trying to it. Each key
value pair should be something you could potentially lock around, the unit
of write being the group of elements you'd like to be written and accessed
atomically. Writing each element of a json blob is going to hurt your
performance and if you're going to end up reading them sequentially or even
in groups is going to end up be

[2016-05-04 15:24] zazard opened #2162 "rabbitmq_user module assumes there is at least one user on target system"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

"ansible 2.2.0 (devel fbec9ce58b) last updated 2016/05/04 13:07:35 (GMT +200)"

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Running rabbitmq_user on a system where there are no rabbitmq users (i.e. guest user has been removed) produces the following failure output:

[code]

Next run wor

[2016-05-04 17:24] seanpaulellis commented on #817
Has there been any update on this?  We're encountering this problem and have to use a command to run it instead.  This would be incredibly helpful.  Thank you.

[2016-05-04 22:10] MatthewDaize opened #2166 "Cloud Module - cloudtrail - Error on existing trail without S3 prefix"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
AWS - Cloudtrail

##### ANSIBLE VERSION
[code]

##### SUMMARY
Describing (view) existing trails throws a module failure due to a missing key in the returned dictionary.

##### STEPS TO REPRODUCE
* Create a cloudtrail using existing module without a S3 prefix
* Re-run using existing cloudtrail configuration -- again, without s3 prefix

##### EXP

[2016-05-05 07:15] wimnat commented on #1813
I've posted the following question which I think will help us on the way to solving this...

https://groups.google.com/forum/#!topic/ansible-devel/2C7pl2_kxlY

[2016-05-05 10:06] rbarrois commented on #1764
If you're interested, here is a small patch adding the suggested feature ;)

[code]

[2016-05-05 10:07] cutzmf opened #2167 "iptables module: add possibility to INSERT rules (right now is only APPEND)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iptables
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2016-05-05 12:43] #2162 closed

[2016-05-05 16:26] nitzmahone commented on #2155
Get that sucker into a PR!

[2016-05-05 16:34] nitzmahone commented on #2158
I actually implemented this privately for a customer (and still have the bits laying around)- the tricky part is making it work correctly between SLES10 and 11+ versions of zypper. Specifically, the behavior around downgrades (--oldpackage) when you ask for an older version than what's installed, since older versions of zypper are missing that option, and IIRC `--force` is the only way to get it o

[2016-05-05 16:52] robinro commented on #2158
can you send me your implementation? It's probably pretty far from the new code, but maybe it helps.

I don't care much about SLES10. Anyhow it's a new feature, so you can just decide to not use it...

[2016-05-05 18:23] basictheprogram opened #2171 "Ability to replace conflicting packages that provide the same functionality"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

zypper.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from OS X 10.11.4
Managing OpenSUSE 42.1

##### SUMMARY
Package conflicts not handled by zypper module

##### STEPS TO REPRODUCE
Did a minimal OS install of OpenSUSE 42.1 and now would like to install KDE. The minimal OS installs  cracklib-d

[2016-05-05 18:26] ksmets commented on #1785
It works with v2.1.0.0-0.1.rc1.

[2016-05-05 18:42] basictheprogram commented on #2171
Work around with the command module

[code]

Output results

[code]

[2016-05-05 19:00] ksmets commented on #1785
Removing plugins doesn't work, yet.

[code]

This can be solved by adding the `and state=='present'` to the if timeout conditional:

[code]

[2016-05-05 19:04] ksmets commented on #1785
Also, the `parse_error` function doesn't work as `reason` is not part of the error message returned by elasticsearch-plugin. You might want to change the code to:

[code]

[2016-05-06 00:59] wimnat commented on #2084
@filipenf thanks for raising this and for your PR.  I ended up fixing it slightly different (see above PR).  Hope this works for you.

[2016-05-06 01:37] wimnat commented on #2127
Sorry, this module is broken pending this PR - https://github.com/ansible/ansible/pull/15468

[2016-05-06 14:20] mrafieee opened #2174 "bigip_virtual_server module not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
to create virtual server

##### ACTUAL RESULTS
[code]

[2016-05-06 14:26] mrafieee commented on #2174
I installed ansible using pip

[2016-05-06 14:51] resmo commented on #2174
New in version 2.1. See https://docs.ansible.com/ansible/bigip_virtual_server_module.html 2.1 is not yet released.

[2016-05-06 14:51] #2174 closed

[2016-05-06 14:51] bcoca commented on #2174
This is expected, as the docs http://docs.ansible.com/ansible/bigip_virtual_server_module.html state, this module is part of the 2.1 release.

[2016-05-06 14:51] christonog opened #2176 "creating a secondary ec2_eni with secondary ips results in error 'get_ec2_security_group_ids_from_names' is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_eni

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OSX 10.11.4
##### SUMMARY

##### STEPS TO REPRODUCE

1. add the parameter: secondary_private_ip_address_count to the ec2_eni module
2. Run playbook to add eni to an ec2 instance

Note I didn't test this with a primary eni, only when adding a secondary. Not

[2016-05-06 14:59] mrafieee commented on #2174
How long does it take to have 2.1 release?
should I use git for rc1 right now?

[2016-05-06 16:40] craneworks opened #2177 "known_hosts returns changes even if there are none"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When running know_hosts module Ansible keeps on telling that it has changed stuff even if the key is present.

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
Only once a change and after this no more changes

##### ACTUAL RESULT

[2016-05-06 17:14] ErickStaal opened #2178 "DNF module not able to install existing group"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

dnf module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes to default
##### OS / ENVIRONMENT

fedora 23
##### SUMMARY

when trying to install a package group "Xfce desktop" using ansible it fails, while it runs normally using the dnf groupinstall "Xfce desktop" command.
##### STEPS TO REPRODUCE

run command:

ansible-playbook -i in

[2016-05-06 17:16] ErickStaal commented on #2178
the actual executed task:

"    - name: Ensure XFCE is installed
         dnf:
           name="Xfce desktop"
           state=present
"

[2016-05-07 03:33] paihu opened #2180 "mysql_replication: feature - Support Multi-Source Replication"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

[module: database/mysql/mysql_replication.py]
##### SUMMARY

MySQL support Multi-Source Replication ( https://dev.mysql.com/doc/refman/5.7/en/replication-multi-source.html ), but this module isn't support Multi-Source Replication.

Can you add a new option (called "channel",who accept string input) to this module?

exmaple

[code]

[2016-05-07 05:54] d3prof3t commented on #2068
Hi @chouseknecht

I just checked with 2.0.2.0, and got the same output.
As the ticket is already assigned to you, I still want to just work on this and see how things work.
Can you please guide me on this so, that I can just start hacking with the code base.

Thanks.

[2016-05-08 21:53] TamsynUlthara commented on #1375
I can confirm that both #1498 and #1663 fix the issue. I tested them both cherry-picked against `HEAD`.

(Sorry I took so long to review those; I moved to using Docker, so the only thing I use Ansible for these days is provisioning Docker hosts.)

@moises-silva It wasn't the npm version; the problem persisted with the latest npm.

[2016-05-09 03:13] moises-silva commented on #1375
@tomxtobin Thank you for the feedback. Unfortunately the Ansible team has yet to make any comment here. This is clearly an issue for a lot of users and the module as it is currently shipped is plain broken, not sure why it takes this long just to review/merge a patch like this. I've successfully pushed a bunch of patches (both bugs and features) in the saltstack project (kinda competing Ansible so

[2016-05-09 11:30] kaneda-fr opened #2189 "vmware/vca_vapp: Improve error reporting when catalog cannot be found"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

cloud/vmware/vca_vapp.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When an incorrect catalog name is provided, `module.vca.create_vapp` on line 184 will return false and next line with `module.vca.block_until_completed(task)` will fail.
##### STEPS TO REPRODUCE

Use an incorrect catalog name in

[2016-05-09 14:46] nadirollo commented on #1756
👍

[2016-05-09 15:42] elnappo commented on #167
This should be fixed with https://github.com/ansible/ansible-modules-extras/pull/2086

[2016-05-09 17:53] jhuggart commented on #1496
I have run into the same issue. @salfand did you find a solution or a workaround?

**Edit:** Disregard. My issue was that the VirtualBox Guest Additions were not installed.

[2016-05-09 19:04] caphrim007 commented on #1569
closing because the feature was merged

[2016-05-09 19:04] #1569 closed

[2016-05-09 20:36] alikins commented on #2178
EDIT: I cleaned up some quoting in the original report so it formats better.

[2016-05-09 20:53] alikins commented on #2178
Looks like dnf expects groups like "@Xfce Desktop" to be install via 'dnf install "@Xfce Desktop'  vs 'dnf groupinstall "@Xfce Desktop".

The dnf modules doesn't seem to support that currently.

[2016-05-09 21:25] alikins commented on #2177
A few questions...

What version of openssh?  (Wondering if https://github.com/ansible/ansible-modules-extras/commit/30cf73e83a7a9d13faf88f5527581c11f605f317 comes into play.)

Whats the output of running the play? ideally with '-vvvv' turned on.

EDIT: needs_info

[2016-05-09 21:42] alikins commented on #2176
[code]

The 'get_ec2_security_group_ids_from_names' name doesn't exist in ansible 2.0. It was
only added in https://github.com/ansible/ansible/commit/bc859eec7e5a0446d7ea103dbbae1820334fb388

It is in the 2.1 RC though if you want to test it against that version (https://github.com/ansible/ansible/releases/tag/v2.1.0.0-0.1.rc1). But closing for now.

[2016-05-09 21:42] #2176 closed

[2016-05-09 22:40] ErickStaal commented on #2178
I'm not sure if this is a new feature which isn't implemented yet, since installing package groups is explicitly given as an example with the ansible dnf module:

From the examples on the dnf module page:
- name: install the 'Development tools' package group

  dnf: name="@Development tools" state=present

Source: http://docs.ansible.com/ansible/dnf_module.html

Or am I perhaps now misunderstandin

[2016-05-10 07:58] kaneda-fr opened #2203 "vmware/vca_vapp: network not attached to Vapp during creation"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloud/vmware/vca_vapp.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OSX El Capitan: Darwin  15.4.0 Darwin Kernel Version 15.4.0
##### SUMMARY

When creating anew vApp and and passing an existing omg VDC network name, the app is created without attaching the network .

Looking into pyvcloud vckoudair.py, the function

[2016-05-11 02:06] NitroPye opened #2213 "consul_acl documentation for token type option appears to be incorrect"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

consul_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The documentation for the consul_acl module lists the option `type` for controlling token type, but using this option results in an error. Internally it appears the actual option name is `token_type`. Documentation should r

[2016-05-11 08:13] sayantandas opened #2215 "win_environment cannot append to Path in System Variable"
win_environment cannot append values to Path in System Variable. It replaces existing variables

##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME
win_environment module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible --version
ansible 2.0.0.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### OS / ENVIRONMENT

 cat /etc/lsb-

[2016-05-11 09:53] jhawkesworth commented on #2215
Maybe there is a use case for this, but this is a feature I personally don't want.
I want ansible to be in control of the systems it is managing, so I want to be able to specify, explicitly the exact path that is available, so only the applications that I expect are available on the path.

In this way ansible becomes the 'single point of truth' regarding where to look when you need to know what is

[2016-05-11 11:08] sayantandas commented on #2215
@jhawkesworth . Thank you for your reply.

 I wanted the append function as I am not able to make Windows recognize the path for a new application like Perl by adding a new system variable. It only recognizes the path if I append to the existing ones.

Also, I do find it potentially dangerous, that the system variables can be so easily replaced.

[2016-05-11 12:20] aaakbar commented on #2021
2.0.2 also has the same problem

[2016-05-11 14:08] jhawkesworth commented on #2215
Well, given this is the default system path on s2012r2

PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32
\WindowsPowerShell\v1.0\

setting the following will do what you need.
- name: Set Perl Environment Path
  win_environment:
  state: present
  name: PATH
  value: 'C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32
  \WindowsPowerShell\v1

[2016-05-11 14:46] sayantandas commented on #2215
@jhawkesworth : Thanks. I tried a similar step today. It set the values. However, after that ansible was not able to connect. Threw me this error.

[code]

[2016-05-11 17:13] blutgens opened #2218 "zypper module --verbose option causes zypper to error out on SLES 11sp3 and possibly 4."
##### ISSUE TYPE

 - Bug Report

zypper.py
zypper module errors out when it calls zypper with --verbose

##### ANSIBLE VERSION
tested with devel head today, stable-2.0, and stable-2.1 branches.
ansible 2.1.0.0 (stable-2.1 6f99f40f37) last updated 2016/05/10 13:53:48 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 1f5cf669dd) last updated 2016/05/10 13:50:25 (GMT +000)
  lib/ansible/modules/e

[2016-05-11 17:17] blutgens commented on #2218
I can get it working again with this patch. Which just removes the --verbose flag in cmd.extend.

[code]

[2016-05-11 17:28] #2155 closed

[2016-05-11 18:07] jhawkesworth commented on #2215
Did you try with ansible or ansible-playbook?

I recently opened a bug regarding doing this with the ansible command as there is a parsing issue which causes an invalid PATH to be set.

It should work fine inside a playbook though. I ran a playbook that modifies the path several times today using ansible 2.0.0.2 so pretty confident that should work for you.

[2016-05-11 20:02] bossjones commented on #1813
Seeing the same issue in 2.1.0 as well.

[code]

[2016-05-12 03:16] tmoschou opened #2219 "maven_artifact should support version=release."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

maven_artifact
##### ANSIBLE VERSION

ansible-modules-extras
commit cd03f10b9ccb9f972a4cf84bc3e756870257da59 (HEAD -> devel, origin/stable-21, origin/devel, origin/HEAD)
##### SUMMARY

A few problems with the maven_artifact module.

It supports a version=latest parameter but not a version=release parameter to download the latest release (non snap

[2016-05-12 15:42] nitzmahone commented on #378
closing, fix released in 2.0

[2016-05-12 15:42] #378 closed

[2016-05-12 16:54] ferventcoder commented on #378
@nitzmahone Thanks for the update Matt! Good seeing you (again) recently on the PowerScripting podcast!

[2016-05-12 19:15] marcosdiez commented on #1926
I had the same issue today. Also, I believe the marker parameter must be made mandatory and complain if {mark} is not present inside of it. Or else data loss can occur.

I volunteer to implement this rule in cause the author of the module (or whoever is responsible) believes this is a good idea.

[2016-05-12 19:51] jamesongithub commented on #1348
just hit this

here are my versions

[code]

[2016-05-13 09:24] wellumies commented on #1759
.exists still in use in ansible (2.0.2.0)

`fatal: [proxy.test.fi -> localhost]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_name": "zabbix_host"}, "module_stderr": "Traceback (most recent call last):\n  File \"/home/wellumies/.ansible/tmp/ansible-tmp-1463131327.88-166717803723139/zabbix_host\", line 2479, in <module>\n    main()\n  File \"/home/wellumies/.ansible/tmp/ansi

[2016-05-13 17:14] vladpanainte opened #2229 "[gce_img] module support snapshot disk as source"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Gce_img

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Possibility to add snapshot disk uri as source for the image

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-05-13 18:43] kamikadzez opened #2230 "Security Group creation issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group module

##### ANSIBLE VERSION
[code]
Also found in devel branch.

##### OS / ENVIRONMENT
Linux 4.4.8-20.46.amzn1.x86_64 #1 SMP Wed Apr 27 19:28:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Issue creating Security Group with outbound rules specified as empty string.

##### STEPS TO REPRODUCE
Create a playbook with security

[2016-05-14 11:18] Deepakkothandan commented on #1947
@joshrendek I believe, this issue should be created on ansibl-modules-core

[2016-05-14 12:47] chouseknecht commented on #1947
I tested this with the new docker_login module released with 2.1RC2. The module is not preventing special characters.

Tested using a secure, local registry. Created user "chris+house_knecht".  And then tested docker_login with:

[code]

And the output:

[code]

My laptop has Docker 1.11 installed:

[code]

Noticing in your results, the text includes 'Docker API Error'. Could it be that the Docker

[2016-05-16 11:25] ninjatux commented on #1421
this is a problem for me too +1

[2016-05-16 12:59] Constantin07 commented on #2127
+1 came across the same issue.

[2016-05-16 14:08] pvwichen opened #2239 "New ecs_service_facts module has a return behavior that is inconsistent when compared to existing *_facts modules."
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`/ansible/ansible-modules-extras/cloud/amazon/ecs_service_facts.py`
##### ANSIBLE VERSION

[code]
##### SUMMARY

New ecs_service_facts module has a return behavior that is inconsistent when compared to existing *_facts modules.

The new `ecs_service_facts` module works without issues, but it automatically creates a `services` variable (i.e. by

[2016-05-16 15:25] #11 closed

[2016-05-16 15:45] alikins commented on #1468
Fixed with merge of https://github.com/ansible/ansible-modules-extras/pull/1469

[2016-05-16 15:45] #1468 closed

[2016-05-16 20:25] #2167 closed

[2016-05-17 09:00] Constantin07 commented on #2127
I can confirm that the issue is now fixed.

[2016-05-17 09:32] rcarrillocruz opened #2246 "CI failing due to f5 folder missing __init__.py"
I'm seeing the following failure consistently when pushing PRs on Travis:

[code]

A full test output can be seen on https://travis-ci.org/ansible/ansible-modules-extras/builds/130771932 .

This seems to be caused by commit 677a2dd66d5e1788eacc5d849ce6e1cc7d799833, it added a new module for f5 devices but lacks an __init__.py file.

[2016-05-17 11:28] resmo commented on #2246
#2247 has been merged. closing.

[2016-05-17 11:28] #2246 closed

[2016-05-17 12:39] dagwieers commented on #428
I think your issue is fixed with #2220

You can influence the shrink behaviour using `shrink=no` or `shrink=yes`. This was added by #2135.

[2016-05-17 14:10] robynbergeron commented on #2042
@cloudnull -- know offhand if the fix from @abadger made things happier?

[2016-05-17 14:13] robynbergeron commented on #327
@emonty @Shrews hey...... since i'm sifting through issues this morning.... is this still a thing / idea / etc?

[2016-05-17 14:15] emonty commented on #327
@robynbergeron yes. we should make sure that we have all of the functionality in upstream ansible that is in the openstack-ansible repos (and also in osad and ursula too) and then ultimately port each of those things to use the upstream modules

[2016-05-17 19:41] Rtzq0 opened #2249 "Problem with unit size description in lvol module"
##### ISSUE TYPE
- Bug Report
  AND
- Documentation Report
##### COMPONENT NAME

system/lvol.py
##### ANSIBLE VERSION

[code]

But the code is present in devel, so it'll still work.
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Any Linux
##### SUMMARY

In the section of code where the size of the LV is determined there is the following section (238 to 242)

[code]

Line 241 causes the unit to b

[2016-05-17 20:42] bdgscotland commented on #1080
I think i've recreated this bug still..
Does not cause it:
  xxx_xxx_xxx: "{{ lookup('dig', 'xxx-xxx-xxx') }}"
  ...
  rule: 'rule family="ipv4" source address="{{ xxx_xxx_xxx }}/32" destination address="{{ server_ip.stdout }}/32" port port="24007-24010" protocol="tcp" accept'

Does cause it:
  rule: "rule family='ipv4' source address='{{ hostvars[\"xxx-xxx-xxx\"][\"ansible_default_ipv4\"][\"addre

[2016-05-17 22:46] mscherer commented on #1080
Could you open a new issue, as I think it will make easier for tracking ?

(and so you also get a free chance to fix formatting)

[2016-05-17 22:50] bdgscotland commented on #1080
Sure, I'll do this when I get back

On May 17, 2016, at 15:46, Michael Scherer notifications@github.com wrote:

Could you open a new issue, as I think it will make easier for tracking ?

(and so you also get a free chance to fix formatting)

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub

[2016-05-18 12:43] StephaneBunel commented on #1794
Same here, ansible 2.0.2.0 running on Ubuntu 16.04

[code]

[2016-05-18 13:00] dagwieers commented on #1452
@robynbergeron @bcoca This issue can be closed now.

[2016-05-18 13:05] #1452 closed

[2016-05-18 16:28] kennethkmp commented on #1792
Hi, if you want a temporary fix while the module is patched

find your module file, mine was here:

`/usr/lib/python2.6/site-packages/ansible/modules/extras/packaging/os/svr4pkg.py`

Then edit the file as follows :

[code]

[2016-05-19 06:21] #2218 closed

[2016-05-19 08:53] photoninger commented on #2144
Still broken in v2.1.0.0-0.3.rc3.
@alikins after applying your changes it works again as it should.

[2016-05-19 10:25] casperbakker opened #2256 "Bug in error handling Librato Annotation module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

monitoring/librato_annotation
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Apparently my Librato credentials are incorrect. But the var 'e' at https://github.com/ansible/ansible-modules-extras/blob/2a0c5e2a8fd7ed3ce6d6eedd08e85e01e1617113/monitoring/librato_annotation.py#L136 seems to be not placed right. I ha

[2016-05-20 00:02] zombieprocess commented on #1375
@geerlingguy Thanks for the workaround until this can be addressed.

[2016-05-20 07:31] vaivars opened #2262 "NPM syntax different"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

NPM
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

centos 6 to centos 6
##### SUMMARY

NPM settings utilize the "KEY=VALUE" method, instead of "KEY:VALUE" which means its different to almost everything else
##### STEPS TO REPRODUCE

run any npm commands with KEY:VALUE

[code]

 You can also paste gist.github.

[2016-05-20 08:57] lchccieurope opened #2264 "pam_limits comment problem"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

pam_limits
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

Controller: MacOSX 10.11.5
Target: CentOS/7
##### SUMMARY

pam_limits misformats comments, first comment has no "#" (and not even space) prefix, third comment is indented twice.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RE

[2016-05-20 13:12] bcoca commented on #2256
cc @sedward

[2016-05-20 13:14] bcoca commented on #2262
can you show actual examples and output?

[2016-05-20 13:18] bcoca commented on #2264
cc @usawa

[2016-05-20 22:51] cloudnull commented on #2042
@robynbergeron At last check the fixes in stable1.9 made things a lot happier. I will reverify and post back shortly.

[2016-05-20 22:59] cloudnull commented on #2042
@robynbergeron Stable-1.9 installed from github looks good.

[code]

[2016-05-21 00:38] nitzmahone commented on #1803
fixed in https://github.com/ansible/ansible-modules-extras/commit/5abb914315864b714395863af99c0ac1bd66a7ba

[2016-05-21 00:38] #1803 closed

[2016-05-21 05:22] kaneda-fr commented on #2203
Submitted pr #2272

[2016-05-21 13:31] abadger commented on #2042
Cool.  Thanks for reporting and testing!

[2016-05-21 13:31] #2042 closed

[2016-05-22 09:26] ghost commented on #1510
i worked around this by changed gateway_id: 'back' to just gw:

hope this helps

[2016-05-22 19:17] ptman commented on #664
Let me still add my own little clarification:

[code]

[2016-05-23 14:33] #691 closed

[2016-05-23 15:25] jpic opened #2280 "rabbitmq_user broken in devel"
##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

First run:

[code]

Subsequent runs:

[code]

[2016-05-23 18:06] Rtzq0 commented on #2249
Some digging, this issue is initially caused by #196  which "fixed" the "problem" that lvs and lvcreate posed by forcing all units to base 2.

[2016-05-23 18:55] jpic commented on #2280
My bad, it was FIXED in devel !

Keep up the great work :guitar:

[2016-05-23 18:55] #2280 closed

[2016-05-24 06:39] vaivars commented on #2262
`name: Install npm globally
  npm: >
    name=npm
    global=yes
    state=latest`

This returns a successful result

`name: Install npm globally
  npm:
    name:npm
    global:yes
    state:latest`

This returns: this module requires key=value arguments

[2016-05-24 15:55] #2144 closed

[2016-05-24 18:43] rvdh commented on #2177
Not able to reproduce. I had to fix the submitted playbook as there was a colon missing after `servers` and there are spaces in the 'pub' key. After fixing that, this is the output:

[code]

[2016-05-24 18:51] rvdh commented on #2178
Have you tried using the true yaml syntax?

[code]

You don't need to specify `state=present` because that's default.

[2016-05-24 20:16] washingtoneg opened #2291 "iptables: option to configure Source NAT"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
system/iptables

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Linux

##### SUMMARY

In order to change the source address of connections to something different, you have to pass `iptables` the `--to-source` option (more information can be found [here](http://www.netfilter.org/documentation/HOWTO/NAT-HOWTO-6.html#ss6.1)). According to t

[2016-05-25 13:15] mirakl577 opened #2298 "sns_topic: policy issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
  sns_topic

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I tried to create SNS topic via sns_topic ansible module with described policy:
First case:
  policy:
        Version: "2008-10-17"
        Id: "{{ sns_policy.id }}"
        Statement:
          - Sid: "example-statement-ID"

[2016-05-25 13:21] mirakl577 commented on #2298
I see that fixed in 2.1.0.0

Thanks

[2016-05-25 13:21] #2298 closed

[2016-05-25 15:01] Blackbaud-IanThomas opened #2299 "Azure Resource Deployment deletes all created resources before completing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

azure_rm_deployment module
##### ANSIBLE VERSION

ansible 2.2.0 (devel 650bfdce8f) last updated 2016/05/24 17:23:00 (GMT -400)
  lib/ansible/modules/core: (detached HEAD aa995806b9) last updated 2016/05/24 17:23:14 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD d1a4f703ce) last updated 2016/05/24 17:23:14 (GMT -400)
  config file = /etc/

[2016-05-25 23:18] dan-petty commented on #2203
Would be nice if we could go ahead and fix https://github.com/ansible/ansible-modules-extras/issues/1575 as well...

[2016-05-25 23:54] supremekai opened #2312 "Local docker registry + images failing to build"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
OS: N/A
docker-py 1.8.1
docker version
[code]

##### SUMMARY
When building a docker image locally Ansible fails to find a locally available base image specified in the  `FROM` directive of the dockerfile.
Resulting Error:
[code]

[See this similar issu

[2016-05-26 00:22] MichaelBaydoun opened #2313 "aws_mfa_devices returning bad results"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_mfa_devices

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
retry_files_enabled = False

##### OS / ENVIRONMENT
OS X El Capitan Version 10.11.5
boto (2.39.0)
boto3 (1.3.0)
botocore (1.4.23)

##### SUMMARY
Error with aws_mfa_devices results

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expected to see valid results in

[2016-05-26 00:26] pwnall commented on #2313
@MichaelBaydoun -- I think you need `var: mfa_devices.devices` -- as far as I know, `var` takes in the variable name, not the value. Can you try again after removing the brackets, and let me know what the output is?

[2016-05-26 01:23] MichaelBaydoun commented on #2313
@pwnall -- of course!  I'm so used to eliminating the bare variable deprecation warnings ... guess I got carried away.  Thanks!

[2016-05-26 01:23] #2313 closed

[2016-05-26 10:14] ghost commented on #887
Hi all,

I am actually running 2.1.0.0. Problem seems to be still there. Any way to circumvent this ?

[code]

[code]

Container is placed in the given `lxc_path` and is bootable but the rest (`container_command`) is not applied which is a bit inconvenient because it is impossible to provision the LXC.

The use of the CLI

[code]

works fine.

kind regards

[2016-05-26 12:07] AlexFinn opened #2315 "ansible 2.1.0, s3 module bug"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Only default settings

##### OS / ENVIRONMENT
I think N/A. But we use Ubuntu:
[code]

##### SUMMARY
Error during using s3 module. For example, during get file from s3 bucket.

##### STEPS TO REPRODUCE
Run playbook

[code]
##### EXPECTED RESULTS
File to /tmp directory

##### ACTUAL RESULTS
Error during ansible task ru

[2016-05-26 16:52] nitzmahone commented on #2291
closing: addressed by #2292

[2016-05-26 16:52] #2291 closed

[2016-05-26 16:54] nitzmahone commented on #2299
cc @devigned @lmazuel @obsoleted

[2016-05-26 16:59] nitzmahone commented on #2312
@supremekai - could you close and re-open this issue on the https://github.com/ansible/ansible-modules-core/ repo?

[2016-05-26 17:01] nitzmahone commented on #2315
@AlexFinn could you close and re-open on the https://github.com/ansible/ansible-modules-core/ repo (where the s3 module lives)?

[2016-05-26 19:15] devigned commented on #2299
I'm taking a look at this.

[2016-05-26 19:25] alxschwarz commented on #2315
@nitzmahone
Done: https://github.com/ansible/ansible-modules-core/issues/3758

[2016-05-26 19:25] #2315 closed

[2016-05-26 20:47] Blackbaud-IanThomas commented on #2299
@devigned Thanks! If there is anything I can do to help diagnose this, I will be glad to help.  This is the dealbreaker for me being able to port all of my infrastructure automation to ansible, so it will have a huge impact for me.

[2016-05-26 21:59] devigned commented on #2299
@rgardler this is kind of odd. I just ran through a deployment with the ACS quickstart above through the Ansible module and the deploy to Azure via the quickstart template deploy button. The deployment completed successfully for both, but the only resource left in the resource group was the ACS resource in the Ansible deploy. In the quickstart deploy, all of the expected resources were present.

I

[2016-05-26 22:13] orev opened #2321 "selinux_permissive no_reload option should be renamed/deprecated"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

selinux_permissive module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

The "no_reload" option is badly named.  It starts with a "negative" concept (no_), then you set either true or false to enable/disable the negative concept.  This double-negative is confusing and should be renamed to use a more obvious/positi

[2016-05-26 22:27] SorraTheOrc commented on #2299
@devigned In the traces you sent me it indicates that something is trying to delete the resources in the cluster, e.g.

Network security group /subscriptions/cbbdaed0-fea9-4693-bf0c-d446ac93c030/resourceGroups/nautilus-ansible/providers/Microsoft.Network/networkSecurityGroups/dcos-agent-public-nsg-F42BF66B cannot be deleted because it is in use by the following resources: /subscriptions/cbbdaed0..

[2016-05-26 22:28] #2312 closed

[2016-05-26 22:31] devigned commented on #2299
I'm not sure, @rgardler. There is only the two deployments and they both say they were successful.

I don't see a root cause in the deployment events.

[2016-05-26 22:39] SorraTheOrc commented on #2299
I'm afraid I don't know Ansible to be able to debug this. What I can tell you is that I'm 99.99% certain this has nothing to do with Azure Container Service. I have never seen this before, error like the one above indicate that the cluster was created and then a deletion was attempted - this activity is almost certainly coming from Ansible (quite possibly multiple deletes since you shared these er

[2016-05-26 22:44] obsoleted commented on #2299
Does the same behavior happen with an incremental mode deployment?

[2016-05-26 22:46] Blackbaud-IanThomas commented on #2299
@rgardler I think I can confirm that it is coming from ansible because it finishes if you kill the ansible job after the deployments are created.

[2016-05-26 22:48] nitzmahone commented on #2299
I was about to say "this can't possibly be the Ansible code"- I've been staring at it for the past 15min, but I actually have an idea about what might be happening... Gonna do a little experiment here- this may be related to the new Ansible 2.1 ziploader module stuff (it's possible that the module code is executing twice, with weird race-y stuff the second time).

[2016-05-26 22:50] devigned commented on #2299
@obsoleted I haven't tried it with incremental. I'll give it a go a bit later.

[2016-05-27 09:38] robinro commented on #2171
This is fixed in https://github.com/ansible/ansible-modules-extras/pull/2108

[code]

[2016-05-27 11:23] piotr-s-skygate commented on #2026
Probably I have the same error. When I run `vagrant up --provider=lxc`, while running bower, I obtain:

fatal: [default]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_MvIaNI/ansible_module_bower.py\", line 227, in <module>\r\n    main()\r\n  File \"/tmp/ansible_MvIaNI/ansible_module_bower.py\", line

[2016-05-27 13:46] #2114 closed

[2016-05-27 14:27] Blackbaud-IanThomas commented on #2299
I just tested it with incremental, and it looks like it worked!  I'm not sure if its 100% consistent since I've only gotten it to work this one time.

@nitzmahone Is there anything I can do to test out if your suspicions are correct?

_Update_: I have run through the drill several times, destroying and re-creating the cluster with incremental mode, and that offers consistent results.

[2016-05-27 14:42] bnaydenov commented on #1794
The same behaviour also with Ansible 1.9.0.1 on Ubuntu 14.04.
Anyone with the solution or workaround so far?

[2016-05-27 15:47] JakeWorrell commented on #2114
Hi, I'm experiencing this issue at the moment. What can I do to work around it? Is there any way I can install Ansible and/or extras from the development branch?

[2016-05-27 16:48] qk4l opened #2330 "zabbix_hostmacro does not work with basic auth"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_hostmacro

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
`zabbix_hostmacro` not work correctly with basic auth because `ZabbixAPI` is calling without _user_ and _password_ arguments.

[2016-05-27 18:14] robynbergeron commented on #167
@siancu: this should now be resolved in 2.1 -- thanks for your patience, and thanks to those who helped out with making this happen (@enriclluelles, @indrajitr)

Closing this one :)

[2016-05-27 18:14] #167 closed

[2016-05-27 18:16] robynbergeron commented on #244
@gaqzi : I'm guessing this is now resolved with #806 -- I'm going to go ahead and close this issue. If it's not, let me know and we can reopen it. Thanks!

[2016-05-27 18:16] #244 closed

[2016-05-27 18:34] mpeters commented on #244
Yes, I think #806 takes care of this.

[2016-05-27 18:57] #1811 closed

[2016-05-27 20:34] nitzmahone commented on #2299
My initial test yesterday didn't prove my theory, but it's also difficult to do "in circuit" since the cycle times take so long (so I was using a hacked module that no-opped most of the actual Azure bits). I've got some more time this afternoon to hack around with it, so I'll see what I can figure out.

If incremental mode works, that only further reinforces my theory that it's running twice thoug

[2016-05-27 20:59] freels commented on #1472
FYI, this change almost caused us to lose data in one of our ansible-managed clusters. This behavior should have been introduced via a separate option, or at the very least come with a lot more warning.

[2016-05-28 06:44] dagwieers opened #2332 "win_regmerge is not idempotent, and does not support check-mode and diff-mode"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_regmerge
##### ANSIBLE VERSION

v2.1
##### SUMMARY

The win_regmerge module does not check each registry item it modifies to validate if there was a change. It instead always applies the list of changes regardless.

The proper implementation of win_regmerge would read the file and verify each individual setting with the registry, and repor

[2016-05-28 07:36] dagwieers opened #2333 "win_regmerge does not verify command success, fails when reporting success"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regmerge

##### ANSIBLE VERSION
v2.1

##### SUMMARY

The win_regmerge module does not report back if a command worked or failed, and does not return the command output. Not understanding why my Curses.reg was not working, I found out that the module could not find the file and actually returned:

    ERROR: Error opening the file. There ma

[2016-05-28 17:11] TheBigfoot opened #2336 "unarchive: file not found for zip archive with space files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
unarchive is failing to extract a zip archive, when a file with spaces is in archive.

[code]

This is not reproducable with tgz. They work fine.

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
A successfull e

[2016-05-29 01:43] juju4 opened #2340 "win_regedit: hard failing at 2nd execution"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: ubuntu trusty
Target: win10 eval

##### SUMMARY
Hard fail of a modification of registry, even if ignore_errors true

##### STEPS TO REPRODUCE
[code]
from https://github.com/juju4/ansible-harden/blob/master/tasks/windows-registry.yml

##### EXPECTE

[2016-05-29 04:17] juju4 commented on #2340
Correction, the faulty part is the following and ignore_errors is working

[code]

probably because of star value. escaping is not helping.

[2016-05-30 13:56] torresdal commented on #751
I stumbled across this issue and found a temporary workarond. If you add a `null` value to your json, Python will bail out and the value will be successfully sent as a string. Here's a failing example:

[code]

But by adding a `null` value like this, it works:

[code]

[2016-05-30 20:08] pega2k commented on #428
This is a problem for me if I use 100%FREE, the first time work, the second I get "Sorry, no shrinking of 'volume name' to 0 permitted.", this was working in the version 2.0 but now in 2.1 doesn't work.

And "shrink=" do not exists in 2.1.

[2016-05-31 00:20] stevenscg commented on #2256
I have used this module for several years and I too get the same error that @casperbakker reported with 2.0.2.0 and 2.1.0.0.

I have my CI using 2.0.1.0, which does not seem to exhibit this behavior.

[2016-05-31 10:51] jhawkesworth commented on #2340
Your registry key seems to contain a space.

key: HKLM:\SOFTWARE\Wow6432Node\Policies\Microsoft\Windows\PowerShell\ModuleLogging \ModuleName

Please can you try again with the key inside single quotation (like this):

key: 'HKLM:\SOFTWARE\Wow6432Node\Policies\Microsoft\Windows\PowerShell\ModuleLogging \ModuleName'

many thanks

[2016-05-31 12:56] dagwieers commented on #428
@pega2k I would suggest downloading the module and putting it in your `library/` directory until you switch to v2.2... If that would fail to work as well, let us know !

[2016-05-31 14:05] worsco opened #2348 "'AnsibleModule' object has not attribute 'constants" ... blockinfile.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

The module, blockinfile, appears to no longer work in 2.1.0.

##### STEPS TO REPRODUCE

Execute the following:

ansible-playbook -vvv test-blockinfile.yml

test-blockinfile.yml contains:
[code]

[2016-05-31 18:15] pega2k commented on #428
@dagwieers it works using shrink=no.

[2016-05-31 18:16] dagwieers commented on #428
@pega2k Thanks for reporting back !

[2016-05-31 18:35] calvinII opened #2350 "known_hosts is not idempotent"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

known_hosts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

If I call known_hosts to add a given key it changes on every call
##### STEPS TO REPRODUCE

Easy to reproduce, insert new key via known_hosts module in your .ssh/known_hosts, check for it, retry it again, and see that it changes ag

[2016-05-31 19:33] bporter2387 opened #2351 "ec2_snapshot_facts sorting?"
I wrote my own ec2_snapshot_facts module before this was an official module, but mine was very simple in that it just returned the latest snapshot ID from a tag combination. Is there a way to get the latest snapshot using this module? Would just sorting by the start_time before returning the result set be sufficient?

Basically what I did was

`self.snaps = self.ec2.get_all_snapshots(filters=tags)

[2016-05-31 22:16] juju4 commented on #2340
That's it. Thanks a lot.

Maybe a warning to user would be useful?

[2016-05-31 22:16] #2340 closed

[2016-06-01 02:36] listx commented on #1789
Actually as of ansible 2.1.0.0 (OS X, homebrew), proxmox.py says:

[code]

It's pretty ugly (encoding a dict value inside a raw string) but it does not give me an error; I'm on Proxmox 4.1. Could you try calling it with the right argument type?

[2016-06-01 07:31] Yannig commented on #428
Glad to see someone found this option usefull :)

[2016-06-01 15:37] christophervalles opened #2353 "Unsupported parameter for module: shrink in lvol module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

[ssh_connection]
ssh_args = -F ssh.config -o ForwardAgent=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
scp_if_ssh = True
control_path = ~/.ssh/mux-%%r@%%h:%%p
pipelining = True

[defaults]
host_key_checking = False
timeout = 30
transport = ssh
ansible_managed = An

[2016-06-01 17:20] jamesmaidment commented on #2114
@JakeWorrell try downgrading to Ansible [2.0.2.0](https://github.com/ansible/ansible/releases/tag/v2.0.2.0-1) until the fix is released.

[2016-06-01 18:38] talonx commented on #1894
Using 'exact_count' = 1 should achieve this (in combination with count_tag if you wish to specify the tag criterion)

[2016-06-01 21:02] #1545 closed

[2016-06-01 21:02] MatthewDaize opened #2358 "AWS - ec2_vpc_route_table - Error when configuring a route table with multiple subnets by name."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cloud/amazon/ec2_vpc_route_table.py
##### ANSIBLE VERSION

[code]

But also applies on versions back to 2.0.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

An exception is thrown when attempting to use multiple subnets by name to be added to the route table.
##### STEPS TO REPRODUCE

Attempt to create a new route table using mutliple subnets -- all

[2016-06-02 02:10] xugangsh commented on #1794
I hit the same error on CentOS 7 with ansible 2.0.1.0

[2016-06-02 07:06] fdemmer commented on #1732
@sivel

i am wondering why this issue was closed with just a mention of some issue with docker and only a single reference to a commit. does this mean all the modules, that do not define a type from the published list have been reviewed, tested and found to be working as before https://github.com/ansible/ansible/commit/62765858825173dd532827fe4c1dfb246eb8db47?

webfaction_app is definitely broken

[2016-06-02 17:40] filipenf commented on #2084
@wimnat this didn't fix the problem I've originally reported. The issue here is: if I call the module and the ENI already exists I'll get an error, while the expected result is to get a changed=false response with the eni details.

I'll be creating a new pull-request since my previous one got outdated.

[2016-06-02 19:07] ajbonner commented on #2128
I've run into this too. Basically it's because ansible is running under sudo. The root's login environment isn't available (on ubuntu/debian, sudo doesn't load /etc/profile or ~/.profile) so you don't have any of the nvm environment set and so the shell can't find node.

Even when you provide the full path to the nvm managed npm binary, _it_ can't find node, as it's trying to load it using /usr/bi

[2016-06-02 19:59] chris-l-weber opened #2366 "system/osx_defaults.py has print statement"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/system/osx_defaults.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

any
##### SUMMARY

There is print statements in a module it need to only output json

[2016-06-02 20:05] filipenf commented on #2084
@wimnat I just added PR #2365, could you please check that one?

[2016-06-03 04:42] omgjlk commented on #428
It works around the bug, but I think there is still a weird assumption about the %FREE option. It seems that every time the module is run, the %FREE is taken from the _remaining_ space. So every single time it would run, your volume size would be different.  90% free the first time you get the remaining 90% of space. Second time you get a tiny VM that is 90% of the remaining 10% of space. Then up,

[2016-06-04 04:45] talonx commented on #2336
What is the target OS and version?

[2016-06-04 21:17] #2366 closed

[2016-06-04 23:22] nitzmahone commented on #2299
I pushed some updates to allow this stuff to work with rc4 today, and I'm not able to repro this issue on rc4 with the fixes (using [101-vm-simple-linux](https://github.com/Azure/azure-quickstart-templates/blob/master/101-vm-simple-linux/azuredeploy.json) and `deployment_mode: complete`. Can you guys try this again from source on current stable-2.1 branch or devel and let me know if you're still s

[2016-06-05 13:40] worsco commented on #2348
ISSUE SOLVED

I pulled down ansible via git repository to create an RPM via:

$ git clone git://github.com/ansible/ansible.git --recursive
$ cd ./ansible
$ git pull --rebase

However, I did not do the following:

$ git submodule update --init --recursive

From the section http://docs.ansible.com/ansible/intro_installation.html#running-from-source:
"Note when updating ansible, be sure to not only u

[2016-06-05 13:40] #2348 closed

[2016-06-05 17:54] Andrei-Pozolotin opened #2376 "pacman: update_cache reports wrong changes"
#### ISSUE TYPE
 - Bug Report

#### COMPONENT NAME
module: pacman:

#### SUMMARY
currently `pacman: update_cache=yes` always reports `changed=True`
http://docs.ansible.com/ansible/pacman_module.html
https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/os/pacman.py#L312

regardless of actual pacman db update result
[code]

instead, it should report if db is up to date or was in fa

[2016-06-06 00:21] matthewdaize opened #2377 "Amazon - ec2_vpc_route_table - TypeError when propagating existing routes with NGW"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_route_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

TypeError present when re-running ec2_vpc_route_table after VPC is already created. The erroneous routes are those where the default route 0.0.0.0/0 are pointed at the NAT Gateway. The TypeError seems to occur when it attemp

[2016-06-06 06:37] TheBigfoot commented on #2336
Target OS is CentOS
`CentOS Linux release 7.2.1511 (Core)`
Local Python version is 2.7.5

[2016-06-06 10:17] elnur commented on #1857
@mscherer, it's not a feature idea, actually. It's a bug.

[2016-06-06 10:17] elnur commented on #1857
Oh, it's my bad. I marked it as a feature idea.

[2016-06-06 10:39] mscherer commented on #1857
Ok, removed it, I will let the bot triage it I guess.

[2016-06-06 11:17] Oneiroi commented on #2100
@Daemoen I hit this bug today, unsure why this report was closed as it still appears to be an issue ?

[code]

[2016-06-06 12:31] hbokh commented on #1414
How to use the argument `validate_certs`? Since this is not working overhere:

[code]

Ansible 2.1.0.0 // Python 2.7.11 // pyvmomi (6.0.0.2016.4)

[2016-06-06 16:15] DavidGamba commented on #1414
Your `vars` section is wrong. No need to use `-` for array entries, it is expecting `key: value` entries.
Also, don't know if it matters, but I have `false` as lowercase.

[2016-06-06 16:44] JakeDEvans commented on #1282
For others: make sure firewalld is running.

[2016-06-06 17:58] hbokh commented on #1414
Thanks. "False / false / off", all are allowed.
Deleting the `vars` and setting the hostname hard-coded makes no difference.

In the meantime I am using a dirty little hack found here: https://groups.google.com/d/msg/ansible-project/PNzzvbeT5hY/BwfgLOBIDAAJ

[2016-06-06 22:23] jhawkesworth commented on #2332
Hi sorry for delay replying, illness and other things have been in the way.
My intention was to have a way of bulk updating the registry - win_regedit is best for individual registry changes, but can be slow to apply lots of changes.  I will look again and see if it can be improved though.

[2016-06-06 22:28] dagwieers commented on #2332
@jhawkesworth I am considering parsing .reg files in python and verifying existence myself. This would allow for check-mode _and_ diff-mode, but requires creating, comparing and deleting entries.

[2016-06-06 22:28] jhawkesworth commented on #2333
I originally wanted to add the ability to merge registry entries to the template module but discussion on the google group persuaded me to keep this separate.  I will investigate to see if it can be made to operate like copy (and even template) and use a source file on the ansible controller.

[2016-06-07 06:51] westover commented on #460
+1

[2016-06-07 12:54] tjbaker commented on #1813
Cross ref issue #15603
https://github.com/ansible/ansible/issues/15603

Unfortunately the workaround mentioned that helps with the `policy_json` arg does not help with s3_bucket's `policy` arg.
https://github.com/ansible/ansible/issues/15603#issuecomment-223919120

[2016-06-07 17:44] bhardin opened #2383 "CNAME example in cloudflare module doesn't work"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
network/cloudflare_dns

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The example given in the documentation for a CNAME record returns an error.

##### STEPS TO REPRODUCE
 Given the following config:

[code]

returns the following error:

[code]

##### EXPECTED RESULTS
I expected t

[2016-06-07 17:50] bhardin commented on #2383
It seems like `record` is the missing param. Perhaps an error message may help if this isn't included.

[2016-06-07 18:05] hhsnow opened #2384 "yum_repository: allow enable/disable of repository"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am unable to use yum_repository to update `enabled = 1` without providing additional configuration. For example, in Amazon Linux, they ship the epel repository with `enabled = 0` by default. This would allow this repository to be en

[2016-06-07 20:33] #2330 closed

[2016-06-07 21:10] javadevmtl opened #2386 "Add native support for IIS appcmd"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

New module
##### ANSIBLE VERSION

[code]

Hi the default IIS module are ok for doing simple tasks. But the moment you need to configure anything complex you need to dive into using appcmd command.

For instance I have the following playbook command that registers an ISAPi DLL with IIS. The command works fine, but on secondary run because the t

[2016-06-08 07:42] mickael-ange commented on #2009
Same problem with Ansible 2.0.2.0.
Can someone point to the `selinux` and `seobject` Python modules' documentation. I really cannot find it.
Is there an update function similar to `seport.update(port, proto, serange, setype)` ?
I'd like to try to fix this issue.
Cheers,

[2016-06-08 08:18] michel-slm commented on #2336
Shouldn't this be in `ansible-modules-core` instead (unarchive module is there)? Same with [ansible bug 16060](https://github.com/ansible/ansible/issues/16060)

[2016-06-08 12:16] cloudnull commented on #887
Thanks for he update. Sorry for the reply delay, I'm currently on vacation without a laptop but I've added this to my todo list and will try resolve it as soon as I'm back in action near the end of the month (assuming it's not fixed sooner by someone else).

[2016-06-08 15:48] devigned commented on #2299
@nitzmahone I'll give this a run today. Thank you for looking into this!

[2016-06-08 15:51] Blackbaud-IanThomas commented on #2299
I tested this out myself, but not specifically with Azure Container Service because I'm now using a different template.  Complete worked ok for me when I tested it out, though!

[2016-06-08 18:04] juleedev opened #2389 "Please add support for virtual packages in the apk module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apk module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We are trying to use the apk module in an environment where we have virtual packages.  We are currently unable to use this module because it looks for the underlying package that the virtual package installs, and uses that package state to

[2016-06-08 19:40] cwarner-mdsol commented on #2114
Serenity now.

[2016-06-08 21:05] basictheprogram opened #2391 "win_package uninstall example"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION
[code]

##### SUMMARY

Would be very helpful to see an example of an Uninstall using win_package in the documentation.

[2016-06-09 06:52] 45413 opened #2393 "Slack - markdown when color defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

notification/slack.py
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using slack notifications with the any color option besides normal causes markdown to not be respected in slack.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect to see a message like

but instead see

[2016-06-09 11:19] jhawkesworth commented on #2340
I don't know how we might implement a warning for this, but I've raised a PR to add an example to the documentation.

[2016-06-09 11:59] mscherer commented on #2336
Yup, it should be on ansible-module-core.

[2016-06-09 12:04] mscherer commented on #2321
Seems sensible. I use no_reload, because that the interface provided by selinux binding, but this should be better.

[2016-06-09 12:06] mscherer commented on #2350
Hi, could you refortmat the bug report ?

[2016-06-09 12:09] mscherer commented on #2350
Ok, i reformated, forgot I could do it.

[2016-06-09 12:16] mscherer commented on #2389
I do not know apk well enough, but if you had to upgrade it without ansible, what command would you type ?

[2016-06-09 12:23] juleedev commented on #2389
I would do the following using the shell command:

apk add -uU <packagename>

This would update both the wrapper package test-snmp and all dependencies,
including net-snmp.

On Thu, Jun 9, 2016 at 8:16 AM, Michael Scherer notifications@github.com
wrote:

[2016-06-09 13:10] bcoca commented on #2389
this is same issue that exists in other package modules, the module does not 'see' the virtual package installed so it tries to upgrade (and marks task as changed, as it detected the need for one). Once run the upgrade command resolves to the already installed actual package and does not change anything, so we get 'changed but nothing done' state.

[2016-06-09 15:11] alikins opened #2398 "test issue, ignore"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-09 15:11] #2398 closed

[2016-06-09 15:11] alikins opened #2399 "test issue, ignore"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-09 15:12] alikins opened #2400 "alikins test issue for testing of ansibulbot issue/pr triage"
This is a test/scatch issue for testing ansibulbot features. Please leave it open. At least until I change the bot to reopen it anyway ;->

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
No component yet.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
It's factory stock. Except for a few changes. A config tool would be super useful here.

##### OS / ENVIRONMENT
DEC Ultrix 4.2 (For Wor

[2016-06-09 15:12] #2399 closed

[2016-06-09 16:40] pierreant-p commented on #1813
+1

[2016-06-09 20:36] nitzmahone commented on #2351
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-09 20:36] #2351 closed

[2016-06-09 21:33] alikins commented on #2400
A corndog is a hotdog embedded in a hushpuppy.

[2016-06-09 21:36] alikins commented on #2400
A comment with a badly formatted traceback in it in a code/pre.

[code]

[2016-06-09 21:37] alikins commented on #2400
A comment with a traceback in it, but not in a pre/code block

Loaded callback minimal of type stdout, v2.0
<ansible-target-host> ESTABLISH SSH CONNECTION FOR USER: root
<ansible-target-host> SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -

[2016-06-09 21:37] alikins commented on #2400
A lovely traceback, even in a pre/code block:

[code]

[2016-06-09 21:39] alikins commented on #2400
A very munged traceback in a pre/code block

[code]

[2016-06-09 21:40] alikins commented on #2400
Some -vvvvv output, and a traceback, in a pre/code block:

[code]

[2016-06-10 13:19] cherouvim commented on #1965
Have this problem as well. Wasted 20 minutes trying to get it right and ended up using shell:

[code]

[2016-06-10 15:32] rmauc opened #2407 "Trying to gather facts from F5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-10 17:24] #2333 closed

[2016-06-10 20:55] bnaydenov commented on #2377
Exactly the same behaviour is reproduced also with ansible 2.1.0.0

[2016-06-11 00:29] rmauc commented on #2407
The F5 is running V11.5.3.
The Ansible Control Server is Tower 2.4.5 / Core 2.1

[2016-06-11 06:16] whbos opened #2412 "win_regedit: misleading error message in case of syntax error"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The win_regedit module fails not quite elegantly when the colon character following the registry hive is not specified ('HKCU\Software' instead of 'HKCU:\Software')

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Syntax Error.

##### ACTUAL RESULTS
fatal: [windo

[2016-06-11 19:56] jhawkesworth commented on #2412
Good idea, I have another change that I want to make to win_regedit so I'll see if I can add some parameter parsing.

[2016-06-11 20:11] jhawkesworth commented on #2332
@dagwieers - feel free to take a stab at this - you might find there's some useful logic in win_regedit.  Its kind of a tricky one as there isn't really an equivalent of the registry on linux, so at some point you wind up dealing with a conversion between the file and the registry.
Right now this module is just slightly better than using raw to run reg.exe in that it won't report changed every tim

[2016-06-12 16:15] xen0l opened #2415 "zfs module doesn't support management of OpenZFS pools"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zfs

##### ANSIBLE VERSION
ansible 2.1.0.0

##### CONFIGURATION
Nothing

##### OS / ENVIRONMENT
Freshly installed latest version of OpenZFS on OpenIndiana. This also affects every illumos-based operating systems (SmartOS, OmniOS etc)

##### SUMMARY
The problem is with zpool version. OpenZFS uses feature flags and sets zpool version to "-", which

[2016-06-13 08:22] r4j4h opened #2418 "docker_container unable to attach named volumes"
@drajen reported this over at https://github.com/ansible/ansible/issues/16230 and I am forwarding here so it gets taken care of so no one else suffers data loss or 6 hours of their life for nothing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
Ubuntu Linux 14.04.4 source/destination

##### SU

[2016-06-13 13:13] avdv opened #2419 "New monit release breaks monit module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

monitoring/monit
##### ANSIBLE VERSION

[code]
##### SUMMARY

Since Monit changed the output of the `summary` command in version 5.18, the monit module is not able to parse it.
##### STEPS TO REPRODUCE

Running the following task:

[code]

with the corresponding monit service definition in place, results in

[code]

This happens due to the change

[2016-06-13 16:42] xen0l commented on #2415
ping @johanwiren

[2016-06-13 16:44] captainkerk commented on #2377
Opened a PR with the fix:
https://github.com/ansible/ansible-modules-extras/pull/2421

[2016-06-13 18:29] chouseknecht commented on #2418
This was fixed in commit https://github.com/ansible/ansible-modules-core/commit/e2d8d9d09a0a62d7aaa2ac915ef56d5a10fc673e. It's in devel and cherry-picked to stable-2.1 branch, though it has not made into an official release.

I tested again, just to make sure. Here's the playbook and results:

[code]

It produces the following Mounts and Volumes:

[code]

[2016-06-13 18:29] #2418 closed

[2016-06-13 19:15] datamattsson commented on #2418
Thanks folks for recognizing and having this issue fixed already!

[2016-06-13 19:35] bcoca commented on #2415
the module was working with BSD and linux, last I checked, so this is not only a Solaris issue

[2016-06-14 01:03] johanwiren commented on #2415
Yes, the OpenSolaris distributions have not been tested during development. Detecting them and handling them correctly should be easy to implement.

How to identify OpenSolaris distributions: https://gist.github.com/natefoo/7af6f3d47bb008669467

[2016-06-14 03:34] danschmidt5189 opened #2423 "Can't specify destination_port with iptables v1.4.7"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

`system/iptables.py`

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible machine: Mac OSX El Capitan (10.11.5)
- Target machines: Red Hat Enterprise Linux Server release 6.8 (Santiago)

##### SUMMARY

Ansible sends `destination_port` as `--destination-port`, but iptables v1.4.7 expects `--dport`. This is a new bug — previous Ansible

[2016-06-14 03:54] danschmidt5189 commented on #2423
Ah, never mind, this is an iptables thing — you have to specify the protocol, which I hadn't in my actual example. And the API hasn't changed in ages. 👍

Carry on...

[2016-06-14 03:54] #2423 closed

[2016-06-14 08:23] xen0l commented on #2415
@bcoca: do you know which commit broke the BSD and Linux support?

[2016-06-14 08:29] xen0l commented on #2415
@johanwiren: uname way doesn't apply to illumos distributions any longer. I am also thinking about adding a function, check_is_solaris, in which I open /etc/release and check for Oracle Solaris or Solaris (for Solaris 10) and set set.is_solaris. In the probmelatic fuction, check_enhanced_sharing, I shall decide based on self.is_solaris. What do you think?

[2016-06-14 09:31] trondhindenes opened #2424 "Win_FirewallRule does not work as intended"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
2.1.0

##### CONFIGURATION
Example playbook snippet:
[code]
##### OS / ENVIRONMENT
Target node: Windows 2012R2 w/powershell 4.0

##### SUMMARY
The module uses the `netsh advfirewall` command, however the options used are not valid. The above playbook results in the following string:
`netsh advfirewall fir

[2016-06-14 13:06] bcoca commented on #2415
@xen0l, sorry I was unclear, I was not saying it is broken on those platforms, I was trying to indicate that a fix that changes version detection to 'Solaris' detection is not a viable solution.

[2016-06-14 13:29] landryb commented on #97
Fwiw, an option is coming to pkg_add to select package names by 'branch', allowing one to do 'pkg_add autoconf%2.13 or php-fpm%5.6 ... which would solve this issue.

[2016-06-14 14:19] eest commented on #97
@landryb: Thank you for this information, while it might seem like this is a forgotten request I do mull it over from time to time. The combination of sharp corners of the implementation and what I perceive as a generally low request rate of the feature has stopped me from going forward with it currently.

If the pkg_add tool will be gaining functionality that solves the problem then I am more tha

[2016-06-14 14:26] landryb commented on #97
Soon in -current, will be in 6.0.

[2016-06-14 14:32] jody-frankowski commented on #97
@esst I have just found this issue, and I would love to have this resolved in ansible.
If you used the new pkg_add feature how would it provide support for current/older versions of openbsd?

[2016-06-14 16:34] eest commented on #97
@jody-frankowski: it would not. I am not very interested in adding a bunch of complexity only to cater to old systems. Basically I would rather not have the functionality at all rather than trying to deprecate it in the future. You will have to use specific package names for playbooks aimed at such older systems until replacing them instead.

[2016-06-14 18:06] landryb commented on #97
It's in now in -current, cf http://anoncvs.spacehopper.org/openbsd-src/commit/?id=5cad1d0771d5798c01cac4962dae7c44f10b633b

[2016-06-14 19:12] xen0l commented on #2415
@bcoca what's the preferred fix then?

[2016-06-14 20:15] jody-frankowski commented on #97
@eest Well, I guess some versions could stay in production for long, but that sounds sensible to me.

[2016-06-14 20:30] bcoca commented on #2415
I'm not sure, I don't know what version detection is controlling nor how/what interactions would change with openzfs, just that detecting 'solaris' is not a fix.

[2016-06-14 20:35] xen0l commented on #2415
Well, the Oracle ZFS has different feature set than OpenZFS. Oracle ZFS can run only on Oracle Solaris and detecting Oracle Solaris would help here. I'm afraid it's only viable solution. If the module stays general and doesn't harcode Oracle ZFS-centric features, we are good enough. Another option might be new module, but that will duplicate functionality. I'd take the solution I described earlier

[2016-06-15 06:48] landryb commented on #97
@jody-frankowski - 'could stay in production' - remember that releases are only supported  for one year, so the problem will fix itself once 6.1 is released and 5.9 gets out of support... :)

[2016-06-15 07:51] ilpianista commented on #2424
Confirmed.
Reading [the docs](https://technet.microsoft.com/en-us/library/dd734783%28v=ws.10%29.aspx) it seems that _current_ only works when the current firewall profile is _Public_.

[2016-06-15 12:24] kalloa opened #2433 "the zabbix_host module won't link multiple templates."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

monitoring/zabbix_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

ansible from OS: trusty, with zabbix-api installed.
ansible target OS: trusty
I've tested both with 2.4 and 3.0 zabbix versions.
##### SUMMARY

I am not able to link multiple templates with this module, with one template works well.
##

[2016-06-15 13:00] quimrstorres opened #2434 "ecs_service module - Add support for deployment configuration"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`ecs_service` module
##### SUMMARY

The module does not support that a deployment configuration is provided. In particular, it does not allow to set the values for the minimum healthy percent and maximum percent.
##### DETAILS

For more information on this configuration, search for `--deployment-configuration` on [this AWS CLI documentation pag

[2016-06-15 13:40] deiga commented on #1343
This would be a lovely addition

[2016-06-15 13:51] bcoca commented on #2415
That does not seem to be a correct assumption, as this module successfully ran on Linux and BSDs which are not using the Oracle ZFS implementation nor OpenZFS.

[2016-06-15 13:53] xen0l commented on #2415
@bcoca FreeBSD and Linux uses OpenZFS. Developers from those platforms collaborate on OpenZFS. OpenZFS just has illumos distributions as upstream. I found another solution and that is that OpenZFS reports different version "-" from Oracle Solaris. So, the question here is about not detecting Solaris, but detecting OpenZFS.

[2016-06-15 13:58] bcoca commented on #2415
FreeBSD had it's own implementation until recently, not all FreeBSD users run the latest, also it is not the only BSD, the same goes for linux, it has MANY implementations and many of them are in production.

OpenZFS is a relatively new consolidation of the efforts, I'm all for  supporting it, but not for sacrificing existing installed systems in the process.

[2016-06-15 14:02] xen0l commented on #2415
The change I am talking about will not affect those installations. The problem here is with detecting enhanced sharing properties, which is available since version 34 and applies only to Oracle Solaris. So, if not detecting OpenZFS vs Oracle ZFS, then detecting Solaris is the only way how to enable support on illumos platforms. So, are you OK with such solution then? If not, can you advise better

[2016-06-15 14:12] bcoca commented on #2415
that does not sound right as the other implementations we discussed above would fall on the current behavior but you are detecting specifically against 'Solaris' to avoid it. I suggest detecing 'OpenZFS' instead as it seems to be the outlier in this case.

[2016-06-15 20:36] mgarren opened #2435 "Pagerduty module incorrectly identifies errors on maintenance window creation"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-modules-extras/monitoring/pagerduty.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL6 kernel 2.6.32-573.26.1.el6.x86_64
##### SUMMARY

Per the pagerduty API listed here: https://developer.pagerduty.com/documentation/rest/maintenance_windows/create

The api should return a HTTP 201 created if it successfu

[2016-06-16 01:22] r4j4h commented on #2418
For real! :fireworks: :tada: :)

[2016-06-16 07:26] jhawkesworth commented on #2412
I added to check to make sure the key matches the PSDrive:.... format expected by powershell in #2436

[2016-06-16 07:27] jhawkesworth commented on #2412
@whbos - would you be able to test #2436 so this issue can be closed?

[2016-06-16 10:38] ecasti-newstore opened #2437 "Support large number of services on ecs_service_facts"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ecs_service_facts
##### ANSIBLE VERSION

2.1.0
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Support for more than 10 services on a cluster
##### STEPS TO REPRODUCE

[code]

Only 10 service are listed while we have about 60 services

##### EXPECTED RESULTS

Get full list of services
##### ACTUAL RESULTS

ok: [localhost] => {
    "ECS": {
        "a

[2016-06-16 12:49] jody-frankowski commented on #97
@landryb I know, but it doesn't mean some wouldn't keep them in production ;)
To me, one of the problems with this is that some might not be encouraged to use Ansible, because a portion of their infrastructure can't be managed with Ansible (Even if It's their own fault).
Fortunately in our case as @eest said, they could still use specific package names.

[2016-06-16 15:34] mgarren commented on #2435
Additionally, I found the same issue on delete.  The api specifies a HTTP 204 No Content on deletion however the code looks for a 200.  https://developer.pagerduty.com/documentation/rest/maintenance_windows/delete

[2016-06-16 16:43] nitzmahone commented on #2407
I'm guessing this is a "lack of return docs" issue. "bigip" is not a fact set by that module. Dump the actual module output if you want to see the facts it sets, eg:

[code]

[2016-06-16 16:43] #2407 closed

[2016-06-16 17:46] whbos commented on #2412
@jhawkesworth - Works fine:

TASK [Configure registry] ******************************************************
failed: [windows_server](item={u'datatype': u'string', u'data': u'test', u'value': u'test'}) => {"changed": false, "data_changed": false, "data_type_changed": false, "failed": true, "item": {"data": "test", "datatype": "string", "value": "test"}, "msg": "key: HKCU\Software is not a valid p

[2016-06-16 23:14] jas612 opened #2443 "Ansible pear extras module does not allow responding to prompts interactively or via playbook options"
ISSUE TYPE

Bug Report
ANSIBLE VERSION

ansible 2.0.0.2
  config file = /home/jstewart/local/ansible-deploy-scooby/ansible.cfg
  configured module search path = /usr/share/ansible:./library
CONFIGURATION

[defaults]

hostfile = $HOME/local/ansible-deploy-scooby/hosts
library = /usr/share/ansible:./library
remote_tmp = $HOME/local/ansible-deploy-scooby/tmp
pattern = *
forks = 5
poll_interval = 15
s

[2016-06-17 04:53] jcst opened #2445 "ec2_elb_facts fails with boto 2.38"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_elb_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ec2_elb_facts fails with boto error
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

boto required for this module
##### ACTUAL RESULTS

[code]

[2016-06-17 09:07] #957 closed

[2016-06-17 12:05] jhawkesworth commented on #2412
Since #2346 has been merged, this fix will be in the next released version of ansible, so I will close tho issue.

[2016-06-17 12:05] #2412 closed

[2016-06-17 14:02] chrwen-omicron opened #2446 "win_regedit: change detection doesn't work for environment variables in registry keys of type expandstring"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_regedit
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Setting an environment variable as data of an expandstring data type leads to a change every run.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No change if the registry contains `%USERPROFILE%.`
##### ACTUAL RESULTS

When win_regedi

[2016-06-17 16:20] alikins opened #2448 "Add 'force' option to redhat_subscription register options."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

packaging/os/redhat_subscriptions

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL

##### SUMMARY

Add 'force' option to redhat_subscriptions register ala 'subscription-manager register --force'

(moved from original https://github.com/ansible/ansible/issues/16343 submitted by @huiser)

[2016-06-17 17:02] jhawkesworth commented on #2446
A change was merged into devel yesterday that affected change detection for win_regedit.
Please could you try latest devel?

[2016-06-17 17:56] zachlanger opened #2449 "fatal: [default]: FAILED! => {"changed": false, "failed": true, "msg": "__init__() got an unexpected keyword argument 'validate_certs'"}"
ISSUE TYPE
Bug Report
ANSIBLE VERSION
[code]
CONFIGURATION

None

OS / ENVIRONMENT

Running el captain 10.11.5. Managing ubuntu/trusty64 vagrant box

SUMMARY

I want to run vault in a vagrant box using ansible. Trying to start the vault server as a service with conusl, however it throws {"changed": false, "failed": true, "msg": "init() got an unexpected keyword argument 'validate_certs'"} error. I

[2016-06-17 18:31] ghost commented on #829
Has this feature been implemented yet? I am looking to use it.

[2016-06-17 21:01] ferventcoder opened #2451 "Chocolatey 0.9.10 and exit codes - win_chocolatey is now reporting successful package installs as failures"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
Any current

##### OS / ENVIRONMENT
Windows

##### SUMMARY

Related to #19, but better context.

I mentioned this before in April - https://github.com/chocolatey/choco/issues/512. 0.9.10 just released today and folks are going to start reporting breakages even though we noted it in our release notes and trie

[2016-06-17 21:03] ferventcoder commented on #2451
cc @elventear @trondhindenes @nitzmahone

[2016-06-17 21:07] nitzmahone commented on #2451
@ferventcoder Thanks for the heads up!

[2016-06-17 21:09] ferventcoder commented on #2451
@nitzmahone I gave @elventear a heads up back in April. I guess I didn't realize at the time who all I needed to provide the notice to. 👍

[2016-06-17 21:12] nitzmahone commented on #2451
Too bad we _just_ shipped 2.1.1 RC1 about an hour ago - I coulda had this in. :)

[2016-06-17 22:48] justenwalker opened #2452 "win_updates: You must specify an object for the Get-Member cmdlet."
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Host: Mac OSX El Capitan
Target: Windows Server 2012 R2

##### SUMMARY

Some times, running the `win_updates` module results in an error - and after re-running the command it seems to resolve itself. It is not consistent - but it does happen often enough that it should be handled mo

[2016-06-18 02:30] gurumaia commented on #1510
@naCDG works for me too, tks!

[2016-06-18 07:30] resmo commented on #2383
/cc maintainer @mgruener

[2016-06-18 07:31] resmo commented on #2384
/cc maintainer @jtyr

[2016-06-18 07:33] resmo commented on #2353
/cc maintainers @jhoekx @abulimov

[2016-06-18 07:35] resmo commented on #2433
/cc maintainers @eikef

[2016-06-18 20:38] jtyr commented on #2384
Current version of `yum_repository` module was mainly designed to create new repo files although it allows to override repo definition in existing files. For that you have to define complete repo definition including at least the `name` and one of the `baseurl` or `mirrorlist`.

I can imagine to extend the module with `state: update` which would allow to add/modify properties of existing repos:

[

[2016-06-19 16:12] pierreant-p commented on #1401
+1

[2016-06-20 07:44] chrwen-omicron commented on #2446
Sorry for not mentioning this, I did try the most recent version of win_regedit in the devel branch.

The problem seems to be `Get-ItemProperty` in

[code]

This returns the expanded string.

[2016-06-20 10:20] sayantandas commented on #2100
I also faced the same problem..

``FAILED! => {"changed": false, "cmd": "/sbin/iptables -t filter -A INPUT -p tcp -j ACCEPT --to-ports 5800 -m comment --comment 'Allow Real VNC' -m state --state ESTABLISHED", "failed": true, "msg": "iptables v1.4.7: unknown option`--to-ports'\nTry `iptables -h' or 'iptables --help' for more information.", "rc": 2, "stderr": "iptables v1.4.7: unknown option`--to-po

[2016-06-20 10:49] mgruener commented on #2383
Thanks for pointing that out. I will have a look at that over the next few days, including the missing error messages.

[2016-06-20 11:02] jhawkesworth commented on #2446
thanks @chrwen-omicron - Thinking about it further, I don't have any occurrences of expand string in my playbooks right now, and I'm pretty certain this isn't covered in the existing integration tests.

I suspect the type of $currentRegistryData is not one that is being handled in Compare-RegistryData

Could you find the type of $currentRegistryData when working with an expandstring?

[code]

woul

[2016-06-20 11:49] php-coder opened #2456 "debconf: support 'seen' as a type"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
debconf

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I've found that to accept Oracle license I need to execute 2 debconf commands:
[code]
The first has `select` type and it supported by `debconf` module while the second isn't supported.

To resolve this issue I suggest to add `seen` to the list of support types

[2016-06-20 11:55] chrwen-omicron commented on #2446
Well, the registry types REG_SZ and REG_EXPAND_SZ seem to be basically the same. They're both strings, so the compare test is fine, but REG_EXPAND_SZ may contain unexpanded references to environment variables.
`if ($ReferenceData -is [String] -or $ReferenceData -is [int])` is handling it correctly, but the `$ReferenceData` is expanded and the `$DifferenceData` not, so they differ at `if ($Referenc

[2016-06-20 13:02] bcoca commented on #2456
fixed via a28d7a00b899e88d9d0b349939ae85f18052bf5c , will be part of 2.2

[2016-06-20 13:02] #2456 closed

[2016-06-20 13:04] php-coder commented on #2456
Thanks!

[2016-06-20 14:14] alikins commented on #2449
This appears to be the same issue as https://github.com/ansible/ansible-modules-extras/issues/2114

A pr with the fix (https://github.com/ansible/ansible-modules-extras/pull/2194) has been merged into devel branch at e388fb4006e1d8f7828527a02c445bc633b5b367

and into the stable-2.1 branch at d7ea280e5081fccb9d82ba715c88c2e3ad361446

So the fix for this will be in the next 2.1.x release.

[2016-06-20 14:16] alikins commented on #2449
Since this is a dupe of #2114, and that is the issue number referenced in the fixing commits and backports, I'm going to close this issue.

[2016-06-20 20:15] nitzmahone commented on #2451
Fixed in https://github.com/ansible/ansible-modules-extras/commit/5cd3e328f3d5459d39a6f88bd331f362dca96d5f, cherry-picked to stable-2.1 (should appear in 2.1.1RC2). Will also add support for new reboot_required return arg in devel (target 2.2).

Thanks!

[2016-06-20 20:15] #2451 closed

[2016-06-21 07:59] ilpianista commented on #2424
Now that #2432 has been merged this should be fixed in current devel.

[2016-06-21 20:03] ghost commented on #2061
I'm also having this issue, I'm on Tower 2.4.5, ansible 2.1.0.0. I have attached the stdout and playbook.
- name: Disabling server from the NetScaler
  local_action:
    module: netscaler
    action: disable
    name: "{{ lbhostname }}"
    nsc_host: "{{ nschost }}"
    user: "{{ nscuser }}"
    password: "{{ nscpwd }}"
    type: server
    validate_certs: false
  when: loadbalancer == "true"

[jo

[2016-06-21 20:03] marcinpraczko opened #2460 "Jira module is not sending valid json when operation = edit"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

jira (module)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration - no changes
##### OS / ENVIRONMENT

Tested on Mac OS - however seems be global (not related with local platform)
##### SUMMARY

According documentation jira module should allow create / modify items in Jira. Creating tickets is working fine, adding comments ar

[2016-06-21 22:16] mangas opened #2462 "Monit 5.18 has new output format for summary which breaks the module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

monit
##### ANSIBLE VERSION

ansible 1.7.2
##### OS / ENVIRONMENT

Linux - Debian
##### SUMMARY

Monit 5.18 has a new output format incompatible with the current module
##### STEPS TO REPRODUCE

Install Monit
Configure any process

[code]

Get error message '"zookeeper process not presently configured with monit' which is not accurate
##### EXPEC

[2016-06-22 10:10] nevenr opened #2465 "ec2_snapshot_fact fail, duplicate"
https://github.com/ansible/ansible-modules-extras/issues/2127

[2016-06-22 10:22] #2465 closed

[2016-06-23 00:39] fubarhouse commented on #1347
I have also come across this as being a problem on RedHat, and I'm using version 2.1.0.0.
For me though, I haven't experienced this problem on Darwin.

[2016-06-23 06:57] sparkvilla opened #2468 "win_ping fails: ssl Connection aborted error104"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

    ansible.cfg:
    [defaults]
    hostfile = ./hosts
    log_path = ./ansible.log

    group_vars/win_clones.yml
    ansible_user: user
    ansible_port: 5986
    ansible_connection: winrm
    ansible_password: pass
    # The following is necessary for Python 2.7.9+ when using defaul

[2016-06-23 09:48] brewek commented on #1401
I strongly approve this idea. ;)

[2016-06-23 12:46] jhawkesworth commented on #2468
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-23 12:46] #2468 closed

[2016-06-23 16:39] mgruener commented on #2383
Actually that example works exactly as intended. It creates a CNAME record my.com that points to example.com. The default value of the record attribute is @, e.g. the zone name.

However, I can reproduce the problem if the my.com zone already has an A record for my.com in which case a CNAME with the same name can not be created (neither using the webinterface nor by using the api). @bhardin could

[2016-06-23 17:10] mgruener commented on #2383
When ansible/ansible-modules-extras#2470 gets merged, situations like this will return a proper error message.

[2016-06-23 17:15] akempkens opened #2471 "profitbricks module news update due to cloudapi v2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-modules-extras/cloud/profitbricks/profitbricks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special - all default

##### OS / ENVIRONMENT
Mac OS, it's not relevant IMHO

##### SUMMARY
Profitbricks just introduced the cloud API 2.0 (https://devops.profitbricks.com/api/cloud/v2/) with a specific feature to assign sshKeys to

[2016-06-23 18:13] praneethr opened #2472 "azure_rm_deployment - After creating new VM's.. Deployment is deleting rest of resources in the resource group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_deployment
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not Changed
##### OS / ENVIRONMENT

Ubuntu 14
##### SUMMARY

After creating new VM's.. Deployment is deleting rest of resources in the resource group.

I created a template https://raw.githubusercontent.com/praneethr/Ansible-Azure-Playbooks/master/azureVM/rhel.deploy.json

[2016-06-23 18:19] sivel commented on #2472
Closing as a duplicate of https://github.com/ansible/ansible-modules-extras/issues/2299

[2016-06-23 18:19] #2472 closed

[2016-06-23 22:18] taylorreece commented on #2036
I'm seeing the same behavior on Windows 7 Pro.  The win_firewall_rule module can delete firewall rules fine, and claims to add them, but in reality does not.

[2016-06-23 23:04] thaumos commented on #2178
@alikins, I ran into this as well...  Attempting to install the Fedora Workstation group.

In the yum module, package groups vs environment groups are designated via @ or @^, respectively.  So I am assuming the implementation will be the same for both modules somehow...

[2016-06-24 00:40] hhsnow commented on #2384
That makes sense to me. Makes it easier to distinguish between a full change and a single element update. Do any other modules have an 'update' state?

[2016-06-24 09:36] one1zero1one commented on #2036
@taylorreece what I did in my case,  commented out line 273 from the win_firewall_rule.ps1 `#$fwsettings.Add("Profiles", $winprofile)`
and it does the trick on win2012r2. Did not test on any other platform.

[2016-06-24 10:50] clegganator259 commented on #1347
I have also had this problem on OSX

[2016-06-24 13:27] dverg commented on #1093
This should be fixed and not Closed. The properties on the apppool could be strings or complex objects and checking against (a non-existing) Value property won't work.
See the ref above: https://github.com/ansible/ansible-modules-extras/issues/2212

[2016-06-24 15:26] taylorreece commented on #2036
@one1zero1one thank you for your recommendation.  That didn't work for me, but I figured out (after adding some debug output to win_firewall_rule.ps1) that on Windows 7 Pro, 'protocol' is required.  In these two examples, 'TaylorTest' fails, but 'TaylorTest2' is created successfully, despite the module claiming that both are created successfully.
`netsh advfirewall firewall add rule localport="500

[2016-06-25 04:29] liam-lai opened #2475 "vmware extra module vmware_vm_facts.py output result"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

ansible-modules-extras/cloud/vmware/vmware_vm_facts.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_HOSTS=~/ansible/hostname/hosts
ANSIBLE_HOST_KEY_CHECKING=False
ANSIBLE_SSH_ARGS=''
ANSIBLE_TRANSPORT=ssh
ANSIBLE_SCP_IF_SSH=y
ANSIBLE_LIBRARY=~/ansible/modules/ansible-modules-extras
##### OS / ENVIRONMENT

Fedora release 2

[2016-06-25 17:33] agustincastanio opened #2477 "Kubernetes module error handling fails when creating Deployment (or any unsupported kind)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

kubernetes module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

gathering = explicit
host_key_checking = False
sudo_flags = -H -S
pipelining = True
retry_files_enabled = False

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

I am trying to create a Deployment resource on my kubernetes cluster using Ansible m

[2016-06-25 21:41] smemsh opened #2478 "lvol module should not require size if origin is thin"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

verified that size requirement still exists in devel branch tip as of today
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When creating a thin snapshot, size is not necessary (this is, in fact, what `lvcreate` uses to differentiate a request to make thin snapshot from a new thick volume in same vg

[2016-06-25 21:47] smemsh commented on #2478
note, this also fails to simply create new thin volume (non-snapshot), again with error: `no size given`

virtual size of new thin volume can be given with `-V` to lvcreate, and this should work as long as `--thin-pool {{poolname}}` is given in extra args, which is _not_ needed for snapshot case (in that case, lvm knows based on origin being thin)

[2016-06-27 01:01] johnelliott commented on #1347
@anthonygreen I also have this problem on OSX El Capitan using the most recent version of Ansbile installed via homebrew. The npm module gives this error related to JSON parsing. Initially found the issue you mentioned.

[code]

[2016-06-27 06:15] kamsz opened #2480 "os_user does not honor OS env variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04, OpenStack Mitaka

##### SUMMARY
os_user module seems to not honor OpenStack environment variables. I've to specify the credentials inside the playbook in order for module to work.

##### STEPS TO REPRODUCE
* Source openrc
* Try to run os_user

[2016-06-27 16:34] alikins commented on #2477
[code]

That is definitely a bug in that module, a kwarg for 'msg' is required there. But that is a bug in the error handling itself.

The reason it looks like it was trying to throw an errors is that 'deployment' is not in the list of supported 'kinds':

[code]

At the moment, 'deployment' kind is not supported. And the error handling for an unsupported kind is busted.

I'm going to consider this

[2016-06-27 16:42] ergo opened #2484 "Expect module silently kills tasks after timeout is exceeded even if all questions were answered"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It turns out that tasks fail after default (30s) timeout is reached even if all the questions
were already handled by "expect" module.

##### STEPS TO REPRODUCE
1. run a task that requires "answers"
2. the task should run longer than default timeout
3. task if marked as failed without any appare

[2016-06-27 16:48] sivel commented on #2484
I have submitted a pull request to address this issue that can be found at https://github.com/ansible/ansible-modules-extras/pull/2485

[2016-06-27 17:30] alikins commented on #2478
so for this case, lv/vg/snapshot and state=present is enough to create a thin snapshot?

Are the cases referenced by the previous changes to that code still applicable?
(ie, https://github.com/ansible/ansible-modules-extras/commit/eb2762bc5b1ad29b942f2d19a8c91932726bbac5  and the cases mentioned in the
commit...).  That commit references https://github.com/ansible/ansible/issues/5165
and pr https:

[2016-06-27 17:55] alikins commented on #2480
I think the plugin should be using the values gathered by the http://docs.openstack.org/developer/os-client-config/ tool via the 'shade' module.

Can you verify 'os-client-config' reports the correct auth info in this scenario? It looks like the error reported is coming from the shade module itself.

How is ansible-playbook being invoked? cli as user? sudo? script?

[2016-06-27 18:05] Blackbaud-IanThomas opened #2486 "Azure Resource Manager module doesn't support username and password"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

azure_rm_deployment
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The documentation here: https://docs.ansible.com/ansible/guide_azure.html says you can authenticate with username and password for Azure in addition to security principal credentials. This isn't true. If you look at the module source:

[2016-06-27 18:14] agustincastanio opened #2487 "Deployment kind support on Kubernetes module"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

clustering/kubernetes
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

It would be great if Ansible kubernetes module could support "Deployment" kind.
Issue reference: https://github.com/ansible/ansible-modules-extras/issues/2477.

Thanks in advance.

[2016-06-27 18:15] agustincastanio commented on #2477
Thanks Adrian for your support.
I opened a feature request as suggested, please check https://github.com/ansible/ansible-modules-extras/issues/2487.

[2016-06-27 20:29] dust4sound commented on #2433
@kalloa that error is actually from zabbix itself, as the template 'Template App Zabbix Agent' is by default assocated/assigned by 'Template OS Linux', you can see/verify this by looking under the Template configuration and in the field title 'Linked templates' you'll see that its assocated/linked to that template.

[2016-06-28 00:31] jmehnle opened #2489 "known_hosts module race condition"
This is based on an [identical issue](https://github.com/ansible/ansible/issues/12743) someone accidentally(?) reported to the main `ansible` repo's issue tracker.
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

`known_hosts` module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`ansible.cfg`:

[code]
##### OS / ENVIRONMENT

Mac OS X 10.10.5:

[code]
##### SUMMARY

The `known_hosts` module

[2016-06-28 06:05] kamsz commented on #2480
@alikins Yes, os-client-config reports the correct data. Playbook is executed as root from cli.

[2016-06-28 08:43] kalloa commented on #2433
@dust4sound You're right! Many thanks for the information.

I'm sorry for false bug report, please close this report.

[2016-06-28 08:45] hanynowsky commented on #1130
same horrible bug in Debian 8

[code]

[2016-06-28 10:10] mangas commented on #2462
@nitzmahone any thoughts about https://github.com/ansible/ansible-modules-extras/pull/2463 ?

[2016-06-28 10:39] kaikousa commented on #2377
Had the same issue, workaround was to set the attribute into an empty array.

[code]

[2016-06-28 11:54] wizonesolutions opened #2492 "Incorrect documentation: osx_defaults does not allow reading values"
Copying from https://github.com/ansible/ansible/issues/16455
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X, locally
##### SUMMARY

http://docs.ansible.com/ansible/osx_defaults_module.html says that the module can be used to read from defaults, but it can't. It can only write and update. There are no read examples, and

[2016-06-28 13:41] kaikousa opened #2493 "ec2_vpc_route_table working inconsistently with NAT Gateways"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_vpc_route_table
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

This, but hardly related to the module.

[code]
##### OS / ENVIRONMENT

Running the scripts from OSX El Capitan 10.11.5
##### SUMMARY

Very briefly: sometimes a route to NAT is created, sometimes not.

Less brief: I have created NAT gateways for my private subnets and now I'm

[2016-06-28 13:45] prayther opened #2494 "firewalld Traceback error instead of something meaningful"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

firewalld
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

Traceback error instead of "2016-06-28 13:00:33 ERROR: INVALID_SERVICE: httpd"
##### STEPS TO REPRODUCE

try to manage an invalid port or service

[code]

##### EXPECTED RESULTS

An error that is meaningful like that of firewalld service

[2016-06-28 13:54] bcoca commented on #2494
cc @maxamillion

[2016-06-28 15:30] watsonb opened #2495 "win_regedit failing due to checking for registryValue default value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION
ansible 2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
N/A --> pretty much "stock"/default values

##### OS / ENVIRONMENT
Ansible: RHEL 7.2 (Maipo)
Target: Windows Server 2012 R2

##### SUMMARY
Attempting to set Windows Registry key va

[2016-06-28 15:43] watsonb commented on #2495
After tinkering a bit, this may be a "special case".  The key's value of 2500 needs to be set to either 0, 1, or 3.  The datatype of the value is a dword.  However, as specified in the playbook, it appears that 2500 is being picked up as an integer, hence the fail on the call to ToLower().

I quoted the 2500, so the task now looks like this:

[code]

Now it appears to work without failing.  Howeve

[2016-06-28 17:39] jhawkesworth commented on #2495
please can you try latest devel - I have recently pushed a fix for change detection for dword (previously it wasn't handling integers)?

[2016-06-28 17:42] watsonb commented on #2495
I'll try the latest devel when our sys. admin. can upgrade the version of Ansible currently running on our RHEL box.  I'll post the results as soon as I can get them.

[2016-06-28 18:09] nitzmahone commented on #2462
@mangas Sorry, I don't have monit configured anywhere to test that- someone in the community that uses monit will need to do that.

[2016-06-28 18:20] mangas commented on #2462
This is the package with the right version:
https://packages.debian.org/stretch/monit

Can be tested with debian stretch from docker for example
https://hub.docker.com/_/debian/

Let me know if there is anything I can do to help

[2016-06-28 18:39] smemsh commented on #2478
The code basically assumes that size is always needed -- which it is, but only for the non-thin case.  The number of arguments given to the lvm commands would need to change/vary for thin, because the format string prepared for `lvcreate` assumes size is there.

I thought about whether just waiting for #2216 was more appropriate but that's really for creating; snapshot alone is such a simple case,

[2016-06-29 12:20] 515k4 opened #2496 "zypper module get_package_state() don't work for type=pattern"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
openSUSE 42.1

##### SUMMARY
When using zypper module with type=pattern the module always return { "changed": true }. The reason is the package name is not found in installed_state returned by get_package_state() which looks just for installed RP

[2016-06-29 13:56] metal3d opened #2498 "json error function need "msg" keyword"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

clustering/kubernetes

At line 366:
https://github.com/ansible/ansible-modules-extras/blob/devel/clustering/kubernetes.py#L366

Function argument needs "msg" keyword as the others calls. Should I really need to make a pull-request ?

Thanks.

[2016-06-29 23:33] lowescott opened #2500 "openvswitch_port module errors if port already present in bridge"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openvswitch_port module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Contents of `ansible.cfg` (being used in a Vagrant environment):

[code]

I've also tried without `ansible.cfg` at all, just using default values.

##### OS / ENVIRONMENT

Guest VM is running Ubuntu 14.04 (kernel version 3.16.0-30-generic), Python version 2.7.6. Ansib

[2016-06-30 05:17] #887 closed

[2016-06-30 07:41] jhawkesworth commented on #2495
I am pretty certain this has already been fixed by https://github.com/ansible/ansible-modules-extras/pull/2436 If you agree @watsonb then I think this issue can be closed.

[2016-06-30 08:24] maxamillion commented on #2494
firewalld expects services as defined in `/etc/services` so it's looking for either `http` or `https` as that maps to a port that firewalld can then configure on the zone.

[2016-06-30 11:10] marcelloromani commented on #664
Disabling hardware acceleration fixed the "show URL on hyperlink hover" issue, but affected page rendering performance pretty badly.

[2016-06-30 11:31] marcelloromani commented on #664
I have an issue whereby I keep getting "state": "absent" in the ansible-playbook output, even though I specify state: present in the playbook.

[2016-06-30 11:44] costela commented on #664
@marcelloromani your problem doesn't seem to be related to this issue. Please open a separate issue, also including more details like a minimal non-working example.

About this issue: the original misunderstanding may have been solved by #716 . Could we maybe close this?

[2016-06-30 11:45] marcelloromani commented on #664
Hmm yes I think so. I'll open a separate issue.

[2016-06-30 13:53] #2498 closed

[2016-06-30 14:19] alxgu commented on #2496
Please test it with the devel(`2.2`) version of zypper. It isn't based on rpm queries anymore

[2016-06-30 14:50] ghost commented on #2496
You are right. With devel(2.2) it works as it should.

[2016-06-30 14:50] #2496 closed

[2016-06-30 14:51] #2495 closed

[2016-06-30 18:34] premctl commented on #1510
[code]

output:

[code]

[2016-07-01 09:58] profhase opened #2511 "Unicode chars (Umlaute) breaks cs_network module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cs_network

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
If there is a network with Umlaut in the description, the `cs_network` module breaks with
[code]
##### STEPS TO REPRODUCE
Try to create a network when there is a network avaliable with description 'mööp'

##### EXPECTED RESULTS
success

##### ACTUAL RE

[2016-07-01 11:14] resmo commented on #2511
Could you provide the traceback please?

[2016-07-01 12:19] metal3d commented on #2498
Tjanks

[2016-07-01 13:44] omikron-admin commented on #1675
Hi,
the same problem on our ubuntu 14.04, the modules are not being installed

[2016-07-01 15:38] Rthur opened #2513 "known_hosts module changes ownership of existing file"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

If known_hosts replaces an existing entry with a new key, the module changes the ownership of the file to root.
##### STEPS TO REPRODUCE

These plays replace the known_host when a system is rebuilt, so that man-in-the-middle warnings are properly addressed:

[code

[2016-07-01 15:45] WishCow opened #2514 "docker_container module fails when used with check mode"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COMPONENT NAME
docker_container

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux, both control and target
##### SUMMARY

Using the docker_container module with check mode results in an error coming from docker-py. Leaving out the check mode flag, everything works fine.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2016-07-01 16:09] nitzmahone commented on #275
win_updates was completely rewritten in 2.0; closing

[2016-07-01 16:09] #275 closed

[2016-07-01 16:10] #1073 closed

[2016-07-01 16:13] nitzmahone commented on #1161
Should be fixed by #1327, closing

[2016-07-01 16:13] #1161 closed

[2016-07-01 16:16] nitzmahone commented on #1271
Closing for inactivity- recommend separate download/install in cases like this for now.

[2016-07-01 16:16] #1271 closed

[2016-07-01 16:23] jctanner commented on #2513
This is actually due to the behavior of the ssh-keygen command ...

[code]

[2016-07-01 16:26] jctanner commented on #2513
@mcv21 could you comment on this and indicate whether or not it is something you would like to change?

[2016-07-01 16:29] mcv21 commented on #2513
On 01/07/16 17:26, jctanner wrote:

I've not had a chance to review the code yet; hopefully next week. I'm
still uneasy with using ssh-keyscan - in a managed environment you
shouldn't really need it, and it reduces your confidence that you're
talking to the correct host(s).

Regards,

Matthew

[2016-07-01 18:09] jctanner commented on #1563
[module: yum_repository]

[2016-07-02 20:07] jtyr commented on #1563
This has been implemented. Please close it.

[2016-07-05 06:44] kees-closed commented on #2009
Same problem here on Fedora 23 and Fedora 24 both running Ansible 2.1.0.0.
I want to use 443 for ssh, but it can't because it's already in use by https. Ansible however doesn't give a warning and states in a green text that's it's okay, while it's not. As the bug reporter already pointed out, an add doesn't work if it's already assigned, a modify statement is needed in that case.

[2016-07-05 08:41] martinm82 commented on #1813
I got also hit by this issue now using Ansible 2.1. Any progress on this issue?

[2016-07-05 19:04] Cbeck527 commented on #1675
As addressed in #1375, this is actually something broken when you use `state=latest`. Using `state=present` will install the module globally as expected.

If you really need the latest, then split it up into two tasks, one ensuring that the module is present and the second ensuring that it at the latest version! Here's hoping this is fixed soon 👍

(workaround credit: @geerlingguy 🙌)

[2016-07-05 20:27] blake commented on #2500
This was fixed in #2355.

[2016-07-05 23:13] nitzmahone commented on #2452
Already fixed in 2.1.1RC2 and devel (https://github.com/ansible/ansible-modules-extras/commit/9df4f6a4c79e54e79a14e2932be821c4450b0473) - thanks!

[2016-07-05 23:13] #2452 closed

[2016-07-06 13:55] resmo commented on #2511
Fix proposal https://github.com/ansible/ansible/pull/16601. Any chance to verify the fix?

[2016-07-06 20:58] tima commented on #829
@sarlindo: To my knowledge no. Feel free to submit a PR for it. I just recorded it during code reviews and had hoped @jbowes or @treyperry would get to it since it's highly unlikely I would. (I haven't worked with Zookeeper in a couple of years and have a lot of other things on my desk to handle.)

[2016-07-07 17:14] joearasin opened #2532 "AWS MFA Authentication does not work because Boto2 is broken"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- All AWS
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Boto2 does not support Amazon's recommended approach to security configuration. Ergo, it should be either dropped by Ansible. Alternatively, Ansible can take on the responsibility of fixing Boto2 (because I'm not convinced Amazon will devote resourc

[2016-07-07 20:49] abondis commented on #1813
what about using `|to_json` does it help ? https://github.com/ansible/ansible/issues/15603#issuecomment-231202016

[2016-07-07 21:38] rhorer opened #2536 "mail.py shouldn't import ssl unless secure=true"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

mail.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from Red Hat Enterprise Linux Workstation release 7.2 (Maipo)
Managing Solaris 10 (both SPARC and X86) and Red Hat Enterprise Linux versions from 5.11 through 7.2
##### SUMMARY

Trying to send an email using the mail.py module results in failure be

[2016-07-07 22:43] #2377 closed

[2016-07-08 01:26] schancel commented on #1130
Problem is on Xenial also.  It looks like the API for network manager changed:

https://wiki.gnome.org/Projects/NetworkManager/Developers

The first example works:

[code]

(NetworkManager also does seem to work in place of the two instances of NM)

Though, I don't have the expertise to know how to fix the module to work correctly depending on NetworkManager python module version.

[2016-07-08 18:07] HTippens opened #2538 "gitlab_project"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I uncommented the inventory - left it pointing to the default hosts file.

# some basic default values...

inventory      = /etc/ansible/hosts
#library        = /usr/share/my_modules/

##### OS / ENVIRONMENT

CentOS 7
Python 2.7.5
/usr/lib/python2.7/site-packages/ansible/modul

[2016-07-08 19:05] Wtower commented on #1224
This issue seems to affect me as well for both:

[code]

and:

[code]

Traceback:

[code]

Ansible version:

[code]

[2016-07-08 21:00] alikins commented on #2538
This seems to be the same issue as https://github.com/ansible/ansible-modules-extras/pull/2385

#2385 has been fixed in devel in commit:

[code]

This is in the new 2.1.2 RC as well via

[2016-07-08 21:00] #2538 closed

[2016-07-09 01:42] Etherdaemon commented on #2493
@kaikousa - https://github.com/ansible/ansible-modules-extras/pull/1511 might help you - still trying to get it merged

[2016-07-09 07:09] #632 closed

[2016-07-09 07:45] #97 closed

[2016-07-09 16:56] iprok opened #2542 "Please add mikrotik routeros support for ansible networking"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

new module
##### SUMMARY

Ansible doesn't support routeros now.

It's pity cause mikrotik hardware is cheaper then analogs and all of it is controled by routeros which has [API](http://wiki.mikrotik.com/wiki/Manual:API) and can be controled over SSH.

Please add ansible modules with support of mikrotik routeros. Thanks.

[2016-07-09 21:55] resmo commented on #2511
Closing due https://github.com/ansible/ansible/pull/16601 has been merged and backported to 2.1.1

[2016-07-09 21:55] #2511 closed

[2016-07-10 10:44] shencan commented on #1421
this is a problem for me too.  my ansible verison is 2.0.1.0. this bug What time to fix.

[2016-07-10 15:48] shencan opened #2543 "ec2_elb_facts module can't use"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 6.5

##### SUMMARY
ec2_elb_facts module can't  get elb information

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-07-10 15:53] shencan commented on #2543
I  has fix it. change `ec2_elb_facts.py` file 123  line  to  124 line.

[code]

[2016-07-10 22:22] #975 closed

[2016-07-10 23:10] #2213 closed

[2016-07-11 10:06] altmannmarcelo commented on #719
Issue still on Ansible 2.1.0.0

[2016-07-11 11:55] chchrist opened #2547 "maven_artifact can't get artifact from local repo."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

maven_artifact
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

maven_artifact can't get artifact from local repo as is looking for maven-metadata.xml and locally is maven-metadata-local.xml
##### STEPS TO REPRODUCE

Just try to point to your local maven repository.

[code]

##### EXPECTED RESULTS

It

[2016-07-11 13:24] martinm82 commented on #1813
Does not work for me. I switched for now to 2.0.2.0

[2016-07-11 14:20] alikins commented on #2543
Would it be possible to try to reproduce this with a newer version (https://github.com/ansible/ansible/releases/tag/v2.1.1.0-0.2.rc2 and/or with devel version from git).

I suspect that this is fixed in 2.1.0 (via https://github.com/ansible/ansible-modules-extras/commit/acc51c29447b27cf2266437ce019c83f06ddee7b)

[2016-07-11 14:28] bcoca commented on #2532
You CAN use boto3 instead, Ansible just uses the latest version it finds installed when connecting.

We will support boto2 as many have that installed and are not able to upgrade, all new modules and functionality are mandated to use boto3, but we are not eliminating boto2 compatibility of existing code.

PS. we are NOT fixing boto2, I don't think that keeping compatibility means we become respons

[2016-07-11 14:42] alikins commented on #2542
The best way to get a new networking vendor supported is to either get the vendor involved to contribute a module, or to get involved with the network working group and help develop it.

One of the ways to get involved with the network working group is via the weekly IRC meetings.
The agenda for the meetings is maintained at https://github.com/ansible/community/issues/110
and the schedule is at ht

[2016-07-11 15:13] joearasin commented on #2532
This decision means that I will advise my company to migrate away from Ansible, and not go through with our planned purchase of Ansible Tower.

Amazon specifies how to configure profiles. In my book, any deviation from that is a bug. Ansible deviates from that. That it didn't used to deviate doesn't matter to me -- the current state of affairs does. That you're considering this a wontfix means, to

[2016-07-11 15:31] alikins commented on #2547
Is the behavior any different if repository_url is a file url? like:

[code]

[2016-07-11 15:43] ryansb commented on #2532
Is there a specific module you've observed this with? I believe our connection code uses boto3 to connect to AWS when available.

[2016-07-11 16:03] joearasin commented on #2532
I'm pretty sure it's all of them. as an example, using ec2, with a setup as above, and a task that looks like:

[code]

I get:
`boto.provider.ProfileNotFoundError: Profile "admin" not found!`

[2016-07-11 16:09] ryansb commented on #2532
Thanks, I'll check into this and reopen if I can repro it.

[2016-07-11 16:09] joearasin commented on #2532
Thanks :)

[2016-07-12 00:41] paavoap opened #2548 "zypper_repository fails with Unknown option '--gpgcheck' on SLES 11.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- zypper_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From
[code]

Managing
[code]

##### SUMMARY

Trying to add a new repository using the `zypper_repository` module results in the following error.

    Unknown option '--gpgcheck'

##### STEPS TO REPRODUCE

Get a clean install SLES 11.1, and try to a

[2016-07-12 00:42] paavoap commented on #2548
@robinro If you need any more information, just let me know.

[2016-07-12 07:34] robinro commented on #2548
Thanks @paavoap for the report. I opened a PR that should fix the issue. Please have a look.

The change checks for zypper_version before using `gpgcheck` or `priority`. Since the default for `gpgcheck` changed in the past I don't really want to assume anything there and will always output a warning if zypper is too old to use gpgcheck. Is this ok for you? The warnings are fairly unintrusive and t

[2016-07-12 07:43] paavoap commented on #2548
Works for me. Thanks!

[2016-07-12 08:39] shevasv commented on #2100
When I tried to run next ansible code:
- name: open ports on firewall
  iptables: chain=INPUT  source="8.8.8.8" destination_port=53 jump=ACCEPT

and got the same error .
After adding two parameters  "protocol=tcp match=tcp " the code running successfully.

[2016-07-12 10:13] robinro commented on #2171
As mentioned before this should be fixed, so:
close_me

@basictheprogram please reopen if this is still an issue.

[2016-07-12 20:33] #1578 closed

[2016-07-12 20:52] #2548 closed

[2016-07-12 21:17] bendavies commented on #2256
getting this too. any ideas anyone?

[2016-07-12 22:33] resmo commented on #2433
closed by request

[2016-07-12 22:33] #2433 closed

[2016-07-12 23:14] justenwalker opened #2554 "azure_rm_deployment: breaks due to version number change in azure sdk 2.0.0rc4 or greater"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
the `azure_rm_deployment` module cannot be run due to a change in the version spec in azure python sdk version 2.0.0rc4 or greater. Installing a prior RC resolves the error (2.0.0rc3)

the task produces an error about the sdk version (example with 2.0.0r

[2016-07-12 23:18] justenwalker commented on #2554
Upon further investigation, it seems that the main ansible repository fixed this [about a week ago](https://github.com/ansible/ansible/blob/54db1df24499ca99f44c61b24bef59176ccdfa21/lib/ansible/module_utils/azure_rm_common.py), but obviously that has not made it into the current GA release of Ansible yet.  For those looking for a work-around, install the azure sdk with: `pip install azure==2.0.0rc2

[2016-07-13 08:55] JulienPalard opened #2555 "npm: module crashes du to malformed npm output"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ø
##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

`ansible_module_npm.py` raises an exception.
##### STEPS TO REPRODUCE

I'm just having this in my playbook:

[code]
##### EXPECTED RESULTS

Some modules installs successfully, but other make npm.py raises an exception.
##### ACTUAL RESULTS

[code]

I inspected wha

[2016-07-13 10:14] thomseddon commented on #1652
For anyone else that ends up here, in my case this error was caused by having versions of ansible installed via both apt and pip, resolution was to remove one!

Credit: https://groups.google.com/d/msg/ansible-project/hMkpsV2pp9s/h3Fz6qt-JAAJ

[2016-07-13 12:05] slok commented on #2434
+1

[2016-07-13 12:14] msurdi commented on #2434
+1

[2016-07-13 19:48] justenwalker commented on #2486
This seems to be fixed in upstream ansible repository - as it is actually a problem in `azure_rm_common.py`

https://github.com/ansible/ansible/commit/c71a939b08ef61f9964b8a5b3cc5ba6a23e8e320#diff-2b622fe76a39bb9004ac394693b03853L350

The previous version only used module parameters if you specified `client_id`, effectively excluding `ad_user` authentication. The new version relies on `subscriptio

[2016-07-13 19:51] Blackbaud-IanThomas commented on #2486
I did find the references to the credentials in `azure_rm_common.py`.  I'll have to look into that and give it another shot with the latest.

[2016-07-13 23:02] guybluebat opened #2559 ""Invalid interface clause" error in UFW module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(local additions)
hash_behaviour = merge

##### OS / ENVIRONMENT
Running from: OSX 10.10.5 (Yosemite)
Remote OS: Ubuntu 14.04 (Trusty)

##### SUMMARY
I have a UFW task that includes the parameter 'log: yes'. When run, ansible-playbook outputs the following:

"ERROR: Invalid interface clause"

[2016-07-14 07:07] sparkvilla opened #2562 "kerberos: argument 2 must be string, not None"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

group_vars/win_clones.yml:
    ansible_winrm_transport: kerberos
    ansible_port: 5986
    ansible_connection: winrm
    # The following is necessary for Python 2.7.9+ when using default WinRM self-signed certificates:
    ansible_winrm_server_cert_validation: ignore

/etc/krb5.con

[2016-07-14 15:01] dervolker commented on #2460
~~Same problem here. The edit tasks now return~~

~~`msg: HTTP Error 400: Bad Request`~~

In my case it is not a bug in the JIRA module, but one with admin rights for our JIRA has modified the screen, so that the 'labels' and 'environment' field have been removed from the edit mask. And that caused the `400`.

[2016-07-14 15:50] alfonsomga commented on #1985
Can you guys tell me some temporal workaround for achieve this?

[2016-07-14 17:01] nitzmahone commented on #2554
This fix has also been backported to stable-2.1, and is available in 2.1.1RC2. Closing.

[2016-07-14 17:01] #2554 closed

[2016-07-14 17:23] nitzmahone commented on #2562
How did you install pywinrm? The "correct" way that will get you all the right goodies is
`pip install pywinrm[kerberos]`. That will upgrade requests-kerberos to the current version with all its deps (requests-kerberos already requires pykerberos).

Perhaps you have just the "kerberos" package as well, and that's masking pykerberos (since they're actually the same python module, just different pac

[2016-07-15 06:41] sparkvilla commented on #2562
I installed pywinrm according with the windows support Ansible doc, i.e. `pip install "pywinrm>=0.1.1"`. After installing kerberos-dependencies  installed kerberos typing `pip install kerberos` and indeed when I tried to ping the window client I got request-kerberos not installed. Thus I installed requests-kerberos with the pip command. After that the error above mentioned appeared. Finally, I uni

[2016-07-15 08:57] boonen commented on #2114
This used to work with the stable-2.1 branch, but a few days ago it stopped working. Is the solution broken by another commit?

[2016-07-15 09:16] resmo commented on #2114
@boonen could you open an issue with some more information, traceback and exact version you use?

[2016-07-15 12:45] gyurco opened #2571 "Mongodb ssl parameter error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Mongodb_user always fail with:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: pymongo.errors.ConfigurationError: ssl has not been enabled but the following ssl parameters have been set: ssl_

[2016-07-15 13:09] gyurco opened #2575 "mongodb_user throws exception instead of failing properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION
ansible 2.2.0 (devel 7ecc75b555)

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When mongodb_user tries to add an user, first it checks for that user. During the check, an exception can occur, which is not caught at all.

##### STEPS TO REPRODUCE
mongodb_user: database=admin name=admin passwor

[2016-07-15 15:05] ryansb commented on #2532
Yup, I've been able to reproduce this. No fix yet.

[2016-07-15 15:56] ryansb commented on #2532
Alright, so here's the way we currently support using STS for assuming roles. You can either use blocks and set the environment variables AWS uses (in this example) or pass the secret key, access key ID, and session token to each module manually. For this example, assume you have a user `ansible-infra` that has permissions to assume a higher-level role with 2FA.

[code]

There may be a cleaner way

[2016-07-15 16:01] joearasin commented on #2532
That sort of works -- and we've tried this approach. It's a bit clunky in that it makes playbook reusability/composition a bit finicky, and getting both the Inventory and the playbooks running happily in the right place is a challenge.

What we're doing now is running with a tweaked inventory script that uses boto3 to get some credentials, then outputs the temporary credentials as variables which

[2016-07-15 16:04] ryansb commented on #2532
For reusability/composition if you have roles where the work is done, the master playbook (the one that chooses the roles) could be the one that uses the MFA to get the session token, and set the environment variable for the roles. That way you would have auth sorted outside of the roles.

[2016-07-15 16:28] joearasin commented on #2532
I was less concerned about pushing things down into roles and more about playbooks that run other playbooks. i.e. having a site.yml that runs a webservers.yml and a database.yml, either of which could be run on their own.

[2016-07-15 19:25] odyssey4me opened #2577 "lxc_container: snapshot clone container creation incorrectly starts the origin container"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

I have used both Ubuntu 14.04 LTS and Ubuntu 16.04 LTS with the same results. More details in this gist: https://gist.github.com/odyssey4me/97e0edbb9e46748cdf8775b786f820b6
##### SUMMARY

When using the lxc_container module to create a container (overla

[2016-07-15 19:27] odyssey4me commented on #2577
@cloudnull Note that this issue is now fully replicated.

[2016-07-15 19:53] ryansb commented on #2532
Yeah, so I confirmed the problem is less about boto2 and more about being unable to prompt for MFA in the middle of a task. Another option would be to have a wrapper script for `ansible-playbook` (say, `ansible-playbook-mfa`) that will use the AWS CLI to grab a the key/key ID/session token and put them in the env before `ansible-playbook` runs.

[2016-07-15 19:57] joearasin commented on #2532
Off the top of your head, are you familiar with any boto3-only modules?

[2016-07-15 20:04] ryansb commented on #2532
I think `ec2_snapshot_facts` is boto3 only

[2016-07-15 22:50] ghost commented on #1965
Same issue.

[2016-07-16 09:19] danbohea opened #2579 "Rename osx_defaults module to macos_defaults"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

osx_defaults
##### ANSIBLE VERSION

2+
##### SUMMARY

Apple rebranded "OS X" as "macOS", the osx_defaults should follow suit to avoid confusion especially further down the line, i.e. rename the module "macos_defaults".

[2016-07-17 04:26] basictheprogram opened #2580 "win_chocolatey ERROR: Thread failed to start installing googlechrome"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible host OS X 10.11.5
Managed host Windows 7 64-bit

##### SUMMARY

Try install Google Chrome via win_chocolatey and it fails (details below)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Google Chrome to be installed.

Installing Googl

[2016-07-18 12:38] Zapadlo opened #2581 "Error specifying `dns_servers` in `docker_container`"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION
[code]

##### SUMMARY
Getting the following error:

[code]

I have a `docker_container` resource and specifying:

[code]

Versions:

[code]

Docker version:

[code]

[2016-07-18 15:35] minac opened #2583 "Feature request: allow iterating listeners with with_items inside ec2_elb_lb task"
##### ISSUE TYPE
 - Feature Idea

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

Env vars:
[code]
and the obvious AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY

##### OS / ENVIRONMENT
From Mac OS X Capitan to N/a (AWS)

##### SUMMARY
I need to create an elastic load balancer which listens on a lot of ports (i.e. 100+). I am aware that AWS ELBs do not allow for port ranges in their ELB mod

[2016-07-19 00:58] madstacks opened #2585 "znode: "items" returned by the list operation is incompatible with dot notation"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using `op=list` with the **znode** module, it registers a dictionary with a
key named "items" which contains a list of children under the znode. The issue is
that "items" is also the name of a function of the Python dict object (e.g. dict.items()).
The result is t

[2016-07-19 07:41] debugloop commented on #1924
This is still an issue in the latest release ([v2.1.1.0-0.3.rc3](https://github.com/ansible/ansible/releases/tag/v2.1.1.0-0.3.rc3)).

[2016-07-20 05:58] #2571 closed

[2016-07-20 09:31] digennarot commented on #1414
tested and not working with

Python 2.7.9
ansible-playbook 2.1.1.0
pyvmomi (6.0.0.2016.4) or pyvmomi (5.5.0.2014.1.1)

[2016-07-20 10:31] lorijoan opened #2590 "Cloudstack: cs_volume module force attribute is incorrect"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Cloudstack: cs_volume module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
I am trying to force delete an attached volume.  As per documentation, this should be possible:
https://docs.ansible.com/ansible/cs_volume_module.html

##### STEPS TO REPRODUCE
1) Create a VM on cloudstack
2) Attach a volume (I am using cus

[2016-07-20 11:49] resmo commented on #2590
indeed. do you make a pull request?

[2016-07-20 11:55] lorijoan commented on #2590
I have now, PR: https://github.com/ansible/ansible-modules-extras/pull/2592

[2016-07-20 11:58] #2590 closed

[2016-07-20 16:09] tuabache opened #2600 "Jira modules failes with "dictionary update sequence element #0 has length 1; 2 is required" in Ansible 2.0.2.0"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

Jira
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using the jira module with Ansible 2.1.0.0 results in the following error message:

[code]

Playbooks worked with Ansible 2.0.2.0
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-07-20 16:23] jhawkesworth commented on #1414
@digennarot does your vcenter have a self-signed certificate?  If so I'd expect python 2.7.9 or later to fail unless you import the cert, replace it with a trusted cert, or by set validate_certs: False (or otherwise persuade python not to validate the cert).

[2016-07-20 17:20] dtest commented on #719
For now, my workaround in Ansible 2.1.0.0 is to rewrite `changed_when` and `failed_when` options:

[code]

But would like to see proper fix for this module. Looks like some recent activity with #2594 going in the right direction. Thanks @srvg

[2016-07-20 17:56] carterfields opened #2602 "F5 LTM Error: ansible requires the stdlib json or simplejson module, neither was found"
#### Issue Type:
- Bug Report

#### Component Name:
bigip_facts

#### Ansible Version:

#### Summary:

@mhite
@caphrim007

I can't seem to get Ansible to talk to my F5 (BIG-IP 11.6.0 Build 6.0.442 Hotfix HF6).  I get: `error fatal: [f5ltm1.mydomain.com]: FAILED! => {"changed": false, "failed": true, "msg": "Error: ansible requires the stdlib json or simplejson module, neither was found!"}`
[code]

[2016-07-20 18:08] avishefi commented on #2009
+1
A flag to fail in case it already exists could help it determining whether it succeeds or not. Also, there should be an option to add the port to a rule without removing it from another one (semanage -m option does this right).

[2016-07-20 20:25] barryib opened #2603 "elasticsearch_plugin - can't install plugin through proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elasticsearch_plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

##### STEPS TO REPRODUCE

Try to install plugin through proxy

[code]

##### EXPECTED RESULTS

Install license plugin

##### ACTUAL RESULTS

[code]

[2016-07-20 21:47] mvk opened #2605 "win_iis_webapplication: overriding upgrade support"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_iis_webapplication
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

running from Ubuntu 14.04
running from: Description:    Ubuntu 14.04.4 LTS
managing: windows 2012R2
##### SUMMARY

the module's script (ps1) assumes old webapplication physical path is present during the script runtime. hence, if it isn

[2016-07-20 22:37] caphrim007 commented on #2602
whats the output if you run the playbook with -vvvv ?

[2016-07-20 22:44] carterfields commented on #2602
ansible@ansible:~$ ansible-playbook f5_test_1.yml -vvvv
Using /etc/ansible/ansible.cfg as config file
Loaded callback default of type stdout, v2.0

PLAYBOOK: f5_test_1.yml ********************************************************
1 plays in f5_test_1.yml

PLAY [loadbalancers] ***********************************************************

TASK [setup] **************************************************

[2016-07-21 00:33] mhite commented on #2602
Seems to be tripping up on the common module import:

https://github.com/ansible/ansible/blob/0a439df4b0a3173868884aa4778fd99ec80b505f/lib/ansible/module_utils/basic.py

[code]

This is a shot in the dark, but what's the difference between:

[code]

Also, do any modules work for you?

[2016-07-21 00:53] caphrim007 commented on #2602
@mhite @carterfields and everyone else, we managed to figure it out. the playbook needed the following

`gather_facts: false`

in it to ensure that its first step was to NOT reach out to BIG-IP to gather facts. There is no JSON library on the BIG-IP until version 12 and 11.6.x was in use in this case.

[2016-07-21 02:38] samijuvonen commented on #2178
I ran into this as well.
It only affects Environment groups, other groups (like "@Administration Tools") do get installed.

[2016-07-21 06:23] #2575 closed

[2016-07-21 07:29] galkinrost opened #2608 "Full service url for consul health checking"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
consul

##### ANSIBLE VERSION

[code]

##### SUMMARY
When we register health checking with a path in the `http` option, e.g. `http: /ping`, consul fails with message `Get /ping: unsupported protocol scheme ""`. But if we set full url `http: http://{{service_address}}:{{service_port}}/ping` it`s ok. How about building a full service url before

[2016-07-21 08:38] d3v1an7 opened #2610 "osx_defaults "Invalid value. Expected value to be an array""
##### ISSUE TYPE
- Bug Report [or]
- Documentation Report
##### COMPONENT NAME

osx_defaults
##### ANSIBLE VERSION

[code]

Also had issue on 2.1.
##### CONFIGURATION

Playbook level ansible.cfg

[code]
##### OS / ENVIRONMENT

10.11.5
##### SUMMARY

When attempting to interface with an array, I get the error: `Invalid value. Expected value to be an array`.
##### STEPS TO REPRODUCE

Copy code from

[2016-07-21 18:13] mhite commented on #2602
Ah, good catch. I was wondering why the setup module was bombing out.

The example playbooks in the module documentation could definitely be better. For example, the example playbook doesn't demonstrate using an actual load balancer from the inventory to drive what gets passed to the bigip_facts server parameter. Additionally, disabling of implicit Ansible fact gathering would be good to add also

[2016-07-21 19:17] nitzmahone commented on #2580
Which Powershell version are you using this with? There are some bugs in WinRM/Powershell around job memory quotas on Win7/2008R2 that could cause this behavior...

[2016-07-21 20:27] odyssey4me opened #2612 "lxc_container: provide option to make automatic container restarts optional"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When the container_config is changed (and some other options are implemented), the module actions a container restart. It would be great if that behaviour could be optional so that it is possible to use handlers/tasks to action a re

[2016-07-21 20:29] odyssey4me commented on #1857
👍

[2016-07-21 20:52] basictheprogram commented on #2580
I should have added this version in the first bug report.

[code]

[2016-07-21 21:07] javadevmtl opened #2613 "New source parameter for win_feature is broken."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_feature

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The new parameter Source that was added to win_feature in 2.1 doesn't seem to be optional. Existing playbook would run fine under 2.0.2.0.

##### STEPS TO REPRODUCE
Same playbook works fine under older version.
[code]
Notic

[2016-07-22 04:37] jhawkesworth commented on #2613
Hi.
I'm pleased to say this is already fixed in latest devel and 2.1.1 release candidates.
If you would like to try the latest 2.1.1 release candidate, instructions for installing it can be found here:
https://groups.google.com/forum/#!topic/ansible-devel/sRwwjub5HDQ

[2016-07-22 04:37] #2613 closed

[2016-07-22 10:45] nathanwebsterdotme opened #2614 "win_iis_webbinding requires 'ip' property to be set despite it being optional"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webbinding

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Running from: OSX El Capitan 10.11.5
Managing: Windows Server 2012 R2

##### SUMMARY
win_iis_webbinding fails run if 'ip' property isn't set.  This worked in Ansible 2.0.0.2.

##### STEPS TO REPRODUCE
Run a play using win_iis_webbinding witho

[2016-07-22 10:48] nathanwebsterdotme commented on #2614
Workaround is to set the following property:
`
ip: '*'
`

[2016-07-22 12:35] gadelkareem opened #2615 "Yum module is very slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Vagrant box "centos/7" with vagrant-vbguest plugin
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
Yum module slows down or hangs when provisioning vagrant.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Takes less than 1 min to complete on cli or using the command mo

[2016-07-22 14:16] jhawkesworth commented on #2614
Hello,

Thanks for this.  I'm pleased to say this is fixed in latest devel and 2.1.1 rc3.

If you would like to try out the release candidate there are instructions for installing it here: https://groups.google.com/forum/#!topic/ansible-devel/sRwwjub5HDQ

Since a fix has been made, and will be in the next release, I'm going to close this issue.

[2016-07-22 14:16] #2614 closed

[2016-07-22 14:20] timothyclarke commented on #2061
It's a host not found / unable to connect error.
You're unable to connect to the netscaler on port 80 or 443 and so there is no response content  (hence the NoneType).
As I hit the same issue while adding "graceful" functionality, so I added some error handling for this in https://github.com/ansible/ansible-modules-extras/pull/2327

[2016-07-22 14:32] drabo opened #2616 "blockinfile delete last line in file if marker is set empty"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

blockinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Manager: either Cygwin or Debian 8.5 running Ansible 2.1 updated
Remote: Redhat 6.8 with python 2.6.6
##### SUMMARY

##### STEPS TO REPRODUCE

If the marker parameter is set empty ("") then the block of text written at EOF will overwrite the last line.

[2016-07-22 17:28] nitzmahone commented on #2580
Yep, very likely [this issue](https://support.microsoft.com/en-us/kb/2842230)\- installing the hotfix or upgrading to PS4/PS5 should fix it. Please try one of those and update/close the issue accordingly. Thanks!

[2016-07-23 07:14] samhamilton opened #2617 "Add proxied support to CloudFlare"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloudflare_dns.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I would be really great if you can add support for the CloudFlare "proxied" flag, so that you can set true/false flag on creation and/or update of records

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
This would turn o

[2016-07-23 07:48] basictheprogram commented on #2580
Upgrading to Powershell 4.0 fixes this problem. I can also confirm Powershell 5.0 fixes the problem as well.

Thank you for the help.
Closing this issue.

[2016-07-23 07:48] #2580 closed

[2016-07-23 15:39] jctanner commented on #2448
This is covered by https://github.com/ansible/ansible-modules-core/pull/3976, correct?

[2016-07-23 15:39] #2448 closed

[2016-07-24 15:47] sherstobitov commented on #2610
Same problem

[2016-07-25 08:59] akvadrako commented on #1746
This would be nice to have since VPC peerings must be maintained manually, it makes sense to also maintain routes between peered VPCs manually.

[2016-07-25 16:24] dialt0ne opened #2618 "s3_bucket with policy parameter not idempotent"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When specifying a `policy` parameter to the `s3_bucket` module and a list of AWS principals are included in the policy, the task is always updating the bucket policy because AWS does not return an ordered list.
##### STEPS TO REPRODUC

[2016-07-25 18:45] borgstrom commented on #1813
I've just run into this as well.  Any movement on either PR @bcoca or @trinitronx?

Or is there any work around?

[2016-07-25 19:29] alikins commented on #2608
Could you provide a sample playbook that would use this feature?

The doc examples at http://docs.ansible.com/ansible/consul_module.html look like

[code]

Should work (if not, that's a bug in docs or code...)

EDIT: needs_info

[2016-07-25 19:34] alikins commented on #2615
Rough approximation of forever? 2min? 10min? a day?

[2016-07-25 19:42] gadelkareem commented on #2615
I think the max I left it running was over 30 min. I also tried it with_items and got the same problem.

[2016-07-25 20:31] alikins commented on #2610
Looking at that code, I'm not sure the example references from the docs could ever work.

(I apologize for all the weird 'value of the type value string' nonsense below, but it's kind of a weird module in that regard. I doubt this will make sense to me in a day either...)

The ansible arg spec type of the modules 'value' argument is None. So ansible won't ever attempt to convert the python value o

[2016-07-25 21:00] alikins commented on #2616
An example of the line before EOF getting clobbered as mentioned in report:

[code]

[2016-07-25 21:46] alikins commented on #2618
Interesting. The logic for comparing current_policy and new_policy in _create_bucket is relatively naive, but would mostly work assuming consistent ordering, but alas that is missing in this case.

Not sure what the module could do here that wouldn't potentially cause other problems. It could force a sort on the Principals and compare that, but that assumes that the ordering doesn't matter.

But t

[2016-07-26 03:22] wangsha commented on #2487
+1

[2016-07-26 13:51] dialt0ne commented on #2618
In response to my private AWS support ticket, I was given the answer:

They also referred to this link: http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-denyallow where it states "The order in which the enforcement code evaluates the policies is not important." implying that ordering doesn't matter for any of the lists in a bucket policy. I have

[2016-07-26 17:03] alexpanov commented on #1343
I will attempt to implement the feature. If I do not come back with the results after 1 week, then it means I failed.

[2016-07-26 19:57] olbohlen commented on #2415
a very quick hack of course is in zfs.py:

[code]

this will bail out if the pool version is matched to a string "-"...

[2016-07-27 02:03] d3v1an7 commented on #2610
Hi @alikins, confirming this did work with a previous version of Ansible. I believe I was enforcing Ansible 2.0 when working on this last, as that was the minimum version required for the `osx_defaults` module.

Not sure if helpful, but here is an actual example of how I was using the module:

**Vars**

[code]

**Role**

[code]

[2016-07-27 03:31] badial opened #2624 "Win_firewall is not working with ansible 2.0.0.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_firewall_rule

##### ANSIBLE VERSION

[code]

##### SUMMARY

Win_firewall is not working with ansible 2.0.0.2

##### ACTUAL RESULTS
[code]

[2016-07-27 07:13] archonik commented on #2615
@gadelkareem Try using with state=present instead of state=latest otherwise it really takes forever on slower internet connection. Also with state=latest the network usage is really high (it can generate 200MiB/s traffic)

Or just use enablerepo or disablerepo for specific repos only with state=latest

[2016-07-27 07:32] gadelkareem commented on #2615
I don't think it is a connection problem the command slows down only with the yum module.

[2016-07-27 16:46] rquadling commented on #2615
I'm having the same issue.

In trying to do things by hand, I found that `--disableplugin=fastestmirror` worked for me.

I'm a novice at this and I don't know how to have that parameter mixed into my scripts/process.

[2016-07-27 16:50] rquadling commented on #2615
As an indicator, running `yum install -y --enable-repo=remi-php70 php-pdo-dblib` takes around 5 minutes to get from `'Loading mirror speeds from cached hostfile'` to the next line.

Whereas with `yum install -y --enable-repo=remi-php70 php-pdo-dblib --disableplugin=fastestmirror` is as fast as near instant.

[2016-07-27 16:55] rquadling commented on #2615
The thing I can't find in the code base I'm working on is a shell command to run yum. Instead it is like this

[code]

[2016-07-28 12:15] gadelkareem commented on #2615
I found out that the problem is with the vagrant box "centos/7" because after reloading it, Yum worked normally.

[2016-07-28 15:57] font opened #2629 "Support dnf autoremove"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

- dnf
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Managing Linux
##### SUMMARY

At times it is necessary, particularly for cleanup plays, to remove all unneeded packages that were originally installed as dependencies. Currently this can be done via a `command: dnf -y autoremove`. However, it would be best to incorporate it into th

[2016-07-28 16:01] rquadling commented on #2615
So could be my downloaded base image? `puppetlabs/centos-7.2-64-nocm`. Being told it is upto date.

Anyway, deleting base image and re-downloading. Not hugely confident that's the issue. But, we shall see!

[2016-07-28 16:12] #2021 closed

[2016-07-28 17:56] igor-raits commented on #2629
good idea!

[2016-07-28 17:57] igor-raits commented on #2629
needs_contributor

[2016-07-28 18:08] jctanner commented on #322
Closing due to submitter timeout.

[2016-07-28 18:08] #322 closed

[2016-07-28 18:29] bcoca commented on #770
cc @Shrews @emonty

[2016-07-28 19:34] #777 closed

[2016-07-28 19:53] #1141 closed

[2016-07-28 20:49] jctanner commented on #2177
needs_info

[2016-07-28 21:34] #2177 closed

[2016-07-29 06:34] dreamcat4 commented on #1141
Sorry I didn't realize anything was directed at me / waiting for an answer. Yeah its fine... the fix worked great no problems.

[2016-07-29 10:12] krzysztof-magosa commented on #2046
See #2000

[2016-07-29 14:15] akvadrako opened #2637 "ecs_service module should require an ARN"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ecs_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing relevant
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The ecs_service module accepts a task definition in the form "family:revision", however AWS always returns an ARN, at least when the revision is specified. Because this module compares strings, it will always try to update th

[2016-07-29 16:05] stevenscg commented on #2256
I wanted to add that this is still an issue with ansible 2.1.1.0 but also that I see the error with known good librato credentials vs the OP.

With 2.1.1.0, I get the same error response and corresponding playbook failure, but the annotation is actually created with Librato.

I can revert back to 2.0.1.0 with the same credentials and have no issues and correct operation.

[2016-07-31 19:17] anryko opened #2641 "ecs_taskdefinition bug when looping with_items"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ecs_taskdefinition.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running on: OS X El Capitan
Managing: aws esc
##### SUMMARY

When using module ecs_taskdefinition in an ansible loop (with_items), all item<dict> values are converted to <string>. This causes ecs task definition validator to break the module on submi

[2016-07-31 19:33] casperbakker commented on #2256
Yep, I also still have this same issue. I disabled the Librato annotations for now, but it is very annoying.

A fix would be welcome.

[2016-07-31 20:33] xen0l commented on #2415
The fix is located at https://github.com/ansible/ansible-modules-extras/pull/2642. OpenZFS used to use version 5000 and uses "-" now. I added both checks.

[2016-08-01 10:07] Sodki commented on #2084
Maybe I'm doing something different, but this works:

[code]

Could it be the specification of the security groups?

[2016-08-01 12:35] t-v commented on #2624
I believe this issue has also been resolved_by_pr #2432
Otherwise, for extra testing, could you give me the task you were trying to run?
needs_info

[2016-08-01 13:32] Shrews commented on #770
@bcoca @emonty @vegaed I don't really understand this request, but I'd be happy to take a look at any new module submitted by someone from the community that might actually understand what is needed/requested here.

[2016-08-01 13:49] emonty commented on #770
I think I _do_ understand the request - but it's kind of a _very_ difficult feature to add, as OpenStack doesn't have a cross-project resource tagging feature that can be depended on. Shade would need to grow the ability to grow a method for adding/modifying a metadata tag on an unspecified object type just based on UUID, and would then need to list all of the known object types that accept metada

[2016-08-01 13:52] vegaed commented on #770
When I first thought of this it was to solve the problem of adding tags to instances and then that can be used with dynamic inventory to better align with how we do things with aws. Dropping to the cli is what we ended up doing but that can be frustrating.

Here is the cli reference:
http://docs.openstack.org/cli-reference/nova.html#nova-meta

[2016-08-01 13:56] emonty commented on #770
So you're only talking about adding metadata to servers in nova and not to arbitrary objects? That's much easier. Do you need it to be a second module vs. the meta argument to os_server that exists now?

[2016-08-01 18:22] mjschultz commented on #2543
needs_info

I'm having a hard time reproducing this against `ansible==2.0.1.0`. I can reproduce it against `ansible==2.0.0.1` (and `ansible==2.0.0.2`), but the [`acc51c2`](https://github.com/ansible/ansible-modules-extras/commit/acc51c29447b27cf2266437ce019c83f06ddee7b) fix should have landed in `ansible==2.0.1.0`. Indeed that is the point at which the bug no longer manifests.

@shencan can you sh

[2016-08-01 19:10] cloudnull commented on #1998
Sorry for the crazy late reply. @nitzmahone I think this issue should be closed however I do agree with @evgeni that we should look document this so that folks know what to expect. Sadly I'm a little wrapper up right now, but I will add this to my to-do list as soon as I get a chance.

[2016-08-01 19:25] trondhindenes commented on #2624
I'm also seeing an issue with the current version of this module.
I'm getting an error that the property "service" doesn't exist on the object. This seems related to the parsed output of netsh advfirewall, where there is no property called "service", while the compare object has this (set to any, which is coming from the parsed ansible module input). Can be tested with:

[code]

In my case, it fai

[2016-08-01 19:49] trondhindenes opened #2646 "win_nssm idempodence problems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION
2.2.0 (devel as of August 1st 2016)
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible node: Ubuntu 14.04
Target node: Windows Server 2012R2

##### SUMMARY
Might be an edge case, but it showed up as we switched directories for our Logstash clusters.
If win_nssm finds an existing service and reconfigures i

[2016-08-01 20:00] cloudnull commented on #690
Hello all, If you have a moment to test PR #2647 review and feedback would be greatly appreciated.

[2016-08-01 22:07] jhawkesworth commented on #2646
That reminds me, I had a similar issue when setting up solrcloud nodes. In the end I wound up using win_regedit to set most of the service parameters.

[2016-08-02 05:39] RichVel commented on #1375
See #1498 for the fix to this issue and #1675, made early this year - unfortunately not merged yet.

[2016-08-02 08:50] jalbstmeijer opened #2650 "2.1.1: ec2_vpc does not update/change routing table tags"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
inventory = ~/inventory/production
host_key_checking = False
log_path = ~/ansible.log

[ssh_connection]
pipelining = True

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Before with Ansible 1.9.6 and the patch mentioned here: http://grokbase.com/t/gg/ansible-project/149pfx39dg/tagging-ec2-vpc-route-tables-and-g

[2016-08-02 09:27] rija opened #2651 "known_hosts doesn't support entries with ssh port specified"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

known_hosts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT
- OS where I run ansible from: Mac OS X 10.11.6 El Capitan
- OS being configured: Ubuntu 16.04 LTS 64-bits on a Digital Ocean Droplet
##### SUMMARY

When the known_hosts file has entries is in the format below,
known_hosts module is unable to remove these en

[2016-08-03 01:00] oddissyus commented on #1989
Is there any work around on this for now?

I want to add a route (using IGW) to internet to default/main table, then add EIP to a host and update it. and then deallocate EIP and remove the internet route.

What is the best way to get access to the default/main table ID and accomplish the above, in the presence of this issue?

[2016-08-03 15:18] jhiggins opened #2658 "S3 Maven repos with a . in the bucket name generates invalid urls."
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

s3_bucket module
##### ANSIBLE VERSION

N/A
##### SUMMARY

I have a valid bucket with a maven repository:

$ aws s3 ls s3://maven.tigerteamconsulting.local/
                           PRE release/
                           PRE snapshot/

And when I use the following task:
- name: install application
  maven_artifact:
    group_id: com.tigerteamco

[2016-08-03 16:25] gundalow commented on #2542
Hi,
Myself and @privateip have discussed this. The Core Ansible Team don't have any plans to implement this so we would be looking towards the community.

Once you, or someone else, has something basically working free free to join the Network Meeting - https://github.com/ansible/community/blob/master/MEETINGS.md

[2016-08-03 16:36] gundalow commented on #2542
Also we discussed this module in the Networking Meeting on 20160803 to make people aware that if they were interested in milkrotik routeros support they could assist, there wasn't any interest at this point.

[2016-08-03 17:09] OJezu commented on #1794
Seems to be fixed in 2.1.1.0

[2016-08-04 07:15] ThePixelDeveloper commented on #1503
This is fixed by https://github.com/ansible/ansible-modules-extras/pull/1570

[2016-08-04 08:55] xen0l commented on #2415
ping @johanwiren / @bcoca

[2016-08-04 09:30] johanwiren commented on #2415
Sorry, vacation mode here. Will have a look this evening.

[2016-08-04 12:49] mdorenkamp opened #2663 "Using win_regedit with DWORD values always results in "changed" state"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_regedit
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

using win_regedit with dword values always results in "changed" state
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

after second run it should be in "ok" state
##### ACTUAL RESULTS

after second run still "changed" - though the value

[2016-08-04 13:15] mcv21 commented on #2651
The support for ssh-keyscan is new (and not written by me); I think you're right that non-standard ports are not properly supported, although I think this shouldn't matter for hashed known_hosts files, since the port "inside" the hash, as it were?

[2016-08-04 14:03] jctanner commented on #2616
cc @yaegashi

[2016-08-04 14:05] juju4 opened #2664 "lxc_container: not supporting lxc 2.0/lxd - ubuntu xenial ?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxc_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Orchestrator: Ubuntu Trusty LTS
Target: Ubuntu Xenial LTS

##### SUMMARY
Creating container is not working. Command is not found

##### STEPS TO REPRODUCE

Orchestrator
[code]

Target
[code]

in lxc2/lxd, creation of container is not done with lxc-cr

[2016-08-04 14:38] #2615 closed

[2016-08-04 14:41] #2650 closed

[2016-08-04 14:46] #2583 closed

[2016-08-04 14:47] #2581 closed

[2016-08-04 14:48] #2562 closed

[2016-08-04 14:51] chrishoffman commented on #2555
@shane-walker

[2016-08-04 14:58] #2514 closed

[2016-08-04 15:02] mcv21 commented on #2513
I think this is correct behaviour by ssh, and you should become the user whose known_hosts file you are editing.

[2016-08-04 15:17] #719 closed

[2016-08-04 15:50] #2480 closed

[2016-08-04 15:54] mcv21 commented on #2489
I'm not sure this behaviour is meant to work? I mean, in general, if you run multiple ansibles trying to write to the same thing at the same time, I don't think there are guarantees that the right thing will result...

[2016-08-04 15:54] #2400 closed

[2016-08-04 16:35] mjschultz commented on #2445
needs_info

@jcst I've tried this with `boto==2.37.0`, `boto==2.38.0`, and `boto==2.39.0` against `ansible==2.1.0.0` and `ansible==2.1.1.0` and haven't been able to reproduce it yet.

Can you post what happens if you open a python shell in the same environment that ansible is running in and run the following:

[code]

My output looks something like this:

[code]

Thanks!

[2016-08-04 17:24] jmehnle commented on #2489
But I'm not running multiple Ansibles. I'm running only one. :-)

[2016-08-04 18:10] mgruener commented on #2383
Sorry for the late reply, I thought I already responded to this issue.

As the original author of this issue (@bhardin) did not provide any further information on how the module should behave differently than it does right now, I consider this resolved_by_pr #2470

[2016-08-04 18:57] #2336 closed

[2016-08-04 19:05] #2383 closed

[2016-08-04 19:11] #2230 closed

[2016-08-04 19:29] dj-wasabi commented on #2159
!needs_info

I agree. The current python module is not suitable anymore.

[2016-08-04 19:34] chrishoffman commented on #2128
@shane-walker

[2016-08-04 19:37] srgvg commented on #2137
Only finding out about this issue right now after an ansibot mail. Putting it on my todo list ASAP...

[2016-08-04 19:38] #2068 closed

[2016-08-04 19:44] indrajitr commented on #2376
@Andrei-Pozolotin Any recommended way of handling this via `pacman` flag (or return code) without resorting to parsing output of `pacman -Sy`?

[2016-08-04 19:44] ravibhure commented on #2096
Its been fixed in #1385
Thanks @ggermis and @gyurco

[2016-08-04 19:48] #1947 closed

[2016-08-04 19:53] #1894 closed

[2016-08-04 19:54] d3prof3t commented on #2068
Hi @nerzhul

I did open this issue at https://github.com/ansible/ansible-modules-core/pull/3617, and I have already got the PR accepted. Although it hasn't been merged yet. But it has been reviewed by @Jmainguy and @gregdek . Please refer to it for more info.

[2016-08-04 19:55] #1887 closed

[2016-08-04 19:58] #1860 closed

[2016-08-04 20:04] ovcharenko commented on #2559
resolved_by_pr #2666

[2016-08-04 20:16] #2559 closed

[2016-08-04 20:24] indrajitr commented on #1921
Have been sitting on the fence on this. `brew bundle` won't work by default unless bundle repo is tapped (via `brew tap Homebrew/bundle`). So far we haven't taken that direction with the core homebrew module. Instead (e.g., with `brew cask`) we have a completely separate module altogether for a `brew` subcommand.

Given that homebrew is gradually splitting out most subcommands, packages etc. as se

[2016-08-04 20:25] ovcharenko commented on #2065
@alexlist This should be easy patch. Will add after PR #2666 resolved.

[2016-08-04 20:34] jctanner commented on #1678
@taraslayshchuk since this affects ansible documentation, could you please re-file it at https://github.com/ansible/ansible/issues ?

[2016-08-04 20:34] #1678 closed

[2016-08-04 20:36] nitzmahone commented on #1678
@taraslayshchuk - nevermind, docs with win_reboot had been written, just hadn't been pushed when you filed this. It's listed normally with the others now.

[2016-08-04 20:39] #1615 closed

[2016-08-04 20:39] #1594 closed

[2016-08-04 20:40] #1563 closed

[2016-08-04 20:42] srgvg commented on #1812
Only finding out about this issue right now after an ansibot mail. Putting it on my todo list ASAP...

[2016-08-04 20:48] anryko commented on #2641
Have identical issue with ecs_service:

[code]

[2016-08-04 20:58] #1342 closed

[2016-08-04 20:58] #1340 closed

[2016-08-04 21:04] #1179 closed

[2016-08-04 21:17] tronicum commented on #1289
I  do not have access to those systems anymore. So you can close it as far it concerns me...

[2016-08-04 21:40] michaeljs1990 commented on #1165
@chachra if you remove the secret as a key does aws_access_key throw an error instead?

[2016-08-04 21:51] ovcharenko commented on #1491
resolved_by_pr #2668

[2016-08-04 21:52] nitzmahone commented on #1886
This would likely also be solved by most of the become stuff I've prototyped for 2.3 (you'd [re]specify network credentials for become that would create an interactive/network session), rather than adding that functionality into the module itself.

[2016-08-04 22:17] jhawkesworth commented on #1140
I think that the 'fix' for this issue is to document the available options, which seem to be either use Kerberos auth delegation or workaround using an http server to fetch files from.

[2016-08-04 22:18] ghost commented on #2500
@lowescott Can you check this again on Ansible >=2.1.1.0?

[2016-08-04 22:24] jhawkesworth commented on #1142
Now that pywinrm 0.2.0 is available, file transfer has been speeded up. @dreamcat4 can you upgrade to pywinrm 0.2.0 and see if this is still an issue for you, please?

EDIT: needs_info

[2016-08-04 22:33] #770 closed

[2016-08-04 22:39] #460 closed

[2016-08-04 22:39] #355 closed

[2016-08-04 22:41] #320 closed

[2016-08-04 23:07] #1491 closed

[2016-08-04 23:40] johanwiren commented on #769
resolved_by_pr #1378

[2016-08-04 23:46] #769 closed

[2016-08-05 02:31] indrajitr commented on #1265
Opened PR #2672. Would appreciate review and feedback.

[2016-08-05 04:34] ravibhure commented on #1831
Thanks @mrlesmithjr
Fixed in #1385

[2016-08-05 04:36] ravibhure commented on #523
Fixed in #1385

[2016-08-05 04:51] robinro commented on #878
resolved_by_pr #2108

[2016-08-05 04:54] #878 closed

[2016-08-05 04:56] robinro commented on #2171
resolved_by_pr #2108

[2016-08-05 05:05] #2171 closed

[2016-08-05 06:05] mrlesmithjr commented on #1831
Awesome thanks @ravibhure

[2016-08-05 07:04] xrow commented on #1112
@robynbergeron I am just wondering. Why is this module in extras and not in core? Isn`t firewall something essential to a OS?

[2016-08-05 07:11] t-v commented on #2424
resolved_by_pr #2432

[2016-08-05 07:15] t-v commented on #2036
could you try out pr #2432 ?
I believe that one fixed it, but I am currently unable to test it.
Let me know if it fixed it and otherwise, I'll test it Monday.

[2016-08-05 07:17] #2424 closed

[2016-08-05 07:20] waddles commented on #2581
This issue has already been fixed in ansible 2.2. For ansible 2.1, the fix is to comment line 702 of docker_container.py to remove dns_servers from the `create_params{}` object.

[code]

[2016-08-05 07:40] LinusU commented on #1527
Pull request sent, #2673

[2016-08-05 07:42] LinusU commented on #2014
Isn't that possible with the following config?

[code]

[2016-08-05 07:43] rija commented on #2651
Hi, thanks for your reply.
It would make sense (and makes the problem moot)  if the port was inside the hash, but it doesn't seem to be the case as you can see in my example wish I repeat below (6547 is the port):

[code]

also the fact that ssh-keyscan omit the port altogether if the port is 22 doesn't help as it creates inconsistencies.

At the moment, my workaround is to not use known_hosts and

[2016-08-05 09:21] jtyr commented on #2384
I still need to find time to implement this. Hopefully I will have some time next week.

[2016-08-05 09:35] dreamcat4 commented on #1142
Hi there @jhawkesworth. Checking my system it seems that I'm already on prwinrm v 0.2.0 since the last couple of weeks. Along with the ansible devel branch of about 2 week ago.

The system as its currently setup, will manage doing about 3 iterations every 10 seconds. Or 6.5 every 20 seconds.

SO then I downgraded pywinrm back to v 0.1.1 and tried again. The approximate speed was also about 3 itera

[2016-08-05 10:43] manuel-sousa commented on #1494
Sorry for a real late reply only got the notification yesterday. Could either of you please provide details on the task you're running as well as python and requests version? I'm currently using this and haven't had a issue when running the task twice.

I'll be out the next weeks but will look into it after. The error seems to be on r.json() but that shouldn't be an issue, since requests response

[2016-08-05 10:51] trondhindenes commented on #1140
@jhawkesworth I tend to agree. The second-hop issue keeps coming up in the forums as well, so maybe someone should just sit down and explain what works and what doesn't. Then module help could just link that page.

[2016-08-05 11:51] trondhindenes commented on #1433
Pretty sure the problem here is that we're performing domain lookups, and "IIS APPPOOL" isn't a valid domain. I'll verify + PR the necessary changes

[2016-08-05 12:08] UnderGreen commented on #1789
It's a format of netif argument from Proxmox VE API for version 3. Version 4 don't have netif param(maybe it uses alias for 'net[n]' param). Need fix for version 4.

[2016-08-05 12:10] UnderGreen commented on #1542
@qw1mb0 It's not a problem with proxmox module(usually). It's a problem with requests python library.

[2016-08-05 12:11] UnderGreen commented on #1542
Need updating to the latest version of requests.

[2016-08-05 12:12] ryansydnor commented on #1379
This should be closed given https://github.com/ansible/ansible-modules-extras/pull/1409 was merged.

[2016-08-05 12:12] #1379 closed

[2016-08-05 12:21] manuel-sousa commented on #1985
resolved_by_pr #2674

[2016-08-05 12:22] manuel-sousa commented on #1494
needs_info

[2016-08-05 12:24] #1985 closed

[2016-08-05 12:34] trondhindenes commented on #1433
@aensidhe I realize this is way overdue, but the necessary changes has been implemented in win_acl in order to lookup iis AppPool identities: https://github.com/ansible/ansible-modules-extras/pull/2675

[2016-08-05 12:36] trondhindenes commented on #2391
Agreed, we can add that.

[2016-08-05 12:46] jhawkesworth commented on #2663
@mdorenkamp Please try ansible 2.1.1 as I believe this issue is fixed in 2.1.1 following a fix I made to this module.

EDIT: needs_info

[2016-08-05 12:58] refinedcranberry commented on #2663
nope, its still not working
one thing i observed is that ansible --version returns 2.1.0.0 though dpkg -l returns 2.1.1.0-1ppa~xenial

[2016-08-05 13:18] trondhindenes commented on #2391
PR #2677

[2016-08-05 13:26] #1527 closed

[2016-08-05 13:58] toxeek opened #2679 "ovirt module (start Vm) used by Ansible 2.2.0 and Python 2.7 seems broken"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### COMPONTENT NAME
[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-05 13:58] toxeek commented on #2679
My temporaty solution due to the error being
UnboundLocalError: local variable 'nic' referenced before assignment

# vim /usr/lib/python2.7/site-packages/ansible/modules/extras/cloud/misc/ovirt.py

(GOTO: line 331)

[code]

[2016-08-05 14:29] mjschultz commented on #1421
resolved_by_pr

This should have been fixed in https://github.com/ansible/ansible-modules-extras/pull/1565 which I believe was part of the `ansible==2.0.1.0` release (it's hard to tell since I don't see the release tags applied to the revision).

[2016-08-05 14:37] #1421 closed

[2016-08-05 14:49] jctanner commented on #2389
cc @kbrebanov

[2016-08-05 14:54] bcoca commented on #2679
@toxeek  could you please test the patch above? I'm not setup to use ovirt so I cannot test myself

[2016-08-05 16:23] aensidhe commented on #1433
@trondhindenes many thanks! We are using released versions of ansible, so I'll test as soon as I can. If we can use another version as stable enough - I can test earlier :)

[2016-08-05 17:16] nnovikov commented on #1984
We switched to lxd, please close.

[2016-08-05 17:16] #1984 closed

[2016-08-05 17:56] sgargan commented on #2154
closing this issue as the pr with the fix has been merged resolved_by_pr #2183

[2016-08-05 18:16] sgargan commented on #2104
Going to close this for the time being @Etherdaemon feel free to comment if you'd like to discuss further. marking 'wontfix' for ansibot

[2016-08-05 18:25] sgargan commented on #1316
Nothing has changes with the consul API that would allow this. Will leave this open to track.

[2016-08-05 18:26] #2104 closed

[2016-08-05 20:34] scottslowe commented on #2500
@stygstra I am currently out of the office and can't test it, but as soon as I get back into my office I will test this again and report back the results.

[2016-08-05 21:34] jhawkesworth commented on #1233
I know this is very old now but just going through windows-related issues - @kmbharath has submitted a fix for this https://github.com/ansible/ansible/issues/16708 - if you are still interested please could you test that PR @xpicio ?  If not could you close this off?

Many thanks,
Jon

[2016-08-05 22:44] toxeek commented on #2679
@bcoca: I have tested the patch and seems to work on the version of Ansible and Python mentioned on CentOS 7.

[2016-08-05 23:02] #2679 closed

[2016-08-06 02:31] wimnat commented on #915
Tested this with the latest devel branch and i can not reproduce.

[2016-08-06 02:46] wimnat commented on #1165
bug_resolved

This would of only occurred before https://github.com/ansible/ansible-modules-extras/commit/89f8e249fa7a2975d49ae5cdd86c853d734f6a2e#diff-b0df3df37964002b69da38a58e24514e back in Oct 2015.

It is no longer an issue in current devel

[2016-08-06 02:51] wimnat commented on #986
resolved_by_pr

https://github.com/ansible/ansible-modules-extras/pull/2134

[2016-08-06 02:55] #1165 closed

[2016-08-06 02:55] #986 closed

[2016-08-06 03:11] wimnat commented on #1537
@caseylucas I am going to mark this as resolved by https://github.com/ansible/ansible-modules-extras/pull/1511.  If it's still a problem with the latest devel please file a new bug report.

resolved_by_pr

[2016-08-06 03:15] #1537 closed

[2016-08-06 03:19] wimnat commented on #1897
@groorj That is expected behavior, no?

notabug

[2016-08-06 03:35] wimnat commented on #2127
resolved_by_pr ansible/ansible#15468

[2016-08-06 03:36] #2127 closed

[2016-08-06 05:35] waddles commented on #2581
On a side note, I also had to comment line 714:

[code]

The error I was getting was:

[code]

[2016-08-06 07:51] indrajitr commented on #1345
As discussed with @anthonygreen in #1346, given that homebrew cask is being subsumed into homebrew, let's wait till the transition of Casks APIs.

[2016-08-06 10:26] gerva opened #2681 "Undocumented options in network/a10_server.py"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
network/a10_server.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the a10_server module,```write_config``` and ```validate_certs```are valid options but the documentation does not mention them.

[2016-08-06 12:58] trondhindenes commented on #2391
Closing this, as the corresponding PR is merged in.

[2016-08-06 12:58] #2391 closed

[2016-08-06 13:47] kbrebanov commented on #2389
I'll look into this. Looks possible by checking if it's a virtual package and if so, loop thru each dependency of the package and see if any of them need to be upgraded.

[2016-08-06 19:07] jeromeza opened #2684 "firewalld - Permission denied: /var/log/firewalld"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- firewalld
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.11
##### SUMMARY

When adding firewall rules it fails and says "Permission denied: /var/log/firewalld". This despite the fact that I can verify i'm root via a whoami lookup.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The rules to be added t

[2016-08-06 19:08] indrajitr commented on #1905
Opened PR #2682. That should address this among other things. Would appreciate review and feedback.

[2016-08-06 19:11] indrajitr commented on #1265
resolved_by_pr #2672

[2016-08-06 19:12] indrajitr commented on #1905
resolved_by_pr #2682

[2016-08-06 19:16] indrajitr commented on #1921
need_info
Mainly from @ansible/core team on creating `module_utils.homebrew` to extract out common functionalities and avoid multiple modules with lots of code duplicates.

[2016-08-06 19:18] indrajitr commented on #2376
needs_info

[2016-08-06 19:19] #1905 closed

[2016-08-06 19:19] #1265 closed

[2016-08-07 04:24] ksylvan opened #2687 "blockinfile creates a file without ending newline"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No overrides

##### OS / ENVIRONMENT
Tried this on Mac OS 10.11.16 (latest El Capitan) and Fedora Linux with the same results.

##### SUMMARY
`blockinfile` module produces a file with no ending newline.

##### STEPS TO REPRODUCE

Put this in `foo.yml`:

[code]

Now run:

    a

[2016-08-07 08:21] johanwiren commented on #2415
#2642 looks OK to me. @bcoca, can you mark it ship_it if you approve of the change too.