[2015-09-03 14:07] alxgu commented on #878
I guess this idea would break the idempotency of the module, but the apt module has this option already.
What is your opinion @abadger ?

[2015-09-03 17:12] athak commented on #475
This issue is still present in Ansible 1.9.2. Had to revert to Ansible 1.6 (from package) to be able to use the pkgin module.

[2015-09-03 18:50] cloudnull commented on #887
Hi @quattro1982 ,

Couple of questions:
- What version of ansible were you using and how was it installed?
- is the container content being dropped into the `/mnt/lxc2/` directory or somewhere else?
- is this same failure happening with other templates?

Thanks for the report and with a bit more data I'd be happy to dive in and see what I can do to make it better.

[2015-09-03 23:32] abadger commented on #857
Oh... You're on 1.9.2?  Try this:

[code]

Sorry, I've been working on devel nonstop for a few weeks and so I forgot that anyone might be running releases ;-)

[2015-09-04 08:22] ghost commented on #906
Just to confirm that I received exactly the same error running against the devel branch and updating the line dbhirko mentiond (`cloud/amazon/etc_vpc_igw:136`) fixed my issue too

[2015-09-04 08:43] billietl opened #919 "nmcli state "changed" when it fails miserably"
Hi,

when I run this playbook sample (using the extra-verbose -vvvv option)

[code]

I get the following result

[code]

First, it looks like nmcli changed recently and this module needs an update. Second, state for this task should be "failed", so people (like me) won't loose time wondering why new interfaces won't show.

PS : environment : vagrant box running ubuntu trusty

[2015-09-04 12:29] sgzijl commented on #906
Same issue here. Proposed fix works here.

[2015-09-04 13:13] chrrrles commented on #899
Initial work on this feature can be seen here:

https://gist.github.com/chrrrles/c392dd5bcdcba7d8259d

Success for finding the esxi host and acquiring a service ticket, but getting broken pipe from the direct HTTP connection in my test environment.  Working on that.

[2015-09-04 13:44] evanccnyc commented on #915
What version of Ansible?

[2015-09-04 13:54] jaroslavl1 commented on #915
ansible 1.9.2

I used route53_zone.py from ansible-modules-extras branch "devel", so the latest available

Other modules usually either:
- somehow detect if change it needed (ec2_key, not generated if already exists in amazon - most likely done in amazon api) and don't do anything if not needed
- overwrite old values with new ones

route53_zone results in error because actually aws api reports the

[2015-09-04 14:11] evanccnyc commented on #915
Yeah, out of curosity could you run it on the 2.0 dev branch, it shouldnt make any difference but on the off chance it does.

[2015-09-04 14:15] jaroslavl1 commented on #915
I believe the "remotes/origin/devel" is the 2.0 dev branch you mean or not? This is what I used.

[2015-09-04 14:16] evanccnyc commented on #915
Sorry I meant the full ansible 2.0 dev branch https://github.com/ansible/ansible

[2015-09-04 17:15] michelleperz opened #921 "win_updates expansion"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

win_updates module
##### ANSIBLE VERSION

N/A
##### SUMMARY

To mitigate the risk of pushing out security updates to prod that may not have been tested on dev or staging, it would be nice to have an additional option in this module wherein updates could be applied based on KB#.

[2015-09-04 18:28] abadger commented on #857
@ssenaria Did that work?

[2015-09-05 14:28] ssenaria commented on #857
YES! That did it. Thanks a lot!

[2015-09-05 14:28] #857 closed

[2015-09-05 15:48] wimnat commented on #915
Mentioning @minichate as the module author for input,

[2015-09-07 02:28] bretmartin opened #927 "ec2_eni should allow security groups to be specified by name"
I'm opening this as an issue for discussion before I prepare a pull request. `ec2_eni` has a `security_groups` parameter which takes a list of security group IDs. I want to add support for specifying security groups by name. If I were writing the whole module, I'd probably match the `ec2` parameters of `group` and `group_id` but I assume `security_groups` was chosed to be more explicit and match A

[2015-09-07 03:55] bretmartin commented on #927
I took a whack at this: https://github.com/h3biomed/ansible-modules-extras/commit/be9da023831594318947eb295fb6a4021c2a11d8

But I'm not wedded to doing it this way.

[2015-09-07 12:04] sgzijl opened #931 "route53_zone: duplicate zones if value of zone does not end with a dot"
##### Issue Type:

Bug report.

##### Ansible Version:

2.0 devel

##### Ansible Configuration:

[code]

##### Environment:

AWS & CentOS.

##### Summary:
The route53_zone module creates duplicate zones when the value of zone does not end with a dot. Route53 appends the dot automatically when not defined.

##### Steps To Reproduce:

[code]

##### Expected Results:
Append a dot automatically when n

[2015-09-07 14:37] abadger commented on #894
@maxamillion do you have time to look into what's going wrong here?

[2015-09-07 14:39] abadger commented on #895
@jjahns If you'd care to submit a pull request with the modules someone will be happy to take a look.

[2015-09-07 14:47] abadger commented on #903
Does it work if you switch your key and name parameters?

[code]

[2015-09-07 14:51] abadger commented on #906
dbhirko submitted #918 which was merged a few days ago.  So closing the bug report.  Thanks!

[2015-09-07 14:51] #906 closed

[2015-09-07 15:07] Steffeng5 opened #932 "pkg5 failed if package is installed"
-Solaris 11

When I try to install for example SUNWfont-xorg-core via pkg5 then the first time it is working (because it is not installed)

If it is already installed the command pkg list -- does not know this package name, therefore it tries to install it again. The install command then returns RC 4 and "No updates necessary for this image.", but this is missinterpreted as failed.

I'm not so for

[2015-09-07 19:10] sgzijl commented on #931
The fix could also be something like:
[code]
As is also done in the route53 module...

[2015-09-08 07:38] wimnat commented on #927
I'm not opposed to the PR but from a ideological point of view, I don't see it as necessary.

People seem to treat Ansible as a scripting language to do stuff but I don't see it that way.  I see it as a Desired State Configuration tool.  Therefore, if you were creating a playbook defining an ENI that refers to a particular sec_group, you should also be defining the sec_group itself.  If you did th

[2015-09-08 13:27] bretmartin commented on #927
@wimnat I completely understand your viewpoint and I agree in general. Let me explain my use case a little bit. I have a playbook that defines my VPC and most of the networking-related entities in it, including security groups. I have a separate playbook that provisions EC2 instances.
- I could certainly combine those two playbooks so I could store all the SG IDs from their creation tasks. (I assu

[2015-09-08 13:32] evanccnyc commented on #927
I can see both sides of this argument. I have found times where I would prefer to keep everything in one large desired state configuration, but have had to run one off scripts that I would prefer to have the Security Group name.

I tend towards giving people more options, so if they have to run one off stuff it can be used.

[2015-09-08 17:01] ghost commented on #927
I am guilty of adding security name support to the ec2_elb module so I wouldn't mind having it on the ec2_eni module. The reason this comes in handy from my team's perspective is we have several environments where we use 'static' inventory to build things out. In those cases, we always know the name so names work well.

I can go the other way too as we are currently adding persistence support to o

[2015-09-08 17:13] bretmartin commented on #927
Thanks everyone! I'll give my current work another close look and then PR this.

[2015-09-09 16:02] bcoca commented on #919
From your error and the code, it seems that nmcli is not correctly returning an error, the return code is 0 which means 'success'.

[2015-09-09 16:07] bcoca commented on #927
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop by there, we'd appreciate it.  This allows

[2015-09-09 16:07] #927 closed

[2015-09-09 16:38] maxamillion commented on #894
This appears to fix. https://github.com/analogbyte/ansible-modules-extras/commit/39eb3807f3497fffeea19183691b54489a811239

[2015-09-09 18:34] martingabelmann opened #939 "zypper_repository dont changes repo url"
##### Issue Type: Bug Report

##### Ansible Version: 1.9.2

##### Environment: OpenSuse 13.2

##### Summary:
The module zypper_repository dont changes repositories if the given URL has changed.

##### Steps To Reproduce:
First I added a repo with
[code]
which worked as expected. On the second run nothing changes.

Then we switched  to a http-repo, so I just changed the repo-url:
[code]
but ansible

[2015-09-09 19:48] sgzijl opened #940 "route53_zone: unsupported parameter for module: aws_secret_key"
##### Issue Type:

Bug report.

##### Ansible Version:

2.0 devel

##### Ansible Configuration:

[code]

##### Environment:

AWS Route53

##### Summary:
According to http://docs.ansible.com/ansible/route53_zone_module.html the route53_zone module supports the parameters aws_access_key and aws_secret_key,

When defined, the task fails with:
[code]

##### Steps To Reproduce:

[code]

##### Expected

[2015-09-09 21:45] steynovich commented on #940
Proposed a fix for this issue. It seems that common AWS parameters (such as aws_access_key, aws_secret_key) and aliases are not included when populating the module arguments.

[2015-09-10 09:31] billietl commented on #919
Fair enough for the error code. What about the usage message and the fact nmcli can't work properly anymore ?

[2015-09-10 12:12] visay commented on #137
I have this kind of problem with ansible 1.9.2 too.

**Command**:

`ansible localhost -m npm -a "path=/path/to/my/dir/containing/package-json state=latest"`

**package.json**:

[code]

First run, everything is fine and I get `node_modules` directory, but then I update `package.json` file adding `"grunt-contrib-imagemin": "~0.4.0"` and call `ansible localhost -m npm -a "path=/path/to/my/dir/contain

[2015-09-10 13:37] bcoca commented on #919
we should fix it all, but also need to detect the versions to make sure we are still compatible with other nmcli versions.

[2015-09-10 18:19] feldoh commented on #137
@visay I think that's a separate issue worthy of its own ticket in that it is specifically about updates not working when using a package.json. The original title of this ticket does not relate to your question so it should have its own ticket to get noticed.

[2015-09-10 21:25] MichielDeMey opened #956 "Bug Report: Bower - No such file or directory"
Issue Type: Bug Report
Component Name: bower module
Ansible Version: ansible 1.9.3
Ansible Configuration: Clean (default)
Environment: Ubuntu 14.04.3 LTS, running inside Vagrant

Summary:
The Bower module reports the following error:

[code]

and is configured as such

[code]

That directory however does exist on the machine.
As a workaround I'm using a command with the exact same directory, which

[2015-09-11 01:04] bcoca commented on #940
it seems that it is not loading the shared spec from module_utils/ec2.py

[2015-09-11 01:05] bcoca commented on #940
closed via #948

[2015-09-11 01:05] #940 closed

[2015-09-11 01:42] #894 closed

[2015-09-11 01:55] visay opened #957 "npm module doesn't install new grunt plugin according to package.json update"
- **Issue Type**: Bug Report
- **Ansible Version**: ansible 1.9.2
- **Environment**: Ubuntu Server 14.04 LTS AMD64
- **Summary**: npm module doesn't install new grunt plugin according to package.json update.

**Steps To Reproduce**:

- Create a `package.json` and store it in a directory:

[code]

- Run ansible command to install them

[code]

First run, everything is fine and I get `node_modules`

[2015-09-11 01:57] visay commented on #137
@feldoh OK, here we go #957

[2015-09-11 08:35] varnav opened #960 "Error in slack module if used as the example says"
##### Issue Type:

  - Bug Report

##### Ansible Version:

1.9.2

##### Environment:

CentOS 7

##### Steps To Reproduce:

Use example from docs in your playbook:

[code]

##### Expected Results:

Message is sent to slack

##### Actual Results:

ERROR: msg is not a legal parameter in an Ansible task or handler

[2015-09-11 10:02] rightaway commented on #766
+1

[2015-09-11 13:27] varnav commented on #960
Whiespaces were missing. Oops.

[2015-09-11 13:27] #960 closed

[2015-09-11 19:56] resmo commented on #914
Could not reproduce with devel f91e726bf7e91a8e19e9b97982378cb67ad79de2
target: Debian 9 testing

## check mode run

[code]

## live run

[code]

[2015-09-12 15:18] joaocc opened #970 "Any plans to create a LXD module?"
Hi,
Is anyone working on creating something similar to lxd_container_module but for LXD (http://www.ubuntu.com/cloud/tools/lxd)?

Given LXD's easy of use in scenarios with remote servers behind firewall, it looks very well suited for execution on jumphosts.
Thx

[2015-09-13 04:47] dcbishop commented on #766
+1 from me to. It's kind of painful trying to install xorg for example. I basically have to specify 72 individual packages and that's not maintainable since it might change in the future.

[2015-09-14 16:20] bcoca commented on #970
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: https://groups.google.com/forum/#!forum/ans

[2015-09-14 16:20] #970 closed

[2015-09-15 05:23] prakashsurya opened #975 "pkg5_publisher throws KeyError with unexpected output from `pkg publisher -Ftsv`"
##### Issue Type:

Bug Report

##### Ansible Version:

[code]

##### Summary:

I have a system with the output of publishers listed like so:
[code]

When I try to use the `pkg5_publisher` with the system configured like this, I get the following Python exception:
[code]

Looking at the source, `pkg5_publisher` tries to parse each line from the output of `pkg publisher -Ftsv` and assumes there will

[2015-09-15 06:36] jeinwag commented on #659
I'm currently having the same issue as https://github.com/ansible/ansible-modules-extras/issues/659#issuecomment-120976117. I'm unable to use the ansible module to create a replicated volume.

[2015-09-15 08:52] zfil commented on #694
I've fixed it for 1.9 in https://github.com/ansible/ansible/pull/11888, this has been released in 1.9.3.
This issue should be closed ...

[2015-09-15 09:59] nutter007 opened #978 "ovirt module KeyError: 'authorized_key_user_groups'"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ovirt module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Changing state to cloud-init of a created VM from template throws error:

[code]

I'm using
- ovirt-engine-sdk-python-3.5.4.0-1.el7
- ansible-1.9.2-1.el7
- ovirt extra module (pull #925, also tried pull #707 - same issue)

Thanks.

[2015-09-15 10:06] nutter007 commented on #978
playbook:

---
- name: ovirt test

  hosts: localhost
  connection: local

  tasks:
  - name: create vm
    ovirt:
       user=admin@internal
       password=password
       url=https://xxx.xxx.xxx.xxx
       instance_name=ansiblevm_test
       image=rhel-guest-image-7.1-20150224.0.x86_64
       zone=poc
       resource_type=template
       tags=test,ansible,jenkins
       wait_for_state=down

[2015-09-15 10:22] tersmitten opened #979 "Add more modes to the mysql_replication module"
For instance `RESET SLAVE` and `RESET SLAVE ALL`.

[2015-09-15 10:28] tersmitten opened #980 "Add a mysql_query module"
I would be nice to have a module to execute queries. For instance:

* From a variable
* From a local file (same as `archive` module)
* From a remote file (same as `archive` module)

[2015-09-15 10:59] tersmitten commented on #979
[This article](https://www.percona.com/blog/2013/04/17/reset-slave-vs-reset-slave-all-disconnecting-a-replication-slave-is-easier-with-mysql-5-5/) explains the difference between `RESET SLAVE` and `RESET SLAVE ALL`.

[2015-09-15 14:22] bcoca commented on #694
closing as per above

[2015-09-15 14:22] #694 closed

[2015-09-15 18:22] mrooney commented on #338
Upgrading to Ansible 1.9.3 resolved this issue for me, thanks!

[2015-09-16 05:50] tksarah opened #984 "About option of win_package"
I found two issue.

I think Product-ID parameter is not "product_id" , is it "productid"?
Also , it seems the required columns is "yes".

[code]

Therefore , it take a mistake about "ProductId" below an example on document of win_package:

[code]

[2015-09-17 03:58] ryansydnor opened #986 "S3_lifecycle does not support new Standard – IA storage class"
Announcement of new class : https://aws.amazon.com/blogs/aws/aws-storage-update-new-lower-cost-s3-storage-option-glacier-price-reduction/

[2015-09-17 08:18] egroeper commented on #694
@zfil Thanks for fixing this.

[2015-09-17 08:27] jgrigonis opened #987 "known_hosts should have user option like authorized_keys"
user: The username on the remote host whose known_hosts file will be modified

manage_dir would be an extra bonus.

[2015-09-17 13:53] chrrrles commented on #895
@jjahns - Commented on your commit.  May you take a look?  There have been changes to the vmware code in devel, and it would be nice to align new code with this.

[2015-09-17 14:07] thirty3 opened #990 "win_chcolatey fails when successfull"
I'm using Ansible version 1.9.3

This command fails even though it is successful

[code]

This is the error message:

The problem stems from the fact that success is defined by string parsing instead of return code. Is there a reason return code is not used? I can understand that you will want to use string parsing to decide whether an install happened or whether the package was already present, b

[2015-09-17 15:17] #979 closed

[2015-09-17 15:17] jimi-c commented on #979
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-09-18 04:13] abadger commented on #885
Just merged a rewrite of the dnf module from some contributors.  https://github.com/ansible/ansible-modules-extras/pull/527  I tested enablerepo and disablerepo and it appears that this is fixed.  Because it is such a major change this might not be backported to the 1.9.x branch but if you need it before 2.0 is out you should be able to copy https://raw.githubusercontent.com/ansible/ansible-module

[2015-09-18 04:13] #885 closed

[2015-09-18 04:25] abadger commented on #834
We've just merged a rewrite of the dnf module to devel: https://raw.githubusercontent.com/ansible/ansible-modules-extras/devel/packaging/os/dnf.py  The new dnf module doesn't use repoquery so I believe this is fixed.  Since this is such a big change it may not be something that we backport to 1.9.x.  If you need it before 2.0 is out you can try downloading the new version of the module to  use in

[2015-09-18 04:25] #834 closed

[2015-09-18 04:36] abadger commented on #642
We've just merged a rewrite of the dnf module to the devel branch that may implement this https://raw.githubusercontent.com/ansible/ansible-modules-extras/devel/packaging/os/dnf.py .  Could you give the new code a try?  Either by checking out the devel branch from the git repo and giving it a try or copying just the rewritten module to your machine to override the one shipped with 1.9.x?

[2015-09-19 17:29] MikeParkin commented on #910
+1

Not only should this be a feature, in my installation interfaces are actually removed when i run the firewalld command. I had eth0 and eth1 attached to public but they are removed when i run ansible. A reboot seems to re-add them. For me i believe this is fine, as public will be loaded anyway - but for others changing the interface I think this would cause problems.

[2015-09-21 02:07] devekko opened #1004 "Proxmox Ansible contrib module handles KVM?"
looking at the proxmox cloud ansible module and I only see containers (openvz)

does this Ansible module handle KVM vms?

I know proxmoxer does, but does this module?

https://github.com/ansible/ansible-modules-extras/blob/198e77e5fb519f92c72ca6ab514bbea922d30248/cloud/misc/proxmox.py

[2015-09-21 11:25] juhau1 commented on #957
I'm having the same problem. This seems like a critical bug affecting many npm packages.

My main package.json says:

[code]

When updating my-sub-module package ansible npm module is not picking up the change, but continues with the old my-sub-module version.

Current workaround is to use shell module to do npm install as suggested by visay.

Ansible version: 1.9.3-1ppa~trusty

[2015-09-21 13:23] anthonygreen commented on #378
This issue persists in Ansible 1.9.3. Is there a fix available?

[2015-09-21 20:09] wstrange commented on #471
F22, yum-utils installed, same issue for me

[2015-09-21 23:42] abadger commented on #471
Unfortunately the fedora packages seem to have changed the implementation
of repoquery leading to that error. If you could try the dnf module from
the devel repo and it works perhaps that could be backported to the fedora
package.  The dnf module in devel is a rewrite of the module so it's
unlikely to be added to the 1.9.x upstream ansible package but additional
testing will help ensure that there

[2015-09-22 05:25] elventear commented on #378
I think you need to use the develop branch in order to take advantage of that fix.

[2015-09-22 07:42] foxmask opened #1010 "jBoss support until version 7 EAP"
Hi,
May be you should add to the doc that the jboss module is not able to be used to update jBoss from version 7 EAP.
Until this release, jboss permitted to copy war / ear in a deployment folder and restart it and it worked.
But now with version 7 it's not possible at all. You have to use a dedicated command line that is totally different.

for example to stop the jboss server :

[code]

to add th

[2015-09-22 20:14] nirik commented on #471
Those folks still seeing this, can you note what exact version of ansible you are using on your control host? rpm -q ansible ? Also, on the target host is 'python-dnf' installed? Finally what exact command line/task duplicates what you are seeing?

[2015-09-23 09:22] snolahc commented on #425
Any news of accepted PR ?

[2015-09-23 15:56] lasko opened #1019 "vca_vapp errors in setting the computer_name to vm_name for API 5.5, 5.1, 1.5"
I have two cloud providers I use, one that uses API version 5.6, and one that uses 5.5

This module works great on version API version 5.6 but when I attempt to create a vapp on the vcd with API version 5.5 (of 5.1, or 1.5 which are the supported APIs on that cloud provider) -- I receive an error.
........
"failed": true, "msg": "Error in setting the computer_name to vm_name"}

I've run into this

[2015-09-23 18:24] trondhindenes opened #1021 "win_chocolatey throws errors"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_chocolatey module

##### ANSIBLE VERSION
N/A

##### SUMMARY
I just noticed that the current version of win_chocolatey throws errors for optinal params not specified:
The property 'source' cannot be found on this object. Verify that the property exists.

Looking at the code, I notice it has erroractionpreference set without the code actually usi

[2015-09-23 19:53] robynbergeron commented on #74
Hi @mechastorm:

Thanks for submitting this feature idea, sorry it has taken so long to triage this. (Better late than never, though! :smile:)

@JeanFred commented above that the merge of #98 would help to implement this -- and it has been merged (for a while now!). Can you let us know if this works, and if so, we can close this.

Thanks for your patience!

[2015-09-23 19:53] gregdek commented on #65
@xb Thanks for submitting this feature idea.

@matze Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more information.

[2015-09-23 20:01] gregdek commented on #84
Unfortunately, the original PR associated with this bug report (#85) was closed due to inactivity from the original submitter. We presume that this bug is still an issue, though.

This module is owned by the @ansible/core team, so any PR will need to be reviewed -- but we encourage someone to pick up #85, clean it up, and resubmit it.

[2015-09-23 20:03] robynbergeron commented on #97
@landryb Thanks for submitting this feature idea -- and thanks to @dentarg for adding on with additional info. Sorry it's taken us a while to get to triaging this. :)

@eest Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature

[2015-09-23 20:05] gregdek commented on #209
@akram Thanks for submitting this feature idea.

@maxamillion Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more inform

[2015-09-23 20:25] gregdek commented on #209
[module: system/firewalld.py]

[2015-09-23 20:27] gregdek commented on #97
[module: packaging/os/openbsd_pkg.py]

[2015-09-23 20:28] gregdek commented on #84
[module: cloud/misc/virt.py]

[2015-09-23 20:29] gregdek commented on #65
[module: packaging/os/zypper.py]

[2015-09-23 20:29] gregdek commented on #74
[module: monitoring/logentries.py]

[2015-09-23 20:30] gregdek commented on #220
[module: packaging/language/npm.py]

[2015-09-23 20:36] robynbergeron commented on #327
hey @emonty -- I know a lot of stuff has been going on in openstack module land in the past 6 months :) @gregdek and I are just going through and triaging issues -- just checking to see if this is still an idea or if it's been magically implemented by something in the interim :)

[2015-09-23 20:38] gregdek commented on #237
[module: messaging/rabbitmq_parameter.py]

[2015-09-23 20:39] robynbergeron commented on #219
[module: system/lvol.py]

[2015-09-23 20:40] gregdek commented on #237
@axelcdv Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the rep

[2015-09-23 20:41] robynbergeron commented on #219
@r1k0 Thanks for submitting this feature idea. Sorry it's taken us a while to triage it. :)

@jhoekx & @abulimov Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.

[2015-09-23 20:42] gregdek commented on #194
@rpenugonda thanks for submitting this bug report. I am assuming that #259 fixes your issue; if it doesn't, please feel free to open a new issue.

[2015-09-23 20:42] #194 closed

[2015-09-23 20:44] robynbergeron commented on #167
[module: packaging/os/homebrew_cask.py]

[2015-09-23 20:45] gregdek commented on #11
@senz @dopry Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the

[2015-09-23 20:45] gregdek commented on #11
[module: database/misc/mongodb_user.py]

[2015-09-23 20:46] robynbergeron commented on #167
@siancu Thanks for submitting this feature idea -- and thanks to @elnappo and @budda for your comments here as well. Sorry it's taken us a while to triage it.

@danieljaouen Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature

[2015-09-23 20:47] robynbergeron commented on #308
[module: monitoring/pingdom.py]

[2015-09-23 20:47] gregdek commented on #236
[module: system/firewalld.py]

[2015-09-23 20:48] gregdek commented on #236
@xrow Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the report

[2015-09-23 20:48] robynbergeron commented on #308
@tiagoboldt Thanks for submitting this feature idea. Sorry it's taken us a while to triage your idea. :)

@thaumos Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansibl

[2015-09-23 20:52] gregdek commented on #340
@rcarrillocruz if this bug still applies, could you please file it against the ansible-modules-core repo? These modules are no longer in ansible-modules-extras. Thanks!

[2015-09-23 20:52] #340 closed

[2015-09-23 20:52] robynbergeron commented on #276
@perzizzle: Thanks for submitting this feature idea. Much appreciated! And thanks to @msabramo for weighing in, and to @mhite for being the kind maintainer of this module for implementing these features, which have now been merged and should be available for you to use. :)

(Sorry it took us a while to triage this issue, but glad that it got resolved in the interim!)

[2015-09-23 20:52] #276 closed

[2015-09-23 20:54] gregdek commented on #342
[module: network/dnsmadeeasy.py]

[2015-09-23 20:55] gregdek commented on #342
@pwyliu Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the repo

[2015-09-23 20:57] gregdek commented on #363
Closed by #365.

[2015-09-23 20:57] #363 closed

[2015-09-23 20:58] gregdek commented on #362
Fixed by #365.

[2015-09-23 20:58] #362 closed

[2015-09-23 20:59] gregdek commented on #274
Going to assume that #398 fixes this issue. If that's incorrect, @sonjz, please feel free to open a new issue. Thanks!

[2015-09-23 20:59] #274 closed

[2015-09-23 21:01] gregdek commented on #396
[module: system/debconf.py]

[2015-09-23 21:02] gregdek commented on #396
@clauso Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the repo

[2015-09-23 21:03] gregdek commented on #383
[module: packaging/language/npm.py]

[2015-09-23 21:03] gregdek commented on #383
@mlococo Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the rep

[2015-09-23 21:03] robynbergeron commented on #320
Greetings @emonty -- thanks for filing this feature idea, and thanks to @cdmitri for your responses here.

Questions: I know lots has changed in the openstack modules in the past 6 months. Is this still an outstanding feature idea that we hope to see implemented?

If so: We should probably move this over to core as a feature idea since this module is now located in ansible-modules-core and not in

[2015-09-23 21:03] gregdek commented on #404
[module: system/firewalld.py]

[2015-09-23 21:03] gregdek commented on #404
Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the reported beh

[2015-09-23 21:05] gregdek commented on #418
[module: packaging/language/npm.py]

[2015-09-23 21:05] gregdek commented on #418
@TheShapGuy Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing the

[2015-09-23 21:43] mlococo commented on #383
I haven't re-verified, but npm.py hasn't had any code-changes (only formatting and attribution commits) since this was reported so it's a pretty fair bet that it is still valid: https://github.com/ansible/ansible-modules-extras/commits/devel/packaging/language/npm.py

Also, the list function is still relying entirely on the npm list output, which I believe (as noted in the original report) is insu

[2015-09-23 21:46] robynbergeron commented on #355
@nicolas-g Thanks for submitting this feature idea. Sorry it's taken us a while for us to triage :)

We encourage all Ansible community members to submit pull requests to satisfy feature requests. If anyone is interested in contributing this as a new module, you can consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more information.

[2015-09-23 21:58] robynbergeron commented on #364
Hi @solomongifford: thanks for submitting this feature idea, and the subsequent merge request for your feature idea. Much appreciated!

Sorry it took us a while to triage this issue -- but it looks like the story had a happy ending since @gregdek merged your code back in June. (Thanks, @gregdek :D)

Closing this out since it looks like all is resolved here.

[2015-09-23 22:01] robynbergeron commented on #521
[module: network/haproxy.py]

[2015-09-23 22:02] robynbergeron commented on #521
@kiranos - Thanks for submitting this feature idea, and to @tersmitten for adding on. Sorry it's taken us a while to triage this idea. :)

@ravibhure -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the

[2015-09-23 22:09] robynbergeron commented on #528
Hi @kiranos -- thanks for your feature idea. Sorry it took us a while to get it triaged.  :)

It looks like @ggermis's PR, #622, has been merged (thanks for that work, @ggermis!) -- so I'm going to close this out.

[2015-09-23 22:09] #528 closed

[2015-09-23 22:10] robynbergeron commented on #364
.....and now I'm actually going to hit the close button rather than just the comment button. :)

[2015-09-23 22:10] #364 closed

[2015-09-23 22:18] robynbergeron commented on #546
Hi @lndevnull: Thanks for submitting this feature idea. Sorry it's taken us a while to get around to triaging it. :)

@dirtyharrycallahan & @alxgu -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the mo

[2015-09-23 22:18] robynbergeron commented on #546
[module: packaging/os/zypper.py]

[2015-09-23 22:21] robynbergeron commented on #632
[module: system/alternatives.py]

[2015-09-23 22:25] robynbergeron commented on #632
Hi @zlalanne -- Thanks for submitting this feature idea. It looks like @gregdek did some pinging back in June -- he and I are currently going through and triaging outstanding issues in extras, so I'm just going to put some extra context in here for anyone who may see this in the future, and to re-ping the module owners just in case they have a moment of inspiration :)

@DavidWittman & @mulby -- Pi

[2015-09-24 06:44] matze commented on #65
The problem is that zypper does not provide a programmatic way of accepting a certain key (fingerprint). We could parse the output of `zypper ref` look for the key and compare that to the given key and then write the answer to `stdin`. However, I am not very fond of this idea …

[2015-09-24 09:24] ravibhure commented on #521
Thanks @kiranos for patching a good feature
@robynbergeron will provide my input once I review and test once.

Thank you all !

[2015-09-24 10:01] kiranos commented on #521
@robynbergeron this is just a feature idea :(  I think this highlight that was made was just to make you aware of it. if it might be something you have interest/time to patch in.

[2015-09-24 15:10] minichate commented on #915
I'll take a look at this over the weekend! Thanks.

[2015-09-24 18:07] robynbergeron commented on #521
@kiranos I know it is :)

@ravibhure -- to be clear, this isn't a PR, just a feature idea that we are passing along so that you know about it, and so others know about it as well.

Thanks. Sorry if it wasn't clear! We're just trying to let people know that (a) we're catching up on issues backlogs, (b) letting module maintainers know if people might be interested in new enhancements, (c) making sur

[2015-09-24 18:48] sgzijl commented on #931
fixed in pull #963

[2015-09-24 18:48] #931 closed

[2015-09-24 19:44] ravibhure commented on #521
@kiranos  :+1:

[2015-09-25 17:01] eest commented on #97
I am against this change for the same reasons I was against it when we discussed it in https://github.com/ansible/ansible/issues/8990:
- pkg_delete has no support for -z. This means we would be installing packages that we can not delete using the same name.
- the pkg_add tool is pretty hard to interact with as is, because return codes and such differ depending on if the package contains version nu

[2015-09-25 18:45] henryprecheur commented on #1021
I get errors too. I think this may be related to issue #12494.

I got the module to work by specifying all the parameters expected by the script:

[code]

Another quick workaround would be to edit win_package.ps1 and add `Set-StrictMode -Off` just below the `# POWERSHELL_COMMON` line.

I'm not sure how to handle this problem, it looks like the parameters should have default values when they don't

[2015-09-25 19:15] maxamillion commented on #209
Yeah, I actually looked at this previously and it's something I would like to do. I'll see if I can't find some time to add it in the not too distant future.

[2015-09-25 19:48] bcoca commented on #97
If we do add this feature it should have a big warning stating what Patrik notes above.

[2015-09-26 13:06] robynbergeron commented on #829
@tima Thanks for submitting this feature idea, and coordinating between the various zookeeper PRs to keep this particular feature going :)

@treyperry -- as @tima mentioned, it looks like ACL support was included in #310 -- that one got closed by @jbowes since the functionality of this module was mostly covered by your PR (#811), but you could probably take a look at #310 for some inspiration.

Al

[2015-09-27 12:31] jcberthon opened #1032 "Doc issue regarding DNF module requirements"
The current documentation (and comments in the source code of the module) regarding DNF states that the only dependencies are: python, dnf and optionally yum-utils.

Actually there is another important dependency: python-dnf.

I have a Fedora 22 server and I'm testing the Fedora 23 beta server as well, both do not ship by default with python-dnf (I'm installing the minimum server configuration). A

[2015-09-27 15:02] sklaus commented on #659
@bcoca :
I think you are wrong here.
To create a replicated volume, you also have to hand in the IP of the local machine.
If you just use the remote one and replica=2, then you get:

`msg: error running gluster (/sbin/gluster volume create gv0 replica 2 transport tcp 10.0.170.127:/data force) command (rc=1): number of bricks is not a multiple of replica count`

(having two machines with
When I do

[2015-09-28 04:32] tomjakubowski opened #1033 "pam_limits: value 'unlimited' isn't accepted"
If I try to use `'unlimited'` as the `value` argument to the `pam_limits` module, I get this error:

[code]

[2015-09-28 04:33] tomjakubowski commented on #1033
I believe also that an existing `unlimited` value in the `limits.conf` file will cause an error here: https://github.com/ansible/ansible-modules-extras/blob/bc07c3b504eb5370b1a6e7db8864b6ac5b8bcaea/system/pam_limits.py#L184

[2015-09-28 12:50] matevarga opened #1034 "Slack notifications fail with SyntaxError"
```failed: [hostname] => {"failed": true, "parsed": false}```
```  File "/home/mvarga/.ansible/tmp/ansible-tmp-1443444396.29-59320847729623/slack", line 123```
```    payload['channel'] = channel if (channel[0] == '#') else '#'+channel```

OS: CentOS7, Python: 2.7.5, ansible: 1.9.2

[2015-09-28 13:00] bcoca commented on #1032
i believe that is exactly what the requirements are referring to, the 'dnf' python library

[2015-09-28 20:55] jcberthon commented on #1032
That is not clear at all because of the following:
- there exists a dnf package
- it is not mentioned that requirements are Python modules
- apt module is referring to python-apt and not apt
- apt module is referring to aptitude which is not a python module but the aptitude package, as far as I can tell

So either the doc should state python-dnf or a sentence should state "the followings are requi

[2015-09-29 09:27] offlinehoster opened #1041 "Running slack module with sudo: yes will fail inside a playbook.yml"
While build a slack integration i run into this bug.

[code]

I have to run this special role within an own task without sudo: yes - this will work.

[2015-09-29 09:32] offlinehoster commented on #1041
Maybe it's in combination with " local_action:" inside the slack module?

[2015-09-30 19:24] matevarga commented on #1034
This happens because python is too old on the target system.

[2015-09-30 19:24] #1034 closed

[2015-09-30 20:25] #323 closed

[2015-09-30 20:25] robynbergeron commented on #254
Hi @abdulg --

The documentation now appears to be correctly synchronized, with both the docs and the module citing the parameter 'name'. I think the issue here was that the documentation was for the (at that point) released version, and the devel version at that time had differences (changed in #134).

Copying the win_chocolately maintainers for good measure - @trondhindenes @petemounce @elventea

[2015-09-30 20:25] #254 closed

[2015-09-30 20:28] robynbergeron commented on #262
Hi @kampka --

The merge of #1037 should have addressed this -- so I'm going to close this out. If this isn't working for you, please let us know!

Thanks for your feature suggestion (and sorry it took so long to get back to you) -- and thanks to @indrajitr for adding this functionality. Hooray!

[2015-09-30 20:28] #262 closed

[2015-09-30 20:38] robynbergeron commented on #430
@sivel Thanks for filing this. Way back when. :)

It looks like ovirt and sns are the two remaining modules using BabyJSON.

Copying @mjschultz (for sns.py) and @vincentvdk (ovirt.py) and @firstyear (who has also been doing some ovirt things recently) for their FYI.

[2015-09-30 20:40] robynbergeron commented on #428
Hi @angystardust:

Thanks for submitting this bug report. Apologies for taking so long to triage it. :) Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer s

[2015-09-30 20:47] robynbergeron commented on #478
Hi @sivel -- the following things were fixed as listed below w/accompanying PR referenced. Thanks to @abadger for doing this! :) And (again) sorry it's taken a while to address this in the issue itself.

Going to go ahead and close this out -- let us know if somehow anything has gone awry :)

librato_annotation - #733
uptimerobot - #734
campfire - #735
sendgrid - #736
typetalk: #738

[2015-09-30 20:47] #478 closed

[2015-09-30 20:49] jjahns commented on #895
I am closing the request because of some internal items that have prevented me from working on this.

[2015-09-30 20:49] #895 closed

[2015-09-30 20:52] mjschultz commented on #430
https://github.com/ansible/ansible-modules-extras/pull/1045 should handle the SNS module.

[2015-09-30 23:48] robynbergeron commented on #1041
[module: notification/slack.py]

[2015-09-30 23:57] robynbergeron commented on #1041
Hi @offlinehoster: thanks for submitting this bug report.

Pinging @ramondelafuente as module maintainer.

[2015-10-01 16:21] robynbergeron commented on #322
Hi @jmccown -- Thanks for submitting this bug report. Apologies for taking so long to triage it. Since this bug has been open for a while, we would appreciate if you can verify if you are still seeing the reported behavior in the latest version.

If you are seeing the reported behavior, just let us know and we will leave the bug open and notify the module maintainer.

If you are no longer seeing t

[2015-10-01 16:35] robynbergeron commented on #793
Hi @edunham -- Thanks for submitting this feature idea. Sorry it's taken a while to get it triaged :)

@jirutka @luisperlaz --  Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http:

[2015-10-01 16:40] robynbergeron commented on #793
[module: files/patch.py]

[2015-10-01 16:42] robynbergeron commented on #817
[module: database/mysql/mysql_replication.py]

[2015-10-01 16:43] robynbergeron commented on #817
hi @HanXHX -- thanks for submitting this feature idea.

@banyek -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more

[2015-10-01 16:45] robynbergeron commented on #881
Hi @isotopp -- thanks for submitting this feature idea. And thanks for submitting the PR to implement it! :)

Closing this issue as #882 was merged.

[2015-10-01 16:45] #881 closed

[2015-10-01 16:46] robynbergeron commented on #901
[module: system/known_hosts.py]

[2015-10-01 16:47] robynbergeron commented on #901
Hi @caljess599 --  Thanks for submitting this feature idea.

@mcv21 --  Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for

[2015-10-01 16:48] robynbergeron commented on #987
Hi @jgrigonis -- thanks for submitting this feature idea.

@mcv21 -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for mor

[2015-10-01 16:49] robynbergeron commented on #987
[module: system/known_hosts.py]

[2015-10-01 16:52] robynbergeron commented on #910
Hi @bngsudheer -- thanks for submitting this feature idea. (And thanks to @MikeParkin for adding more info!)

@maxamillion --  Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

Also note that per @MikeParkin's comment -- this might actually be a bug or at least problematic for some folks, not quite sure. :)

[2015-10-01 16:53] robynbergeron commented on #980
@tersmitten --  Thanks for submitting this feature idea. Much appreciated!

We encourage all Ansible community members to submit pull requests to satisfy feature requests. If anyone is interested in contributing this as a new module, you can consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more information.

[2015-10-01 16:56] robynbergeron commented on #984
@tksarah -- thanks for submitting this bug report.

@trondhindenes -- letting you know about this. Also: @trondhindenes -- if you get a moment, can you add your github ID to the author line in this module? :) Thanks!

[2015-10-01 16:57] robynbergeron commented on #984
[module: windows/win_package.py]

[2015-10-01 16:58] robynbergeron commented on #986
[module: cloud/amazon/s3_lifecycle.py]

[2015-10-01 16:58] robynbergeron commented on #986
@SL4YT1M3 -- thanks for submitting this feature idea. Much appreciated!

@wimnat - Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules

[2015-10-01 16:59] trondhindenes commented on #984
thanks for letting me know @tksarah. I will have a look at it right away.

[2015-10-01 16:59] robynbergeron commented on #990
[module: windows/win_chocolatey.py]

[2015-10-01 17:01] robynbergeron commented on #990
Hi @thirty3 -- thanks for submitting this bug report.

@trondhindenes @petemounce @elventear @smadam813 -- pinging you to let you know about this bug report for win_chocolatey.

[2015-10-01 17:03] robynbergeron commented on #1004
Hi @devekko -- thanks for submitting this feature idea (at least, that's what I'm calling it... it is at least a question!)

@UnderGreen -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guide

[2015-10-01 17:04] robynbergeron commented on #1004
[module: cloud/misc/proxmox.py]

[2015-10-01 17:07] robynbergeron commented on #404
Hi @sivel -- I think this should now be fixed, courtesy of @ag-wood and #1031, which has been merged.

If not, let us know. :)

cc: @maxamillion for your FYI :)

[2015-10-01 17:07] #404 closed

[2015-10-01 17:08] robynbergeron commented on #1019
[module: cloud/vmware/vca_vapp.py]

[2015-10-01 17:11] trondhindenes commented on #984
@robynbergeron as for author: my name/email is in there, isnt that the standard?

[2015-10-01 17:11] robynbergeron commented on #1019
Hi @lasko - thanks for submitting this ... I'm going to call it a bug report. Since I am guessing it should probably at least be documented with info about what API should be used, if not fix the problem altogether :)

@privateip -- pinging you to bring this ... bug report, or possible feature idea, to your attention. :)

[2015-10-01 17:14] robynbergeron commented on #1010
Hi @foxmask -- thanks for submitting this. It may be a docs fix, or a feature idea (if it was made to work with JBoss 7 EAP), so labeling this as both :)

@jhoekx -- Pinging you to bring this feature request / docs fix for your attention. Please note that you are under no particular obligation to add this as a feature. It would be awesome to at least document the functionality with JBoss 7 if noth

[2015-10-01 17:17] robynbergeron commented on #978
Hi @nutter007 -- thanks for submitting this bug report - and for testing out the functionality of modules in development :)

@firstyear @vincentvdk -- pinging you to bring this to your attention. This is a bug with #925, so might be helpful to resolve it. Thanks!

[2015-10-01 17:18] robynbergeron commented on #978
[module: cloud/misc/ovirt.py]

[2015-10-01 17:19] robynbergeron commented on #939
Hi @martingabelmann - thanks for submitting this bug report.

@matze -- pinging you to let you know about this bug report for zypper_repository.py.

[2015-10-01 17:19] robynbergeron commented on #939
[module: packaging/os/zypper_repository.py]

[2015-10-01 17:24] robynbergeron commented on #1021
@trondhindenes -- thanks for submitting this bug report. And thanks to @henryprecheur for verifying!

Pinging the win_chocolatey folks for their info -- @petemounce, @elventear, @smadam813. I know for sure @trondhindenes knows about it though as the reporter :)

[2015-10-01 17:26] robynbergeron commented on #1021
[module: windows/win_chocolatey.py]

[2015-10-01 17:34] robynbergeron commented on #984
@trondhindenes -- @gregdek went through most of the modules (probably missed some things) and added github IDs. Useful so we can actually more efficiently ping people on github when we need to, and if/when there is a glorious future where we can automate pinging of people at the very least, this is helpful for that as well. :)

It's also in the module guidelines as they appear today (name + github

[2015-10-01 17:37] robynbergeron commented on #984
@trondhindenes -- folks have been following this sort of convention as FYI. Also: Not to get into too many details... but... thanks for submitting a fix for this so fast :)

author: "Robyn Bergeron (@robynbergeron)"

[2015-10-01 17:39] trondhindenes commented on #984
okay. I knew about name but not github ID. https://github.com/ansible/ansible/blob/devel/examples/DOCUMENTATION.yml also just uses name.

[2015-10-01 18:05] robynbergeron commented on #984
Ahh, good catch. :) I'll get that fixed up.

[2015-10-01 18:13] robynbergeron commented on #1033
[module: system/pam_limits.py]

[2015-10-01 18:15] robynbergeron commented on #1033
Hi @tomjakubowski -- thanks for submitting this bug report.

@usawa -- pinging you to let you know about this bug report for pam_limits.py.

[2015-10-01 18:16] robynbergeron commented on #957
[module: packaging/language/npm.py]

[2015-10-01 18:17] robynbergeron commented on #957
@visay -- thanks for submitting this bug report, and thanks to @juhau1 as well for providing info around your ability to duplicate.

@chrishoffman -- pinging you to let you know about this bug report for the npm module.

[2015-10-01 19:04] #984 closed

[2015-10-01 21:00] banyek commented on #817
Oh, MariaDB <3 :(
Right now it's quite late here, tomorrow I'll read all the docs, and write here after.

[2015-10-01 21:05] HanXHX commented on #817
Hi @banyek,

You juste need to implement:

[code]

If you need some help, i can help you. I have a full role with mariadb replication. We juste need to patch this file to test this feature: https://github.com/HanXHX/ansible-mysql/blob/master/tasks/replication/slave/mariadb_gtid.yml

Cheers ;)

[2015-10-01 21:27] smadam813 commented on #1021
I will look into this.  I am not sure if there was a PowerShell update because I have noticed this behavior on other scripts as well.

[2015-10-02 00:20] wimnat commented on #986
This storage class is not supported upstream in boto at the moment.  Until it's implemented there, I can't add in the module.  You might want to look and see if the feature request has been made in boto and if not, open one there.

[2015-10-02 16:44] gregdek commented on #252
Ping @indrajitr for your feedback.

[2015-10-02 16:48] gregdek commented on #167
Re-pinging new maintainer @indrajitr.

[2015-10-02 16:51] robynbergeron commented on #986
@wimnat -- does this merge indicate that maybe it's now an option? https://github.com/boto/botocore/commit/db2a9c695e41477d05e3ab72f3250e8f675f67ea

[2015-10-02 18:30] giulianob opened #1050 "Windows firewall extras module is broken"
The module is just erroring out on the most basic usage. I would try to submit a PR but I'm not even sure how to debug it.
[code]
[code]
Also, the module documentation says to use "win_fw" but the actual module is named "win_firewall_rule"

@TimothyVandenbrande  any clue? I'd be happy to help if needed

[2015-10-02 19:25] giulianob commented on #1050
I think it might be a more crosscutting issue w/ windows modules in my dev build

[2015-10-02 19:25] #1050 closed

[2015-10-02 21:01] indrajitr commented on #167
homebrew_cask ≠ homebrew :) I don't use cask too often, but allow me a couple of days -- I'll get back on this.

[2015-10-02 22:04] wimnat commented on #986
Oooh shiny new commit! I'll take a look when I get a chance but it looks
like just specifying the new class in the option list will work. Obviously
it'll be dependent on latest boto.
On 03/10/2015 2:51 AM, "Robyn Bergeron" notifications@github.com wrote:

[2015-10-02 23:02] robynbergeron commented on #986
@wimnat awesome! Let us know what you find out ;)

[2015-10-03 01:51] bcoca commented on #396
behavior is still there, currently there is no facility to turn on no_log dynamically in a module, right now the only way to avoid this is using the workaround of adding no_log: True to the task.

[2015-10-04 20:28] indrajitr commented on #252
#542 and #732 should resolve the issue. The following worked as expected on ansible 2.0.0 (devel 10a4a4e986) on a freshly installed OS X.

[code]

Note: Homebrew automatically `tap`s a repo as necessary. However, it expects `git` to be available in the path. This would be an issue with older version of OS X (I think 10.8 and below) or if you don't have XCode command line developer tool installed.

[2015-10-04 23:00] indrajitr commented on #167
Given that there are [whole lot of options](https://github.com/caskroom/homebrew-cask/blob/master/USAGE.md#options) that can be passed via `HOMEBREW_CASK_OPTS`, it makes sense to pass `--appdir` via `HOMEBREW_CASK_OPTS` as well for consistency in treatment (aligning with other options that can be passed).

Let us keep this feature request open for now. At a future point we can have _all_ the cask

[2015-10-05 04:33] #1032 closed

[2015-10-05 04:34] abadger commented on #1032
Thanks for pointing that out.  I've updated the documentation in the repository.  It will refresh on the website the next time we do a docs rebuild.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if yo

[2015-10-05 04:37] abadger commented on #642
AFAICT from looking at the code this is now taken care of as all of the packages are first marked for install in one step and then the transaction is run as a second step.

Feel free to open a new issue if you find that the rewritten module is not doing this correctly.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

T

[2015-10-05 04:37] #642 closed

[2015-10-05 09:14] nartamonov opened #1054 "win_chocolatey should accept installation arguments"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
win_chocolatey module

##### ANSIBLE VERSION
N/A

##### SUMMARY
For example, it should be possible to customize installation of [totalcommander](https://chocolatey.org/packages/TotalCommander) package with arguments /desktopIcon /installPath="c:\totalcmd" to override default installation directory and force creation of desktop links (which are di

[2015-10-05 10:40] nartamonov commented on #378
When it will be integrated to stable Ansible version, which is now unusable with Windows because Chocolatey is very important part of configuration management? Fix was provided several months ago...

[2015-10-05 14:24] banyek commented on #817
Hey, that's nice! I think it would be nice to implement this. @HanXHX I guess you should branch & commit that, and we merge it after

[2015-10-05 14:31] HanXHX commented on #817
Done on "mariadb-gtid" branch!

https://github.com/HanXHX/ansible-mysql/blob/mariadb-gtid/tasks/replication/slave/mariadb_gtid.yml

[2015-10-05 14:48] banyek commented on #817
can you send a PR?

[2015-10-05 17:09] bcoca commented on #508
cc @zimbatm, can you add GPLv3 header to the groove module?

[2015-10-05 17:12] bcoca commented on #508
@brian-brazil can you add GPLv3 header to dpkg_selections module?

[2015-10-05 17:15] bcoca commented on #508
cc @rickmendes can you add gpl header to ec2_win_password

[2015-10-05 17:31] ghost commented on #508
@bcoca Added here https://github.com/ansible/ansible-modules-extras/pull/1056

[2015-10-05 17:41] jhawkesworth commented on #908
I have not been able to find a way to change the described behaviour.  I will create a documentation PR to clarify what the module can do.

[2015-10-05 18:00] gregdek commented on #434
So the issue here is that action plugins currently live in ansible/ansible. Which means that you'd need to submit a PR for the action plugin to that repository currently.

[2015-10-05 18:01] gregdek commented on #434
[module: files/patch.py]

ping module maintainer @jirutka for additional guidance here.

[2015-10-05 18:39] sivel opened #1061 "Modules missing EXAMPLES"
The following modules are missing an `EXAMPLES` section:

* cloud/amazon/route53_zone.py @minichate
* windows/win_iis_virtualdirectory.py @whenrik

Please send PRs to include the `EXAMPLES` section.  For more information see:

http://docs.ansible.com/ansible/developing_modules.html#example

[2015-10-05 19:17] brian-brazil commented on #508
I'm okay with GPLv3 or later for dpkg_selections.

[2015-10-05 22:56] zimbatm commented on #508
I'm ok with GPLv3 as well

[2015-10-06 10:29] jensschroer opened #1062 "nmcli returning error if trying to delete an absent connection"
##### Issue Type

Bug Report
##### Ansible Version

ansible 2.0.0 (devel d9b79b1bbc) last updated 2015/10/06 12:15:24 (GMT +200)
  lib/ansible/modules/core: (detached HEAD 144291120e) last updated 2015/10/06 12:15:39 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD da426da308) last updated 2015/10/06 12:15:51 (GMT +200)
  config file = /home/schroer/.ansible.cfg
  configured module search p

[2015-10-06 10:44] jensschroer opened #1063 "nmcli aborting with exception when trying to create a new connection"
##### Issue Type
- Bug Report
##### Ansible Version

ansible 2.0.0 (devel d9b79b1bbc) last updated 2015/10/06 12:15:24 (GMT +200)
  lib/ansible/modules/core: (detached HEAD 144291120e) last updated 2015/10/06 12:15:39 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD da426da308) last updated 2015/10/06 12:15:51 (GMT +200)
  config file = /home/schroer/.ansible.cfg
  configured module search

[2015-10-06 12:25] jensschroer commented on #1063
I did some more debugging on this item, and it seems that despite the documentation saying the type of the connection is optional, the code does actually require it.
So adding type=ethernet as seen below works.
Working example:

[code]

[2015-10-06 16:18] sivel commented on #507
Closing this in favor of recently updated: #1061

[2015-10-06 16:18] #507 closed

[2015-10-06 22:29] trondhindenes commented on #921
That's a great idea. The underlying module (PsWindowsUpdate) supports installing a specific KB thru the "-UpdateID" param. If we surfaced that as an Ansible param/option would that solve your problem?

[2015-10-07 04:52] jhawkesworth commented on #908
Hi, @synapticarbors if you think the changes I have made to the documentation in https://github.com/ansible/ansible-modules-extras/pull/1066 cover the current behaviour, please can this issue be closed?

[2015-10-07 11:05] synapticarbors commented on #908
@jhawkesworth that language seems reasonable. Unfortunately I ended up bailing on Ansible since the ease of doing things with Windows was lacking in a way that met my constraints. I ended up going with a local solution for now.

I'm not sure if it's helpful in the context of Ansible, but the code that Chocolatey uses to update its env variables in session is here:
https://github.com/chocolatey/cho

[2015-10-07 11:05] #908 closed

[2015-10-07 12:54] robynbergeron commented on #1062
[module: network/nmcli.py]

[2015-10-07 12:55] robynbergeron commented on #1062
@jensschroer Thanks for filing this bug report.

@alcamie101 Pinging you to let you know about this bug report for the nmcli module. Thanks!

[2015-10-07 13:01] robynbergeron commented on #1063
[module: network/nmcli.py]

[2015-10-07 13:01] robynbergeron commented on #1063
@jensschroer Thanks for filing this bug report.

@alcamie101 Pinging you to let you know about this bug report for the nmcli module. Thanks!

[2015-10-07 13:37] HanXHX commented on #817
Hi @banyek

I think you didn't undertand me. I created my own mysql/mariadb role... you can use this to check this role. :)

[2015-10-07 15:53] bcoca commented on #508
closing via fcb143e0f9b83a7839cf7388f5b49164fa78b2cd

[2015-10-07 15:53] #508 closed

[2015-10-07 17:03] luiseterc opened #1067 "mysql_replication fails. New modes not added to supported mode dict"
New modes added to mysql_replication module (resetslave and resetslaveall) were not added to the supported mode dictionary which causes the module to fail when using these new options.

mode=dict(default="getslave", choices=["getmaster", "getslave", "changemaster", "stopslave", "startslave"]),

[2015-10-08 07:44] indrajitr commented on #252
Now that both #542 and #732 have been merged, this can be closed.

[2015-10-08 10:13] jhawkesworth commented on #908
@synapticarbors Thanks for this and the links to the chocolatey function.
Would love to know what would make doing things with Windows easier for you if you have a chance could you share on the ansible-project mailing list?

[2015-10-08 13:25] bcoca commented on #252
closing as per above

[2015-10-08 13:25] #252 closed

[2015-10-08 18:40] robynbergeron commented on #1054
Hi @nartamonov -  Thanks for submitting this feature idea.

@trondhindenes @petemounce @elventear @smadam813 Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/

[2015-10-08 18:41] robynbergeron commented on #1054
[module: windows/win_chocolatey.py]

[2015-10-08 22:30] blakfeld opened #1072 "win_unzip Does not appear to set defaults"
When using win_unzip it, it fails on every unset parameters, claiming that the win_unzip object does not contain that attribute.

Example, if I run:

[code]

I'll get an error at:

[code]

If I do something like:

[code]

It will then fail at:

[code]

and so on and so forth

If I set all those parameters to false, it fails with a message that says it succeeded. The directory appears to be created

[2015-10-08 22:51] darrengruber opened #1073 "win_package: The variable '$script:MsiTools' cannot be retrieved because it has not been set."
##### Ansible Version:

[code]

##### Ansible Configuration:

N/A

##### Environment:

Managing from: `OSX 10.10.5`
Managing to: `Microsoft Windows NT 6.2.9200.0 (Microsoft Windows Server 2012 Standard)`

##### Summary:

Attempts to install an .msi from a URL using `win_package` will result in an error.

##### Steps To Reproduce:

* Create a playbook with this task defined on it:

[code]

* Run th

[2015-10-08 23:16] blakfeld commented on #1072
If I go through and fix up those errors, I still get an error saying that you cannot call methods on a null object here:

[code]

[2015-10-09 08:50] jhawkesworth commented on #1072
@blakfeld I suspect this is because of the recent change to enforce strict mode on powershell modules.
Best thing to do would be to work through the module code and ensure it is all compliant with strict mode - https://technet.microsoft.com/en-us/library/hh849692.aspx
If you are desperate to get this working, might be worth taking a local copy of the module and putting it in your /etc/ansible/libr

[2015-10-09 12:52] Bullettoothtobi opened #1074 "gluster_volume: no replicas not possible"
It's not possible to set up gluster without clusters. I always get the following error.
My ansible version is 1.9.2 on Mac os

failed: [fileserver] => {"failed": true, "parsed": false}
BECOME-SUCCESS-gzczujddrapqbuwwbbcknuyjaqorlryu
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1444394830.43-46504764465318/gluster_volume", line 2045, in <module>
    main()
  File "/root

[2015-10-09 14:34] blakfeld commented on #1072
Oh snap, that makes a lot of sense. I'll comb through that and put together a PR once I get it up and going.

[2015-10-09 15:49] robynbergeron commented on #1067
[module: database/mysql/mysql_replication.py]

[2015-10-09 15:52] robynbergeron commented on #1067
@luiseterc -- thanks for filing this bug report.

@banyek -- pinging you here to let you know about this bug report, will be pinging in the associated PR as well for review.

[2015-10-09 16:29] robynbergeron commented on #1074
[module: system/gluster_volume.py]

[2015-10-09 16:30] robynbergeron commented on #1074
Hi @Bullettoothtobi -- thanks for submitting this bug report.

@rosmo -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-09 16:34] robynbergeron commented on #1073
Hi @darrengruber -- thanks for submitting this bug report.

@trondhindenes -- pinging you to let you know about this bug report for the win_package module. Thanks for your ongoing maintenance and love to this module :)

[2015-10-09 16:35] robynbergeron commented on #1073
[module: windows/win_package.py]

[2015-10-09 16:40] trondhindenes commented on #1073
This is related to the Set-Strictmode change that was done (which I still am very much against). We're gonna have lots of bugs like this pouring in over the course of the next few months (or longer, depending on usage). In any case, I'll take a look at this particular module and make the necessary changes.

[2015-10-09 17:14] darrengruber commented on #1073
You guys work quick! Thanks for taking a look!

[2015-10-09 17:45] trondhindenes commented on #1073
@darrengruber I'm not getting the same error as you are. I'm getting this:

FAILED! => {"changed": false, "failed": true, "msg": "System.ArgumentException: The specified Name (http://download.microsoft.com/download/F/B/7/FB728406-A1EE-4AB5-9C56-74EB8BDDF2FF/ReportViewer.msi) and IdentifyingNumber ({DFDB4411-54A2-41CE-AB89-CE54C176A69D}) do not match Name (Microsoft Report Viewer 2012 Runtime) and

[2015-10-09 18:44] trondhindenes commented on #1073
Bugfix PR #1076
@darrengruber if you'd like to test the revised version straigt away I'd be more than happy to get feedback on it. You would have to use this one:https://github.com/trondhindenes/ansible-modules-extras/blob/win_package_bugfix/windows/win_package.ps1

Also, it looks like you're trying to use the wrong product id. Ansible will now fail with a more humane message if that happens. Furt

[2015-10-11 07:52] banyek commented on #817
No, I really didn't understood you, sorry. :(
I thought you have a feature request, which you want to merge to the 'official' branch, didn't you?

[2015-10-11 13:14] ag-wood opened #1080 "Firewalld traces with ALREADY_ENABLED when using port name or re-ordered rich rule"
Fails when using a port name (e.g. http) instead of a number or if a rich rule is in the incorrect order (e.g. rich_rule='rule family="ipv4" source address="192.168.1.50" port protocol="tcp" port="80" accept').

Both of the above situations result in  a stack trace that includes:
dbus.exceptions.DBusException: org.freedesktop.DBus.Python.dbus.exceptions.DBusException: ALREADY_ENABLED

[2015-10-11 15:55] gregdek commented on #378
Extras updates are, as a matter of policy, not backported to the stable branch of Ansible.

[2015-10-12 03:23] robynbergeron commented on #1080
Hi @ag-wood -- thanks for the bug report (and the PR!).

pinging @maxamillion to let you know about this issue (and the PR, but will be pinging you there as well.)

[2015-10-12 03:23] robynbergeron commented on #1080
[module: system/firewalld.py]

[2015-10-12 09:07] kerrc opened #1083 "module cannot remove certain limits pam_limits.py"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

pam_limits module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Is it possible to get an ensure: absent component added to this module.

Here I have an example where I want to add limits underneath limits.d as my default but do not want the limit present in limits.conf.

Ideally I want to create a task that will check to see if the value limit_type

[2015-10-12 11:42] nusnewob commented on #237
I've got the same issue trying to setup shovel using rabbitmq_parameter with ansible version 1.9.3.

[code]

Output:

[code]

[2015-10-12 20:55] micahlmartin opened #1086 "Consul: configuration must be `service_name` not `name`"
The documentation shows a service definition likes this:

[code]

This actually causes the error:

[code]

The proper definition should be:

[code]

[2015-10-12 22:18] bcoca commented on #1086
fixed via 15480e3d04f586645516b42863e2c05f55239488

[2015-10-12 22:18] #1086 closed

[2015-10-12 22:29] Dude4Linux commented on #690
There is a bug in LXC's init.d script which was found and fixed upstream.  While we wait for the change to make it into production, we can patch the file as follows:
Change:
[code]
to
[code]
Just change the position of where the lock is set and cleared.

[2015-10-12 22:38] Dude4Linux commented on #690
Here's a better way to see what needs to change.
https://github.com/lxc/lxc/commit/e145bd47c61af60b6239532c1f3d0a8d18f21cd2

[2015-10-13 14:03] mahemoff commented on #664
_Update - ignore my comment here. @ahes has a simpler solution_

<s>Okay for anyone else who got confused and landed here from search, do something like below.

<s>This example assumes you want to add github as a known host.</s>

<s>1. From target host, ssh to github.com.
2. `cat ~/.ssh/known_hosts` and find the line with github.com
3. Copy that line to your Ansible project as a separate file name

[2015-10-13 17:07] mavit opened #1092 "Can't localise inherited ZFS properties because of over-eager impotency"
##### Issue Type:
  - Feature Idea

##### Ansible Version:

[code]

##### Environment:

Solaris 11.

##### Summary:

Many ZFS properties are inheritable from the parent filesystem.

Ansible does not distinguish between local, default, and inherited values.  This makes it impossible to set the local value of a property when the inherited value is already as desired.

It would be possible to modify

[2015-10-13 17:27] rriggs opened #1093 "win_iis_webapppool: The property 'Value' cannot be found on this object"
Please see https://github.com/ansible/ansible/issues/12494
[code]

[code]

[2015-10-13 19:06] volker-fr opened #1095 "s3 module: error message unclear if you download multipart s3 objects and dest=/folder"
If you download a uploaded file with the s3 module the destination needs to be a file. If you set ```dest=/folder``` and the file is a multipart upload, the error message is misleading.

This task

    - s3: bucket=mybucket object=/my/desired/key.txt dest=/usr/local/myfolder mode=get

will result in a unclear error

    msg: Files uploaded with multipart of s3 are not supported with checksum, unab

[2015-10-13 19:07] volker-fr opened #1096 "s3 module: ListBucket permission required while GetObject permission should be sufficient"
I have an EC2 instance with an instance profile. This instance profile allows me to download files from an S3 bucket from another AWS account.

The s3 module is not able to download the file from a external bucket as it should. Error message is

           msg: Target bucket cannot be found

Downloading the file with

     aws s3 cp s3://bucket-in-other-aws-account/folder/file /tmp

works without

[2015-10-13 19:10] rriggs commented on #1093
The issue appears to be triggered by the "managedPipelineMode:0" portion.

[code]

[2015-10-13 20:16] rriggs opened #1097 "win_iis_webapppool: The property 'attributes' cannot be found on this object."
My handler that restarts an app pool is now failing.

[code]
[code]

Putting in a dummy attributes line seems to fix the problem.

[2015-10-13 22:11] wimnat commented on #1095
The s3 module is a core module so you might want to recreate this issue in the ansible-modules-core repo

[2015-10-14 06:17] sapun commented on #690
@cloudnull https://github.com/lxc/lxc/commit/e145bd47c61af60b6239532c1f3d0a8d18f21cd2
my commit to change logic lock file.. lxc_container works good with this lock file

[2015-10-14 07:03] deployable opened #1098 "npm: install doesn't pick up missing devDependencies"
The `npm` module will only install devDependencies for a fresh install. Anything using the `list()` logic will bypass devDependencies completely, for example adding a new package to an existing install.

The [module relies](https://github.com/ansible/ansible-modules-extras/blob/15480e3d04f586645516b42863e2c05f55239488/packaging/language/npm.py#L169-L181) on `npm list --json` which will only report

[2015-10-14 07:03] deployable commented on #1098
Demo setup

[code]

[2015-10-14 07:07] deployable commented on #1098
npm module failing to install missing devDependency of `humanize`

[code]

And `npm list` fails to pick up the missing devDependency, even in `--dev` mode

[code]

Then a plain `npm install` detects and picks it up

[code]

[2015-10-14 07:18] deployable commented on #1098
It might be easier to rely on `npm` to do the dependency checking rather than trying to implement an estimation of the same process in the module? I believe this will be required at least for `production=false` installs.

I'll raise this on the npm side and see if they consider the lack of devDependency missing reporting as a bug too.

[code]

[2015-10-14 07:32] bgeihsgt opened #1099 "win_iis_website fails when removing a site"
##### Issue Type:

Bugfix Pull Request

##### Ansible Version:

[code]
##### Ansible Configuration:

I haven't changed anything that affects this module.

##### Environment:

Running from Ubuntu 14, managing Windows Server 2012 R2.

##### Summary:

win_iis_website fails with property error when removing a web site

##### Steps To Reproduce:

- Create an IIS website
- Run win_iis_website specifying

[2015-10-14 07:38] bgeihsgt opened #1101 "win_webpicmd fails with strict mode errors"
##### Issue Type:

Bugfix Pull Request

##### Ansible Version:

[code]
##### Ansible Configuration:

I haven't changed anything that affects this module.

##### Environment:

Running from Ubuntu 14, managing Windows Server 2012 R2.

##### Summary:

win_iis_webpicmd fails with property error when doing any operation

##### Steps To Reproduce:

- Use webpicmd to install any package

##### Expected R

[2015-10-14 07:54] deployable commented on #1098
The devDependency state is probably parseable from the `npm list --json --long` output which include's the `dependencies` object of what's installed and then a `devDependencies` object of what is listed in  package.json.

That would require the module code to iterate over the devDependencies object, checking if each key is in the `dependencies` object at the right version and installing if not. Ag

[2015-10-14 08:36] ndemengel opened #1103 "Monit only handle processes, but not hosts"
Hi guys,

First, thanks all the good work!
Then, it would great if the monit module could also monitor/unmonitor hosts, and not only processes.

Currently, given the following situation:

[code]

One can use the monit module to monitor/unmonitor 'my_process', but attempting to monitor/unmonitor a host (i.e. writing: `monit: name=my_host state=unmonitored`) will lead to the following result:

[code

[2015-10-14 08:49] robynbergeron commented on #1101
Hi @bgeihsgt -- thanks for filing this bug report (and for the accompanying PR in #1102 :D)

@petemounce - thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-14 09:22] robynbergeron commented on #1099
Hi @bgeihsgt -- thanks for submitting this bug report, and the accompanying PR to fix it -- #1100 :)

@whenrik -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-14 09:25] robynbergeron commented on #1099
[module: windows/win_iss_website.py]

[2015-10-14 09:26] robynbergeron commented on #1101
[module: windows/win_webpicmd.py]

[2015-10-14 09:27] robynbergeron commented on #1103
Hi @ndemengel -- thanks for submitting this feature idea.

@dstoflet -- Pinging you to bring this feature request for your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for

[2015-10-14 09:27] robynbergeron commented on #1103
[module: monitoring/monit.py]

[2015-10-14 09:29] robynbergeron commented on #1098
[module: packaging/languages/npm.py]

[2015-10-14 09:31] robynbergeron commented on #1098
Hi @deployable -- thanks for filing this bug report! (I think it's a bug report, and not a feature request -- let me know if you feel otherwise :D)

@chrishoffman -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-14 09:34] robynbergeron commented on #1092
Hi @mavit -- thanks for submitting this feature idea.

@johanwiren -- pinging you to let you know about this feature request for the zfs module. It looks like @mavit might be willing to implement the feature himself and submit a PR -- if you could give him some feedback on his suggestions, that would be great.

Thanks! :)

[2015-10-14 09:34] robynbergeron commented on #1092
[module: system/zfs.py]

[2015-10-14 10:33] ozamosi opened #1105 "The crypttab modules mangles names incorrectly"
##### Issue Type:
  - Bug Report

##### Ansible Version:

2.0.0

##### Ansible Configuration:

N/A

##### Environment:

N/A

##### Summary:

The crypttab module mangles a lot of names.

##### Steps To Reproduce:

    crypttab: name=my-luks-home state=present opts=discard,cipher=aes-cbc-essiv:sha256

##### Expected Results:

The luks volume `my-luks-home` is added to my crypttab file

##### Actual

[2015-10-14 10:37] robynbergeron commented on #1105
Hi @ozamosi -- thanks for this bug report, much appreciated.

@groks -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-14 10:37] robynbergeron commented on #1105
[module: system/crypttab.py]

[2015-10-14 10:47] deployable commented on #1098
Yep, it's a :bug:

[2015-10-14 18:02] bgeihsgt opened #1107 "win_regedit: Failure in parameter validation and in creating registry key"
##### Issue Type:

Bugfix Pull Request

##### Ansible Version:

[code]
##### Ansible Configuration:

I haven't changed anything that affects this module.

##### Environment:

Running from Ubuntu 14, managing Windows Server 2012 R2.

##### Summary:

Two issues:

1. win_regedit fails with property error when parsing parameters
2. win_regedit fails to create a new registry key with a NonInteractiveMo

[2015-10-14 18:38] kamranayub commented on #771
@perzizzle did you ever figure this out? I'm running into the same thing (TOTALLY unrelated to ansible) where we're querying monitor instance state and the F5 GUI has a monitor defined but the API thinks it doesn't (same exact error). Something must be on F5's end here.

[2015-10-14 21:41] johanwiren commented on #1092
Isn't this the exact same behaviour you get when running the zfs command in the same order? In that case I'd say that the current behaviour is what would give you the least amount of surprises. I currently do not have a zfs box at hand to verify this myself. Will try to find one soon though.

Also, reading the zfs man-page I cannot find a way to specifically set a property as "local" if its value

[2015-10-15 14:57] xrow opened #1112 "firewalld fails, if firewall is not started"
It would be desired that the ansible firewalld module can add a rule even if the firewall is down/not started at the moment.

Here is my use case:
[code]
The task looks like this:

[code]

[2015-10-15 17:32] #1095 closed

[2015-10-15 17:33] volker-fr commented on #1096
Its a core module...

[2015-10-15 17:33] #1096 closed

[2015-10-16 02:04] indrajitr commented on #167
#544 is a reasonable attempt which is quite generic.

[2015-10-18 04:25] jyergatian opened #1118 "osx_defaults should have an option to restart cfprefsd"
As stated in the documentation, changes made by osx_defaults may require a restart to take effect.  This is due to the preferences being caches as of 10.9.   As a workaround/solution, restarting cfprefsd can remove the necessary restart by reloading the cached preferences.

An example of this command looks like the following:

For root-level:
`killall cfprefsd`

For user-level:
`killall -u usernam

[2015-10-19 10:18] seschwar opened #1120 "docker module fails on non-ASCII characters"
##### Issue Type:

Bug Report

##### Ansible Version:

Bug is present in both the latest stable and the latest devel:

    ansible 1.9.4
      configured module search path = /usr/share/ansible

    ansible 2.0.0 (devel 1280e2296c) last updated 2015/10/19 11:14:45 (GMT +200)
      lib/ansible/modules/core: (detached HEAD 5da7cf696c) last updated 2015/10/19 11:14:46 (GMT +200)
      lib/ansible/mod

[2015-10-19 13:38] henrikwallstrom commented on #1061
We will have a look at it :)

[2015-10-19 13:56] seschwar commented on #1120
Moved to ansible/ansible-modules-core#2307 since `docker` is a core module not an extra one.

[2015-10-19 13:56] #1120 closed

[2015-10-19 15:29] #1099 closed

[2015-10-19 15:52] lumix1991 opened #1127 "Pushover module error NameError: global name 'msg' is not defined"
Below error will appear when using the Pushover module to send out a message. This message will be delivered without any issues but the error is printed.
[code]

[2015-10-19 16:12] #1127 closed

[2015-10-19 20:05] rosmo commented on #1074
@Bullettoothtobi, have you tried just passing one host to clusters?

[2015-10-19 22:42] suizman commented on #766
Same here install xfce4 always show changes:

[code]

In my case i am using Ansible 1.9.4 on Arch Linux..

[2015-10-20 05:20] tobias-nawa commented on #1074
Yes. But it didn’t work.

[2015-10-20 22:33] billyburly opened #1129 "known_hosts module fails when using host with port"
If you try to use the known_hosts module to install an key for a host that is on an alternate port, the task will fail.

[code]

The following error will be displayed

[code]

ansible --version
ansible 1.9.4

[2015-10-21 00:24] hashnao opened #1130 "nmcli module failed to run on Mac OS X 10"
Issue Type:
Bug Report (not sure if it's a bug or due to missing some libraries)

Ansible Version:
ansible 2.0.0 (devel 1840906f74) last updated 2015/09/04 14:53:37 (GMT +900)
  lib/ansible/modules/core: (detached HEAD bbcfb1092a) last updated 2015/10/21 08:37:18 (GMT +900)
  lib/ansible/modules/extras: (detached HEAD b8803306d1) last updated 2015/10/21 08:37:28 (GMT +900)
  config file =
  config

[2015-10-21 09:54] robynbergeron commented on #1112
[module: system/firewalld.py]

[2015-10-21 09:54] robynbergeron commented on #1112
@xrow -- Thanks for submitting this feature idea.

@maxamillio
n Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more inf

[2015-10-21 09:55] robynbergeron commented on #1129
[module: system/known_hosts.py]

[2015-10-21 09:56] robynbergeron commented on #1129
@billyburly -- Thanks for submitting this bug report.

@mcv21 thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-21 09:57] robynbergeron commented on #1118
[module: system/osx_defaults.py]

[2015-10-21 09:58] robynbergeron commented on #1118
@sonofiron -- thanks for submitting this feature idea.

@frenck -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more i

[2015-10-21 10:00] robynbergeron commented on #1130
@hashnao -- thanks for submitting this bug report.

@alcamie101 -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-10-21 10:00] robynbergeron commented on #1130
[module: network/nmcli.py]

[2015-10-21 10:03] robynbergeron commented on #1107
@bgeihsgt -- Thanks for submitting this bug report, and the accompanying PR (#1108).

@smadam813 & @joshludwig --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module. Please note there is a PR addressing this issue.

[2015-10-21 10:03] robynbergeron commented on #1107
[module: windows/win_regedit.py]

[2015-10-21 13:25] smadam813 commented on #1107
Will take a look!  Thanks for the bug submission!

[2015-10-22 04:59] MiguelMoll commented on #1129
While investigating a fix for this issue, I realized `ssh-keygen` uses a different format for the host if a port other than 22 is used. It expects the host to be wrapped with brackets `[]` and the port number appended to that. Just like in the key.

So this worked for me:

[code]

Maybe some tweaks to the documentation noting this format would suffice? Otherwise a new `port` argument would have to

[2015-10-22 14:10] lightblu opened #1138 "FirewallD Module Fails with backtrace when firewalld cannot be contacted"
**Issue Type:** Bug Report

**Ansible Version**:

    ansible 2.0.0 (devel 6b419db9fa) last updated 2015/10/21 13:15:31 (GMT +200)
      lib/ansible/modules/core: (detached HEAD dc51e1ae41) last updated 2015/10/21 13:15:36 (GMT +200)
      lib/ansible/modules/extras: (detached HEAD eeeb1264d3) last updated 2015/10/21 13:15:36 (GMT +200)

**Environment:**
Ubuntu hosts managing Centos7 targets in mu

[2015-10-22 16:16] erjohnso opened #1139 "Kubernetes module"
Google is going to contribute an ansible module for managing a kubernetes cluster.  This module will assume the cluster exists and will require the user to specify endpoint / authorization info and will perform basic CRUD operations against the Kubernetes v1 API[1].

I suspect the best place for this module to live is under `clustering/`.  Please voice objections if an alternate location is prefer

[2015-10-22 16:21] rosmo commented on #1074
@Bullettoothtobi, can you give me the module parameters you used?

[2015-10-22 16:50] robynbergeron commented on #1138
[module: system/firewalld.py]

[2015-10-22 16:51] robynbergeron commented on #1138
Hi @lightblu -- thanks for submitting this bug report.

@maxamillion -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module. :)

[2015-10-22 17:22] dreamcat4 opened #1140 "win_package: does not access user_name + user_password for samba share, local authentication"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

win_package module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Hi.
I'm trying to install a package from network share path. However it does not connect / authenticate to the samba share.

The error returned looks likt a kerberos error. But I don't use kerberos connectoin method. Only local auth. So maybe your module is assuming some things.

[code

[2015-10-22 17:26] dreamcat4 opened #1141 "win_package: won't accept non-GUID program IDs"
Hi.

I'm finding very frequently that many installed programs don't register themselves under a GUID key of `/uninstall` registry path. Instead they will have some free-text names. e.g. "Logitech Unifying Software" --> "Logitech Unifying".

This is a problem for many packages as your module errors out. We need to disable that GUID validity check to get them to work.

[code]

Needs to be avoided. H

[2015-10-22 17:34] dreamcat4 commented on #1107
Hi there. I also found problems with this module accepting certain input values. Specifically when trying to set the `data:` or a registry key to be `0` or `false`, `no` or something like that. Then it gets confused and thinks the `data` param doesn't exist or wasn't set to any specific value.

The module is also _very slow_ to process any loop of multiple items using the outside looping of `with_

[2015-10-22 18:04] smadam813 commented on #1107
@dreamcat4 Have you tried after the changes in the pull request?  I did not notice issues that you are referring to when I tested.

To be explicit, you could trying wrapping your value in quotes within the playbook.  Let me know if that fixes the issue.

[2015-10-22 19:17] dreamcat4 commented on #1107
@smadam813

Thanks! Indeed you are right - my git is now behind and not including those recent changes. Glad to hear there are some fixes ongoing. I can see the bit i had to change for the no-value data, and it's also been substantially changed in the ^^ above referenced commit. So probably fixed, sorry I haven't actually retest yet but it looks promising.

[2015-10-22 19:23] dreamcat4 opened #1142 "win_regedit: slow performance when looping (to set multiple registry keys)"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

win_regedit module
##### ANSIBLE VERSION

N/A
##### SUMMARY

This module is _very slow_ to process a loop of multiple items. At least when using the outside looping of `with_items:`. It re-uploads a new copy of same / similar ps1 script to be setting each individual key. And as things stand the winrm file transfers are very slow.

Not sure which w

[2015-10-23 15:40] dreamcat4 commented on #1140
@trondhindenes Hi there. I was hoping to somehow fix or improve your powershell code in this module. To get samba share working on local accounts. But so-far I really can't see any specific point where there might be an issue with your code.

Could this failure be because ansible insists on running each and every winrm cmds seperately as `'PowerShell' ['-NoProfile', '-NonInteractive',` ?

^^ Why t

[2015-10-23 17:05] dreamcat4 commented on #1140
And here's another one:

[code]

It kindda feels like the same UAC error I get whenever I try executing any `.exe` or other programs from a samba share. Although it isn't UAC, maybe we would have better luck if the file is first to be copied over to the target windows machine, and then executed from there. Like the HTTP path method.

Well "sort of". Because it isn't consistent or reliable (winndow

[2015-10-24 13:24] wunzeco commented on #827
+1

I have tried with Ansible v1.9.2 and v1.9.4 and I get exact same errors

Here's what i'm doing

[code]

Output:

[code]

Could someone who's managed to use this module successfully explain his/her workaround please?

[2015-10-24 15:55] erjohnso commented on #1139
Hi folks - looking for some input from you on preferred implementation approach to this module.  Grab a cup of coffee, this will be lengthy...

For the sake of discussion, let's use [Namespaces](http://kubernetes.io/v1.0/docs/admin/namespaces/).

Please take a moment to look at the `create Namespace` API method on the [swagger doc](http://kubernetes.io/third_party/swagger-ui/) - navigate to `api/v

[2015-10-24 16:14] trondhindenes commented on #1140
Good find. I'll take a look and report back. As for debugging, you can just set `export ANSIBLE_KEEP_REMOTE_FILES=1` and the powershell script will persist on the target node so that you can debug it. (appdata\temp folder of the user executing the script)

[2015-10-24 18:24] bcoca commented on #827
weird, since consul_kv is not present in those versions, it was added in 2.0

[2015-10-24 18:32] dreamcat4 commented on #1140
Thanks @trondhindenes for the debugging tip I appreciate that.

When you investigate, it may turn out these weird error messages are down to credentials limitations in windows itself. What struck me was the inconsistency of these different errors between runs.

So I've setup a local http server in the meantime. Which is working very reliably.

[2015-10-24 21:00] trondhindenes commented on #1140
ok great. The credentials passed are used  in line 647 in the module, basically creating a psdrive using new-psdrive with the credential as a parameter (among others). It would be interesting to test wether you're able to construct a psdrive from your windows box to the samba share using those same credentials.

[2015-10-25 02:43] jimi-c commented on #1139
My main concern with option #2 is that it removes the ability to specify variables for values in the JSON file. I know or cloudformations module can accept a list of template parameters, but this is more a built-in function of cloudformations rather than our module code. Reading the docs, I'm not seeing a comparable option, unless I missed it?

[2015-10-25 08:40] dreamcat4 commented on #1140
Ah interesting. I followed your suggestion and executed the kept downloaded script locally. And from inside an admin powershell session, of logged in user account. But it gets the same error message:

https://gist.github.com/dreamcat4/497bbd61889a8716c187

There is only 1 samba username I have ever used as a login for that samba share (`ansible`).

http://powershell.com/cs/forums/t/22452.aspx

Tak

[2015-10-25 13:34] brunokindt opened #1154 "npm module ignores PATH set with Ansible environment keyword"
The npm and node are executables are located in ~/.local/bin. Using npm.executable the npm executable is found. Using the ansible environment keyword to update the PATH environment to include the npm executable results in ```msg: Failed to find required executable npm```.

## ok

[code]

## fails

[code]

[2015-10-25 15:22] zwicky11 opened #1155 "Modul "cpanm" not working"
I use user "root" with key-login - not using "sudo". If the perl package not installed and i try to install i get ever an error:
# Dancer = example, same problem with another perl packages (Net::IP , Config::Simple , Proc::PID::File )
i@ansible ~/ansible $ ansible -u root -m cpanm hostx.xyz.xx -a 'name="Dancer" notest=false'
hostx.xyz.xx | FAILED! => {
    "changed": false,
    "failed": true,

[2015-10-25 15:42] zwicky11 commented on #1155
Manual installation on the server works perfect:

root@host120 ~ # cpanm Config::Simple Proc::PID::File
--> Working on Config::Simple
Fetching http://www.cpan.org/authors/id/S/SH/SHERZODR/Config-Simple-4.58.tar.gz ... OK
Configuring Config-Simple-4.58 ... OK
Building and testing Config-Simple-4.58 ... OK
Successfully installed Config-Simple-4.58
--> Working on Proc::PID::File
Fetching http://www.c

[2015-10-26 12:20] romanek-adam commented on #237
As indicated in [a comment](https://github.com/ansible/ansible/issues/7005#issuecomment-42894813) in ansible/ansible#7005 one can add a space character in front of the value as a workaround of this issue, e.g.:

[code]

However, it's only a workaround. I implemented a true fix in the `rabbitmq_parameter` module and submitted a PR.

[2015-10-26 12:25] romanek-adam opened #1159 "rabbitmq_policy: support for '--apply-to' argument"
The current implementation of `rabbitmq_policy` module does not support the `--apply-to` argument of `rabbitmqctl`.

[2015-10-26 13:35] bcoca commented on #1154
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The npm module does not use PATH at all to locate the npm executable, that is what the executable option is for.

In the future, this might be a topic more wel

[2015-10-26 13:35] #1154 closed

[2015-10-26 13:36] bcoca commented on #1155
fixed via 08d89bca9ca539612943305d94946bf511daac3e

[2015-10-26 13:36] #1155 closed

[2015-10-26 14:46] baudren opened #1161 "win_nssm issue with no appParameters specified"
#### Issue Type

- Bug Report

#### Ansible Version
1.9.4

#### Ansible Configuration

Contents of `.ansible.cfg` in the root of my project.

[code]

Using the ansible extra `win_nssm` (copied the `.ps1` and `.py` file).

#### Environment
- Debian 7.7 Wheezy to run Ansible
- Managing a Windows 7 Enterprise, SP1 (connection via a kerberos ticket)

#### Summary
When defining a service with `win_nssm

[2015-10-26 18:46] bermudezjd opened #1163 "Add cors support to s3_bucket module"
##### ISSUE TYPE

Feature Request
##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

N/A
##### SUMMARY

Add cors support to s3_bucket module
@wimnat : mind if I take a crack at adding cors xml support in my fork for an eventual PR?

[2015-10-26 21:36] mdinicola opened #1164 "win_chocolatey always returning items have changed"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
1.9.4

##### SUMMARY
I am using Ansible 1.9.4 with the latest win_chocolatey module.

It is always returning that items have changed, even when they have previously been installed successfully with Chocolatey.

 win_chocolatey: name=dotnet3.5

On the server, if I do "choco list --local-only dotnet3.5", I can se

[2015-10-27 01:50] chachra opened #1165 "ec2_remote_facts throws "unsupported parameter for module: aws_secret_key""
-   name: Find EC2 instances
    ec2_remote_facts:
        key: Name
        value: "{{ aws_project_name_env_branch }}"
        region: "{{ aws_region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
    register: ec2_instances

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "unsupported parameter for module: aws_secret_key

[2015-10-27 02:30] chachra commented on #1165
Could this be the same issue as #940 ?

[2015-10-27 06:24] jhawkesworth commented on #1142
There is work in progress on speeding up winrm file transfers  - see https://groups.google.com/forum/#!topic/ansible-devel/aAFdMPvYiFs  - this is going to be very useful in all sorts of ways.

I have just contributed a new win_regmerge module here https://github.com/ansible/ansible-modules-extras/pull/1166 which might also be helpful for you as you can use win_template to create registry entries a

[2015-10-27 08:37] dreamcat4 commented on #1142
Awesome. I really appreciate both these ongoing works. Many thanks for letting me know.

[2015-10-27 09:24] h0nIg opened #1167 "win_updates: win2008 + powershell 3 fails"
Hey,
i'm trying to execute updates via ansible, but the task is failing on win 2008 since the RunAsTask property / method is not defined.

there is already a logic for powershell v3, but the author does not check the version (If ($PSVersionTable.PSVersion.Major -gt 3)) but decided to check the property that colides with strict support on ansible 2.0

[code]

[2015-10-27 09:28] h0nIg commented on #1167
what do you think @nitzmahone @petemounce ?

[2015-10-27 15:24] perzizzle commented on #771
Sorry, this email slipped through the cracks. In our instance I believe it was the result of upgrading our gear from old versions and the api not supporting old health monitors. I changed our health monitors to use icmp instead of gateway icmp and it started to work. THat and I use the filter parameter to only get the status of devices I care about. @kamranayub

[2015-10-27 17:04] erjohnso commented on #1139
Option 1 it is.  Shortly after posting this, I realized that we'd sacrifice variables with Option 2 and I can't find an elegant way of dealing with that.

The `kubectl` command also take YAML format. At least a few examples use YAML vs JSON, so I'll try to make the ansible YAML match kubernetes YAML syntax as much as I can. I suspect I'll run into a few gotchas, but I hope it'll generally be prett

[2015-10-27 17:17] nitzmahone commented on #1167
Yeah, I developed/tested this before the strict mode change went in, and we don't have CI running tests for this module yet. I'd still rather be explicit about checking for the existence of the method rather than checking the PS version, though. I'll PR a fix...

[2015-10-27 17:53] joostdevries opened #1169 "ecs_taskdefinition: Should always register when state=present"
Issue Type: Bug Report

Ansible Version: devel
##### Summary:

Once a task definition is registered to ECS, there is currently no way to register a new revision using Ansible because [here](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ecs_taskdefinition.py#L185) it checks whether any active task definition is registered for the family. If so, it will just skip executio

[2015-10-27 18:33] jimi-c commented on #1097
Per the comment on #1114, can you please confirm if this resolved your issue?

Thanks!

[2015-10-27 18:34] jimi-c commented on #1093
Per the comment on #1114, can you please confirm whether this has been resolved for you?

Thanks!

[2015-10-27 18:36] jimi-c commented on #1139
@erjohnso yeah, the only other option I see is to support both ways. Not sure how painful that'd be, but since simply specifying an existing JSON file is pretty painless and easy it might not be too much more work.

Thoughts?

[2015-10-27 19:16] dkhabarov opened #1170 "lxc_container module error ValueError: too many values to unpack"
Ansible version: 1.9.2

[code]
Task:
[code]
Vars:
[code]

OS: Ubuntu 14.4

[2015-10-27 21:42] brendandburns commented on #1139
We actually prefer YAML to JSON in our examples.  JSON is for machines, YAML is for humans is our general rule of thumb.

[2015-10-27 21:43] bcoca commented on #1139
a note that says 'since JSON is a subset of YAML, you can also use it if you must'

[2015-10-27 22:32] aeibrahim opened #1171 "seport missing from 1.9"
seport is listed as new in version 1.7.1 in the documentation but it's missing from the 1.9 branch.

[2015-10-27 22:34] erjohnso commented on #1139
Ok, I think I'm on a good path and thanks everyone for the input.  I have a working stub for creating Namespaces and it maps very cleanly to the v1.Namespace definition, so the end user won't have to do a lot of extra conversion.

For reference, here's an example of the Kubernetes v1.Namespace definition in YAML:

[code]

Here's what it looks like in an ansible playbook:

[code]

I'm essentially h

[2015-10-27 23:09] nitzmahone commented on #1167
Fixed: https://github.com/ansible/ansible-modules-extras/pull/1172

[2015-10-27 23:33] #1171 closed

[2015-10-28 05:43] chrrrles commented on #1141
Hi dreamcat - would you be prepared to create a pull request for this?

[2015-10-28 06:32] chrrrles commented on #1164
Hi mdinicola,

Creating an issue report will help us in reliably reproducing and fixing this bug.  Thanks.

##### Issue Type:

Can you help us out in labelling this by telling us what kind of ticket this this?  You can say:
- Bug Report
- Feature Idea
- Feature Pull Request
- New Module Pull Request
- Bugfix Pull Request
- Documentation Report
- Docs Pull Request

##### Ansible Version:

Let us kn

[2015-10-28 06:36] chrrrles commented on #1165
Hi Chachra,

Which version of Ansible are you running?  And also, may you fill out our issue template so that we may better address the issue?

##### Issue Type:

Can you help us out in labelling this by telling us what kind of ticket this this?  You can say:
- Bug Report
- Feature Idea
- Feature Pull Request
- New Module Pull Request
- Bugfix Pull Request
- Documentation Report
- Docs Pull Reques

[2015-10-28 08:49] dreamcat4 commented on #1141
Hello there! This package belong to @trondhindenes? Can he also coment please?

I am hoping for some discussion first before make a fix. Because there can be more than 1 solution to fix this problem and I'm not sure which way.

We could either:
- Disable GUID checking entirely in all cases. And make the `product_id:` a free text field. This value will still be checked (by other verification proces

[2015-10-28 10:17] trondhindenes commented on #1141
Sorry @dreamcat4  - I'm terribly busy at work atm. I'll try and find the time to look at this during the next couple of days.

[2015-10-28 10:28] dreamcat4 commented on #1141
Thanks man, no problem.

[2015-10-28 20:58] trondhindenes commented on #1141
@dreamcat4 could you test and see if this PR fixes your problem?  #1174

I tested this using:

[code]

Please test and let me know!

[2015-10-28 23:57] wimnat commented on #1163
Hi @bermudezjd.  I did do some work on cors support.  I'll see if I can pull it out.

I wouldn't add it to s3_bucket.  I think my plan was a new module s3_cors_rule which added and removed individual rules as necessary.  I think this is cleaner that trying to add all your cors rules in one module.

PS you might want to move this conversation to ansible devel google group.

[2015-10-29 00:03] dreamcat4 commented on #1141
@trondhindenes Looks good. Just tried it... didn't see any problems.

[2015-10-29 01:58] timw opened #1176 "crypttab module fails with /etc/crypttab lines with > 2 parts"
##### Issue Type:

  - Bug Report

##### Ansible Version:

ansible 1.9.4
  configured module search path = None

##### Ansible Configuration:

Nothing major

##### Environment:

CentOS Linux release 7.1.1503 (Core)
Ubuntu Server 14.04

##### Summary:

When a line in /etc/crypttab contains more than 2 parts, the module script will fail with a python script error.

This appears to be due to the `_sp

[2015-10-29 09:56] mgedmin commented on #656
This affects Ansible 1.9.4 too.  Do you plan to backport the fix for 1.9.5?

[2015-10-29 15:33] agrgic opened #1179 "Stopping ec2 instances by tags is not working"
As stated in the docs:

instance_tags
a hash/dictionary of tags to add to the new instance or for starting/stopping instance by tag; '{"key":"value"}' and '{"key":"value","key":"value"}'

You can't stop instances by just providing (a) tag(s), using:
[code]
As my yml gives the following error:

failed: [localhost -> 127.0.0.1] => {"failed": true}
msg: running list needs to be a list of instances to

[2015-10-29 18:09] ypid commented on #1176
I had the same issue. Thanks to @timw for reporting and fixing. Please apply this patch.

[2015-10-30 01:02] #1176 closed

[2015-10-30 19:40] MattTheRat opened #1184 "npm module does not update packages when state=latest"
There is a [function in npm.py](https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/language/npm.py#L248) that executes an `npm update` but it does not appear to be used. Currently executing the following play will not update packages.

[code]

There is nothing obvious in the code to suggest the update function should not be used and making the change locally does fix the issue.

[2015-10-31 12:08] machacekondra commented on #1033
Hi @tomjakubowski patch which fix this issue was merged, you can try if it works OK for you, now.

[2015-10-31 16:20] machacekondra commented on #1170
I think this[1] should fix your issue. So you should update.

[1] https://github.com/ansible/ansible-modules-extras/pull/639

[2015-11-01 21:07] dreamcat4 commented on #1107
@smadam813 I've been using these changes for a while now. It has solved my previous input validation problems and is working well.

[2015-11-01 21:09] dreamcat4 commented on #1140
There is also something called "New-CimSession" too. Although I doubt it will solve such issue, here is a link for completeness anyway:

https://technet.microsoft.com/en-us/library/jj590760%28v=wps.630%29.aspx

[2015-11-01 22:16] #1107 closed

[2015-11-01 23:32] trondhindenes commented on #1140
I'm afraid CimSession is not related here. The error you're getting is interesting, indicating that you already have an SMB session against the file server using a different user name (Windows doesn't support that). I might have to stand up a samba server to take a closer look at this.

[2015-11-01 23:33] trondhindenes commented on #1140
Btw, the "sessions" it complains against is regarding the target (samba) server, not the share. So if you already have an open session against another share on the same server with a different username (or anonymous) then it's never going to work. That is just how Windows works. But I'll try and get this tested anyhow.

[2015-11-01 23:35] trondhindenes commented on #1141
Fixed in #1174 , we can go ahead and close this.

[2015-11-02 00:25] yuppie-flu opened #1190 "maven_artifact: extension arg is optional in docs but actually required"
### Description
According to **maven_artifact** module documentation **extension** argument is optional and default value is jar. As for me it's pretty reasonable behavior. However actually this argument is required in the latest version of ansible.
### Steps to reproduce
[code]
### Expected
Jar file with the latest gson library was downloaded.
### Actual:
Command failed with error message *"msg":

[2015-11-02 00:39] #1190 closed

[2015-11-02 08:16] tomjakubowski commented on #1033
:+1: thanks!

[2015-11-02 08:16] #1033 closed

[2015-11-02 08:40] dkhabarov commented on #1170
Thx.

[2015-11-02 21:52] dreamcat4 opened #1195 "win_nssm: app_parameters - Unrecognized escape sequence"
Hi,
the following task:

[code]

Results in this error message:

[code]

It seems the `\\` escaping is wrong in your module. Because when I put in an extra 2 `\\` it then works:

[code]

The problem is that we can't do that (make 4 backslashes) for templated parameters which may also be used elsewhere in ansible. The level of escaping must be consistent throughout ansible. So therefore I beleive t

[2015-11-02 21:54] dreamcat4 commented on #1195
@gfrank If you could please take a look at this issue when you have the time.

[2015-11-02 22:01] georgefrank commented on #1195
sure thing!

[2015-11-03 02:49] srkiNZ84 commented on #1072
This is also affecting me.

[2015-11-03 05:25] jhawkesworth commented on #1072
@srkiNZ84 could you test https://github.com/ansible/ansible-modules-extras/issues/1077 as hopefully that will fix the problem for you?

[2015-11-03 14:53] georgefrank commented on #1195
PR made https://github.com/ansible/ansible-modules-extras/pull/1198

[2015-11-03 15:04] dreamcat4 commented on #1195
Thanks man! I'll try it out.

[2015-11-03 15:08] dreamcat4 commented on #1195
BTW (not very important / doesn't matter) I just also noticed in the other file `win_nssm.py` you had copy-pasted `password:` declaration twice by accident. (from your 13 days ago documentation change).

Back to testing the escaping.

[2015-11-03 15:09] georgefrank commented on #1195
Oh noes! I can tackle that now too.

[2015-11-03 15:26] georgefrank commented on #1195
Since you're using the win_nssm module - what do you think of the whole app_parameters implementation? Specifically that it uses an underscore to denote a non-key-value parameter (`"_":"foo"`). It seems clunky to me, but the one thing it has going for it is that the order of all parameters is maintained when the underlying nssm command is created.

I was thinking of breaking key-value params and s

[2015-11-03 15:33] dreamcat4 commented on #1195
OK the escaping seems not to give any error for me now. With the escaping either way before or after. So it seems good to me.

In regards to `app_parameters:` I think it's fine / very good because you clearly documented it, including how to put un-named `args` using `_:`. So I don't mind myself.

However if you want to change that behaviour I would recommend a single array of quoted strings e.g. `

[2015-11-03 15:41] georgefrank commented on #1195
Thanks! Since it works now and is documented well enough, I'll just let it be.

[2015-11-03 16:43] dreamcat4 commented on #1195
@georgefrank Hi again!

You fixed the escaping but there seem some other bug now (in latest version) with the `app_parameters`. I didn't have your very latest version before, but it had been working.

I'll explain the issue, and how to reproduce it:

[code]

That's my task ^^ in ansible. Run that, then go to windows machine, and type `nssm edit mongoose_wsusoffline_iso` to bring up the NSSM Servic

[2015-11-03 16:59] georgefrank commented on #1195
Shame on me! On it now.

[2015-11-03 17:04] robynbergeron commented on #1195
Hi @dreamcat4 -- thanks for filing this bug report, and @georgefrank -- thanks for your quick response. Looks like you guys have things underway here, just adding labels :) Carry on! <3 :)

[2015-11-03 17:04] robynbergeron commented on #1195
[module: windows/win_nssm.py]

[2015-11-03 17:05] robynbergeron commented on #1184
[module: packaging/language/npm.py]

[2015-11-03 17:06] robynbergeron commented on #1184
@MattTheRat -- Thanks for submitting this bug report.

@chrishoffman -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-03 17:17] robynbergeron commented on #1179
Hi @agrgic -- is this for the ec2_tag module? If so, that is a core module and the issue needs to be filed here: https://github.com/ansible/ansible-modules-core/issues

When you do that -- or if this is for a different module that is in extras -- you might want to consider giving us the following additional information to help the module maintainer identify the issue: https://github.com/ansible/an

[2015-11-03 17:54] robynbergeron commented on #1169
[module: cloud/amazon/ecs_taskdefinition.py]

[2015-11-03 17:55] robynbergeron commented on #1169
@joostdevries -- Thanks for submitting this feature idea.

@Java1Guy -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for m

[2015-11-03 19:07] georgefrank commented on #1195
Heyo! I tried to get ahead of myself - using the [Regex]::Escape(), when really I only needed to escape the slashes. https://github.com/ansible/ansible-modules-extras/pull/1198 has the updated code now.

[2015-11-03 19:11] dreamcat4 commented on #1195
OK I test again and report back.

[2015-11-03 19:19] dreamcat4 commented on #1195
@georgefrank Thanks it worked fine the app params issue fixed now and is all OK as far as I can see from here. Thanks again for this module. It's very good one.

Please merge code when you can.

[2015-11-03 20:32] srkiNZ84 commented on #1072
Have tested #1077 and can confirm that it does fix the problem for me.
Previously:
`win_unzip: src="C:\file.zip" dest="C:\Directory"`
would fail, complaining about missing "creates", "recurse" and "rm" arguments and had to be worked around with:
`win_unzip: src="C:\file.zip" dest="C:\Directory" creates=False recurse=False rm=False`
This is no longer the case.

[2015-11-03 21:14] danieldbower opened #1200 "Create a bucket on Amazon s3 with Ansible results in Location Constraint Error for region us-east-1"
I'm trying to repeat the simplest example for creating an s3 bucket for us-east-1 from the documentation, but I keep getting the following error:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was:
    &lt;Error>
      &lt;Code>InvalidLocationConstraint&lt;/Code>
      &lt;Message>The specified location-constraint is not valid&lt;/Message>
      &lt;Lo

[2015-11-04 06:41] eest commented on #97
This request has been in the back of my mind for a while. While I am still reluctant to add -z by default for the above reasons, I would probably be OK with adding a new argument to the module which activates it, something like "fuzzy=yes" perhaps. This would make it possible to have the module be as strict as it currently is by default, yet allow people to write less cumbersome playbooks if they

[2015-11-04 08:23] landryb commented on #97
That would just make our lifes easier imo. As for the previous points you make, we dont care if pkg_delete doesnt have -z, we can always get the exact pkgstem from another source (command pkg_info etc..) or gather the installed pkg list via facts and delete the correct version.

As for pkg_add being hard to interact with, we're always open to feedback on the pkg_tools, especially in improving retu

[2015-11-04 08:38] agrgic commented on #1179
hi @robynbergeron I have already filed it at the core-modules and they said to me that I need to file it here so I did.

If you look at the documentation: http://docs.ansible.com/ansible/ec2_module.html, it says that if you want to stop by tag you have to do the following:

 Start stopped instances specified by tag

[code]

If you look at my snippet I did it like that but it still does not work (i

[2015-11-04 18:46] erjohnso commented on #1139
For anyone following along, here's what I have so [far](https://github.com/erjohnso/ansible-modules-extras/blob/google-kubernetes/clustering/kubernetes.py)[1].  It's a bit different than what was last proposed, but I think overall, this is much cleaner.

It supports in-line YAML and users can effectively copy/paste the Kubernetes YAML [examples](https://github.com/kubernetes/kubernetes/tree/master

[2015-11-05 08:48] tarrychk opened #1205 "crypttab module fails with "global name 'field' is not defined""
##### Issue Type:
Bug Report

##### Ansible Version:

1.9.4, devel

##### Summary:

Method "_split_line" in system/crypttab.py references undefined variables. The issue is that array variable "fields" is referenced as "field" and scalar variables "field2" and "field3" are referenced as "fields2" and "fields3", respectively.

Using consistent variable names fixes the issue for me.

[2015-11-05 09:31] #1205 closed

[2015-11-05 09:32] tarrychk commented on #1205
This was fixed by 3099469b already. Sorry for the noise.

[2015-11-05 16:37] malicure commented on #1130
You may want to install the package NetworkManager-glib on your target and try again.
Apparently this module uses the older API in stead of NetworkManager-libnm

[2015-11-05 21:41] romainrbr opened #1209 "iptables module : Use state instead of ctstate ?"
A few days ago @dvigueras added conntrack module ctstate support to the iptables module.

However, contrack has to be enabled on old kernels.
If we refer to this discussion : https://groups.google.com/forum/#!msg/VGLUG/A1VVZLrwudY/NaitoDnSPvkJ it seems that using :

	-m state --state
Is actually translated into

	-m conntrack --ctstate

Shouldn't we replace "-m conntrack --ctstate" by "-m state --

[2015-11-06 13:03] #1167 closed

[2015-11-06 15:33] omame opened #1214 "Verbs change in Elasticsearch 2.0.0"
Since Elasticsearch 2.0.0 `plugin` dropped the double-dash for verbs. So what used to be `--install` now became `install`. Hence, [this](https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/elasticsearch_plugin.py#L114-L117) doesn't work with new versions.

[2015-11-06 23:54] bmillemathias opened #1217 "module promox is broken with Proxmox VE 4.0"
AFAIK proxmox dropped support of openvz container in favor of lxc in the latest release (4.0 as of today), but module proxmox uses the openvz type container.
Any attempt for me gave an error 501, confirmed by the pveproxy log ```"POST /api2/json/nodes/cactus/openvz HTTP/1.1" 501 130"```

I tried to replace any ```openvz``` call by a ```lxc``` call but it doesn't suffice to make the module work.
it

[2015-11-07 07:17] AjeetK commented on #956
@MichielDeMey  +1 for the same issue. Facing same problem. Any other solution other than your workaround? because your workaround is not working for me.

[2015-11-07 12:56] hrzbrg commented on #1169
+1
would really love to see this.

[2015-11-08 11:53] bmillemathias commented on #1217
I'm still stuck trying to debug what the server does expect but I cannot find information.
I'd appreciate any advise to get more information on server or client side.

Thansk

[2015-11-08 18:44] robynbergeron commented on #1214
Hi @omame -- Thanks for submitting this bug report.

@ThePixelDeveloper -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-08 18:45] robynbergeron commented on #1214
[module: packaging/elasticsearch_plugin.py]

[2015-11-08 18:52] robynbergeron commented on #1217
@bmillemathias -- thanks for filing this bug report.

@undergreen -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-08 18:52] robynbergeron commented on #1217
[module: cloud/misc/proxmox.py]

[2015-11-08 19:49] bmillemathias commented on #1217
The openvz to lxc migration patch is located at https://github.com/bmillemathias/ansible-modules-extras/commit/2ee4bc08c910d866bf8d8f862bd84e61ef6da3a8

[2015-11-09 05:07] Etherdaemon opened #1221 "New Module - AWS Cloudfront"
I am planning on implementing a module to implement the main AWS Cloudfront features.

These include actions for distributions, streaming distributions, origin_access_ids:
* creating
* updating
* deleting .

Also the inclusion of creation of invalidations against distributions.

[2015-11-09 07:19] vishr commented on #659
I tried `"{{ (groups['gluster']|difference([inventory_hostname]))|join(',') }}"` as @bcoca suggested, but then it creates brick on all hosts but the current. Somehow setting host to current IP is working, I don't know why. Please reopen the issue.

[2015-11-09 07:25] dkhabarov commented on #1170
Fix #639 does not solve my problem. The error remained.

[2015-11-09 08:58] grypyrg commented on #719
This fix was necessary for me as well (@banyek!)

[2015-11-09 09:32] mightydok commented on #1170
@dkhabarov paste somewhere ur playbook and other files for testing, please.

[2015-11-09 13:13] fredrikwidlund commented on #659
"Closing this ticket as the module is not really doing anything wrong, it is just being given information that will make gluster fail."

I tripped over this as well just now. From what I can see gluster does not fail, "gluster peer probe localhost" will report success but warn that it is not needed. Exit status is 0.

[2015-11-09 13:22] fredrikwidlund commented on #659
Also the above suggested workaround does not work, the probe stage succeeds, but the volume is not created correctly since the local node is excluded from the set. From our perspective this module is broken with a catch-22 issue. All nodes need to be listed for the volume to be created, but the local node can't be listed since the module bails on the gluster warning that the localhost probe is unn

[2015-11-09 14:01] frenkel opened #1224 "Npm module gives errors"
I have this role:

[code]

Using latest ansible 1.9-stable branch,  Node 5.0.0 or Node 0.10.4 I get these errors on some Mac OS systems:

[code]

What am I doing wrong?

[2015-11-09 14:01] frenkel commented on #1224
Btw, manually running `npm install node-sass grunt grunt-cli` installs without problems. Also running `npm list --json` doesn't seem to give wrong output.

[2015-11-09 16:18] sklaus commented on #659
shouldn't then not the module to be written as such, that:
a.) takes all IPS for creation
b.) probes only the other nodes?

Why doing a module at all when it doesn't work in all cases?

[2015-11-09 19:18] trondhindenes commented on #1073
@robynbergeron we can probably go ahead and close this out. Assuming the fix worked.

[2015-11-10 03:06] mircea-vutcovici opened #1227 "lxc_container core dump caused by SIGSEGV"
When trying to create a container, the container is created but the remote python script generates a core dump when running the following line:
['ips': self.container.get_ips(),](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/lxc/lxc_container.py#L880)
If I remove that line ansible exits successfully.

[code]

[code]

[code]

[code]

[code]

[code]

The playbook: drcaweb-playbo

[2015-11-10 14:17] mattwwarren commented on #1184
@robynbergeron what can I do to push this issue forward? It would appear the maintainer of the npm plugin is not active and there is an open pull request I can confirm fixes this.

Granted I've only been running it for a few days but it has not introduced any bugs. I'm happy to go through a more formal process and assume maintenance.

[2015-11-10 14:43] offero commented on #1184
Seconded. This is a simple change and is really messing with our deployment workflow. Please merge.

[2015-11-10 17:57] bcoca commented on #1184
closing via merged #446

[2015-11-10 17:57] #1184 closed

[2015-11-11 11:10] xpicio opened #1233 "win_unzip exception on windows 2012 R2 core"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

win_unzip module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Hello, on windows 2012 R2 core using the module win_unzip i have the following exception to decompress a zip file:

`NameSpace" with "1" argument(s): "Unspecified error (Exception from HRESULT: 0x80004005 (E_FAIL))`

here my playbook snippet:

[code]

At the moment i patched the script wit

[2015-11-11 18:03] erjohnso commented on #1139
Closing this issue out now that there is a PR for the module: https://github.com/ansible/ansible-modules-extras/pull/1229

[2015-11-11 18:03] #1139 closed

[2015-11-11 23:05] ThomasLamprecht commented on #1217
http://pve.proxmox.com/wiki/Manual:_pct look at the create command for the changed things, it should be do-able to adapt this for PVE4, using if clauses do differ between PVE2/3 and PVE4 should suffice to not break compatibility.
I haven't done anything with ansible, but will try to give it a look, but no promises :)

[2015-11-12 05:56] jhawkesworth opened #1236 "win_regedit: can't remove registry entries following #1107"
##### Issue Type:

  - Bug Report

##### Ansible Version:

ansible 2.0.0 (reg_merge_tests 7b83698ac2) last updated 2015/10/27 06:29:59 (GMT +100)

(yes this is a branch but the branch just adds integration tests, so likely the same on latest devel.

##### Ansible Configuration:

config file =
configured module search path = None

##### Environment:

Ansible Controller: Lubuntu 14.04
Targets:
Windo

[2015-11-12 06:00] jhawkesworth commented on #1236
@smadam813 - can you spare any cycles to investigate?
cc ing @bgeihsgt for info/comment.

[2015-11-12 23:37] avtar opened #1239 "dnf module doesn't install packages when 'state' is set to 'latest'"
##### Issue Type:

  - Bug Report

##### Ansible Version:

ansible 1.9.4
  configured module search path = None

##### Ansible Configuration:

I'm using the default config.

##### Environment:

Fedora 22

##### Summary:

The ``dnf`` module doesn't install packages when ``state`` is set to ``latest``. It only works when ``state`` is set to ``present``.

##### Steps To Reproduce:

I'm using nginx as

[2015-11-14 00:11] oupala commented on #914
Sorry for the long delay.

I passed my test case again, and I did not reproduce the problem either.

I'm closing this issue.

[2015-11-14 00:11] #914 closed

[2015-11-14 17:26] blakeday opened #1244 "Feature: Add parameter to bigip_node to wait for backend node to be available"
Issue Type: Feature Idea

Please add a wait parameter to bigip_node. When set, this parameter should cause the module to wait for the load balancer to report the backend server as UP when session_state=enabled and monitor_state=enabled.  The goal is to pause execution of a serial playbook until the "current" backend is available again.

It appears that the haproxy module has an equivalent feature.

[2015-11-15 19:12] johnarnold commented on #1214
FWIW I verified that removing the double-dashes from the module works with ES 2.0

[2015-11-16 11:17] ThePixelDeveloper commented on #1214
Alright, I'll take a look at it this week, thanks for bringing it to my attention.

[2015-11-16 11:18] gmaruzz commented on #659
fredrikwidlund is right

[2015-11-16 12:55] amatas commented on #1239
Seems to be related with dnf, and seems fixed with the latest dnf packages update:

[code]

Before the update:

[code]

After the packages update:

[code]

[2015-11-16 16:27] avtar commented on #1239
I just confirmed that the example nginx playbook above works after upgrading dnf to 1.1.3. Thanks, @amatas!

[2015-11-16 16:27] #1239 closed

[2015-11-16 18:45] pmarques opened #1251 "RiakCS bucket provisioning support"
Hi, RiakCS uses S3 API but is not yet 100% compliant. I would like t discusse some changes that I have made to support RiakCS bucket provisioning:

RiakCS doesn't support versioning pays & it seems to not support tags and payments
* https://github.com/ansible/ansible-modules-extras/compare/devel...pmarques:s3_none_options

Suppoer proxy on S3 connection:
* https://github.com/ansible/ansible-module

[2015-11-16 19:18] pmarques commented on #1251
Also due to other issue on RiakCS we need to force Content-Type when "putting" policy:
https://github.com/ansible/ansible-modules-extras/compare/devel...pmarques:s3_bucket_policy

[2015-11-16 19:29] bcoca commented on #1251
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop by there, we'd appreciate it.  This

[2015-11-16 19:29] #1251 closed

[2015-11-16 20:58] pmarques commented on #1251
Done: https://groups.google.com/forum/#!topic/ansible-project/jAjwDcmJhBA

[2015-11-16 21:26] lifeofguenter commented on #425
:+1: (happens on strato.de VPS as well)

[2015-11-16 22:47] xavpaice opened #1253 "Puppet module no stdout when rc=2"
I think it would be really helpful to capture stderr and stdout when the RC=2 from a Puppet run - currently the puppet module doesn't output this leaving us to scrape log files etc.

Easy change to L200, happy to submit PR if people agree this would be a good approach?

[2015-11-17 09:12] bjoernbessert commented on #521
I've implemented this feature and currently testing it. What is the opinion here: Should it be implemented as another parameter in context to "wait" (and executed after the wait loop for server status('MAINT')) or should this be an independent feature (then you need a minimum of 2 ansible tasks) ?

@ravibhure

[2015-11-17 17:34] JusticeForMikeBrown opened #1257 "nagios module - fail_json() takes exactly 1 argument (2 given)"
Using ansible 1.9.4

downtime.yml:
[code]
Command:
[code]
Task:
[code]
Output:
[code]
Any idea?

Thanks

[2015-11-17 19:29] perdurabo93 commented on #978
Was this ever resolved?

[2015-11-19 08:41] cybertk opened #1265 "homebrew_tap: Cannot add tap hosted outside of GitHub"
##### Issue Type: Feature Idea

##### Ansible Version: ansible 1.9.4

##### Ansible Configuration:

##### Environment: EL Capitan

##### Summary:

While homebrew can add tap hosted outside of GitHub with `brew tap <user/repo> <url>`, but for ansible homebrew_tap module, we cannot achieve this.

[2015-11-19 14:19] Ferroin commented on #428
If this is stil an issue, it's because the lvol module is assuming that an operation on an existing LV is intended to change the size (which is only the case if the size argument differs from the actual LV's size), and lvreduce (my guess is the module is checking size <= the current LV's size to decide to use reduce) returns failure when the LV is already the requested size.

[2015-11-19 14:24] Ferroin opened #1266 "lvol module can't be used to take snapshots"
One of the things that I (and a lot of other people I know) use LVM for is the ability to take snapshots.  Because of how the lvol module works, it can't be used to take a snapshot.

Lvol always requires the vg argument, and always passes this as the last argument to the lvcreate command.  However, lvcreate's --snapshot option requires the VG to be specified in the origin volumes name (so for exam

[2015-11-20 14:32] roryirvine commented on #659
I struggled with this issue for a while, but now I think I've worked out what was going on.

I was supplying a list of cluster member IP addresses, and not setting a value for 'host'.

If host isn't set explicitly, the module sets it using 'socket.gethostname()' - ie. it's using a hostname, not an IP address.

Setting 'host' explicitly to be the host's own IP address causes it to correctly be excl

[2015-11-20 20:15] vincentvdk commented on #978
I couldn't test the cloud-init code @firstyear added. I might have a look at it this weekend or next week.

[2015-11-20 20:16] vincentvdk commented on #430
I'll have a look at it.

[2015-11-22 13:35] dreamcat4 opened #1271 "win_package: Download redirected file"
Hi,
Some download URLs don't contain the tgt setup .exe filename, and it seems to throw `win_package:` entirely. Here is an example:

[code]
The file isn't recognized as an executable / does not get installed. The error msg looks like this:

[code]

Not sure if it redirects. But here is what wget shows:

[code]

Where the saved `index.html` is in fact an executable file (which should have been nam

[2015-11-23 10:41] tronicum commented on #1253
I i try to run puppet it goes to that "check if puppet is disabled here" clause where it fails with that "elif rc !=0" check. I needed to remove that elif to get that puppet agent run working.

[2015-11-23 10:46] tronicum opened #1273 "puppet module uses timout binary"
ansible version: git latest
issue type: bug/feature request

summary: the puppet modules uses the "timeout" binary (Line 215) from GNU coreutils to set a puppet agent timeout. centos 5.7 don't have a recent coreutils RPM so fails on such hosts. puppet has a built in timeout parameter. it would be much nicer to use native that option.

[2015-11-23 10:46] trondhindenes commented on #1271
Hm, not sure we'll be able to solve that one. The module uses the file extension to decide wether to use msiexec or simply executing the file, which we won't be able to do in case of a redirect. I think your best option would be to use win_url do download the file first, and then win_package to execute that file from disk.

[2015-11-23 12:18] dreamcat4 commented on #1271
OK.

But maybe it _is possible_, if we set the user agent string like they say here:

https://social.technet.microsoft.com/Forums/en-US/23fccc30-5f84-4a84-8160-c6e95102b11c/powershell-invokewebrequest-sourceforge-urlsredirectiondynamic-content?forum=winserverpowershell

For example, try this cmd in powershell:

[code]

And we can see it downloaded both the redirected file and knows it's filename t

[2015-11-23 12:22] trondhindenes commented on #1271
Yup, no objections there. I'm just thinking that it doesn't make sense to put a very specialized solution into the module. I don't think every download page that does redirects uses the user-agent like this site does. Changing this behavior would be a major refactoring of an already complex module, so I'm not sure it's worth it. PR's welcome, of course.

[2015-11-23 12:48] guibw opened #1274 "zabbix_host module example doesn't work on 2.0"
hello,

I'm following the zabbix_host module example on http://docs.ansible.com/ansible/zabbix_host_module.html

however, it doesn't seem to work at all

this is my playbook: http://pastebin.ca/3270021
this is the fail return that I'm getting:
fatal: [192.168.20.115 -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "internal error: do not know how to interpret argument_spec"}

I'

[2015-11-23 13:13] larryon commented on #206
I have just installed ansible on ubuntu/trusty64 with vagrant and a lot of the extras-modules are not installed.
vagrantfile :
Vagrant.configure(2) do |config|
  # The most common configuration options are documented and commented below.
  # For a complete reference, please see the online documentation at
  # https://docs.vagrantup.com.
#config.vm.box = "ubuntu/trusty64"
  # Every Vagrant developm

[2015-11-23 13:29] dreamcat4 commented on #1271
I got the impression that it works always. We should check if it works for Sourceforge.net 'files latest' redirects. As sourceforge is so popular - many projects.

[2015-11-23 13:37] dreamcat4 commented on #1271
Confirmed - the proposed method works with any sourceforge.net urls too.

e.g.

[code]

Just hesitant to modify your code because I don't understand it / cannot follow very well. I'm just a novice with powershell.

[2015-11-23 14:24] ryansydnor commented on #1200
This is fixed by https://github.com/ansible/ansible-modules-extras/pull/1268.

[2015-11-23 15:39] gmaruzz commented on #659
thx!!!!

On Fri, Nov 20, 2015 at 3:32 PM, Rory Irvine notifications@github.com
wrote:

##

Sincerely,

Giovanni Maruzzelli
Cell : +39-347-2665618

[2015-11-23 17:45] bcoca commented on #1200
closing via merged #1268

[2015-11-23 17:45] #1200 closed

[2015-11-23 21:16] xavpaice commented on #1253
See https://github.com/ansible/ansible-modules-extras/pull/1260

[2015-11-24 03:39] dwcramer opened #1278 "rabbitmq_user throws "ValueError: need more than 1 value to unpack" in some cases"
I've been getting intermittent failures of rabbitmq_user so I added a print statement around line 137 to see what's going on:

[code]

That indeed shows me what's happening (see longer listing at bottom). Note the second item in the list is:

[code]

It appears that the list_users command is getting some extra stuff back from the shell in the form of the "Last login" message. I'm not sure what the

[2015-11-24 05:24] dwcramer commented on #1278
FWIW, wrapping it in a try/except seems to work:

[code]

[2015-11-24 19:36] martinbomio commented on #1179
@agrgic I will like to help solving you issue but I am not sure I fully understand it.
You want to create a new instance with the provided tags?
if so, you should probably specify `state=present` and not running. I believe if you specify `state=running` you need to specify `instance_ids` so you can add the tags to those running instances.

[2015-11-24 20:03] gregdek commented on #1097
Closed due to inactivity.

[2015-11-24 20:03] #1097 closed

[2015-11-24 20:03] gregdek commented on #1093
Closed due to inactivity.

[2015-11-24 20:03] #1093 closed

[2015-11-24 23:03] Lerenn opened #1282 "firewalld module needs "python-firewalld" to works (not python3 version)."
Hi everyone,

I've [found](http://stackoverflow.com/questions/33904917/ansible-and-fedora23-firewalld-required-for-this-module/33905418#33905418) that firewalld module needs "firewall" library. Normally, it's installed with firewalld, except that Fedora23 installs python3 version of the package. So it doesn't work with Ansible (I suppose, Ansible uses Python2). So I just installed the right librar

[2015-11-25 07:00] robynbergeron commented on #1224
[module: packaging/language/npm.py]

[2015-11-25 07:01] robynbergeron commented on #1224
@frenkel -- Thanks for submitting this bug report.

@chrishoffman -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:02] robynbergeron commented on #1227
[module: cloud/lxc/lxc_container.py]

[2015-11-25 07:03] robynbergeron commented on #1227
@mircea-vutcovici --Thanks for submitting this bug report.

@cloudnull -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:05] robynbergeron commented on #1257
@JusticeForMikeBrown -- thanks for submitting this bug report.

@tbielawa -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:05] robynbergeron commented on #1257
[module: monitoring/nagios.py]

[2015-11-25 07:06] robynbergeron commented on #1265
[module: packaging/os/homebrew_tap.py]

[2015-11-25 07:07] robynbergeron commented on #1265
@cybertk Thanks for submitting this feature idea.

@danieljaouen -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more

[2015-11-25 07:08] robynbergeron commented on #1266
[module: system/lvol.py]

[2015-11-25 07:09] robynbergeron commented on #1266
@Ferroin Thanks for submitting this feature idea.

@jhoekx @abulimov -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for m

[2015-11-25 07:10] robynbergeron commented on #1271
[module: windows/win_package.py]

[2015-11-25 07:11] robynbergeron commented on #1271
@dreamcat4 Thanks for submitting this bug report.

@trondhindenes -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module. Looks like you're already in discussion here, so... thanks, as always :)

[2015-11-25 07:12] robynbergeron commented on #1273
[module: system/puppet.py]

[2015-11-25 07:15] robynbergeron commented on #1273
@tronicum -- Thanks for submitting this feature idea.

@emonty -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more in

[2015-11-25 07:15] robynbergeron commented on #1274
[module: monitoring/zabbix_host.py]

[2015-11-25 07:16] robynbergeron commented on #1274
@guibw Thanks for submitting this bug report.

@cove @harrisongu -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:18] robynbergeron commented on #1282
[module: system/firewalld.py]

[2015-11-25 07:21] robynbergeron commented on #1282
@Lerenn -- Thanks for submitting this bug / docs report.

@maxamillion -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:22] robynbergeron commented on #1278
[module: messaging/rabbitmq_user.py]

[2015-11-25 07:22] robynbergeron commented on #1278
@dwcramer Thanks for submitting this bug report.

@chrishoffman -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 07:23] robynbergeron commented on #1253
[module: system/puppet.py]

[2015-11-25 07:24] robynbergeron commented on #1253
@xavpaice Thanks for submitting this feature idea.

@emonty -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more infor

[2015-11-25 07:25] robynbergeron commented on #1253
@xavpaice -- note that this appears to be implemented in #1260, which was merged today -- you can probably give that a try and let us know if this can be closed out :)

@emonty -- this is likely already taken care of, as FYI :)

[2015-11-25 07:36] tronicum commented on #1253
No this merge just gives changes back to ansible but does not change the timeout problem. It is also not just a feature request (the timeout issue). Users with old Linux versions deployed can't use the module with the timeout binary requirement.

[2015-11-25 08:29] robynbergeron commented on #1170
[module: cloud/lxc/lxc_container.py]

[2015-11-25 08:31] robynbergeron commented on #1170
@dkhabarov -- Thanks for submitting this bug report, and thanks to @machacekondra @mightydok for your comments and help thus far :)

@cloudnull -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 08:32] robynbergeron commented on #1170
@dkhabarov -- if you could paste the information requested by @mightydok for assistance in troubleshooting, that would be helpful.

[2015-11-25 08:36] robynbergeron commented on #1195
@dreamcat4 & @georgefrank -- I just marked #1198 for inclusion, as FYI. Will close this out after it gets merged.

Thanks, everyone!

[2015-11-25 08:38] robynbergeron commented on #1209
@romainrbr -- thanks for submitting this bug report / feature idea, and for the accompanying PR. :)

It looks like it's been merged, so I'll close this out.

Cheers!

[2015-11-25 08:38] robynbergeron commented on #1209
[module: system/iptables.py]

[2015-11-25 08:39] #1209 closed

[2015-11-25 08:39] robynbergeron commented on #1214
@ThePixelDeveloper -- thanks for the update, let us know when you have something ready. :)

[2015-11-25 08:43] robynbergeron commented on #1221
@Etherdaemon -- Thanks for submitting this feature idea.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. If anyone is interested in contributing this as a new module, you can consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more information.

And it looks like you have already done just that :) -- looks lik

[2015-11-25 08:43] #1221 closed

[2015-11-25 08:44] robynbergeron commented on #1244
[module: network/f5/bigip_node.py]

[2015-11-25 08:45] robynbergeron commented on #1244
@blakeday -- Thanks for submitting this feature idea.

@mhite --  Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more in

[2015-11-25 08:45] robynbergeron commented on #1236
[module: windows/win_regedit.py]

[2015-11-25 08:47] robynbergeron commented on #1236
@jhawkesworth -- Thanks for submitting this bug report.

@smadam813 @joshludwig --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module. And re-pinging @bgeihsgt as @jhawkesworth did originally :)

[2015-11-25 08:48] robynbergeron commented on #1233
[module: windows/win_unzip.py]

[2015-11-25 08:49] robynbergeron commented on #1233
@xpicio Thanks for submitting this bug report.

@schwartzmx -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-25 10:21] trondhindenes commented on #1271
@dreamcat4 what we can do is to add an option to the module called "force_extension" or similar, which makes the module treat the incoming file as either an msi or an exe regardless of the actual extension. Would that work for you?

[2015-11-25 11:51] dreamcat4 commented on #1271
Yep - totally fine by me. Would really appreciate that.

[2015-11-25 12:43] emonty commented on #1273
@tronicum we actually use the timeout binary because the timeout parameter in agent does not protect against puppet agent hangs - which we actually had consistent problems with in a large farm. However, it should be simple enough to detect if timeout exists on the host and if not pass timeout to agent anyway.

[2015-11-25 13:44] tronicum commented on #1273
That is a nice solution, we have an mixed cluster with old and new centos vms so it could use timout if exists

[2015-11-25 14:19] smadam813 commented on #1236
Sorry for not stepping in earlier!  I have been crazy busy lately, so I will take a look as soon as I can.

[2015-11-25 15:28] timlnx commented on #1257
It's really difficult to read your input files @JusticeForMikeBrown . Could you please format that with markdown styling, or put them into a gist?

It's really difficult to tell what's happening at all in your situation. Are you still able to reproduce the error?

[2015-11-25 16:49] smadam813 commented on #1236
I submitted a pull request (#1286) which fixes this issue.  @jhawkesworth Please let me know if this fixes the issue for you!

[2015-11-25 17:09] Constantin07 opened #1287 "ec2_remote_facts - documentation is not updated"
Hi All,

The documentation here http://docs.ansible.com/ansible/ec2_remote_facts_module.html states that there is 'filter' option whereas the actual module has no such option at all. Probably replacement for 'lookup'.

This is confusing. Could you please sync the docs with the actual state of module?

Regards,
 Constantin

[2015-11-25 21:05] trondhindenes commented on #1271
@dreamcat4 would you mind trying this commit to see if it works for you? The example url above doesn't seem to work on server OS'es so I'm having a hard time testing it:
https://github.com/trondhindenes/ansible-modules-extras/blob/win_package_force_extension/windows/win_package.ps1

[2015-11-25 21:24] dreamcat4 commented on #1271
What about the python file that goes with it? Can't see it changed there in your feature branch.

[2015-11-25 21:29] trondhindenes commented on #1271
sorry haven't changed it yet. The option is called "force_extension", which you can set to "exe" or "msi"

[2015-11-25 21:55] trondhindenes commented on #1271
sorry, should be ".exe" or ".msi"

[2015-11-25 22:06] xavpaice commented on #1253
I really don't understand what's going on here.

The original issue was to track the addition of stderr and stdout to the output of a puppet run when the RC is 2 - I submitted #1260 to achieve that and as far as I can see this can be closed.

@tronicum the timeout issue is something completely separate, and I don't actually understand what that problem even is.  I'll close this one off and ask if

[2015-11-25 22:06] #1253 closed

[2015-11-25 23:09] tronicum commented on #1253
@xavpaice there is already a an issue for that (issue #1273 ), and an PR that solves it. I probably mixed up the comment "this is likely already taken care of" as an solution to the timeout problem. whatever, they are separate so close is fine here.

[2015-11-25 23:19] tronicum opened #1289 "system/puppet.py check if puppet is disabled does not work"
type: bug report
version: git devel as of today
summary: in line 139 of a check tries to find out if puppet is disabled. it runs PUPPET_CMD + " config print agent_disabled_lockfile". If that failes with rc != 0, the module fails, too. In my setup this always fails. My current guess is, that not all puppet versions support that parameters and fail for that reason. I will try to investigate further.

[2015-11-26 06:43] jhawkesworth commented on #1236
To confirm here as well.. Yes https://github.com/ansible/ansible-modules-extras/pull/1286 fixes this issue.

Once https://github.com/ansible/ansible-modules-extras/pull/1286 has been merged this can be closed.

Many thanks everyone.

[2015-11-26 10:29] ghost commented on #1227
I hit the same problem today and ended up here. I've had success testing the module in the past but don't have a record of which release of lxc I was using.

It does appear to be a problem with python2-lxc. A snippet like:

[code]

runs fine under python3 and the in tree python-lxc module, but will segfault with python2-lxc.

As python2-lxc is effectively unmaintained, to use it with this module w

[2015-11-26 10:32] Mogztter opened #1290 "pam_limits - documentation is not updated"
`limit_type` choices are `hard`, `soft` in the [documentation](http://docs.ansible.com/ansible/pam_limits_module.html) but in the [code](https://github.com/ansible/ansible-modules-extras/blob/devel/system/pam_limits.py#L95) `-` is supported.

[2015-11-26 12:17] lukearmstrong commented on #425
Get the same error on Ubuntu, done nothing special before now, just giving `locale_gen` a go for the first time and it doesn't work.

Going to use this workaround instead of deleting `/etc/locale.gen` as I don't know what that file is used by and deleting it seems a bit excessive.

https://github.com/typo3-ci/infrastructure/commit/648dce2637a3c47edcb924697afc8df73ac759fc

[2015-11-26 12:25] Constantin07 opened #1292 "route53_facts.py - fails with unexpected keyword argument 'boto3'"
##### Issue Type:

Bug Report
##### Component Name:

route53_facts module
##### Ansible Version:

ansible-1.9.4-1.el7.noarch
##### Ansible Configuration:

Playbook:
cat route53_facts.yml -vv

[code]
##### Environment:

CentOS Linux release 7.1.1503 (Core)

boto==2.38.0
boto3==1.2.2
botocore==1.3.9
# python --version

Python 2.7.5
##### Summary:

The module fails with error.
##### Steps To Reproduc

[2015-11-26 19:33] mightydok commented on #1170
@robynbergeron same error as @dkhabarov posted, fix #639 dont help.
Playbook:

[code]

[2015-11-26 20:54] mightydok commented on #1170
@robynbergeron this bug was already fixed: https://github.com/ansible/ansible-modules-extras/commit/24cfcd2497f1d68cfffaef6f5afa355018f663c2 + #639 bug fix and module works with @dkhabarov config.

Ubuntu have very old modules, so they need updates.

[2015-11-27 00:19] ghost commented on #910
Another +1 for this support.

At the moment we're forcing it by doing this (eg):

[code]

We then trigger a firewall reload to ensure this has been applied, meaning a firewall reload happens every time

[2015-11-27 06:05] autotune commented on #523
Issue is able to be replicated on CentOS 7 as well, note the following steps to reproduce:

**Environment**
CentOS Linux release 7.1.1503 (Core)

**Steps to reproduce (elaborated)**:

 # test to see if error returns when incorrect server entered
[autotune@ansibledev 523]# echo "disable server localnodes/we1" | socat stdio /var/run/haproxy.sock
No such server.

[autotune@ansibledev 523]# echo "enab

[2015-11-27 14:02] superquadratic commented on #1054
If I'm not mistaken, #909 includes this feature (by providing an `installarguments` parameter).

[2015-11-27 20:56] #1290 closed

[2015-11-27 23:45] angystardust commented on #428
@robynbergeron, this is still an issue for me :disappointed:

[2015-11-29 16:09] #1170 closed

[2015-11-29 17:43] crainiarc opened #1300 "'expect' module does not detect pexect python module when in a virtualenv"
In order to keep my python modules organized, I usually set up a virtualenv before installing my python modules. For my ansible script, I have a virtualenv with the following python modules:
- paramiko
- PyYAML
- Jinja2
- httplib2
- pexpect

When I run my ansible script (which uses the expect module), I get the following error:
```The pexpect python module is required```
Thus suggesting that the p

[2015-11-29 22:57] mscherer commented on #1300
Hi,

I think this question should rather go the ansible user mailling list ( https://groups.google.com/forum/#!forum/ansible-project ), since that's not a bug report or a issue.

I suspect there is a way by using a different ansible_python ( as explained on https://stackoverflow.com/questions/20575084/best-way-to-always-run-ansible-inside-a-virtualenv-on-remote-machines ), but people on the list m

[2015-11-29 23:57] bcoca commented on #1300
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-11-29 23:57] #1300 closed

[2015-11-30 09:59] wimnat commented on #1287
The filters option is indeed present in the devel branch which is where I believe docs is built from. Where's your HEAD? ;)

[2015-11-30 10:39] Constantin07 commented on #1287
I'm looking at 'devel' branch at a21d935e66da40d6184b0dc12d3e894917279476 and current doc http://docs.ansible.com/ansible/ec2_remote_facts_module.html

[2015-11-30 10:48] bdgscotland commented on #378
Hey folks, I've worked around this by running this command as part of the play:
`choco feature enable -n allowGlobalConfirmation`

[2015-11-30 16:39] ifelsefi commented on #1257
Sorry, I am a n00b.

 # ansible command

`ansible-playbook ~/repos/playbooks/downtime.yml -e hosts=tusamgt1p02 -K`

 # downtime.yml

[code]

  # ~/repos/playbooks/roles/downtime/tasks/main.yml

[code]

 # error

[code]

[2015-11-30 16:55] bcoca commented on #1257
what version of ansible? pytnon? OS?

[2015-11-30 17:14] detiber opened #1305 "yum_repository module does not support additional settings provided by yum plugins"
One example off the top of my head is the yum-plugin-priorities module which allows for setting priorities on repos. The yumrepos module should support a way to provide arbitrary additional settings on a repo.

@jtyr I failed to notice your PR before it was merged to bring this up, but on https://github.com/ansible/ansible-modules-extras/pull/411 I proposed the following for supporting this:

[cod

[2015-11-30 19:45] ifelsefi commented on #1257
RHEL 6.7

Python 2.6.6

Ansible 1.9.4

[2015-11-30 19:47] ifelsefi commented on #1257
Thanks for the markdown assistance!

[2015-11-30 20:00] cloudnull commented on #1227
@mircea-vutcovici I'm looking into this issue now, and will see if I can reproduce it. @geoffwright can you confirm the version of LXC your running and on what OS/Version?

[2015-11-30 20:18] ghost commented on #1227
I'm running it on Ubuntu 15.10

[code]

[2015-11-30 20:28] robynbergeron commented on #1292
[module: cloud/amazon/route53_facts.py]

[2015-11-30 20:29] robynbergeron commented on #1292
@Constantin07 -- Thanks for submitting this bug report.

@Etherdaemon --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-11-30 20:29] robynbergeron commented on #1289
[module: system/puppet.py]

[2015-11-30 20:31] robynbergeron commented on #1305
[module: packaging/os/yum_repository.py]

[2015-11-30 20:31] robynbergeron commented on #1305
@detiber -- Thanks for submitting this feature idea.

@jtyr -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for more infor

[2015-11-30 20:58] cloudnull commented on #1227
@geoffwright  Thank you for that.

@geoffwright / @mircea-vutcovici:
I can confirm the issue when using the package `python-lxc` which installs version **lxc-python2==0.1** of the python2 libs. However when I install the same lib from PyPi (package name `lxc-python2`) everything works and is installing the _same_ version. I also confirmed that if I install the same lib directly from git everything

[2015-11-30 21:07] dwcramer opened #1308 "In rabbitmq_policy, tags values that should be ints are passed in a strings"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

rabbitmq_policy module
##### ANSIBLE VERSION

N/A
##### SUMMARY

I worked around the bug described below (the original report was from a colleague) with the following hack:

[code]

I can set the max-length-bytes for a rabbitmq_policy as follows:

[code]

where max-length-bytes is set to a literal number. This works fine.  But I need to replace th

[2015-11-30 21:14] Etherdaemon commented on #1292
Hi @Constantin07.
I'm still waiting for https://github.com/ansible/ansible/pull/13166#issuecomment-157045269 to be merged unfortunately as this module relies on the main module_utils/ec2.py and requires boto3. Do you want to try manually adding the changes in the above pull request while you wait for it to be merged?

[2015-11-30 21:22] jtyr commented on #1305
@detiber I'm very happy that you brought this feature up as I was thinking about it recently as well. The biggest advantage of this new feature would be that it would allow to override already defined params and also add new params without the need to modify the role where the module is used. For example, some people might need to use a proxy server when fetching packages and if the author of the

[2015-11-30 21:28] ghost commented on #1227
I really should have spent a little more time looking at this instead of moving on to lxd.

Installing from PyPi or from source worked for me.

Also installing the package from Xenial works as this appears to be built against the newer lxc release.

[2015-11-30 21:48] detiber commented on #1305
@jtyr I see no problems with using params for the parameter name. My main goal is to be able to leverage this module to replace the templates I'm currently using.

[2015-12-01 01:12] bcoca commented on #1287
@Constantin07 soo, the filters option is implemented in devel, line 125 of the file, you can see it even in the specific hash you point at above.

[2015-12-01 01:12] #1287 closed

[2015-12-01 06:31] cloudnull commented on #1227
@geoffwright thank you very much for testing and confirming your results.

@robynbergeron / @mircea-vutcovici I'm moving to close this issue as its something to do.with the libs as installed from the Ubuntu package and not a bug in the module.

@mircea-vutcovici if there are any further questions regarding this issue please let me know as I'd be happy to help but I think updating to the latest pyt

[2015-12-01 13:10] Mogztter opened #1312 "pam_limits - improve documentation"
* Adds `comment` parameter
 * Adds new examples with:
  * `comment` parameter
  * `value=unlimited`
  * `limit_type=-`

[2015-12-01 13:11] ggrossetie commented on #1290
@bcoca Thanks, do you know when the documentation will be updated on http://docs.ansible.com/ansible/pam_limits_module.html ?

[2015-12-01 16:57] eparis commented on #1139
Sadly I just found this.  I would have suggestted option #2 but make the json/yaml a jinja template file instead of a static file...  Ok, off to see the actual code.

[2015-12-01 17:15] bcoca commented on #1290
we manually push changes to the site, you'll probably see it before the end of the week.

[2015-12-01 17:21] Constantin07 commented on #1287
@wimnat @bcoca Yes, all is fine. Thanks.
Probably I've looked at old version of document. Sorry.

[2015-12-01 17:33] robynbergeron commented on #1308
[module: messaging/rabbitmq_policy.py]

[2015-12-01 17:34] robynbergeron commented on #1308
@dwcramer -- Thanks for submitting this bug report.

@retr0h -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-01 17:41] robynbergeron commented on #1312
@Mogztter -- Thanks for submitting this bug/docs report, and for the accompanying PR in #1313.

@usawa --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module; please note that there is a PR for a fix as well that has already been sent your way for approval.

[2015-12-01 18:18] #1312 closed

[2015-12-01 21:29] Constantin07 commented on #1292
Hi @Etherdaemon
I will wait until it's merged as I have temporarily implemented a workaround using AWS CLI which works fine.

[2015-12-01 22:06] erulabs opened #1316 "Consul module idempotency"
Hey guys! I wonder if anyone can provide a bit of insight into this comment:

https://github.com/ansible/ansible-modules-extras/blob/fdb4a58f975fc4df4b22157b97428b0b274a0d3d/clustering/consul.py#L33-L38

Was hoping I could help further that effort along on either the consul or the ansible side, but after some searching im not able to find much news about this upcoming api :(

Maybe @sgargan can he

[2015-12-01 22:36] edsonmarquezani opened #1317 "Cannot create S3 buckets in us-east-1"
I can't create S3 buckets in *us-east-1* region (US Standard) with *s3_bucket* module. Setting *region* attribute as another region makes it work, but using *us-east-1* throws the following error:

` <Error><Code>InvalidLocationConstraint</Code><Message>The specified location-constraint is not valid</Message><LocationConstraint>us-east-1</LocationConstraint><RequestId>062E949D00F5D730</RequestId><

[2015-12-01 23:11] daveres commented on #1164
Bug Report: win_chocolatey always reports changed state
Ansible Version: 2.0.0

Ansible Configuration:

default configuration

Environment:

Ansible controller: Ubuntu 14.04.3 LTS
Controlled machine: Windows 2012 R2 (all updates installed)

Summary:

win_chocolatey always reports changed state

Steps To Reproduce:

Make a playbook with the following code:

[code]

Expected Results:

the first time

[2015-12-02 12:07] wimnat commented on #1317
Are you sure your development branch has the latest changes? A fix for this was merged just over a week ago

[2015-12-02 18:18] resmo opened #1320 "[v2] cloudstack: cs_firewall argument zone is missing"
reported by @atsaki:

cs_firewall fails to create firewall rule when multiple zones exist because the default region may not have the target ipaddress. This patch allows users to specify zone by parameter.

Patch is https://github.com/resmo/ansible-cloudstack/pull/31

Waiting for @atsaki to get the credits for making a PR here as well for v2

[2015-12-02 18:30] resmo opened #1321 "cloudstack: cs_volume: Ignore display_volume when account is not Root Admin"
Currently cs_volume can not be used for users with not root admin permissions because display_volume is always used due defaulted to `True`. Changing the default to `None` should fix it.

reported by @atsaki

[2015-12-02 20:34] ifelsefi commented on #1257
So I need nagios.cfg!?

[2015-12-02 20:38] bcoca commented on #1257
yep, that is probably why no one else saw that error

[2015-12-02 20:38] bcoca commented on #1257
and that nagios config needs to have an entry for the command file

[2015-12-02 20:41] ifelsefi commented on #1257
Thanks.  I am using Check_MK so this module probably will not work...

[2015-12-02 20:42] bcoca commented on #1257
you can still have a nagios.cfg that points to the command file with check_mk

[2015-12-03 11:23] sgargan commented on #1316
@erulabs So the issue is really this, in order to be able to test if there was a change when registering a check you need to be able to retrieve what is currently registered so you can compare it to what you intend to register. Unfortunately the api does not currently allow you to retrieve this.

I asked about it on the consul mail list at the time and while they agreed that it would be useful to

[2015-12-03 16:13] halberom commented on #1317
Testing Ansible RC1 and hit this. Not sure how it could be done, but flagging of RC1 known bugs would be useful.

[2015-12-03 17:33] Constantin07 opened #1323 "s3_lifecycle.py - overwrites previous rules"
##### Issue Type:

Bug

##### Ansible Version:

ansible-1.9.4-1.el7.noarch

##### Ansible Configuration:

Variable definition:
[code]

Task:
[code]

##### Environment:

CentOS Linux release 7.1.1503 (Core)

##### Summary:

The last lifecycle rule overwrites the previous ones so cannot create multiple rules.

##### Steps To Reproduce:

Try to create multiple rules in loop.

[code]

##### Expected R

[2015-12-03 22:21] edsonmarquezani commented on #1317
I'm using the devel branch (the very head of the repository), I doubled, tripled checked it. I cannot see what I can be possibly doing wrong.

[2015-12-04 00:04] #1236 closed

[2015-12-04 01:12] wimnat commented on #1317
I can't replicate this.  If I don't specify a region in my play, the bucket is created in us-east-1.  If i specify the region as us-east-1, the bucket is also created without error.

Can you add detail based on https://github.com/ansible/ansible/blob/devel/ISSUE_TEMPLATE.md?

I'm particularly interested in what your play looks like and how you are authenticating to Amazon.  I.e. is it an IAM role,

[2015-12-04 01:54] wimnat commented on #1323
Hi @Constantin07, thanks for the bug report.  Try https://github.com/ansible/ansible-modules-extras/pull/1325

[2015-12-04 02:18] wimnat commented on #1163
Linking PR https://github.com/ansible/ansible-modules-extras/pull/1177

[2015-12-04 08:40] agrgic commented on #1179
@martinbomio What I am trying to do is stop and start instances with a certain tag.

So say for instance I have 5 instances with the following tag:

Sandbox = yes

I want to stop and start those instances with this specific tag.

[2015-12-04 10:06] halberom commented on #1317
Following up, the bug's definitely in RC1, but devel (tested at e201a255d17) worked for me.

[2015-12-04 15:32] #1282 closed

[2015-12-04 17:23] robynbergeron commented on #699
Hey there, Mr. Burwell! :)

Just doing a bit of housecleaning. Looks like #701 got merged a while ago... and since it was your bug report and PR, I'm going to assume that this fixed your issue and close this out.  If for some reason you don't think it's ready to be closed out, just let us know!

Thanks for your contribution -- hope all is well with you :)

[2015-12-04 17:23] #699 closed

[2015-12-04 18:32] robynbergeron commented on #841
Hi @sclausson  -- thanks for submitting this bug report, and the accompanying PR #842 :)

Doing a bit of housekeeping -- and since the PR fix for this issue appears to have been merged, I'm going to go ahead and close this out. If you feel otherwise, let us know! :)

Thanks!

[2015-12-04 18:32] #841 closed

[2015-12-04 18:33] robynbergeron commented on #830
[module: packaging/language/cpanm.py]

[2015-12-04 18:34] robynbergeron commented on #830
@martenlehmann Thanks for submitting this feature idea.

@franckcuny -- Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/ansible/developing_modules.html) for m

[2015-12-04 18:35] robynbergeron commented on #769
[module: system/zfs.py]

[2015-12-04 18:37] robynbergeron commented on #769
@techmunk -- Thanks for submitting this bug report.

@johanwiren --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:38] robynbergeron commented on #751
[module: clustering/consul_kv.py]

@mattupstate -- Thanks for submitting this bug report.

@sgargan -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:48] robynbergeron commented on #847
[module: monitoring/monit.py]

@Osterjour -- Thanks for submitting this bug report.

@dstoflet --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:51] robynbergeron commented on #630
[module: messaging/rabbitmq_user.py]

@sanketdangi01 - Thanks for submitting this bug report.

@chrishoffman - thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:53] robynbergeron commented on #610
[module: system/locale_gen.py]

@bcomnes -- Thanks for submitting this bug report.

@augustuskling - thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:55] robynbergeron commented on #1161
[module: windows/win_nssm.py]

@baudren Thanks for submitting this bug report.

@georgefrank @h0nIg --  thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2015-12-04 18:59] robynbergeron commented on #932
[module: packaging/os/pkg5.py]

@Steffeng5 Thanks for submitting this bug report.

@mavit -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

It looks like you were both conversing in #933 after it got closed -- though not sure if there was a resolution from the conversation. Just giving a friendly reminder -- if this can be closed, let

[2015-12-04 19:38] georgefrank commented on #1161
Taking a look now. Thanks for the bug report!

[2015-12-04 20:22] nitzmahone commented on #1195
fix merged from #1198

[2015-12-04 20:22] #1195 closed

[2015-12-04 20:24] abadger opened #1326 "Replace outdated idiom choices=BOOLEANS"
Argument specs used to use ```choices=BOOLEANS``` to specify that an argument should be True or False.  We've since enhanced the argument_spec code so that ```type='bool'``` does the job.  We need to go through the modules and change this over at some point.

Find modules needing updating this way:
[code]

Change lines within the module like this:
[code]

[2015-12-05 05:48] #1320 closed

[2015-12-05 08:01] trfeldmann opened #1331 "adding an interface with nmcli sets DEFROUTE=yes and configures a route to the system default"
After using nmcli to configure a new secondary interface, a default route is configured to the system gateway for that interface. This causes dropped networking when the secondary interface does not have access to the network the system's default route is on.

[2015-12-05 15:05] marcinhlybin commented on #664
@mahemoff
It is better to scan for public key:
`ssh-keyscan -T 10 github.com`

or with hashed hosts:
`ssh-keyscan -H -T 10 github.com`

Working task could look like:

[code]

Now the funny thing how I got here. I made a mistake with lookup closing parenthesis in wrong place:
`key="{{ lookup('file'), '{{ inventory_dir }}/ssh/servers/{{ item }}.pub' }}"`

Then content of the key file on the server (

[2015-12-06 03:03] mhite commented on #1244
Sorry, just for my own clarification -- can you elaborate on how/why this is beneficial? Thank you!

[2015-12-06 15:53] blakeday commented on #1244
I'm trying to achieve serial application deployments, so ansible must wait for the server which was re-enabled to start serving traffic before continuing to do another deployment (taking the next server out of production).  For now, I've been able to achieve it by adding a 30 second pause.  Is there a better way to do this without relying on the bigip_node module or using pause?

[2015-12-06 20:10] mhite commented on #1244
Ok, sounds reasonable. Normally I'd say use bigip_facts to query pool connections and/or pool state, but I can see how a wait-until feature would be useful. I'll take a look at the haproxy implementation and see if it is mostly reasonable enough to base this feature on.

[2015-12-07 09:15] mircea-vutcovici commented on #1227
For me it doesn't work with `apt-get install python-lxc`. But I could solve the problem with:

[code]

[2015-12-07 14:22] rijnhard opened #1340 "Yaml file module"
Hi

If Ansible uses yaml files for configuration and has an ini module it only makes sense that it should have a yaml file module, especially since yaml files are not so friendly for normal tools, especially when adding keys, and lets not get into the tabs and spaces pains.

it would be useful to simplify how to add keys leveraging on the fact that yaml files can pretty easily be converted into as

[2015-12-07 15:02] bcoca commented on #1340
Templates can easily generate yaml files |to_yaml filter and the original file can be imported through include_vars or vars_file.

[2015-12-07 16:03] cloudnull commented on #1227
I don't think the ubuntu provided package is going to work because its not being maintained so I believe this issue is resolved when using the upstream library from PyPi or Github. @mircea-vutcovici can we close this as not being an issue with the Ansible library?

[2015-12-07 17:34] Constantin07 opened #1342 "cloudtrail.py - add enable log file validation option"
##### Issue Type:

Feature Idea

##### Summary:

It would be good to have an option to toggle the "Enable log file validation" feature for CloudTrail configuration, e.g.
[code]

Thanks,
Constantin

[2015-12-07 17:44] fcuny commented on #830
@martenlehmann sounds like a reasonable request.

@robynbergeron I'll try to get this done sometimes during the next 2 weeks (you can assign the ticket to me).

[2015-12-07 18:25] edsonmarquezani commented on #1317
I've just updated my local repository and installed again from devel head, and then it worked.
With _region: us-east-1_ specified in the play it works, as well as when not specified but declared on _AWS_DEFAULT_REGION_ environment variable.

I really don't know what I was doing wrong, but it was probably some mistake of mine with Git or with the RPM packages I was building locally. I'm sorry for t

[2015-12-07 18:47] bcoca commented on #1317
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-12-07 18:47] #1317 closed

[2015-12-07 19:13] mircea-vutcovici commented on #1227
@cloudnull It is definitely not an ansible issue. I will open a bug with Ubuntu to update the package.

[2015-12-07 19:37] bwlz opened #1343 "NPM module should have ability to do equivalent of "npm prune""
##### Issue Type:
- Feature Idea
##### Ansible Version:

1.9.4
##### Summary:

The command `npm prune` will uninstall any packages not present in the project directory's `package.json`, or any packages supplied as arguments. It would be great if the npm module could do this idempotently. I would bet `state=absent` will remove packages supplied as arguments, but am unclear as to whether it will wor

[2015-12-08 11:29] anthonygreen opened #1345 "homebrew_cask module requires force option"
**Issue Type:**

Feature Enhancement

**Summary**

There are situations where you'd want to force reinstall/update casks in order to get the latest security update. Java being a prime example.
An option to make use of casks --force flag would help perhaps adding **latest** as an option

[2015-12-08 14:35] #1101 closed

[2015-12-08 15:50] anthonygreen opened #1347 "npm module fails on OS X"
##### Issue Type:

Bug Report
##### Component Name:

npm module
##### Ansible Version:

Ansible 2.0.0 (stable-2.0)
##### Environment:

OS X 10.9.5
Python 2.7.11
##### Summary:

Ansible npm_module doesn't work on OS X
##### Steps To Reproduce:

This task fails

[code]
##### Expected Results:

ssh into the machine and running

[code]

does work
##### Actual Results:

[code]

Is this connected to htt

[2015-12-08 16:14] AmirMeirbekov commented on #383
Initially I missed the option "state=latest" and it behaved the same way. After adding state=latest, it worked and installed new added libraries in package.json

[2015-12-08 16:46] Erouan50 opened #1348 "Unable to use ecs_task module"
Issue Type: Bug Report

Ansible Version: 2.1.0 (devel 1380c71fe0)

Ansible Configuration: Same as ansible/examples/ansible.cfg.

Environment: Fedora 23 (4.2.6-301.fc23.x86_64)

Summary: I'm trying to use the ecs_task module. But when I execute a task, I get this error :

[code]

Here is the fullstack trace :

[code]

Steps To Reproduce:

Use ecs_task like this :

[code]

And try to execute it.

Ex

[2015-12-08 16:48] andrewyoung1991 opened #1349 "KeyError in bower tasks"
I'm having issues with the `offline` argument in bower tasks.

[code]

This task will consistently fail with the following traceback:

[code]

[2015-12-08 17:01] mlococo commented on #383
@AmirMeirbekov That looks like an artifact of this change: https://github.com/ansible/ansible-modules-extras/commit/7d8dd6e21051cb548c731fc85f76deb980dc66a8#diff-6b9e5546ff117496c9905e1bab64cd63

Looks to me like the bug will still be present for states other than latest, though pragmatically that's probably a reasonable workaround for a large number of cases.

[2015-12-10 13:38] roryirvine opened #1357 "gluster_volume parameter 'replicas' is being ignored"
Using Ansible 1.9.4, I'm having problems with the following task:
[code]

Ansible logs this as:
[code]

...but the gluster-cli log shows that the 'replica' parameter isn't being supplied correctly:
[code]

I can replicate that on the command line:
[code]

but if I add the 'replica 2' parameter on the command line, it works as expected:
[code]
Could this be due to confusion between 'replicas' (the

[2015-12-10 14:28] Erouan50 commented on #1348
Hi,

I don't have the error using the boto3-1.1.4 and botocore-1.2.11. They may change something in the new versions.

Best,

[2015-12-10 15:27] roryirvine commented on #1357
False alarm - we tried this again, and it now appears to work as expected. I'm not sure what caused the initial issue... but unless it happens again, I'm happy to treat it as an unexplained glitch for now.

[2015-12-10 15:27] #1357 closed

[2015-12-10 15:54] twmartin opened #1358 "znode - 'object is not iterable'"
##### Issue Type:

Bug Report

##### Ansible Version:

[code]

##### Ansible Configuration:

Default

##### Environment:

- Running from OSX
- Managing Centos7

##### Summary:

Attempting to add a znode to a remote Zookeeper server results in an `object not iterable` error.

##### Steps To Reproduce:

Run this playbook against a Zookeeper server.

[code]

##### Expected Results:

I would expect a

[2015-12-10 19:30] johanwiren commented on #1092
ping @mavit

[2015-12-10 20:35] mavit commented on #1092
If you set a value for a property, that value is by definition the local value for that property.  The inherited value is only used if no local value is set.  Hope I've explained that clearly.

[2015-12-10 20:41] mavit commented on #1092
So, my proposal is: when checking the current value of a property, if source != "local" then value is considered to be null.

[2015-12-10 20:57] mavit commented on #932
The outcome of the discussion in #933 was that we should treat rc == 4 as not chaged (having made sure that this does the right thing when state=installed rather than state=latest).  This is still outstanding.

[2015-12-10 21:22] johanwiren commented on #1092
Reproduced it. Will try to work on a fix.

[2015-12-10 23:37] johanwiren commented on #1092
The fix is included in #1378

[2015-12-11 16:31] smadam813 commented on #1054
@robynbergeron This is a good idea.  I have reviewed the PR #1295 which directly relates to this issue and believe this can be closed.

[2015-12-12 06:06] bcoca commented on #1227
closing as per above

[2015-12-12 06:06] #1227 closed

[2015-12-13 15:45] #1358 closed

[2015-12-14 23:21] lukehoersten commented on #901
+1 here. Ran into a problem with this and ended up having to make a task run before it to touch the known_hosts file.

[2015-12-15 02:47] #634 closed

[2015-12-15 08:23] keefmarshall commented on #236
Just to confirm this might still be a live issue: I saw this the other day - using more than one firewalld action in a single task with immediate=yes and permanent=true results in only the last action being saved. Ansible 1.9.4, running on CentOS 6.6 against CentOS 7 servers.

I worked around it by using separate tasks for each firewalld rule, which works fine, so this isn't a major problem.

[2015-12-15 15:39] tomxtobin opened #1375 "#446 broke npm state=latest for missing packages"
##### Issue Type:
- Bug Report (`npm` module)

##### Ansible Version:
Running against devel:
[code]

##### Ansible Configuration:
[code]

##### Environment:

N/A (but it's Arch Linux)

##### Summary:

It looks like PR #446 broke `npm: name=foo state=latest` for a missing package `foo` (i.e., `foo` isn't present on the system yet).

Suggested fix: for `state == 'latest'`, actually differentiate bet

[2015-12-15 18:03] Jmainguy commented on #1289
@tronicum I am unable to reproduce. Running

puppet config print agent_disabled_lockfile

manually on your system returns what, and what exit code? run echo $? after that command to see the previous exit code.

also, what version of puppet are you running, and on what OS.

[2015-12-15 18:04] Jmainguy commented on #1273
With #1285 getting merged, can this be closed now?

[2015-12-15 18:14] Jmainguy commented on #1266
@Ferroin Could you expand on how you would like it to look in the module.
- lvol: vg=firefly lv=test state=absent force=yes snapshot=example1

Would you want the snapshots to work with state=present/absent and only change if needed. (ie, snapshot exists with name, or doest not exist with that name). I can try adding it once I get your feedback.

[2015-12-15 18:19] bcoca commented on #1273
closing as per above

[2015-12-15 18:19] #1273 closed

[2015-12-15 18:26] Ferroin commented on #1266
For my usage at least, what you have described would probably work perfectly.  In the scripts I've been converting to Ansible playbooks, I make a point to check if the snapshot exists, and delete it if it does, and I'd much rather that that logic be explicit in the playbook rather than implied by the snapshot creation (that, and it's more consistent with how the module works already, and how most

[2015-12-16 01:18] ryansydnor opened #1379 "[Feature Request] - Add support for encrypted EBS boot volumes"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
ec2_ami_copy module

##### ANSIBLE VERSION
N/A

##### SUMMARY
Encrypted EBS boot volumes were recently [announced](https://aws.amazon.com/blogs/aws/new-encrypted-ebs-boot-volumes/).

I could imagine [ec2_ami_copy](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ec2_ami_copy.py#L173-L179) taking in two new parameters: 'en

[2015-12-16 02:20] zacharya opened #1381 "hipchat notification module doesn't properly type check room ID"
I was running into an issue when trying to use a room ID (int) versus a room name (string):
[code]
[code]

If I didn't quote the room ID (which one would expect to be an int), I found that when main loads the parameters via the AnsibleModule, it doesn't do any type checking.  So if a user passes an unquoted room ID:
[code]
 an int can make it through to the send_msg methods (in my case send_msg_v2

[2015-12-16 02:21] zacharya commented on #1381
Submitted #1380 to fix.

[2015-12-16 02:53] Jmainguy commented on #219
@robynbergeron Looks like its been about 3 months since you asked the authors for review, what do we do when the authors do not respond?

[2015-12-16 02:54] Jmainguy commented on #428
@analogbyte See if #1382 magically fixes this. The check to see if size different was incorrect, I added a int() wrapper which should make it work now. Give it a shot

[2015-12-16 02:54] Jmainguy commented on #1266
@Ferroin as promised, please see #1382. Let me know if it works as intended for you.

[2015-12-16 07:44] abulimov commented on #219
Sorry, missed previous notification. As **lvol** module now supports **opts** argument, I think it would be far better to just pass **opts** not only for lvcreate, but for lvreduce/lvextend commands too. Implementing this looks trivial.

[2015-12-16 12:30] Ferroin commented on #1266
An initial look seems to indicate that it should work perfectly for what I need, I'll try and get it tested sometime within the next few hours.

[2015-12-16 13:12] #1321 closed

[2015-12-16 13:38] Ferroin commented on #1266
OK, somehow I missed this when I first looked, but the implementation in the module is the reverse of the commandline syntax for lvcreate.  With lvcreate, the --snapshot option specifies the origin which the snapshot is based on, while the changes for the module appear to expect the opposite.  This may make things somewhat confusing for people who are used to using lvcreate.

Other than that, ever

[2015-12-16 16:41] Jmainguy commented on #1266
@Ferroin yup, that can be a little confusing. Basically I needed a name for the new snapshot, the lv it was based off of, and the vg it belonged to as well. So to try and limit the amount of options someone would have to pass I wrote it that way. You are definitely correct.

[2015-12-16 18:49] zacharya commented on #1381
Fixed with #1380

[2015-12-16 18:49] #1381 closed

[2015-12-16 20:24] gregdek commented on #1375
[module: npm.py]

[2015-12-16 20:25] gregdek commented on #1349
[module: bower.py]

[2015-12-16 20:27] gregdek commented on #1348
[module: ecs_task.py]

[2015-12-16 20:28] gregdek commented on #1345
[module: homebrew_cask.py]

[2015-12-16 20:29] gregdek commented on #1343
[module: npm.py]

[2015-12-16 20:29] gregdek commented on #1342
[module: cloudtrail.py]

[2015-12-16 20:31] gregdek commented on #1331
[module: nmcli.py]

[2015-12-16 21:04] brwilson opened #1388 "gluster_volume fails to add new bricks when replica count > 1"
##### Issue Type:
Bug Report

##### Ansible Version:
    $ ansible --version
    ansible 1.9.4

##### Ansible Configuration:
N/A

##### Environment:
Ansible on OS X 10.11 managing CentOS 7.1

##### Summary:
When adding bricks with a replica count of 2 (and this probably applies with any count greater than 1), the add-brick command that Ansible runs fails.

    TASK: [gluster | create gluster volum

[2015-12-17 11:35] cortopy opened #1391 "firewalld requires restart"
If I open a port directly with

[code]

I don't need to reload or update firewalld

However, if I use the following in a playbook

[code]

I would need to restart firewalld for the changes to take effect.

Is this an expected behaviour?

[2015-12-17 12:06] cortopy commented on #1391
My mistake. When using the shell, ports get listed immediately, but still need reloading

[2015-12-17 12:06] #1391 closed

[2015-12-17 13:38] RavisMsk commented on #664
@truptimali method worked out well, thanks!

[2015-12-17 15:19] ryansydnor commented on #986
This is addressed by https://github.com/ansible/ansible-modules-extras/pull/1393

[2015-12-18 02:52] wyaeld opened #1397 "vsphere_copy issues"
##### Issue Type:

Module Bug Report / Unclear examples

##### Ansible Version:
[code]

##### Ansible Configuration:

none

##### Environment:

Ubuntu 14.04 talking to Vcenter/Esxi 5.5

##### Summary:

Trying to upload files using vsphere_copy.  @matburt I see you made some fixes here recently, which I made sure I had, so I'm also assuming you have working examples.  This could just be operator er

[2015-12-18 03:12] matburt commented on #1397
I think I mentioned this on my PR but the exception handling for `vsphere_copy` needs to be updated after the switch to `open_url` and I just haven't had a chance to circle back to that yet.

You can fix up the module locally here:
https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/vmware/vsphere_copy.py#L151

basically just shortcut or remove that whole try block to see what excep

[2015-12-18 03:16] wyaeld commented on #1397
removed the whole try, error is `405 Method Not Allowed`

[code]

[2015-12-18 03:38] wyaeld commented on #1397
Ok, more progress now.  Got 201 created.  If `path` is the destination folder, rather than `folder/filename` then doesn't work.

I'll close this shortly but @matburt do you know if there is a way to upload folders?  I've just now adapted my playbook to be

[code]

[2015-12-18 04:20] matburt commented on #1397
As far as I know this isn't supported by the http api of the vsphere server itself.

[2015-12-18 12:05] Petrox opened #1400 "rabbitmq_user module inserts "node" parameter even when it was not given"
rabbitmq_user tries to run

    /usr/sbin/rabbitmqctl -q -n rabbit list_users

even, when there was no node parameter defined.

The correct behavior would be:

    /usr/sbin/rabbitmqctl -q list_users

The difference is that the later works on rabbit@local but the previos does not. So if there's a parameter, and it does not have a value, the correct method would be not to give that parameter to the

[2015-12-18 13:49] kabo opened #1401 "Add support for AWS Managed NAT Gateways"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

new module
##### ANSIBLE VERSION

N/A
##### SUMMARY

AWS has released support for [Managed NAT Gateways](https://aws.amazon.com/blogs/aws/new-managed-nat-network-address-translation-gateway-for-aws/). It would be nice if one could set them up with Ansible.

[2015-12-18 22:17] kalpatel01 commented on #1342
I don't think a boto call exists for it.  Maybe something that can be done though the aws cli.

[2015-12-18 23:19] wyaeld commented on #1397
OK thanks.  I'll close this now, although I'll probably contribute a variation of the above as a multi-file example just for the module to help others.

[2015-12-18 23:19] #1397 closed

[2015-12-19 12:03] dreamcat4 opened #1404 "win_regedit: can't handle "(Default)" key value"
Hi, This error report is from Ansible v1.9.4.

I'm getting error returned on specific keys. The keys all seem to get created but the task fails. I suspect this may be because the key name is `(Default)` in all of them. All my other registry keys in same loop exit fine. So perhaps it's falling over unquoted brackets parens `()` when it encounters them.

Here is the error message repeated several ti

[2015-12-19 12:55] afunix opened #1405 "gluster_volume module should parse "other names" of 'gluster peer status' command"
Hi.

I have the following `gluster peer status` output:
[code]

My inventory has short names configured (emma, amanda, ...).
When I try to configure a volume with gluster_volume module it fails.
Module cannot identify that `gluster peer probe` completed successfully, because it cannot match FQDN with short hostnames.
Gluster itself knows that peers have the specific short names, so should be able

[2015-12-19 16:05] dreamcat4 opened #1406 "win_firewall_rule: Doesn't work in ansible v2.x"
Hi,
I'm experiencing the following errors in ansible 2:

[code]

Where the task being run looks like this in my playbook:

[code]

These errors do not happen on ansible v1.9.4.