[2016-08-07 11:07] cloudnull commented on #2664
Hi @juju4 I believe the issues you're running into is related to the template name that you're trying to use. The default template for ubuntu is simply "ubuntu" you would then need to pass in the "release" via a template option to make it use xenial.

The task should look something like this:

[code]

In the OpenStack Ansible project we're running lxc2.x in xenial and trusty and things are working

[2016-08-07 11:08] cloudnull commented on #2577
I'm now working on this issue and hope to have a fix in soon-ish.

[2016-08-07 11:10] cloudnull commented on #1857
I've recently added this to my work items. I hope to have a WIP by next week.

[2016-08-07 11:13] cloudnull commented on #836
@ansibot This is a limitation with LXC. We might be able to make the config parser smarter but this is a wishlist item in my opinion.

[2016-08-07 11:15] cloudnull commented on #550
@ansibot please close nothing to do here.

[2016-08-07 11:15] cloudnull commented on #836
Duplicate bug that was recently closed: https://github.com/ansible/ansible-modules-extras/issues/1984

[2016-08-07 12:02] juju4 commented on #2664
Hello @cloudnull

Thanks for the feedback but even with template change, I still have "Failed to find required executable lxc-create".
And from shell, it seems to me to be part of command in lxc1 world because it does not exists on the multiple xenial I spawned for testing.

It can be verified like this:

[code]

Not fully exact, as I can install lxc1 package and get lxc-create binary.
But if I ru

[2016-08-07 12:08] juju4 commented on #2664
And it seems to be the module...
when searching source
https://github.com/ansible/ansible-modules-extras/search?utf8=%E2%9C%93&q=lxc_container
there is lxc_container (added in 1.8.0) AND lxd_container (added in 2.2.0 - not released)

so bug is invalid and should wait for 2.2.0 release.

[2016-08-07 12:08] #2664 closed

[2016-08-07 15:55] brwilson commented on #1388
#1389 is in the current release (v2.1.1.0). I'm going to close this issue.

[2016-08-07 15:55] #1388 closed

[2016-08-07 17:51] mscherer commented on #2321
So another issue I have is that 'reload' is a built-in function. I am not 100% sure on how to handle that.

[2016-08-07 19:43] #2389 closed

[2016-08-07 21:20] mhite commented on #799
Unfortunately we weren't able to reproduce and it doesn't look like @sochoa was able to follow up. Unless @sochoa has new information, we'll probably need to close this as 'unable to reproduce'.

[2016-08-07 21:49] odyssey4me opened #2691 "lxc_container: logging is not applied to any action except container creation"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The `container_log` and `container_log_level` parameters are only ever used for the container creation. It is never applied to the changes of state, to the command execution or to any other actions taken against the container.
##### S

[2016-08-08 10:06] dankeder commented on #2077
Hi, thanks for the bug report. The thing is that SELinux policy can't be changed when SELinux is in disabled state.

It's possible to work-around this by setting SELinux to `permissive` mode first, reboot, set-up the port contexts etc., and only then switch to enforcing mode. This is what I ended up doing.

[2016-08-08 12:11] luismy83 opened #2693 "container_definition hostPort and containerPort types"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ecs_taskdefinition.py
##### ANSIBLE VERSION

ansible 2.2.0
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

Error calling module througu playbook, when params containerPort and/or hostPort are passed as variable:

Invalid type for parameter containerDefinitions[0].portMappings[0].containerPort, valu

[2016-08-08 12:30] dankeder commented on #2009
Hey, thanks for the bug report. It should be fixed by #2694.

For bot: resolved_by_pr #2694

[2016-08-08 12:33] pahaz opened #2695 "Consul module. Add ACL rules configuration"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

consul

##### ANSIBLE VERSION
N/A

##### SUMMARY

Add to consul module ACL api support.

My use case:

I use consul with token with `acl_default_policy=deny`. If I `acl_default_policy` is set to deny, the anonymous token will be unable to read any service information. This will cause the DNS interface to return no results for any service que

[2016-08-08 12:33] dankeder commented on #2077
(Adding "wontfix", as I don't see much I can do about this.)

[2016-08-08 12:34] #2077 closed

[2016-08-08 12:34] #2009 closed

[2016-08-08 13:04] mischapeters commented on #2681
Will have a look

[2016-08-08 15:49] bcoca commented on #2415
closing via merged #2642

[2016-08-08 15:49] #2415 closed

[2016-08-08 16:18] bcoca commented on #2684
does this happen when using only 1 item?

[2016-08-08 22:00] dagwieers commented on #899
@ansibot wants my response, so here it goes: @chrrrles you got my full support !

[2016-08-08 22:15] dagwieers commented on #2536
@rhorer I agree with you that importing ssl is suboptimal, but the real problem here is related to a broken python setup. I assume here that your system was patched with a new OpenSSL, but it made it incompatible for python. You need to rebuild python to the newer OpenSSL (or get python updates from your vendor to work with your new OpenSSL).

PS The reason we do import ssl early, is that this is

[2016-08-09 11:35] xpicio commented on #1233
@jhawkesworth i'm using this solution for a long time

[code]

it's seems the same solution proposed by @kmbharath. The class ZipFile has been added to .net framework 4.5 and it's already setup on windows 2012 R2 ... so it's ok for me :)

[2016-08-09 15:36] #2484 closed

[2016-08-09 22:42] maxamillion commented on #2494
@ansibot no, no it's not.

[2016-08-10 06:52] #2393 closed

[2016-08-10 06:56] #2158 closed

[2016-08-10 10:08] oazabir commented on #2603
Having the same problem

[code]

[2016-08-10 13:29] mgedmin opened #2703 "deploy_helper crashes when unfinished_filename is a directory rather than a file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

deploy_helper
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Linux (Ubuntu 16.04 LTS on the controller, Debian 8 on target)
##### SUMMARY

When you create a directory named "{{ deploy_helper.unfinished_filename }}", deploy helper gets terribly confused when it tries to remove it:
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

no

[2016-08-10 14:22] phips opened #2706 "vmware_guest requires disk.size_gb, but ignores on clone"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY

'disk' option is required for vmware_guest module to work, but providing it when cloning a template is irrelevant - the settings are ignored anyway.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Disk size to be 10gb

#####

[2016-08-10 14:28] jctanner commented on #2706
I believe I just need to change the relocation spec for the clone object to have the disk size set, but I'll need to do some research and testing.

[2016-08-10 15:56] conatus commented on #2114
Is there any fix for this or workaround?

[2016-08-10 16:02] ranjithpulluru opened #2707 "Apply patch to JBoss EAP through Ansible"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

new module
##### SUMMARY
- Apply patch to JBossEAP through Ansible.
##### ADDITIONAL INFO
- A more minimalist approach would be have the ability to test whether a patch needs to be applied or not using the jboss-cli.

[2016-08-10 16:04] dfederlein commented on #2707
Customer and community request: this module would be able to apply patches to jboss.  Ping me for details of you need them, thanks.

[2016-08-10 16:21] indrajitr commented on #1345
Meanwhile, arbitrary options (include `--force`) can be passed via `install_options` like so:

[code]

[2016-08-10 16:58] zytron commented on #1494
Section of my role task
- name: add exchange
  rabbitmq_exchange: name=test_exchange_main vhost=/test type=topic state=present login_user={{ rabbitmq_server_admin_user }} login_password={{ rabbitmq_server_admin_password }}
  tags: mq_server_config
- name: add queue
  rabbitmq_queue: name=test_queue vhost=/test state=present login_user={{ rabbitmq_server_admin_user }} login_password={{ rabbitmq_ser

[2016-08-10 21:47] ramondelafuente commented on #1041
Hey there @offlinehoster - I can't reproduce the issue you describe, I have just run slack with/without `become: yes` on a remote as well as a local host....

[2016-08-10 21:48] ramondelafuente commented on #1041
needs_info

[2016-08-10 21:50] offlinehoster commented on #1041
That is one year old....what should i say now...

[2016-08-10 21:52] ramondelafuente commented on #1041
Oh jeez... I was pinged by the bot six days ago, I never looked at the original date. Sorry about that.

[2016-08-10 21:54] ramondelafuente commented on #1041
notabug This is ancient history and can be closed.

[2016-08-10 21:55] #1041 closed

[2016-08-10 22:07] ramondelafuente commented on #1554
Hey @andreaswolf - sorry to take so long, these issues didn't come up on my radar until the bot started pinging me six days ago.

Did you ever manage to get this working, or are you still having issues?

[2016-08-11 03:29] jcst commented on #2445
[code]

[2016-08-11 15:32] tallandtree commented on #1282
@hryamzik, do you know if it is possible to install the python-firewalld by pip on ubuntu 16.04?

[2016-08-11 17:01] hryamzik commented on #1282
@tallandtree not sure, just try it out in vagrant. I've moved from firewalld to bare iptables. But I don't think I would've made a package if there was a simple pip solution but I could've missed it. ;-)

[2016-08-12 08:12] tallandtree commented on #1282
@hryamzik, good advice. I think I will go back to bare iptables as well. Ansible, firewalld and docker still do not work together very well. See also https://github.com/docker/docker/pull/9397.

[2016-08-12 08:18] Greyeye opened #2715 "chocolatey 0.10.0 needs to pass argument to choco.exe"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.11.6
##### SUMMARY

Chocolatey package that is using http to download will require parameter "--allow-empty-checksums" or "--ignore-checksums"
Chocolatey 0.10.0 is now prompt during install due to missing checksums, and as a result, it simply fai

[2016-08-12 11:26] dagwieers commented on #2332
Still interested in this, but it is a personal project to improve Windows modules and I don't have any personal time ATM.

waiting_for_contributor OR waiting_for_free_time :-)

[2016-08-12 14:19] sgargan commented on #2695
@pahaz this capability already exists, you can use the consul_acl module to configure any acl rules you need, take a look [here](https://github.com/ansible/ansible-modules-extras/blob/devel/clustering/consul_acl.py).  marking as bug_resolved

[2016-08-12 14:22] #2695 closed

[2016-08-12 15:56] adrielldagasuan commented on #1169
i'm not sure if this issue is already fixed. @nikhilo provided a workaround but i would want previous task definitions not to be deactivated for purposes of rolling back to previous versions. I'd rather roll back to previous revisions of the task than to create a new revision based on a previous image.

probably it's just a matter of adding a parameter that adds creates a new task revision when it

[2016-08-12 20:53] ramondelafuente commented on #2703
Hey @mgedmin - I have confirmed this, using a directory as the `unfinished_filename` does result in an error.

It was never intended to use a directory; could you tell me a bit more about your use-case?
(I'm trying to decide if allowing a directory makes sense or not)

[2016-08-12 21:16] scottslowe commented on #2500
@stygstra I just tested this again using Ansible 2.1.1.0 (installed via pip), and the error is no longer present.

[2016-08-12 21:29] abuschbacher commented on #2036
@TimothyVandenbrande Looks like that update works. There's an extra ) on line 233 that makes it bark when executing. Thanks for fixing that I was having a not so fun time getting windows firewall under wraps with Ansible otherwise.

[2016-08-12 22:08] barryib commented on #2603
@oazabir You can patch your module with this [PR](https://github.com/ansible/ansible-modules-extras/pull/2604) while waiting for it approvals or not.

I hope that @ThePixelDeveloper will review it soon.

[2016-08-13 19:13] dreamcat4 commented on #2624
Hello again.

Experiencing another issue with this module on windows 10... The module reports back 'Created firewall rule...' but no such rule exists. It makes me wonder if anyone else is seeing a similar thing happen to them?

[2016-08-13 20:38] dreamcat4 commented on #2624
Another thing about this module: It uses the `netsh` command. I am assuming thats for some compatibility reasons? The thing is that today I just came across these handy powershell commands:

[code]

Have just tried them... they work pretty awesome on windows 10! Perhaps if have other older versions of windows can also try them too, see if they work ?

EDIT: Anyway here some more info about them

h

[2016-08-14 09:04] ralfbergs opened #2719 "Doc: ec2_vpc_route_table_facts: example for VPC ID filter has error"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
ec2_vpc_route_table_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
At [this URL](https://docs.ansible.com/ansible/ec2_vpc_route_table_facts_module.html) it says:
[code]
However, the actual filter expression should be as follows (confirmed this thru coding):
[code]
Note the underscore v

[2016-08-14 10:56] ralfbergs opened #2720 "ec2_vpc_route_table_facts: association.main filter defunct"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_route_table_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'm trying to filter so that only "main" route tables are returned. This always causes an empty set of route tables to be returned, as if there was _no_ main route table (which is impossible, AFAIK).

##### STEPS TO REPRODUCE

[2016-08-14 16:07] ralfbergs commented on #2720
No bug.

I had to quote the value like this:

[code]

Thanks to `chucky_z` on IRC for this.

[2016-08-14 16:07] #2720 closed

[2016-08-14 19:21] dreamcat4 commented on #1142
Ok hi again. I looked into your `win_regmerge` + `win_template` alternative solution. Unfortunately what makes it a bit more difficult is that if nested subkeys dont exist, they must be recursively created before actually setting the leaf registry key / values.

And that complicates matters somewhat. I don't suppose you already happened across a solution in the form of ansible tasks / .j2 template

[2016-08-14 23:01] ghost commented on #2500
bug_resolved

[2016-08-14 23:01] #2500 closed

[2016-08-14 23:01] ghost commented on #2500
@lowescott Thanks for testing!

[2016-08-15 07:02] #1551 closed

[2016-08-15 08:39] jhawkesworth commented on #1142
I haven't got a solution for your particular issue (I'm still in the process of switching my playbooks to use win_regmerge myself).  If you know the keys that don't exist maybe the simplest thing to do is just use a script to create the missing keys:

https://blogs.technet.microsoft.com/heyscriptingguy/2012/05/09/use-powershell-to-easily-create-new-registry-keys/

[2016-08-15 10:39] jhawkesworth commented on #2332
Right now its not a priority for me to make any improvements to this module, (although it could definitely be improved as you describe, I am not going to get to it any time soon).  My original intention was to a/ not use 'raw' to merge registry files and b/ have a quick way of merging multiple registry entries in a single module call - win_regedit is definitely the way to go for single registry ch

[2016-08-15 13:41] lourot commented on #1130
@fhorlaville When provisioning an Ubuntu 14.04 machine, installing the following package first on the target machine solved the issue:

[code]

[2016-08-15 15:59] hryamzik commented on #1282
@tallandtree I've faced issues with port forwarding for LXC containers and wasn't happy with auto-generated iptables rules in general. Firewalld seem to be fine for workstations but doesn't meet any production requirements.

[2016-08-15 17:32] #2477 closed

[2016-08-15 18:39] t-v commented on #2624
they don't work in win2003 and I thought not even in 2008 (not the R2)

[2016-08-15 18:58] trondhindenes commented on #2624
Pretty sure the firewall cmdlets were added in 2012R2.

[2016-08-15 20:12] dreamcat4 commented on #2624
Right... when I glanced at the online docs pages somewhere yesterday, it seemed like the only solid requirement was 'PowerShell v3.0' ? Which (me not knowing much about it) kindda sounds pretty old now doesnt it?

Maybe I'm wrong about that (if yes then sorry). It just seemed to say that somewhere-or-other. Sorry I cannot check further that compatibility issues myself as only have shiny new win10

[2016-08-15 23:28] jbristow0 opened #2725 "mongodb_user isn't idempotent for mongo 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7.2.1511
relevant packages installed:
mongo-10gen-server-2.4.14-mongodb_1.x86_64
mongo-10gen-2.4.14-mongodb_1.x86_64
python-pymongo-2.5.2-4.el7.x86_64

mongodb repository used:
baseurl = http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/
exclude = mongodb-org mongo

[2016-08-16 03:42] dwbbb opened #2726 "AWS ec2_vpc_route_table.py Unable to append a route to an existing route table."
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2_vpc_route_table.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

There is no way to modify an existing AWS route table without building it completely form scratch, the only options are Create or Delete.  This feature has been implemented in a different fork below, could this be implemented or is t

[2016-08-16 05:39] mgedmin commented on #2703
I already had a `file: dest=.../{item} state=directory` as the 1st task in my deployment, and I thought I'd avoid adding an extra task and instead add an extra item.

Another small advantage of using a directory is that `file: state=directory` creates parent directories (a la mkdir -p), but `file: state=touch` requires the directory of the target to already exist.  Since deploy_helper doesn't crea

[2016-08-16 05:47] visualjazz-mbyrne opened #2727 "win_iis_webbinding references property 'sslFlags' which did not exist before IIS 8"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_iis_webbinding

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

IIS 7.5 on Windows Server 2008R2

##### SUMMARY

Adding bindings to a website in IIS 7.5 (and I suspect earlier versions) throws the following error:

"msg": "The property 'sslFlags' cannot be found on this object. Verify that the property exis

[2016-08-16 05:48] #2727 closed

[2016-08-16 05:49] Matt-Byrne opened #2728 "win_iis_webbinding references property 'sslFlags' which did not exist before IIS 8"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_iis_webbinding
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

IIS 7.5 on Windows Server 2008R2
##### SUMMARY

Adding bindings to a website in IIS 7.5 (and I suspect earlier versions) throws the following error:

"msg": "The property 'sslFlags' cannot be found on this object. Verify that the property exists."

[2016-08-16 09:17] runesl commented on #1813
Hit the same issue and haven't found any workarounds. Not even pre-generating the policy as a file and using  `policy: "{{ lookup('file','/tmp/policy.json') }}"` works.
Neither does inlining the policy json in the task. I always get:

"Policies must be valid JSON and the first byte must be '{'"

s3 policy support seems completely broken in 2.1.1.0

[2016-08-16 10:40] cortopy opened #2731 "unable to add mongo admin user"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mongodb_user
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

client Fedora 24
server CentOs 7
##### SUMMARY

I'm trying to add an admin user in mongodb. I use the `database` option as `admin`. However, the user is not associated with the admin database, and so authentication fails thereafter.
##### STEPS TO REPRODUCE

this is the task I'm u

[2016-08-16 11:31] AseemKumar opened #2732 "win_iis_webapppool - not able to set all the properties"
##### ISSUE TYPE

- Bug Report
- Feature Idea
##### COMPONENT NAME

win_iis_webapppool
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default config
##### OS / ENVIRONMENT

ansible is running on Ubuntu Trusty and the systems being managed are linux and Windows.
##### SUMMARY

Tried to change the value of Identity under Process Model in advanced settings of an appPool and the change did not tak

[2016-08-16 13:44] nathanwebsterdotme opened #2733 "win_iis_webbinding fails to assign specified certificate_hash"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_iis_webbinding
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
roles_path  = roles
library     = modules
##### OS / ENVIRONMENT

Server 2012 R2
##### SUMMARY

win_iis_webbinding module is not assigning the certificate specified in the certificate_hash variable.
##### STEPS TO REPRODUCE

- Install certificate on to IIS server (we

[2016-08-16 13:46] nathanwebsterdotme commented on #2733
I think this has something to do with the variable names; there is a mixture of "certificatehash" and "certificateHash" being used which I think is causing the problem.

If I explicitly define the cert hash value in to the module ps1 file, I can get it to work.

[2016-08-16 14:09] Lapixx opened #2734 "Slack does not escape/encode ampersand (&) correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Slack module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Mac OS X 10.11.4 (but probably N/A)

##### SUMMARY

Whenever the `msg` or a `text` inside `attachments` contains an ampersand (`&`), the Slack module fails with `HTTP Error 400: Bad Request`.

##### STEPS TO REPRODUCE

Simply try to send a slack notif

[2016-08-16 14:13] bcoca commented on #1813
For 2.2 fixed by 6402d36af3db7cc556cca0dd6fa31e75a8e24013 but it is not backwards compatible.

I added #2735 as a backport as possible fix for this in 2.1, please test as I don't currently have access to s3.

[2016-08-16 15:01] ryanwetzelberger opened #2736 "s3_bucket versioning parameter is required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NONE
##### OS / ENVIRONMENT

Mac OS X 10.11.6
##### SUMMARY

When running a play to perform a change other than changing the versioning of the bucket, Ansible will assume that versioning needs to be turned off (default is no).  In all documentation, this parameter is marked as not r

[2016-08-17 00:43] nitzmahone opened #2742 "win_chocolatey fails during chocolatey installation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

also fails on 2.1.x

##### SUMMARY
The win_chocolatey module fails on the first run if choco is not already installed. The way choco is being installed via Invoke-Expression on the chocolatey bootstrapper script, the script vars intermingle with the module. The bootstrapper has changed at some point

[2016-08-17 00:44] nitzmahone commented on #2742
Need to use Invoke-Command or some other way of running the Choco bootstrapper that avoids intermingling its internal state with the Ansible module vars.

[2016-08-17 00:52] nitzmahone commented on #2742
Unless anyone else is burning to do this one, I'm going to try and knock this out for 2.1.2rc1 next week.

[2016-08-17 04:11] magne opened #2743 "lxd_container module does not work on remote host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 16.04 both local and remote

##### SUMMARY
The lxd_container module does not work on remote machine with ssh connection

##### STEPS TO REPRODUCE
`ansible-playbook -i inventory test.yml`

###### inventory
[code]
###### test.yml
[code]

##### E

[2016-08-17 04:55] magne opened #2744 "lxd_container module can not have remote as part of container name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 16.04 on both local and remote

##### SUMMARY
I want to create a container on a remote lxd server. The server has been registered locally with `lxc remote add nuc1 <ip>`.

##### STEPS TO REPRODUCE
`ansible-playbook test.yml`

###### test.yml

[2016-08-17 08:08] bsjaekel commented on #2353
According to the docs the shrink option will be available with Ansible version 2.2. I think the lvol module is broken with Ansible 2.1, we have the same problems. When running with an existing lvol Ansible tries to shrink to zero size and fails.

[2016-08-17 10:03] dagwieers commented on #2332
Sure.

waiting_for_contributor

[2016-08-17 12:02] #2624 closed

[2016-08-17 12:40] nathanwebsterdotme opened #2746 "win_iis_website ssl flag does nothing"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_iis_website
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Server 2012 R2
##### SUMMARY

The ssl flag on web_iis_website doesn't do anything.
##### STEPS TO REPRODUCE

Run the win_iis_webssite module with 'ssl' option set to true.

[code]

##### EXPECTED RESULTS

SSL binding attached to website upon creation
#####

[2016-08-17 13:08] bcoca commented on #2743
@hnakamur your module incorrectly uses local `__init__.py`, this is not how we share code, this should be moved to module_utils in the main ansible  repo.

[2016-08-17 13:20] bcoca commented on #2743
both PRs above are needed for fix

[2016-08-17 13:31] resmo commented on #2743
@hnakamur my bad. I was not aware **init**.py won't get pushed.

[2016-08-17 15:19] hnakamur commented on #2743
@magne Thanks for reporting this issue!
@bcoca Thanks for your fix!
@resmo I wasn't aware too.

I think we can merge this and https://github.com/ansible/ansible/pull/17124 now.

[2016-08-17 21:31] magne opened #2750 "lxd_container module fails if certificate already in trust store"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default.

##### OS / ENVIRONMENT
Ubuntu 16.04 on both local and remote.

##### SUMMARY
Trying to create a new container with the remote server already added as a lxd remote on the local machine. The remote server has been registered locally with `lxc remote add nuc1 <ip>`.

#####

[2016-08-17 22:48] #2742 closed

[2016-08-17 22:53] nitzmahone commented on #2742
fixed in devel, cherry-picked to stable-2.1, should be included in 2.1.2rc1

[2016-08-17 23:40] #1561 closed

[2016-08-17 23:41] nitzmahone commented on #1561
fixed in devel, cherry-picked to stable-2.1, should appear in 2.1.2rc1.

[2016-08-17 23:44] #1054 closed

[2016-08-17 23:45] nitzmahone commented on #1054
fixed by #1295

[2016-08-17 23:45] nitzmahone commented on #1164
current win_chocolatey does not exhibit this behavior

[2016-08-17 23:45] #1164 closed

[2016-08-17 23:46] nitzmahone commented on #1021
current versions do not appear to exhibit this behavior, closing.

[2016-08-17 23:46] #1021 closed

[2016-08-18 01:19] Challa-shekhar opened #2751 "Expect module not working module failure parsed false"
##### ISSUE TYPE

- Bug Report
- expect module
##### COMPONENT NAME

Expect module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

source: RHEL 6.8 pexpect 4.2
target: RHEL 6.8 pexpect 4.2
##### OS / ENVIRONMENT

RHEL 6.8
##### SUMMARY

Module failure related to the python not sure
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

play to work fine
##### ACTUAL RESULTS

[code]

[2016-08-18 05:18] chuckwm commented on #428
@dagwieers I am curious if there are any plans to set a flag such that if the lv exists, leave it be, if it doesn't create it using size specified?   I am sure there are cases we'd want to give it space if some existed, but this may not always be the case.  I cannot upgrade to 2.2 yet, so shrink=no is not an option for me, and I am not sure where to get this module that makes the creation idempote

[2016-08-18 05:32] matt-byrne commented on #2728
PR #2752 should resolve this issue.

[2016-08-18 06:35] oryband commented on #751
Ping? The consul_kv module is useless right now.

[2016-08-18 13:45] afunix opened #2754 "gluster_volume should add replica and stripe arguments when adding bricks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gluster_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS: Mac OS X 10.11.6

[code]

[code]

##### SUMMARY
`gluster_volume` module fails to add brick to a gluster volume as it issues gluster command without reconfiguration of stripes and replicas:
`gluster volume add-brick XXX HOST:PATH force`
instead of
`glust

[2016-08-18 13:46] afunix commented on #2754
The patch for whoever may be interested:

[code]

[2016-08-18 15:57] barryib commented on #1785
This won't work because when removing plugin the module add unneeded options. ~~This can be solve with #2604. It refactors the module and avoid using unsupported options during plugin installation or removal.~~

Edit: Should be solved with #2839

[2016-08-18 16:08] barryib commented on #1785
@ThePixelDeveloper ping. I think you're busy actually, but would you like some help to maintain this module?

[2016-08-18 16:46] #2715 closed

[2016-08-19 08:37] potasz commented on #1169
As I can see @kaczynskid also created a fix in a separate fork that checks if the provided container definition matches the one in the active deployment. If not it creates a new revision. This could work. However, in my use case I sometimes want a new revision even with the same container and volume definitions. For this reason I patched my local ansible install by introducing a third state that I

[2016-08-19 09:58] tklo opened #2757 "vmware_vm_shell ignores "validate_certs: false""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vm_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
ansible_managed = ANSIBLE MANAGED FILE
callback_plugins = ./plugins:/usr/lib/python2.7/site-packages/ara/callback:$VIRTUAL_ENV/lib/python2.7/site-packages/ara/callback:/usr/local/lib/python2.7/dist-packages/ara/callback
forks = 25
gathering = smart
fact_caching = j

[2016-08-19 16:53] TomaszKlosinski commented on #2757
I've checked it on ansible devel and it works fine.

This is the version I'm currently using:
`ansible --version
ansible 2.2.0 (devel c5b5a20031) last updated 2016/08/19 15:16:00 (GMT +200)
  lib/ansible/modules/core: (detached HEAD 91a839f1e3) last updated 2016/08/19 15:16:00 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD 1aeb9f8a8c) last updated 2016/08/19 15:16:00 (GMT +200)
  config f

[2016-08-19 17:33] mboulet opened #2758 "ufw fails asking for a direction for rules without an interface specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ufw module fails asking for a direction even when rules do not include an interface parameter. The following arguments are from the [module's Examples section](http://docs.ansible.com/ansible/ufw_module.html#examples) of the documentation.

####

[2016-08-19 17:53] ovcharenko commented on #2758
notabug Couldn't repeat in latest Ansible `ansible 2.1.1.0`. Got a changed result as expected:

[code]

[2016-08-19 17:58] #2758 closed

[2016-08-19 18:06] ralfthewise commented on #1342
Was this really filed against the wrong repo?  According to the docs `cloudtrail` is still in the extras repository - http://docs.ansible.com/ansible/cloudtrail_module.html#this-is-an-extras-module

[2016-08-19 19:26] mboulet commented on #2758
@ovcharenko Respectfully, I am still experiencing this result.

[ufw.py line 228](https://github.com/ansible/ansible-modules-extras/blob/5a84de640b2773152f14b34a9f31573ef8a72541/system/ufw.py#L228) fails the modules when 'interface' is in module.params and 'direction' is None. However, [AnsibleModule._set_defaults(pre=False)](https://github.com/ansible/ansible/blob/9478e4139475adf77c0ab279fec75641

[2016-08-19 19:56] ovcharenko commented on #2758
needs_info @mboulet please try from this [branch](https://github.com/ovcharenko/ansible-modules-extras/tree/bug2758) and let me know.

[2016-08-19 20:21] mboulet commented on #2758
@ovcharenko 9f7ddbbea7fccb9d75dc96761bf63269bd4fd77b resolves the issue for me. thanks for the support.

[2016-08-19 20:26] ovcharenko commented on #2758
resolved_by_pr #2759

[2016-08-19 20:27] ovcharenko commented on #2758
!needs_info

[2016-08-19 22:25] grybak-arista opened #2761 "vmware_dvs_portgroup destroy fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloud/vmware/vmware_dvs_portgroup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The function definition for state_destroy_dvspg(self) contains the line
            task = dvs_portgroup.Destroy_Task()

This should be
            task = self.dvs_portgroup.Destroy_Task()

##### STEPS TO REPROD

[2016-08-20 17:56] trondhindenes commented on #1433
No negative response, closing as fixed.

[2016-08-20 17:56] #1433 closed

[2016-08-20 22:35] akrzos commented on #2009
I am still seeing the issue with ansible 2.1.1.0 which what I believed the above p/r was merged into right? (as stated in the main comment of the P/R) or is there newer version of Ansible that p/r will be merged into?

[code]

And on my target machine:

[code]

Note the `semanage` command can assign that port to the type I want:

[code]

[2016-08-21 13:45] kaisero opened #2763 "vmware_local_user_manager error: 'module' not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_local_user_manager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Execution from: Ubuntu 14.04
Execution to: VMware ESXi 6.0 U2

##### SUMMARY
Execution of module vmware_local_user_manager fails with error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Create user on target system

##### ACTUAL R

[2016-08-22 08:03] sradvan commented on #2600
Hi, I have the same problem. I would love to see this fixed! Thank you,

[2016-08-22 09:11] dankeder commented on #2009
PR #2694  is not in 2.1.1.0 yet. The next version maybe?

[2016-08-22 10:17] Lujeni commented on #2725
@jbristow0 Thansk for your issue.

Regression: https://github.com/ansible/ansible-modules-extras/pull/1737/files

I will fix it this week.

Thanks

update: https://github.com/Lujeni/ansible-modules-extras/commit/d8b2050da14dd6b7021e04d10c83962d9822e228

[2016-08-22 12:15] tkteun opened #2765 "Debconf to (be able to) perform dpkg-reconfigure"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

debconf
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Debian 8.5 Jessie
##### SUMMARY

debconf only sets configuration parameters, but can't execute/set them.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

Variable is being set in debconf, but it's not actually applied to th

[2016-08-22 14:26] manuel-sousa commented on #1494
@zytron thanks for the info. I tried to reproduce your configuration on my system (Ubuntu 16.04) and couldn't reproduce the error (even tried with/without the dash on the vhost).

[code]

My output was:

I'll try to setup a debian VM later, could you please provide me with your RabbitMQ version? And confirm the requests version you have installed?

Is the error message you're getting also the same

[2016-08-22 19:02] zaphinath opened #2766 "Archive with remote_src=yes strips the second / in http://"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

archive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using default
##### OS / ENVIRONMENT

Running ansible on OSX El Capitain and remote host is centos 7
##### SUMMARY

I am trying to download a remote tar and extract it. It appears that I am losing a / in the src
##### STEPS TO REPRODUCE

I am running the following command as one of my rol

[2016-08-22 19:55] jtyr commented on #1305
This can be closed now as the fix (#1415) was merged long time ago.

[2016-08-22 20:07] #1305 closed

[2016-08-22 20:11] jtyr commented on #2384
I think it would be better to use the `init_file` module to modify the single repo option:

[code]

What do you think, @hhsnow? If this is acceptable solution, please close the issue.

[2016-08-22 20:46] AndydeCleyre opened #2767 "apk module silently ignores `name` argument if `upgrade` is specified"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

apk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-container`

##### OS / ENVIRONMENT

`ansible-container`, `python:2-alpine`

##### SUMMARY

If you use the apk module and specify arguments for both `name` and `upgrade`, the package named `name` is not installed, and ansible reports success for the task.

[2016-08-22 22:06] kbrebanov commented on #2767
The documentation states that **upgrade** is used to upgrade all the packages that are currently installed. And it's used as follows:

[code]

To ensure that a package is installed (and upgraded to the latest version available), the **latest** state should be specified. Like so:

[code]

[2016-08-22 22:13] AndydeCleyre commented on #2767
Yes, but it doesn't say that the options are mutually exclusive. I didn't misread and think that `upgrade` applied to the named package. I correctly read the docs and thought that I could accomplish those two operations, in addition to the update operation, in one task. And I expected that if the operation were illegal, the task would fail.

[2016-08-23 08:19] #690 closed

[2016-08-23 15:24] dwbconsulting opened #2773 "ec2_vpc_route_table returns plural or singular variable depending CGW status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
Mac / RHEL

##### SUMMARY

If the CGW doesn't exist I get the variable "customer_gateway" back, when it does exist I get the plural back customer_gateways.  I am unable to write code around the registered variable due to this problem.

CGW do

[2016-08-23 20:37] ltzany commented on #2445
i'm getting the same issue: "module_name": "ec2_elb_facts"}, "msg": "boto required for this module"}  i've confirmed boto 2.42.0 is installed.  also where does HAS_BOTO look for boto? is this something build into ansible or python2.7?

[2016-08-23 21:09] mjschultz commented on #2445
`HAS_BOTO` is set when the module is loaded [around line 79](https://github.com/ansible/ansible-modules-extras/blob/c600334a9d873327450ad6015055ce45e7632304/cloud/amazon/ec2_elb_facts.py#L77-L83).

So I'm confused as to how boto can be there but somehow `HAS_BOTO` is set to `False`. My best guess is that `boto` isn't installed on the target machine which is a requirement of the module to run, but

[2016-08-23 21:11] ltzany commented on #2445
but i confirmed that boto is installed on my machine.  is there a certain
version that is needed?  this is on an ec2 instance and aws likes to use
boto3 now.

On Aug 23, 2016 5:09 PM, "Michael J. Schultz" notifications@github.com
wrote:

[2016-08-23 21:15] mjschultz commented on #2445
AWS likes boto3 now, but the module still uses old boto.

If these lines can execute on the target machine:

[code]

There isn't a reason this ansible module shouldn't be able to work. Do other ec2 modules work? (Like `ec2_vol_facts`?).

Is it possible that the ansible execution is using a different python than what is done at the command line? Or a virtualenv is being creating somewhere?

[2016-08-23 21:28] ltzany commented on #2445
the machine this runs on uses ansible 2.1.0.0 and runs Python 2.7.

I tried the example above for boto and it works properly but we still have
this issue.

is there a certain place where ansible or this module is looking for boto in HAS_BOTO? (/usr/local/bin/boto?)

I really appreciate your help!
- John M.

[2016-08-23 22:03] deekayen commented on #2746
I've been trying to get SSL to bind using 2.1.1.0 and this report looks like it may be my scapegoat for failure. At first, it was merely peculiar that the docs didn't have any choices for the ssl argument, so picking true as a value for ssl was just a guess. When I tracked down the `win_iis_website.ps1` file, it doesn't appear to do anything with the `ssl` param.

[code]

It just gets ssl attribut

[2016-08-23 22:11] mjschultz commented on #2445
Can you post the playbook you're using (or email it to me, my email is in my profile on github)?

I'm assuming that the module is running on localhost of the `ansible`, so then a command like:

[code]

would tell you what python is being used and

[code]

should say where it will look for boto.

Depending on the playbook, if this is not running on `localhost` you'll need to tweak that command to t

[2016-08-23 22:59] robbiet480 commented on #1169
This is still an issue. I fixed it by commenting out the existing and `ACTIVE` check in ecs_taskdefinition.py [here](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ecs_taskdefinition.py#L185-L187).

cc @Java1Guy.

[2016-08-24 01:38] ltzany commented on #2445
thanks - i'll need some time to test this out.

[2016-08-24 01:50] shane51 commented on #220
I met the same issue.

When I tried to use NPM  to install [Appium](http://appium.io/),

[code]

ansible throw exceptions as below, and appium failed to install:

[code]

When I replaced npm module with shell

[code]

it throw another error:

[code]

but this time appium was installed successfully

[code]

[2016-08-24 02:04] thetrav commented on #2480
Actually this is totally a problem with the ansible module...

`shade.openstack_cloud(**module.params)` is the line at fault.

It passes all the module params through to shade.
There is some overlap between the parameters used by ansible to create users, and the parameters used by shade to determine authentication.  I have been unable to figure out precisely what the collision is, however replacin

[2016-08-24 04:45] atul-ram opened #2781 "unable to get stdout from asa_command"
##### ISSUE TYPE

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT
centos 7

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
 "stdout": [
        "",
        "",
        "Adding obj (network-object host 122.14.15.43) to grp (CR_56116_dest) failed; object already exists\n"
    ],

##### ACTUAL RESULTS
 "result.stdout":

[2016-08-24 06:54] #2767 closed

[2016-08-24 07:20] ogenstad commented on #2781
I will have to take a look at this. The ios_command now supports a warnings variable, as asa_command uses the same underlying utils this new variable might also work in asa_command. @privateip would know if this is the case. I also don't know by heart how the register variable behaves in this case when using with_items.

Having said that I would ask your about the end goal. I wouldn't view the abo

[2016-08-24 07:23] potasz commented on #1169
Yes, that check is the culprit. Many of us modified the part you have highlighted in various manners. We just need on 'official' fix for that maybe by @Java1Guy.

[2016-08-24 12:07] kaisero commented on #2763
I have found the reason for module failure. If the password complexity is not given the module will fail with the error shown. Maybe this should be enhanced to display why the creation has failed.

[2016-08-24 15:12] shane51 commented on #220
workaround by [appium cannot be installed via Ansible, Salt or Shell script](https://github.com/appium/appium/issues/6768)

workaround:

[code]

[2016-08-24 16:02] Lujeni commented on #2731
Hello @cortopy,

Thanks for your issue.
I will investigate this problem during the week.

Keep in touch !

Regard

[2016-08-24 17:43] zytron commented on #1494
Apologies for the delay, but I have found the cause of my problem now.  The python-requests package under Debian/Wheezy is version 0.12.1

I have fixed my problem by removing the Debian package and installing requests (2.11.1) via pip
$ sudo apt-get remove python-requests
$ sudo pip install requests

But yes, the old version of requests module resulted in the same error
fatal: [localhost]: FAILED!

[2016-08-24 18:47] manuel-sousa commented on #1494
@zytron thanks for confirming that it was indeed the requests version. I'm updating documentation to show minimum version required.

resolved_by_pr #2785 #2786 #2787

[2016-08-24 18:54] #1494 closed

[2016-08-24 21:14] ferventcoder opened #2790 "Chocolatey - checksums required for HTTP"
Just a heads up, 0.10.0 was recently released and requires checksums for HTTP packages, of which some packages on the community repository to fail currently.

Just something to be aware of as you may receive some reports on this - https://github.com/chocolatey/choco/issues/910

cc @nitzmahone

[2016-08-24 21:17] nitzmahone commented on #2790
Somebody already caught it and PR'd a fix that we've merged and backported: https://github.com/ansible/ansible-modules-extras/pull/2722.

Thanks @ferventcoder!

[2016-08-24 21:17] #2790 closed

[2016-08-24 21:27] ferventcoder commented on #2790
@nitzmahone sweet! I searched but didn't turn up anything, guess I missed for closed issues. Doh!

Awesome that it is already available!

[2016-08-24 21:33] camflan commented on #2734
this also happens for quotes. for example, I dump commit messages out to Slack on deploy and if the commit message has quotes, it breaks the JSON we pass to Slack and we get 400: Bad Request

[2016-08-24 23:32] davidjpeacock commented on #2744
I believe the syntax you're employing isn't legal @magne.

The colon isn't interpreted as a separator, but as a requested part of the hostname, which isn't valid for a hostname.

If you review the examples in [the module](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/lxd/lxd_container.py) you'll see how it should look.

[2016-08-25 03:08] diannaowa commented on #220
Use "su - -c 'COMMAND'"
It works for me:

[code]

ENV:
Ubuntu 14.04.4 LTS
ansible 2.1.0.0

[2016-08-25 06:09] basictheprogram opened #2791 "ERROR: Running wusa.exe ChocolateyInstall.ps1: line 124 chocolateyScriptRunner.ps1: <No file>: line 1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible host OS X 10.11.5
Managed host Windows 7 64-bit

##### SUMMARY

Trying to install Powershell 5 via win_chocolatey and it fails (details below)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Powershell 5 to be installed.

Installing P

[2016-08-25 06:11] basictheprogram commented on #2791
Similar issue at https://github.com/ansible/ansible-modules-extras/issues/2580?

[code]

[2016-08-25 06:51] magne commented on #2744
No, the colon is a valid separator for a LXD container name, which is _not_ a hostname. The part before the colon is the remote alias (`local` by default), and the last part is the name of the container.

When using an lxd connection in ansible, the 'remote:container' syntax works as expected.

[2016-08-25 10:09] davidjpeacock commented on #2744
Interesting; thank you for educating me.  That's more clear.

[2016-08-25 10:31] hnakamur commented on #2744
The lxc command accepts the 'remote:container' syntax, however the [LXD REST API](https://github.com/lxc/lxd/blob/master/doc/rest-api.md) does not.
Since lxd_container uses the LXD REST API, not the `lxc` command, please specify parameters which the LXD REST API accepts.

[2016-08-25 13:03] atul-ram opened #2792 "asa_command module does not support with_nested"
##### ISSUE TYPE

asa_command module does not support with_nested
##### COMPONENT NAME

as_command
##### ANSIBLE VERSION

2.2

[code]
##### CONFIGURATION

vars:

  Obj_port_range:
    - [2007,4007]
    - [5007,6087]
##### OS / ENVIRONMENT

centos , cisco asa
##### SUMMARY

##### STEPS TO REPRODUCE
- name: Add port range to object
  asa_command:
    provider: "{{ cli }}"
    commands:
      - confi

[2016-08-25 13:34] atul-ram commented on #2792
i need the asa_command to complete with port range given in this format

- range:
  - {start: 4897 ,end: 5897}
  - {start: 2397 ,end: 3197}

[2016-08-25 15:57] rafi opened #2793 "[ecs_taskdefinition] Invalid type for parameter containerDefinitions[0]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ec2_taskdefinition`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX

##### SUMMARY
An exception when trying to use variables for `cpu` and `memory` parameters in the `containers` list.

##### STEPS TO REPRODUCE
Run playbook:
[code]

##### EXPECTED RESULTS
Create a new ECS task-definition with 512 cpu and memory.

[2016-08-25 16:03] #2793 closed

[2016-08-25 16:07] rafi opened #2794 "[ecs_taskdefinition] Invalid type for parameter containerDefinitions[0]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ec2_taskdefinition`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX

##### SUMMARY
An exception when trying to use variables for `cpu` and `memory` parameters in the `containers` list.

##### STEPS TO REPRODUCE
Run playbook:
[code]

##### EXPECTED RESULTS
Create a new ECS task-definition with 512 cpu and memory.

[2016-08-25 16:13] #2794 closed

[2016-08-25 16:39] rafi opened #2795 "[ecs_service_facts] value of details must be one of: true,false, got: True"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ecs_service_facts`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

OSX
##### SUMMARY

Running this playbook (with `details: true`):

[code]
##### EXPECTED RESULTS

Detailed result as mentioned in [docs](http://docs.ansible.com/ansible/ecs_service_facts_module.html).
##### ACTUAL RESULTS

[code]

[2016-08-25 16:48] #2761 closed

[2016-08-25 17:11] rafi commented on #1169
Different to @nikhilo's workaround, this uses `ecs_service_facts` instead of using `ecs_taskdefinition` twice:

[code]

[2016-08-25 17:25] atul-ram commented on #2792
"with_nested" is not a module , it is a loop

[2016-08-25 17:34] denys-19 opened #2796 "Set notes and resource_pool on vmware_guest"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

Set notes and resource_pool
##### STEPS TO REPRODUCE

[code]

where set notes and resource_pool?
##### EXPECTED R

[2016-08-25 18:02] robbiet480 commented on #1169
Can I just submit a PR to fix this by commenting [these](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ecs_taskdefinition.py#L185-L187) lines as I proposed the other day since @Java1Guy doesn't seem to be responsive?

[2016-08-25 18:09] mliudev commented on #2014
I didn't search for this issue earlier but I just made a pull request that does this: https://github.com/ansible/ansible-modules-extras/pull/2789.

[2016-08-25 19:36] gentunian commented on #1414
Not working for me either:

ansible-playbook 2.1.1.0
Successfully installed pyvmomi-6.0.0.2016.6 requests-2.11.1 six-1.10.0
Python 2.7.11

[code]

`validate_certs` is working great with `vsphere_guest` core module. I'm trying to provision a VM creating it with `vsphere_guest` and then setting IP with `vmware_vm_shell` and this last task fail.

EDIT: I think this should be opened. It's working with

[2016-08-25 19:54] jctanner commented on #1414
@gentunian please open a new issue.

[2016-08-25 19:56] gentunian commented on #1414
@jctanner thanks for your comment, in the process of creating it I found that the issue is already addressed: https://github.com/ansible/ansible-modules-extras/issues/2757

Bad search made by me I ended up here. Regards,

[2016-08-25 22:43] jbristow0 commented on #2725
Any chance this will make it into 2.1.2?

[2016-08-25 23:47] evanfoster commented on #2766
Can confirm, I'm having the same issue.

**Ansible version**

[code]

**Configuration**
Using default.

**OS/Environment**
Running Ansible on Arch Linux, remote host is Centos 7

Here's a snip from my playbook.

[code]

Here's the output I see.

[code]

[2016-08-25 23:50] bendoh commented on #2766
@zaphinath I got pinged, but this isn't actually my module :P The description incorrectly states`archive` as the module involved when it is in fact `unarchive` – You may want to update the description so the proper people are notified!

[2016-08-26 13:02] Mr-Penguin commented on #1790
Same issue, can confirm.
With Proxmox 4.0 no problem, but 4.2 breaks because of this issue.

[2016-08-26 14:40] gentunian commented on #2757
@tklo maybe I'm looking at the wrong place but this limiation seems to be from `pyVmomi`. What I've found in `SoapAdapter.py` is the [`connect()` method not implementing peer validation](https://github.com/vmware/pyvmomi/blob/master/pyVmomi/SoapAdapter.py#L1029)

[code]

Mostly related: https://github.com/vmware/pyvmomi/issues/444

[2016-08-26 18:12] gentunian commented on #2757
Ok, I think I found the case after digging inside `vmware.py` code in these lines:

[code]

"Exception ocurred but I dont know which one" is printed so my guess is that it won't connect for this reason. The exception being thrown by pyVim is not the one that is being catched. This is the ansible output error msg:

[code]

I'm not an expert in python, is that `SSLError` an exception type?

[2016-08-26 18:31] gentunian commented on #2757
Ok, confirmed with this snippet just to test if it was that the module isn't catching the exception:

[code]

I've got from ansible-playbook:

[code]

[2016-08-26 19:58] ryanwetzelberger commented on #2736
This also will wipe out any defined policy on an existing bucket.  This should not be modifying resources on an existing bucket if the parameter is undefined.

[2016-08-26 22:57] bryanhiestand commented on #1813
This broke somewhere between 2.0.1.0 and 2.1.1.0

#2735 did not resolve this for me in 2.1.1.0.  I now get "This policy contains invalid Json".  Running the same template and play through 2.0.1 still work.

I am extremely concerned if core back-end behavior in 2.1 caused this to break playbooks that have not changed since 2.0.  Is 2.1 not backward compatible for playbooks and extras modules?

[2016-08-27 08:21] hajimezhao opened #2799 "Cannot request certificate (letsencrypt) with error message "Error validating challenge: ...""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

letsencrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Laptop (Linux Manjaro) execute Ansible playbook against CentOS 7 server

##### SUMMARY

Cannot request certificate (letsencrypt) with error message "Error validating challenge: ..."

##### STEPS TO REPRODUCE

Follow the example of letsencrypt at https://do

[2016-08-27 17:16] ltzany commented on #2445
i ran those commands and boto did not show up.  noticed that the python
check points to /bin/python which is not correct, guessing i should point
to the correct python in the hosts file?

On Aug 23, 2016 6:11 PM, "Michael J. Schultz" notifications@github.com
wrote:

[2016-08-28 15:01] ludwig-gramberg opened #2802 "lxc_container: incompatible with unprivileged containers"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
- lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
- no changes
##### OS / ENVIRONMENT
- os/x 10.11.6
##### SUMMARY

currently the module only supports managing lxc-containers as root in the global context. it would be great if it would also work in the context of any user.
see for https://myles.sh/configuring-lxc-unprivileged-con

[2016-08-29 12:11] fitschn opened #2805 "os_project requires python-shade 1.8.1 or higher"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_project

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

With ansible 2.1.1.0 the os_project module requires python-shade 1.8 or higher. But ubuntu ships python-shade 1.5, so this module does not work anymore. The os_project module is working correctly with ansible 2.1.0.0

##### STEPS TO REPRODUCE

[code

[2016-08-29 16:06] tadman commented on #1282
For Fedora 23+ you can create an Ansible task that installs dependencies for Ansible itself:

[code]

I've had to add a number of things here for compatibility reasons, `python-firewall` being the fix for using the `firewalld` module.

[2016-08-29 16:16] barryib commented on #1785
@nitzmahone any updates on this issue?

[2016-08-29 16:37] cloudnull commented on #2802
I think the issue is caused by the C lib and may require some refactoring to make it go. I will look into this.

[2016-08-29 16:46] ludwig-gramberg commented on #2802
basically what i want to do is this:

[code]

[2016-08-29 16:46] ludwig-gramberg commented on #2802
happy to help with any testing!

[2016-08-29 21:33] ritzk commented on #2757
@tklo  This is pulled in from ansible code (ansible/ansible/lib/ansible/module_utils/vmware.py) , and not vmware_vm_shell module. You will need to file this against ansible requesting for a backport of the fix. Could you check, if the below commit fixes the issue

[code]

@gentunian  is the VM powered on ? This seems to be a bug with pyvmomi.

Works fine on
- python-2.7.12-2.fc24.x86_64
- ansible-

[2016-08-29 21:47] gentunian commented on #2757
@ritzk I'm bad explaining things. I wanted to say that with the code I posted I could finally connect to vsphere :) It seems that exception wasn't being caught by vmware.py.

[2016-08-30 04:26] amenonsen commented on #2618
This bug also affects me, even though I specify only one Principal.

[2016-08-30 05:40] ravibhure commented on #521
There's already option available for terminating current sessions on backend host

[code]

EXAMPLES:

[code]

[2016-08-30 07:16] dreamcat4 opened #2813 "win_chocolatey: installing kodi breaks playbook run the first time"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Windows 10 Pro anniversary update edition Build 14393.
##### SUMMARY

On a clean system, the first time kodi 16.1 is installed via win_chocolatey, throws some exception. And the playbook run cannot recover, even with ignore_errors.

Subsequent invocations sho

[2016-08-30 07:18] dreamcat4 commented on #2813
So would wrapping inside of a `block` be able to rescue it from this type of exception? I don't mind if there is an error, just would like to recover from it.

[2016-08-30 08:06] dreamcat4 opened #2814 "win_chocolatey: upgrade feature doesnt seem to work"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

win10 pro anniversary update Build 14393
##### SUMMARY

Upgrade feature calls `choco install` instead of `choco upgrade`
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

For example as seen here whenever the command errors out:

[code

[2016-08-30 08:25] ravibhure commented on #521
@bjoernbessert Is it something different than _shutdown_sessions_  in module ?

[2016-08-30 09:42] pratz opened #2815 "Artifactory module"
##### ISSUE TYPE
- New module

##### COMPONENT NAME
- Artifactory module

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible module for [JFrog artifactory](https://www.jfrog.com/artifactory/)

Covered ansible artifactory modules
- Artifactory Users
- Artifactory Groups
- Artifactory LDAP
- Artifactory Repositories
- Artifactory Permissions
- etc ...

[2016-08-30 10:49] pr4th4m commented on #2815
I will soon submit a PR for ansible artifactory module.

[2016-08-30 13:51] hhsnow commented on #2384
@jtyr I've been using the ini_file module already in playbooks, but I'd expect modifying anything related to yum repo files to be a feature of the yum_repository module. At the very least, I'd expect documentation in this module to point to the ini_file module.

[2016-08-30 14:00] jtyr commented on #2384
As I mentioned earlier, `yum_repository` was created to be able to define new repos with their _full_ definition. If you only want to change certain parameter without having to define all repo parameters, you better use the `ini_file` module. I will modify the `yum_repository` documentation to be more specific about this aspect.

[2016-08-30 14:09] mgruener commented on #2799
@hajimezhao could you please show that `http://mydomain.com/{{ mydomain_com_challenge['challenge_data']['mydomain.com']['http-01']['resource'] }}` can be downloaded? So in your example above, does

[code]

work?

[2016-08-30 14:39] #2763 closed

[2016-08-30 14:40] ryansb commented on #2773
This is actually part of the ec2_customer_gateway module. @MichaelBaydoun can you take a look? I think a fix would be to add this line: `response['CustomerGateways'] = [response['CustomerGateway'],]` above line 148 [here](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ec2_customer_gateway.py#L148).

[2016-08-30 18:15] tcstang commented on #2384
Although ini_file suffices, my organization, like @hhsnow were expecting similar functionality in yum_repository. We are actually opting to use the command module with yum-config-manager --enable/--disable as our current solution.

[2016-08-30 19:09] jtyr commented on #2384
@tcstang I think the `init_file` is better way than using `shell` with the command you mentioned above. As I mentioned several times, `yum_repository` wasn't designed to be able to flip just certain pits of the YUM repo configuration. It was developed to be able to create complete definition of YUM repos.

I'm open to further discussion if you find another Ansible module of similar kind which is d

[2016-08-30 20:37] rosmo commented on #1899
@mrlesmithjr, Agreed, PRs are accepted :)

[2016-08-31 05:27] #1405 closed

[2016-08-31 05:35] #1682 closed

[2016-08-31 06:10] bjoernbessert commented on #521
@ravibhure Yes, its different. _shutdown_sessions_ terminates sessions immediately (and therefore breaks running connections/sessions). But if you are doing zero downtime deployments (rolling deployment with a loadbalancer for example), you want to graceful shutdown connections to a node.

[2016-08-31 09:29] mprzygrodzki commented on #2617
any news regarding this topic ? it would be great if this option would be added to the module.

[2016-08-31 10:46] mgruener commented on #2617
Sorry @mprzygrodzki I missed this one completely. Sure, seems easy enough, I will look into it.

[2016-08-31 15:24] sivel commented on #2751
This error is being caused by pexpect itself, not the ansible expect module.  It seems the `install.sh` script is printing `\xd2` which when pexpect tries to decode with `utf-8` you are getting this error.

There is the potential this could be remedied in 2 ways.
1. we expose an encoding, which would require you know the correct encoding that the script uses
2. we set `codec_errors` to either `ign

[2016-08-31 16:45] antoineco commented on #1674
I have a pretty much identical playbook and can confirm this is still happening on Ansible 2.1.1.0.

Ansible notifies about a change on the route table when the instance Id of the NAT instance has changed, but in fact nothing changes.

Playbook execution:
[code]
[code]
[code]
[code]

Actual state of the route table:
[code]

As the OP mentioned, deleting the black hole route leads to the expected r

[2016-08-31 19:35] bentruyman commented on #1347
What version of npm are you all using? You're likely running into npm/npm#8807. If you can upgrade to a more recent version of npm, it may resolve it for you. If you're stuck on early v3 or v2, you might be stuck using the shell module to "manually" install modules.

[2016-08-31 19:41] #2805 closed

[2016-09-01 12:24] Hoall opened #2827 "zypper module: notify crashes because of changed dict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

zypper
notify
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

SLES 12
##### SUMMARY

The package module calls zypper with a list of packages/programs to install. The operation completes without errors. In my opinion, notify executes now and raises an error because package or zypper returned "changed" = {} instead of

[2016-09-01 15:00] robinro commented on #2827
Thanks @Hoall for the bug report and testing the zypper module.

I opened PR #2830 to fix this. The bug was introduced in 584a06e.
Since it produces a traceback it's critical, so I hope @ansible core merges the fix before the 2.2 release.

[2016-09-01 19:40] ferventcoder commented on #2715
For others who run across this behavior, I added all of the different options you have when you run into this issue here: https://github.com/chocolatey/choco/issues/112#issue-58511395

The first option is consumer-based. Did you know you could pass the checksums yourself?

[2016-09-01 19:42] ferventcoder commented on #2790
#2715

[2016-09-01 19:42] ferventcoder commented on #2790
For anyone who happens upon this issue, read the comments on #2715

[2016-09-02 05:08] #2827 closed

[2016-09-02 05:10] atul-ram commented on #2781
i get this error ,when i try asa_config module
please share your input
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: difference() got an unexpected keyword argument 'path'
failed:
....

 "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_ZvOOsW/ansible_module_asa_config.py\", line 221, in <module>\n    main()\n

[2016-09-02 11:08] stephen-e-smith opened #2835 "zabbix_host.py does not update linked templates or groups correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

zabbix_host.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS Linux release 7.1.1503 (Core)
##### SUMMARY

zabbix_host.py seems to remove previous group membership / template linkage
##### STEPS TO REPRODUCE

Steps to reproduce:
With the following inventory:
[groupa]
node-1
[groupb]
node-1
node-2
node-3

And the

[2016-09-02 12:10] privateip commented on #2781
This is due to the network modules refactoring we have been doing for 2.2.  The asa modules are schedule to be refactors shortly.  Bare with us just a little longer, this will be fixed prior to 2.2 being released.  Leaving this issue open for now for tracking purposes.

[2016-09-02 13:20] mwild1 opened #2837 "datadog_event module does not correctly set host for event"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

datadog_event
##### ANSIBLE VERSION

[code]
##### SUMMARY

The `datadog_event` module does not allow correctly setting the host to be associated with events. The hostname should be passed to Datadog using the 'host' parameter in their API.

The documentation for this module shows setting a tag called 'host', which does not achieve the same thing.

[2016-09-02 14:22] EarlAbides opened #2840 "ec2_asg_facts: Find by name using wrong key in search"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the 'name' parameter for this module, the results from boto3 are being searched with the snake_case key before the dictionary has been converted for the results.

 To fix, line 305 of the module:
[code]
should be
[code]

#####

[2016-09-02 14:40] EarlAbides commented on #2840
Submitted PR #2841 to fix this issue.

[2016-09-02 18:30] MichaelBaydoun commented on #2773
Yes I will take a look

[2016-09-02 21:59] cove commented on #2835
That's working as intended actually, despite the documentation not being clear. If linking only added templates, vs. reseting it every time, then it's no longer declarative and old templates will never be removed. That doesn't help in your scenario I know, but that was our rational at the time. I don't think @harrisongu or I are able to maintain this at this point, so it might be good to find a ne

[2016-09-03 03:39] loia commented on #1453
resolved_by_pr 1443

[2016-09-03 03:44] #1453 closed

[2016-09-03 10:18] sveneh commented on #1169
+1

[2016-09-03 20:40] mscherer commented on #2684
What is the version of firewalld on the remote host ?

[2016-09-04 03:44] velotraveler opened #2846 "pkgin module fails with package names with two hyphens on NetBSD 6.1.5"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
- pkgin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No use of ANSIBLE_* environment vars, no use of ansible.cfg

##### OS / ENVIRONMENT

MacOS Yosemite 10.10.5

##### SUMMARY
pkgin module fails to parse the results of running NetBSD pkgin command when trying to install or check status of packages whose names have two hyphens.  In my envir

[2016-09-04 03:45] velotraveler commented on #2846
to clarify, Ansible manager host is MacOS Yosemite, managed host is NetBSD 6.1.5.

[2016-09-04 06:20] #65 closed

[2016-09-04 06:27] troy2914 commented on #2846
needs_info
I believe this was fixed in 2.1 8c6a3e7 on Apr 14
comment was  "pkgin: Fix bad regexp which did not catch packages such as p5-SVN-Notify"

which version of pkgin were you using?

[2016-09-04 07:49] resmo commented on #2603
fixed in 2.1.2 and 2.2.0

[2016-09-04 07:49] #2603 closed

[2016-09-04 07:56] #2084 closed

[2016-09-04 15:14] marafa opened #2853 "nmcli: Missing deps, and a missing verification for that deps"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nmclie module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

from IRC
misc:  that's a missing deps, and a missing verification for that deps

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-09-05 00:26] marafa commented on #2853
i was told the missing dependency was NetworkManager-glib. After installing it, I got this

`fatal: [test]: FAILED! => {"changed": false, "cmd": "", "failed": true, "msg": "Traceback (most recent call last):\n  File \"/tmp/ansible_0ZosGU/ansible_modlib.zip/ansible/module_utils/basic.py\", line 2093, in run_command\n    cmd = subprocess.Popen(args, **kwargs)\n  File \"/usr/lib64/python2.7/subproces

[2016-09-05 00:33] marafa commented on #2853
and this error after installing NetworkManager-libnm

`fatal: [test]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_cs2RK7/ansible_module_nmcli.py\", line 385, in <module>\r\n    from gi.repository import NetworkManager, NMClient\r\nImportError: cannot import name NetworkManager\r\n", "msg": "MODULE

[2016-09-05 00:58] velotraveler commented on #2846
I don't see any way to tell the version of an installed Ansible module, there's nothing in pkgin.py that looks like a local version number.

I installed ansible via MacPorts. I just tried upgrading, the old and new MacPorts versions are:
--->  Deactivating ansible @2.0.2.0.1_0
...
--->  Activating ansible @2.1.1.0.1_0

And the Ansible pkgin module now works as expected.

The patch referred to abov

[2016-09-05 04:50] troy2914 commented on #2846
In the documentation section of pkgin.py there are lines like 'version_added: "2.1"'

bug_resolved in newer version.

[2016-09-05 04:54] #2846 closed

[2016-09-05 08:48] mscherer commented on #2853
Related: https://github.com/ansible/ansible-modules-extras/pull/2852

[2016-09-05 09:18] mscherer commented on #2795
Fixed by #2593 , who is planned to be backported.

[2016-09-05 13:29] nathanwebsterdotme commented on #2746
I'm currently having to add an SSL binding as a separate task using win_iis_webbinding

[2016-09-05 21:59] jshprentz opened #2862 "ZFS module incorrectly reports change to sharesmb property"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ZFS module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Running Ansible on and managing Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-68-generic x86_64)

##### SUMMARY
The ZFS module incorrectly reports a change to an existing ZFS file system when `sharesmb: on` is among the properties specified in an Ansible task.

[2016-09-05 22:43] jshprentz commented on #2862
For what it's worth, this problem did not occur with the _compression_ property.

That property already is set on my ZFS file system:

[code]

I changed the ZFS task in the playbook to:

[code]

Running ansible-playbook now shows zero changes, the desired result:

[code]

[2016-09-06 08:32] bingoarunprasath opened #2863 "Feature request: Ciscospark module for 'notification'"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
new module request

##### ANSIBLE VERSION

[code]

##### SUMMARY
It would be nice to have Cisco spark notification module under ansible-modules-extras/notification

URL : https://www.ciscospark.com/

It will be quiet useful for me to post messages / notifications to Cisco spark rooms.

[2016-09-06 08:39] zimbatm commented on #2863
bot broken - I never touched the Cisco bit, please remove me from this system

EDIT: remove broken command -jctanner

[2016-09-06 08:51] bingoarun commented on #2863
I will submit a PR for this shortly

[2016-09-06 10:23] mploski commented on #2487
+1

[2016-09-06 11:02] bingoarun commented on #2863
Submitted a PR - https://github.com/ansible/ansible-modules-extras/pull/2864

[2016-09-06 13:36] mscherer commented on #2853
So we merged the PR, does it work now ? (as it was working for me, but maybe a more stripped down version of the distro would show errors I didn't see)

[2016-09-06 18:26] johanwiren commented on #2862
I managed to reproduce this on Ubuntu 16.04. Will take a look.

[2016-09-06 19:46] maxamillion commented on #2684
@ansibot needs_info

[2016-09-06 20:45] mscherer commented on #2684
bot_broken

[2016-09-06 21:19] mgruener commented on #2799
@hajimezhao can you please check if ansible/ansible-modules-extras#2868 fixes your problem and if not, provide a new set of results (the module should now return the actual server errors)?

needs_info

[2016-09-07 00:24] wimnat opened #2869 "ecs_service - task_definition is a required parameter when state=present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_service

##### ANSIBLE VERSION
ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
norm

##### OS / ENVIRONMENT
centos7

##### SUMMARY
task_definition is a required parameter when state=present

Although there appears to be logic in the code for this, it doesn'

[2016-09-07 01:56] wimnat commented on #2869
Resolved with https://github.com/ansible/ansible-modules-extras/pull/2870

resolved_by_pr

[2016-09-07 02:16] wimnat commented on #2840
bug_resolved
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/2841

[2016-09-07 03:18] #2840 closed

[2016-09-07 06:05] tkt028 commented on #2799
Hi mgruener,
Thank you for the response. To answer your previous question first, the curl command works to download the challenge data from the exposed URL.

For your information, I decided to switch to https://github.com/srvrco/getssl which is Bash-based implementation. So I would not test the ansible module again.

Thank you very much!
Cheers,
Khon

[2016-09-07 06:24] pmozdzynski commented on #1308
Hi.

This is fixed. have a look at the below ansible setup :

[code]

What you need is the latest rabbitmq-server that support rabbitmqctl set_policy for the "max-length-bytes" . If you can set this from the command line , than my above sample will work for you.
I faced mentioned above errors with rabbitmq-server-3.3.5-23 . When I upgraded rabbitmq-server to 3.6 all started working again.
You need

[2016-09-07 14:24] der-ali commented on #2021
ansible 2.1.1.0
The problem is still present

[2016-09-07 14:58] jctanner commented on #2684
bot_broken

[2016-09-07 20:09] gundalow commented on #2781
fixed by https://github.com/ansible/ansible/pull/17388

Please reopen if you still have issues

[2016-09-07 20:09] #2781 closed

[2016-09-07 20:11] gundalow commented on #1244
@mhite, @caphrim007 What would you like to do with this?

[2016-09-07 20:14] gundalow commented on #2602
@mhite, @caphrim007 What would you like to do with this?

[2016-09-07 20:31] johanwiren commented on #2862
resolved_by_pr #2875

[2016-09-07 20:38] #2862 closed

[2016-09-07 20:49] gundalow commented on #2681
@gerva I've pulled youd docs change into https://github.com/ansible/ansible-modules-extras/issues/2681

@mischapeters @gerva I notice in one of the other PRs you have replaces `if changed and write_config:` with `or`. If that needs fixing please raise a PR and we can get it integrated

[2016-09-07 20:49] caphrim007 commented on #2602
@gundalow this is not a bug, just a usage error that needs to be documented. So we can close this now and I will address it offline

[2016-09-07 21:24] caphrim007 commented on #1244
@mhite @gundalow I'm not sure whether or not the status of the node will say it's ready before it actually is...or not. I can test in the f5-ansible repository and submit a PR if it is as I too consider this a reasonable ask if it can actually be done

[2016-09-07 23:15] relaxdiego opened #2880 "QUESTION: Recommended way to run unit tests in Travis"
Our team is in the process of submitting a module with unit tests and we have a few questions about how to get it to run with the rest of the projects build steps in Travis and whether the community has a preferred way of getting these things done.

- Is nose still the preferred testing library to use or is there a move to py.test or some other lib?

- Can we add a test-requirements.txt to the roo

[2016-09-07 23:26] relaxdiego commented on #2880
Closing this and moving to mailing list.

[2016-09-07 23:26] #2880 closed

[2016-09-08 05:36] mgruener commented on #2799
I mark this issue as resolved_by_pr 2868. The fix in the pull request mentioned above works well enough, at least the integration tests for the letsencrypt module work again.

[2016-09-08 05:40] #2799 closed

[2016-09-08 09:54] #2681 closed

[2016-09-08 11:52] gundalow commented on #1244
@caphrim007 That would be great thanks.

I won't add the 2.2 milestone (I don't want to presure you into rushing a fix), however if a fix does arrive shortly we can consider it for integration before the 2.2 cutoff.

[2016-09-08 11:54] gundalow commented on #2602
Closing as @caphrim007 suggested. Thanks for confirming.

[2016-09-08 11:54] #2602 closed

[2016-09-08 12:03] lowwalker commented on #2731
I saw this issue as well. Running Ansible 2.1.1.0 / OSX / PIP against Mongo 3.2.9 and 3.2.3. I using the python-pymongo package from ubuntu which was vers 2.6.3-1build1. I removed that and used the pip pymongo package of 3.3.0 and I did not see this issue anymore.

[2016-09-08 14:14] okand opened #2882 "win_firewall_rule fails if rule already exists"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_firewall_rule
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Managing five Windows Server 2012R2 servers and 1 Ubuntu 16.04.1 LTS server
Running Ansible on Ubuntu Gnome 16.04.1 LTS

##### SUMMARY

I'm testing a role to install Check_MK Raw on a server and add some windows clients to the monitoring.
Most of it work

[2016-09-08 19:41] howinator commented on #1401
+1

[2016-09-08 20:57] pokidovea commented on #1224
Up. I've reproduced this situation

[2016-09-09 04:58] supertom commented on #2229
Thanks for the suggestion, @vladpanainte.   It's an interesting idea but in order to implement, we'd essentially be duplicating functionality already in the gce_pd module.  To accomplish this today, you'd first create a disk from snapshot using the gce_pd module, then you would reference that disk in the gce_img module to create the image.

[2016-09-09 07:12] vladpanainte commented on #2229
Hello,

Thanks for the response. What I want to do is to recover a VM from
snapshots including the "root disk". What you are saying is to have a
separate playbook that creates a new disk from a snapshot and then another
playbook to create the instance and use the disk created previously. My
goals was to to everything on a single playbook using for root disk as
image the snapshot for the root disk.

[2016-09-09 08:03] urajio commented on #1843
Same error with ansible 2.1.1.0

[2016-09-09 15:56] supertom commented on #2229
Well, technically,  it wouldn't need to be a separate playbook, but it would need to be a separate task.  But otherwise, yes, you have it right - that's how you would accomplish that today.

[2016-09-09 19:29] ikkaro opened #2889 "vmware_guest.py testing offer"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I've available a decent vmware environment where I can help troubleshooting the current module.
If you want, contact me privately to see how can work together. I see that this module is relatively new and needs some testing and impr

[2016-09-09 19:34] jctanner commented on #2889
@ikkaro reporting any bugs you find would be a great help. Exposure so far has been limited and I welcome any and all feedback on what to improve.

[2016-09-09 19:42] itdependsnetworks opened #2890 "Cisco ASA_ACL "NameError: global name 'candidate' is not defined""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
Attempting to run asa_acl using ansible dev version results in above errors. asa_command and asa_config work with no issues.

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
ACL to be updated

##### ACTUAL RESULTS

[code]

[2016-09-11 06:23] alitvak69 opened #2893 "Cannot run os_server_group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
force_color = 1
hostfile = /home/vagrant/ansible/inventory.ini
roles_path = /home/vagrant/ansible/roles
forks=10
##### OS / ENVIRONMENT

ubuntu 16.04.1
##### SUMMARY

When using os_server_group I receive an error
##### STEPS TO REPRODUCE

ansible-playbook -vvv  -f

[2016-09-11 14:38] #2869 closed

[2016-09-11 14:57] jctanner commented on #2532
bot_broken

[2016-09-11 15:16] baldwinSPC commented on #2471
The SSH feature has just been added to Ansible Extras. You should be able to use SSH keys now.

https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/profitbricks/profitbricks.py#L43-L47

[2016-09-11 15:54] hnakamur commented on #2744
notabug
Please specify parameters which are valid to the LXD REST API.

[2016-09-11 16:07] hnakamur commented on #2750
needs_contributor
I'm afraid I don't have time to investigate this.

[2016-09-11 17:05] rcarrillocruz commented on #2893
Could you please share your shade library version?

i.e. pip freeze |grep shade

[2016-09-11 19:42] rhorer commented on #2536
I can accept that the Python that Oracle provides may be broken. But not being a Python expert, it would help to know _in what way_ it's broken so I can try to fix it. Also, although implementing a workaround to the broken Python distro is not my favored approach (as I'm sure it is not yours, either), it would certainly be a pragmatic solution seeing as how there are millions of these installation

[2016-09-11 20:06] dagwieers commented on #2536
@rhorer I would verify the following things:
1. Check if you applied _all_ the latest updates for your OS (incl. python and openssl packages)
2. Test if this works: `python -c "import ssl"` (I suspect it fails in exactly the same way)
3. Check you are using the _native_ OS python (`python --version`) with the _matching_ OS python libraries (not any third party stuff or other version of libraries t

[2016-09-11 20:11] dagwieers commented on #2536
BTW
1. Are you having this issue for all Solaris _and_ RHEL systems targets ? That would be very weird...
2. Why are you sending the mail on the target nodes, and not as a local action from the master node ? Do you have the same issue if you make it a local action ?

[2016-09-11 21:49] Alex5252 opened #2895 "Modules vmware_portgroup and vmware_vswitch: [SSL: CERTIFICATE_VERIFY_FAILED]."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_portgroup
vmware_vswitch

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.1 LTS

##### SUMMARY
Modules vmware_portgroup and vmware_vswitch not support validate_certs option.
Module vsphere_copy supporting option validate_certs.

##### STEPS TO REPRODUCE

File esxi_add_vlan.lst
[code]

File esxi_add_vlan.yml
[code]

Run p

[2016-09-11 23:28] DavidVentura opened #2897 "Add public key support to proxmox module"
Since proxmox 4.2 it's possible to create containers with a pre-defined public key to allow ssh access as root.
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

proxmox
##### ANSIBLE VERSION

[code]

I can currently create containers with

[code]

It'd be lovely to avoid having to manually attach to the new containers to add the pubkey before continuing with the process.

[2016-09-11 23:52] wimnat commented on #2869
@jctanner how come this got closed before the PR was merged?

[2016-09-12 04:49] alitvak69 commented on #2893
pip freeze |grep shade
shade==1.5.1

[2016-09-12 05:02] alitvak69 commented on #2893
Updated shade to 1.12.1

[code]

Module gives soft options and they are available in Mitaka server groups options.

[2016-09-12 08:06] ikkaro opened #2900 "vmware_guest.py - Multiple datacenters folders not implemented"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default installation

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Multiple datacenters and folders not implemented.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Clone a VM

##### ACTUAL RESULTS
[code]

[2016-09-12 08:08] ikkaro commented on #2900
This are the not implemented lines:

[code]

[2016-09-12 13:45] jhawkesworth commented on #2663
Another thought then, could you try without the double quotes and double backslashes.  You would need quotes (single quotes would do) if there was a space in the key name but I think they can be omitted otherwise as of ansible 2.x

[code]

[2016-09-12 13:52] jhawkesworth commented on #2215
I'm going to close this one, no response from OP for months.  I have described above why I don't think appending should be a feature.

[2016-09-12 13:52] #2215 closed

[2016-09-12 13:54] jhawkesworth commented on #2600
@tuabache For what it's worth, I had to change the syntax to yaml style key: value instead of the key=value pair syntax following migration to ansble 2.x - please could you try changing your playbook syntax too?

[2016-09-12 16:34] jhawkesworth commented on #2332
Changing to a feature idea as agreed above due to ENOTIME from anyone right now to improve this.

[2016-09-12 19:43] ogenstad commented on #2890
It looks quite broken. My guess would be that this is due the restructuring of the networking modules in 2.2. If I had to guess I would point to [this commit](https://github.com/ansible/ansible-modules-extras/commit/10e8cdc93a56c9e20a86e99e3a3e471d6a32a1a2), perhaps @privateip knows what's going on?

The candidate is never assigned before being called. In the best of worlds this would have been ca

[2016-09-13 02:46] #2744 closed

[2016-09-13 03:08] mjschultz commented on #2543
I believe this is resolved_by_pr 1565.

[2016-09-13 03:09] mjschultz commented on #2445
@jjmiv did changing the python interpreter to use in the hosts file help out?

[2016-09-13 03:17] nitzmahone commented on #1998
bot_broken

[2016-09-13 03:44] thoiberg commented on #1858
Sorry for the delay, I changed my github notification settings for work a few months back and this notification was swallowed by that. This issue has been fixed by [PR#2322](https://github.com/ansible/ansible-modules-extras/pull/2322). This issue can be closed.

[2016-09-13 04:35] salfand commented on #1496
Is there any due date for the fix for this issue?

[2016-09-13 04:40] #57 closed

[2016-09-13 04:41] #2543 closed

[2016-09-13 04:47] jctanner commented on #1557
!needs_info

[2016-09-13 05:39] X-Cli commented on #836
I have no objection to you moving this issue to wishlist. I would just suggest to add a documentation line about the fact that this YAML list order will not be preserved.

Your suggestions and examples documented above did work.
In truth, though, I actually moved away from this solution for a while now.

Thanks for your help.

[2016-09-13 05:45] srgvg commented on #2137
needs_contributor

[2016-09-13 05:45] srgvg commented on #1812
needs_contributor

[2016-09-13 10:59] fvant commented on #2358
Hit by the same issue, after analysing the code, I conclude the logic is wrong.

The  `matching = [....]`  results in an Array with booleans like so `[True, False, False, False, False, False, False, False]`so you want to count the True occurrences, not the length of the list.

I commented it out :) so I can continue.  When the author does not fix it, I'll make a PR that will remove it.

[2016-09-13 11:16] dagwieers commented on #899
needs_contributor

[2016-09-13 12:38] itdependsnetworks commented on #2890
I am still running into the same issue.

[code]

pinging @privateip, not sure if bug will re-open by itself.

[2016-09-13 12:42] jhawkesworth commented on #1233
@xpicio - yes that is pretty much the same solution as @kmbharath has implemented.  If you could test that version of the module and comment on the https://github.com/ansible/ansible/issues/16708 PR that would speed up getting it merged.

[2016-09-13 13:37] jctanner commented on #2815
@pratz if you plan to create the module and submit a pull request, there's no need to have this issue open. I will go ahead and close this, but thank you in advance for your future contribution.

[2016-09-13 13:37] #2815 closed

[2016-09-13 13:38] jctanner commented on #2889
@ikkaro I reached out over email, so let's continue this conversation there.

[2016-09-13 13:38] #2889 closed

[2016-09-13 13:47] jctanner commented on #1998
!needs_info

[2016-09-13 13:57] jctanner commented on #2863
@bingoarunprasath thank you for the pull request. I'm going to close this issue since further discussion should happen in the PR.

[2016-09-13 13:57] #2863 closed

[2016-09-13 15:19] privateip commented on #2890
just merged changes that should fix up the module.  leaving this issue open pending testing.

[2016-09-13 15:29] briceburg commented on #342
Is there an open PR for this?

[2016-09-13 15:37] privateip commented on #2890
reported fixed by @itdependsnetworks .... closing this issue

[2016-09-13 15:37] #2890 closed

[2016-09-13 15:43] jhawkesworth commented on #1767
I believe @schwartzmx should be getting pinged about this, win_regmerge is done.

bot_broken

[2016-09-13 15:50] h0nIg commented on #2725
@lujeni  @jbristow0 same here

[2016-09-13 16:01] mhite commented on #799
notabug

[2016-09-13 16:39] #799 closed

[2016-09-13 17:02] ltzany commented on #2445
haven't had a chance to try this yet.  i'm guessing its worth a try.

[2016-09-13 19:01] Alex5252 commented on #2895
Option "validate_certs" supported only by module vsphere_copy (from ansible/modules/extras/cloud/vmware).

[2016-09-13 20:36] rmauc opened #2906 "Unable to download Mavin Artifact"
##### ISSUE TYPE

 - Documentation Report
     After extensive deep googling I am unable to find the reason why this maven_artifact playbook fails to run:

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT
RHEL7

##### SUMMARY
Unable to get an artifact back from Maven
This is my Maven declaration:
<dependency>
    <groupId>200</gr

[2016-09-13 21:57] cloudnull commented on #550
notabug

[2016-09-13 21:57] cloudnull commented on #2802
needs_contributor -- while I want to work on this i'm being pulled in a few directions right now and don't have a lot of time.

[2016-09-13 22:15] #550 closed

[2016-09-14 00:03] szollinx opened #2908 "zypper_repository: ImportError: No module named xml.dom.minidom"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper_repository module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
hostfile = hosts
forks = 50
retry_files_enabled = True
retry_files_save_path = .

[ssh_connection]
pipelining = True

##### OS / ENVIRONMENT
NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID

[2016-09-14 04:39] wimnat commented on #2719
notabug

Using boto version 2.42.0 and latest version of module i can not replicate this behavior.

Both vpc-id and vpc_id both work for me.

[2016-09-14 04:49] #2719 closed

[2016-09-14 05:46] #2900 closed

[2016-09-14 09:39] #2153 closed

[2016-09-14 10:18] ikkaro opened #2911 "vmware_guest.py Clone operation not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Deploy a VM from a template is not working

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The VM is cloned with the required parameters.

##### ACTUAL RESULTS
[code]

[2016-09-14 10:19] ikkaro commented on #2911
I've tried with different playbooks parameters and all of them fails.

[2016-09-14 10:31] ikkaro opened #2912 "vmware_guest.py implement cluster support"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

This module should support clusters in a vsphere environment.
Should be excellent to replace(or add a new one) the variable esxi_hostname by cluster_name or select one of them and automatically select one host to d

[2016-09-14 10:34] ikkaro opened #2913 "vmware_guest.py implement datastore cluster support"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

This module should support datastore clusters in a vsphere environment.
In order to deploy a template should be excellent not specify the datastore but specify the datastore
cluster and automatically use SDRS funci

[2016-09-14 10:39] ikkaro opened #2914 "vmware_guest.py OS customization"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

This module should support ip address, subnet, gateway and dns settings.
Network settings should be allowed to set per interface.

[code]
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESULTS

N/A
##### ACTUAL RESUL

[2016-09-14 10:49] ikkaro opened #2915 "vmware_guest.py implement reconfigure options"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Like the module vsphere_guest.py, this module should support reconfigure in order to add or remove resources from the VM.
For instance:
    Add a new disk. Remove is not required.
    Add/Remove memory.
    Add/Rem

[2016-09-14 11:13] jhawkesworth commented on #1496
@salfand This modules is maintained my a community member so its really up to their availability when/if anything gets done.

Some further information might help reproduce the problem

could you supply...

1/ playbook used to reproduce the problem.
2/ contents of the chocolatey.log file mentioned in the error
3/ ansible version (run ansible --version and copy paste entire output).
4/ target window

[2016-09-14 11:16] jhawkesworth commented on #921
hmm, I imagine bot should be poking @nitzmahone  (perhaps just misconfigured).

bot_broken

[2016-09-14 11:17] jhawkesworth commented on #1140
needs_contributor (to write docs)

[2016-09-14 12:32] #2140 closed

[2016-09-14 14:24] jctanner commented on #2911
@ikkaro can you run the playbook with -vvvv and paste the output here?

needs_info

[2016-09-14 16:21] ferventcoder opened #2916 "Install Chocolatey from Internal Source"
Was asked if this was available and it doesn't appear it is from looking at the source. @nitzmahone
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT

Windows
##### SUMMARY

Folks would like to be able to have Chocolatey installed from internal sources when using the Ansible module, particularly when they are compl

[2016-09-14 16:36] ferventcoder commented on #2916
@ansibot please rerun

[2016-09-14 16:45] nitzmahone commented on #2916
@ferventcoder Yeah, seems like that'd be pretty easy to add. The existing module just bootstraps from the chocolatey.org-hosted `install.ps1`\- do folks hosting the bits internally typically just point at an internally-hosted version of that script?

[2016-09-14 17:40] ferventcoder commented on #2916
Script or the script can point to internal sources.

To get an idea of what you can do with another provider, here is an example:

[code]

or

[code]

The ensuring of Chocolatey being installed is handled by a different resource than the packages themselves, but that doesn't mean you couldn't come up with some approach to handle it.

[2016-09-14 18:00] nitzmahone commented on #2916
Ah, looking at the script I see that the install location can be overridden via environment... I'd rather we didn't duplicate what your bootstrapper script's already doing, so I'd probably just allow override of both the script location and the .nupkg download location (to be set in the environment). If someone wants to use fully offline, they'd have to specify both, or just override the script lo

[2016-09-14 18:07] ferventcoder commented on #2916
Sounds reasonable. Perhaps small changes and then just documentation then?

[2016-09-14 18:26] nitzmahone commented on #2916
Yep, we'd just add the new args and some text about how/when to use. I'm pretty sure Ansible Core is going to end up "adopting" this module; I know I encourage its use wherever reasonable. I'll probably try to slide in the new args this week before the final 2.2.0 module feature freeze.

Thanks @ferventcoder for all you do to keep chocolatey a going concern!

[2016-09-14 19:48] june07 commented on #2750
Not sure if this pull request will get accepted but this seems to be a fix:
https://github.com/ansible/ansible/pull/17571

[2016-09-14 21:23] jctanner commented on #2706
@phips please test https://github.com/ansible/ansible-modules-extras/pull/2918 when you get a chance

needs_info

[2016-09-14 22:10] morfeush22 commented on #2577
It seems that option `state` is bound to container specified by `name`. Additionally, `state` is by default started. The possible workaround would be to explicitly force stop state on base container during clone step, and later start cloned container in another task:

<pre>
- name: Create container overlay1
  lxc_container:
    name: base1
    clone_snapshot: yes
    clone_name: overlayfs1
    sta

[2016-09-14 22:20] odyssey4me commented on #2577
@morfeush22 Yeah, that makes sense as a workaround. Thanks - we're doing something similar, but due to https://github.com/ansible/ansible-modules-extras/issues/2691 we're using the CLI commands anyway.

[2016-09-14 22:37] dustinalan commented on #2114
bump, any updates? This module is currently affecting our PR's

[2016-09-15 06:48] resmo commented on #2114
this fix is included in v2.1.1.

If you see issues, please open a new ticket with all the infos.

[2016-09-15 07:36] ikkaro commented on #2911
Tell me if  you need more information.

[code]

[2016-09-15 07:54] t-v commented on #2036
resolved_by_pr  #2432

[2016-09-15 07:55] #2036 closed

[2016-09-15 08:59] h0nIg commented on #2725
added pullrequest: https://github.com/ansible/ansible-modules-extras/pull/2920 with maintainer fix

[2016-09-15 11:36] Atoms opened #2921 "Zabbix module encryption support"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

zabbix_host
##### ANSIBLE VERSION

any
##### SUMMARY

Starting zabbix 3.0 zabbix host can be configured using encryption. Please add settings for encryption to module
##### EXPECTED RESULTS

Adding zabbix host configuration for encryption is added.

[2016-09-15 11:51] zamotivator opened #2924 "Add public ip address to ec2_remote_facts result"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloud / amazon / ec2_remote_facts

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Show public ip address in ec2_remote_facts result

##### PATCH
[code]

[2016-09-15 13:34] #2706 closed

[2016-09-15 13:57] nathanwebsterdotme commented on #2746
Any updates?

[2016-09-15 13:57] nathanwebsterdotme commented on #2733
Any updates ?

[2016-09-15 15:12] jctanner commented on #2911
@ikkaro I can not reproduce this error. The message is coming back from vcenter as the task.info.error.msg, so it's not an error in the module per say. I will need more information about what vcenter thinks is wrong to offer further suggesions. These two KB articles imply that it might be an issue with your datastores:

https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=disp

[2016-09-15 17:21] mogthesprog opened #2927 "ARM deployment succeeds, Ansible Throws msrestazure.azure_exceptions.CloudError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Azure/azure_rm_deployment.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.2, Python 2.7

##### SUMMARY
When I run an ARM deployment of the template below, it seems that the deployment succeeds in azure according to the activity log, but there are some checks done by the module post-deployment, and th

[2016-09-15 18:27] jctanner opened #2928 "vmware_guest does not create multiple disks on clone"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Define a clone task with the destination guest having >1 disk defined.
##### EXPECTED RESULTS

##### ACTUAL RESULTS

only 1 disk on the new guest

[2016-09-15 20:10] mogthesprog commented on #2927
FYI, I've done some further research, the error isn't thrown by the Azure SDK version 2.0.0.0rc5 when i make a normal deployment. If I update to rc6 the issue gets much worse... there are quite a few breaking changes in rc6, just a heads up.

Looking at the code in the error above, it seems like ansible performs some checks to ensure that the deployment was successful? if this is the case I find m

[2016-09-15 22:32] Vye opened #2932 "win_owner fails with recurse option specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_owner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Windows

##### SUMMARY

Ansible converts yes/true/no/false to booleans before passing them to win_owner but win_owner's ``recurse`` parameter seems is expecting yes/no string instead of a boolean.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2016-09-15 22:41] Vye opened #2933 "win_owner adsisearcher doesn't work remotely"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_owner
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Windows 2012
##### SUMMARY

adsisearch doesn't seem to work remotely. I'm not a Windows expert so I can't explain why this is but it may make sense to try a different method of retrieving the SID?
##### STEPS TO REPRODUCE

[code]

To reproduce outside of ans

[2016-09-15 23:05] supertom commented on #2229
@vladpanainte These tasks will created a disk from a snapshot and then uses the disk in an instance.

[code]

/cc @ryansb

[2016-09-16 07:12] jhawkesworth commented on #2932
I took a look at the code and this line is the culprit.
`
$recurse = Get-Attr $params "recurse" "no" -validateSet "no","yes" -resultobj $result`

I don't think we made it clear that True and False are interchangeable with Yes and No respectively in the rest of ansible in the module developers guide at the time this module was written.

I think a nice way to fix this would be to add a -validateBool

[2016-09-16 07:16] jhawkesworth commented on #2933
I fixed the module name in the bug report.

[2016-09-16 07:29] jhawkesworth commented on #2933
Not tried this myself but a couple of suggestions

Might need DOMAIN\user syntax instead of user@domain

Also you might need to use kerberos auth delegation as this is presumably accessing a second-hop resource (AD) from the target windows machine.  auth delegation is fairly new so not documented yet - see https://groups.google.com/forum/#!topic/ansible-project/vEl-mrvFkrY - its dead easy to set u

[2016-09-16 07:56] ikkaro commented on #2911
Hi @jctanner, are you doing the deploy on a single host or in a cluster? I'm doing the deploy using a cluster, i've found something interesting in the virtual center logs. It seems that you cannot deploy in a host that is part of the cluster because the resource pools are differents .  I think this is due to the clustering support that the module doesn't implements yet.  I can send you privately t

[2016-09-16 10:22] bocharsky-bw opened #2935 "Composer module do not work in console"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
composer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
OS X

##### SUMMARY
The next command do not work:
[code]

##### STEPS TO REPRODUCE
Run `$ ansible localhost -m composer -a "working_dir=./"` inside of directory with valid composer.json file.

##### EXPECTED RESULTS
It should install composer dependencies

#

[2016-09-16 10:44] wimnat commented on #2773
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/2936

[2016-09-16 10:44] #2773 closed

[2016-09-16 12:14] h0nIg commented on #2725
@Lujeni please write "shipit"

[2016-09-16 12:48] robinro commented on #2908
You need to install `python-xml` on the hosts for the zypper and zypper_repository module to work. I added this requirement to the docs in #2937.

[2016-09-16 12:51] jctanner commented on #2933
bot_broken

[2016-09-16 13:15] jctanner commented on #2911
@ikkaro I'm not sure what would be in the log, but it wouldn't hurt to send it to me (jtanner at redhat dot com).

I created a cluster under my datacenter and moved my single esxi host into it, but the clone operation still completed without error.

More questons for you:
- Related to "cannot deploy in a host that is part of the cluster because the resource pools are differents" ... can you clarif

[2016-09-16 13:46] wimnat commented on #2924
resolved_by_pr

this was resolved for 2.2 i think... https://github.com/ansible/ansible-modules-extras/pull/1509

[2016-09-16 13:55] wimnat commented on #2736
@ryanwetzelberger try this PR https://github.com/ansible/ansible-modules-extras/pull/2938

[2016-09-16 13:55] #2924 closed

[2016-09-16 15:15] ikkaro commented on #2911
@jctanner
Currently I'm deploying using datastore clusters.
Also I'm using "compute" clusters.
By the error that i see in the logs is that cannot find the resource pool related to the esxi host that I specify in the playbook

[code]

If I specify the cluster and not the esxi server I get this message:

[code]

I've tried using a datastore that is not part of a datastore cluster and I get this mess

[2016-09-16 15:28] rmauc commented on #2906
Extra info: this is trying to pull from a local Maven repo

[2016-09-16 15:37] excavador commented on #2924
@wimnat No merge conflict. It was implemented, but did not included to the 2.1 scope.
Would it be in 2.2?

[2016-09-16 15:47] Vye commented on #2932
I was able to resolve it by patching win_owner.ps1 which is good enough for me until the next release.

I don't know what you mean about modifying the playbook as a workaround though.

[2016-09-16 15:59] ikkaro commented on #2911
I think that the module is not getting the resource pool correctly. But I don't know really how to debug that. I've tried with different configurations.

`Host [vim.HostSystem:host-241251. MY_COMPUTE_HOST not found in the specified resource pool`

[2016-09-16 16:41] jhawkesworth commented on #2932
sorry I misunderstood.

You might be able to workaround by using key=value pairs for args in your playbook.

`- win_owner: "path: {{ app_dir }} user=user@domain recurse=yes"`

This is because using the key=value syntax doesn't preseve the yaml type information, so I think in this case the value of recurse would be passed to the module as a string.

Better to fix the module (and API) preferably, of

[2016-09-16 17:15] szollin commented on #2908
That package doesn't exist in Ubuntu 16.04.1

[code]

[2016-09-16 17:21] sivel commented on #2908
You don't want to install `python-xml` on the Ubuntu machine, you want to install it on the suse machines you are managing.

[2016-09-16 17:26] szollin commented on #2908
That is already installed there.

I found the issue. On my Ubuntu machine running the playbook, the `python-libxml2` needed to be installed. I installed it and the module works now.

[2016-09-16 17:26] #2908 closed

[2016-09-16 18:45] jctanner commented on #2911
@ikkaro it's very possible that it is getting the wrong resourcepool. Let me do some research and testing on my side.

[2016-09-17 01:19] wimnat commented on #2924
Yep it is in 2.2

[2016-09-17 02:47] jctanner commented on #2911
@ikkaro I've been testing with the last release of vcenter 5 up until now. I just switched to vcenter 6 with two esxi hosts. I setup a cluster for the two hosts without DRS, and again tested cloning from the module with success.

Based on what you've stated previously, I'm guessing that your cluster is in DRS mode?

I'm going to attempt to get DRS running in my nested environment next.

[2016-09-17 08:52] wkeeling commented on #630
Attempted to reproduce this using the latest `devel` against RabbitMQ 3.5.7 running on Ubuntu 16.04 - using the configuration specified by the OP.

I was unable to reproduce and the RabbitMQ user was created successfully with the "administrator" tag.

I did confirm that the `rabbitmq_user` module will pass through whatever tag is supplied. So a tag of "administratoooor" does get passed through and

[2016-09-17 10:17] ikkaro commented on #2911
@jctanner,  yes my cluster is running in DRS mode. Also I don't know if it's important but I've several datacenters, several clusters and several storage DRS clusters. Let me know if you want that I make some tests on my platform.

[2016-09-17 20:57] resmo commented on #2935
Thanks @bocharsky-bw for this bug report, I  was not able to reproduce (on Debian Linux):

[code]

[code]

running ansible

[code]

The only difference I see would be the OS. Is there anything else "special"?

needs_info

[2016-09-17 21:14] bocharsky-bw commented on #2935
@resmo No, there isn't. I still have this error on OS X with your `composer.json` :/

UPD: I installed Ansible with `$ brew install ansible`, probably it helps.

[2016-09-18 12:37] arbabnazar opened #2953 "jenkins_plugin cannot install the plugin and giving "Cannot get list of plugins" error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jenkins_plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Ubuntu 14.04 LTS (Remote Server)
- Mac OS  X 10.11.6 (Control Machine)

##### SUMMARY

jenkins_plugin : Cannot get list of plugins
##### STEPS TO REPRODUCE
Here is the snippet of code that generator this error:

[code]
##### EXPECTED RESULTS
It should

[2016-09-18 17:38] jctanner commented on #2895
Self-signed certificate issues have been fixed in the devel branch and will be released with 2.2

https://github.com/ansible/ansible-modules-extras/issues/2757

[2016-09-18 17:38] #2895 closed

[2016-09-18 17:40] jctanner commented on #2757
per @ritzk this has been fixed by 1d113c384ef8279f975e9ae699b4e79c369a31ab. We are releasing 2.2 very soon, so we will not be considering a backport to 2.1.x

[2016-09-18 17:40] #2757 closed

[2016-09-18 19:04] jctanner commented on #2911
@ikkaro I believe I may have made some progress on your issue (perhaps resolved it). In my previous testing I typically only had a single host system (no clusters), which I believe resulted in a single resource group. The clone method would get a list of all the resourcegroups and use the first one for the clone spec. That would always be correct in the case of a single host system, so it never fa

[2016-09-18 19:28] jctanner commented on #630
@sanketdangi01 I'm not sure which ansible version you last tested against, but based on @wkeeling's comment, it may be fixed by now. Can you please retest with the lastest devel code?

needs_info

[2016-09-18 23:05] KpaBap opened #2956 "ec2_eni unable to create new ENIs with secondary private IPs"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_eni
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

N\A
##### SUMMARY

I'm trying to create a new ENI in AWS with secondary private IPs.
Instead of creating new ENIs, Ansible just fails because it seems to be finding an existing ENI and refusing to change it.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2016-09-18 23:11] KpaBap commented on #2956
The bug appears to be in the "find_eni" function - it's only using the subnet as a filter to find existing ENIs.

[2016-09-19 07:02] ikkaro commented on #2911
@jctanner I've retested the playbook and it's working fine. Then I think that this issue can be closed.
Let me know if you need some more test on my side.

[2016-09-19 09:15] t-v commented on #2882
Found a way to fix it again when the rule already existed, now I am still trying to figure out how to do the same with the default ones.
https://github.com/TimothyVandenbrande/ansible-modules-extras/blob/win_firewall_rule/windows/win_firewall_rule.ps1

[2016-09-19 09:41] jtyr commented on #2953
Thanks for your report, @arbabnazar. Please try to authenticate as admin or an user with admin rights.

[2016-09-19 09:47] Lujeni commented on #2725
`fixes` with https://github.com/ansible/ansible-modules-extras/pull/2920

[2016-09-19 09:52] borisovg commented on #2014
@LinusU (Sorry for delayed reply) no that just inserts a drop rule at the end of the chain:

[code]

[2016-09-19 09:59] borisovg commented on #2014
Looks like this was fixed commit 582e36a

[2016-09-19 09:59] #2014 closed

[2016-09-19 10:33] gordonbondon opened #2957 "Mail module body parameter should accept lists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-modules-extras/notification/mail.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Sometimes its handy to send a list of items in body. But its not possible right now.

##### STEPS TO REPRODUCE

For example we try to find files and receive a list of files by e-mail:
[code]
##### EXPECTED RESULTS
E-mail body is

[2016-09-19 10:45] arbabnazar commented on #2953
@jtyr can you please provide the example of it, I am really new to this plugin. Thanks

[2016-09-19 11:05] dagwieers commented on #2957
Look into Jinja2 filters for modifying data-structures(i.e. converting lists to text). You have plenty of possibilities here, like inline Jinja2 statement blocks in YAML.

Since this is not specific to the **mail** module, marking this as notabug !

[2016-09-19 11:07] jtyr commented on #2953
Sure. Please have a look at the following example taken from the module [documentation](http://docs.ansible.com/ansible/jenkins_plugin_module.html):

[code]

[2016-09-19 11:30] #2957 closed

[2016-09-19 12:27] wkeeling commented on #1278
This issue is likely fixed by https://github.com/ansible/ansible-modules-extras/commit/ae7f7c2c

That commit introduces a check for valid `list_users` output before attempting to do any parsing. Although not 100% bulletproof, it should resolve both of the issues above.

[2016-09-19 12:32] dagwieers commented on #2957
For completeness, here is an example of how you can do this:

[code]

It will give you this output (and in this case will preserve newlines):

[code]

[2016-09-19 12:36] stepanstipl commented on #1746
I just had similar problem, so PR #2959 - added `purge_routes` option.

@therc @akvadrako Can you guys check that this does what you were asking for?

[2016-09-19 12:52] chrisisbeef commented on #2906
@rmauc I will try to look at this today - I'm guessing it has something to do with it being an XLS file, but I'm not certain until I get a chance to dig in.

[2016-09-19 12:55] chrisisbeef commented on #2139
@tmoschou / @alikins - I'll take a look at this today

[2016-09-19 12:58] chrisisbeef commented on #2219
@tmoschou - Using the Sonatype REST API locks the plugin to Sonatype which means that Artifactory and "Plain Old Directory" users wouldn't be able to use it. I'll take a look at your suggestions and get to you on this

[2016-09-19 13:04] chrisisbeef commented on #1717
@nayan92 Can you verify this is still an issue?

[2016-09-19 13:30] jctanner commented on #2911
Awesome. Thanks for reporting the issue.

[2016-09-19 13:30] #2911 closed

[2016-09-19 13:44] autogun opened #2960 "win_updates: Timed out waiting for scheduled task to start"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_updates
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

##### OS / ENVIRONMENT

Linux <hostname> 3.10.0-327.28.3.el7.x86_64 #1 SMP Thu Aug 18 19:05:49 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.2.1511 (Core)
#####

[2016-09-19 14:47] Lujeni opened #2963 "Mongodb_user ssl_cert_reqs parameter error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
`mongodb_user` always give the `ssl_cert_reqs` directive to the mongoclient connector:
[code]
initial regression: https://github.com/ansible/ansible-modules-extras/pull/1122/files
first fix (not complete): https://github.com/ansible/ansi

[2016-09-19 14:48] chrisisbeef commented on #2906
@rmauc I believe it's in your configuration - you have `repository_url:"..."` and `extension:xls` when in fact it should be `repository_url="..."` and `extension=xls`

Ansible doesn't seem to parse the arguments correctly when specified with a `:` instead of `=`

_Verified using test_module_

_Using :_

[code]

_Using =_

[code]

[2016-09-19 14:49] chrisisbeef commented on #2906
notabug Arguments cannot be specified using : instead of =

[2016-09-19 15:00] alikins opened #2967 "redundant modudle doc keys in netapp_e_lun_mapping and netapp_e_auth"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

storage/netapp/netapp_e_lun_mapping
storage/netapp/netapp_e_auth

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
fedora23 x86_64

##### SUMMARY

The module docs had redundant keys, causing warnings like:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

no warnings

##### ACTUAL RESULTS

warnings

[2016-09-19 15:13] alikins commented on #2967
Fixes https://github.com/ansible/ansible/issues/17634

[2016-09-19 15:18] jhawkesworth commented on #2960
@autogun Not sure what's happening here but can I check a couple of things?

Are you running as a local administrator?
Are you running a local WSUS server (there's been some discussion recently on ansible-project google group regarding this being a good idea to protect from slow public windows updates servers).

[2016-09-19 15:18] jhawkesworth commented on #2960
I think the bot might be pinging the wrong account here
cc @nitzmahone

bot_broken

[2016-09-19 15:23] #2967 closed

[2016-09-19 16:48] jhawkesworth commented on #2446
I think I am against making a change to support this as it would mean that you couldn't look at your ansible config and determine ahead of time for certain what the final registry value would be. I can see how it is desirable from the point of view of being automatable, but it stops ansible configuration being a 'single source of truth', which I value. I get that it can make it harder to accommoda

[2016-09-19 19:12] drehelis commented on #2960
@jhawkesworth Yes, account is actually Domain Admin and I explicitly added it to Local Administration on servers.

A local WSUS server is in place in the environment.

[2016-09-20 05:31] jhawkesworth commented on #2960
@autogun - is there anything in the c:/ansible_wu.txt file?
Is your S2008R2 machine running powershell 3 or 4?

[2016-09-20 05:34] jhawkesworth commented on #2960
oh also, are you able to try as the local admin user?  I can't recall the details now but I think I have seen some discussion somewhere and rights and permissions needed for running windows updates and I got the impression that it is particularly fussy about user permissions/rights.

[2016-09-20 08:18] drehelis commented on #2960
@jhawkesworth - WIN2008R2 is PS3, WIN2012R2 is PS4.
Attaching [gist](https://gist.github.com/autogun/1761af15fa1239f2957e0da4bd3c261a) with both log files.
even tho I get a timeout, log shows the task was finished successful.

I'll dig in win_updates.ps1 to try and understand more what this timeout is all about.

P.S - I run this with highest privileged account

[2016-09-20 08:34] bborysenko commented on #2935
Same issue with OS X. It looks like we can't get help massage in json format [there](https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/language/composer.py#L146):

[code]

[2016-09-20 08:45] resmo commented on #2935
Could you verify this isn't a brew issue and use the official composer install method? https://getcomposer.org/doc/00-intro.md#installation-linux-unix-osx

[2016-09-20 08:51] ymartin59 opened #2986 "Add size argument support to filesystem task"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

system/filesystem.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian Stretch/testing GNU/Linux
##### SUMMARY

filesystem task does not allow to pass "size" last argument of mkfs command
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Invoke `mkfs -t ext4 /dev/drbd0 2048`
##### ACTUAL RESULTS

It is not possible to use `opt

[2016-09-20 08:52] bborysenko commented on #2935
After I just copied phar to the `/usr/local/bin/composer` everything working fine:

[code]

But do we really have to run composer via php? Why not just :

[code]

[2016-09-20 08:55] resmo commented on #2935
@bocharsky-bw that is a good question. but let's discuss it in an other issue (feature request) rather than in this bug report.

I will update the docs, that there is an issue in brew with composer causing ansible to fail. Could you open an issue on https://github.com/Homebrew/brew pointing to this issue?

[2016-09-20 08:57] resmo commented on #2935
wontfix
The issue seems caused by homebrew

[2016-09-20 09:14] bocharsky-bw commented on #2935
Thanks, guys, original `composer.phar` works fine for me too.

Could it be a problem that brew uses symlink for `composer.phar` in `/usr/local/bin`?

[code]

Or do they provide a broken `composer.phar`?

UPD: This problem is only with Ansible. Brew's Composer works fine for me for regular use.
UPD2: If I replace composer provided by Brew with the original composer.phar - it starts working fine wit

[2016-09-20 11:25] h0nIg commented on #2646
i think we can do the following and set the AppDirectory each time we set the binary:

[code]

[2016-09-20 11:44] h0nIg commented on #2646
@jhawkesworth @trondhindenes
what do you think about https://github.com/h0nIg/ansible-modules-extras/commit/21de262df0a389d34207440d75c13d530fd362a5 ?

[2016-09-20 13:05] ronator opened #2989 "Add ability to handle snapshots to vsphere_guest module"
Original issue was https://github.com/ansible/ansible-modules-core/issues/2671. I used a wrong name in that ticket, I meant vsphere_guest. I was suggested to re-open it here.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY

The vmware_guest module lacks the ability to handle (l

[2016-09-20 13:18] #2989 closed

[2016-09-20 14:32] Vye commented on #2932
oh ok. I was patching Ansible to get around this but that's a better workaround until the bug is fixed. Thanks!

[2016-09-20 15:29] chrwen-omicron commented on #2446
@jhawkesworth following your argument you're not allowed to use environment variables at all in your ansible config.

The important thing here is that the write operation behaves differently from the read operation. The write can handle unexpanded environment variables for the REG_EXPAND_SZ type whereas the read can't.
At least you should get an option to select the behavior.

This is also a probl

[2016-09-20 16:21] ryanwetzelberger commented on #2736
@wimnat The code looks good, but still need to test.  Trying to get that done today

[2016-09-20 20:08] gmalouf commented on #2445
+1 on this issue on OSX 10.11, boto 2.42.0, ansible 2.1.1.0 when attempting to run the elb module

[2016-09-20 23:22] ghost commented on #2114
@resmo looks like I'm still getting this error in travis. Am I missing something? Should I debug the code further you think and open a new ticket?

[code]

.....

[code]

.....

`TASK [Check for an existing Instance] ******************************************`

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: __init__() got an unexpected

[2016-09-21 10:36] ralfbergs commented on #2719
@wimnat, what is the "latest version of module?" Is it in branch "devel?"

I'm using the same Boto version, so this cannot be it...

[2016-09-21 14:04] iangard opened #2995 "win_chocolatey: version checking is incorrect causing the module to fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
ansible 2.1.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible Control machine on CentOS7 controlling Windows

##### SUMMARY
The logic that checks for versions less than 0.9.9 seems incorrect causing the module to fail under certain circumstances.
Line 77 of  the ps1 file has if ((choco --version) -lt

[2016-09-21 14:28] greygjhart opened #2996 "lxc_container: support for cloning on LXC >= 2.0.0"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Not having created the configuration I'm using, I have no way of reliably telling which options were overridden and which use the default value. On top of that I am certain that the issue I am reporting is not related to my configuration so I chose not to include it. If you're positi

[2016-09-21 15:33] ReeSilva opened #2998 "ecs_service - Application Load Balancer register"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

ecs_service
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty
##### SUMMARY

Hey guys. Does the ecs_service load balancer infos support the register of the new type of Load Balancer (Application Load Balancer) from Amazon? If yes, can I h

[2016-09-21 17:00] ryanwetzelberger commented on #2736
Hello @wimnat.  Very happy with the changes.  There is one more I would recommend though.  I ran the same Ansible script above against a test bucket.  From the script, it is only checking one tag.  The bucket in question has a second tag.  When I run the script, it changes the bucket and removes the second tag that is not called out in the script.  I would not expect this to be the desired behavio

[2016-09-21 17:01] ryanwetzelberger commented on #2736
adding to that, I could create a new issue against s3_bucket to track that issue if you would prefer to track it separately.

[2016-09-21 17:02] ryanwetzelberger commented on #2736
https://github.com/wimnat/ansible-modules-extras/blob/feature/issue-2736/cloud/amazon/s3_bucket.py#L242

[2016-09-21 17:06] manpw opened #2999 "win_uri : PUT method - payload size = 0"
hi,

I am using win_uri to put an archive under artifactory.
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_uri
##### ANSIBLE VERSION

ansible 2.1.0.0 (detached HEAD b599477242) last updated 2016/09/20 16:05:45 (GMT +200)
  lib/ansible/modules/core: (detached HEAD 04a871d007) last updated 2016/09/20 16:05:48 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD b5fa2b3416) last updated

[2016-09-21 18:08] blakfeld commented on #2999
I'm 99% sure that this has to do with "body" not actually grabbing the file. It looks like with Powershell you'd have to have the 'InFile' flag (at least that's what is noted here: https://www.jfrog.com/knowledge-base/how-do-i-execute-a-file-upload-via-powershell/)

The answer here might be to have a "file" key? I'm not sure what the best user interface is for that.

I'll try and jump on this as s

[2016-09-21 18:44] dbeckham opened #3000 "bigip_selfip fails when using traffic_group parameter"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

F5 bigip (bigip_selfip)
##### ANSIBLE VERSION

[code]
##### F5 BIGIP LTM VERSION

[code]
##### PYTHON VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Alpine 3.4 (Docker Container)
##### SUMMARY

If the `traffic_group` parameter in the `bigip_selfip` module is set to a valid traffic group that exists on the remote device such a

[2016-09-21 20:15] #2229 closed

[2016-09-21 20:43] charlienewey commented on #2555
This might be related to trying to perform npm commands (e.g. `npm outdated`) as _root_ when the owner of the npm packages is different. See [this issue](https://github.com/npm/npm/issues/13364);

[code]

[2016-09-21 21:28] steenzout opened #3002 "known_hosts hashed hosts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- known_hosts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT
- ubuntu/trusty64
##### SUMMARY

When using `known_hosts` module with hostname hash and `ssh-keyscan -H -t rsa example.com`,
on every execution, the hash will be different but the key type and key itself are the same.

This makes the module mark the task

[2016-09-21 21:38] steenzout commented on #3002
Another example...

Empty `/etc/ssh/ssh_known_hosts`

[code]

first playbook run:

[code]

second playbook run:

[code]

[2016-09-22 03:59] caphrim007 commented on #3000
@mhite we've fixed this in the f5 repo, i'll send a fix PR for it in the AM

[2016-09-22 04:24] listx commented on #2734
This is bug happens because https://github.com/ansible/ansible-modules-extras/blob/devel/notification/slack.py#L202 does a plain ".jsonify". According to slack's own docs at https://api.slack.com/docs/message-formatting we need to convert 3 characters into HTML entities:

Looks like it should be an easy fix (just perform string substitution of those 3 symbols and then afterwards feed it to `.jsoni

[2016-09-22 05:23] wimnat commented on #2998
The module does support the new application load balancer type already.  You just need to specify the ELB target group arn.

E,g,

[code]

I've just submitted new modules for managing target groups and application ELBs.  Check out my PRs in this repo.

[2016-09-22 07:35] tkers commented on #2734
I saw the same thing as well, but as camflan mentioned, this problem also occurs with quotes.

[2016-09-22 07:35] kerrc commented on #1083
Hi - What response are you waiting on from me?
Thanks

[2016-09-22 07:48] listx commented on #2734
Sorry, missed camflan's comment. I suppose there is more digging to be done.

[2016-09-22 09:18] johnkrovitch opened #3006 "How to rollback to a previous release in deploy_helper ?"
Hi,
##### ISSUE TYPE
Question

##### COMPONENT NAME
deploy_helper

##### ANSIBLE VERSION
[code]

I'm using the deploy_helper extra modules, and I do not found how to rollback to a previous release.
The goal is to be able to rollback to a working release if the new release breaks something.

I have tried to use the "previous_release_path" variable, but once the deployment is done, it will point to

[2016-09-22 10:06] offlinehoster commented on #429
Got connect issues (timeouts) on
- Unreal3.2.6-uf-network (https://www.unrealircd.org/)
- charybdis-4-7272518  (https://github.com/charybdis-ircd/charybdis)

Why is this plugin called "irc_module" if it is only working with some special irc server?

[2016-09-22 11:58] jtyr commented on #2953
Did it work for you, @arbabnazar? If yes, please feel free close the issue.

[2016-09-22 12:06] bechtoldt opened #3007 "nmcli module throws IndexError in Subprocess"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nmcli
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

macOS 10.11.6

Remote target:

[code]
##### SUMMARY
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The ip addr should be added to the existing interface lo.
##### ACTUAL RESULTS

[code]

[2016-09-22 14:19] JulienPalard commented on #1375
Can confirm it still happen: ansible 2.1.1 npm v3.10.8

[2016-09-22 14:38] bcoca commented on #3006
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-09-22 14:38] #3006 closed

[2016-09-22 14:45] goldyfruit commented on #2009
I'm using the master and I still having this issue.

[2016-09-22 14:49] blakfeld commented on #2999
So I think I have some code to fix this, but I've moved to an all Linux shop, so my testing vectors are limited. When I submit a pull request, would you able to see if it fixes your problem?

[2016-09-22 15:20] blakfeld commented on #2999
When you get a chance, can you test this code? It seems to work for me, but I'd love confirmation before I merge it.

[2016-09-22 22:12] mhite commented on #3000
Saw PR and gave it 👍. Thanks!

[2016-09-22 22:23] nitzmahone commented on #2791
@basictheprogram wusa.exe is pretty [well](https://support.microsoft.com/en-us/kb/2773898) [known](http://www.indigoblue.co.uk/blog/devops-windows-fun-times-installing-net-4-over-winrm-winrs-windows-server-2008r2) to fail under WinRM. For now, running a script under the task scheduler looks like your only option for success (which is what we do internally in win_updates to make it work today), tho

[2016-09-22 22:23] #2791 closed

[2016-09-23 01:53] springuper commented on #957
same problem with
- ansible 2.1.0.0
- Ubuntu 14.04.3 LTS
- npm 3.10.3

I add `webpack-md5-hash` to `devDependencies` and npm module report `changed: false`

[2016-09-23 01:57] wimnat opened #3015 "ecs_taskdefinition new parameter for task role arn (iam role)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ecs_taskdefinition
##### ANSIBLE VERSION

2.2
##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

AWS have recently added the ability to assign an IAM role to a task definition by specifying the ARN of the role.

This PR adds that functionality by defining a new parameter - task_role_arn

[2016-09-23 03:07] #2995 closed

[2016-09-23 03:10] nitzmahone commented on #2995
Fixed in devel and cherry-picked to stable-2.1 for 2.1.2RC4 - thanks for the detailed report and suggested fix, works great!

[2016-09-23 03:15] nitzmahone commented on #287
FYI, 2.2 ships with Windows async support, though we've not yet generalized the scheduled job stuff (async doesn't work that way). I _think_ the way I'm planning to do `become:` for Windows in 2.3 will make the task scheduler unnecessary to work with these kinds of things.

[2016-09-23 06:58] ubreu opened #3017 "gluster_volume does not trim user input"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gluster_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
MacOS sierra, Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64

##### SUMMARY
The gluster_volume tries to add bricks to volume even though the brick already exists.

##### STEPS TO REPRODUCE
The

[2016-09-23 09:35] duck-rh commented on #1112
Using 2.1.2.0~rc3 I got this misleading message: "firewalld and its python 2 module are required for this module". But in fact firewalld is installed fine with the Python files. Starting the service solves the problem.

[2016-09-23 09:44] mscherer commented on #1112
the last issue have been fixed with https://github.com/ansible/ansible-modules-extras/pull/2871 (not in rc3)

[2016-09-23 10:30] RichVel commented on #1375
@mpdehaan - please can you get someone from Ansible team to look at this?   Installs of `npm` modules are failing due to this issue.   We have a PR that fixes issue, but no active maintainer to apply and fix.

[2016-09-23 11:16] shane-walker commented on #1375
resolved_by_pr #3020

I have submitted a new pull request #3020, with a logic tweak that was missing from PR #1498.

[2016-09-23 11:27] #1375 closed

[2016-09-23 12:12] MichaelBaydoun opened #3021 "ec2_asg_facts fails with exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_asg_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
fact_caching = jsonfile
fact_caching_connection = ~/.ansiblecachedir
fact_caching_timeout = 3500
forks = 50
gathering = explicit
host_key_checking = false
retry_files_enabled = false

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Attempts to use module cause exception

#

[2016-09-23 12:32] MichaelBaydoun commented on #3021
Changing this line https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/ec2_asg_facts.py#L302

from:
name_prog = re.compile(r'^' + name)

to:
name_prog = re.compile(r'^' + str(name))

resolves the problem.

I'll submit a PR shortly, need to run to a meeting.

[2016-09-23 13:49] fedealaimo opened #3025 "zypper_repository running a second time gives an error message"
I've only found this issue on a previous ticket, which is closed :
https://github.com/ansible/ansible/issues/7689
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

zypper_repository
##### ANSIBLE VERSION

2.1.0.0

[code]
##### CONFIGURATION

This is my ansible conf:
inventory      = /etc/ansible/hosts
# library        = /usr/share/my_modules/

remote_tmp     = $HOME/.ansible/tmp
pattern        =

[2016-09-23 15:56] #3021 closed

[2016-09-23 15:57] ryansb commented on #3021
Thanks again for reporting, should be all fixed up now.

[2016-09-23 16:53] phips opened #3026 "vmware_guest module doesn't change VM memory during clone"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY

Setting memory size during a clone operation fails. See example playbook linked in next section.

##### STEPS TO REPRODUCE

https://github.com/phips/ansible-demos/blob/master/plays/vm_clone-new.yml#L46

##### EXPECTED RESULTS

Memory t

[2016-09-23 17:18] maxamillion commented on #1112
I've not had time to look at implementing this, I'm sorry.  $dayjob has had me extremely busy ... I hope to find time by or around AnsibleFest Brooklyn though.

[2016-09-23 18:09] #3026 closed

[2016-09-23 19:26] robinro commented on #3025
@fedealaimo Thanks for using ansible and the zypper_repository module.

I can reproduce your issue.
The zypper_repository module is not idempotent when adding `.repo` files. Idempotency only works for URL/Alias based adding.

So a quick workaround would be to run `repo=http://download.opensuse.org/repositories/server:/monitoring:/zabbix/SLE_12/ name=server_monitoring_zabbix`.

To me it's not clear

[2016-09-23 20:26] JusticeForMikeBrown opened #3029 "Ansible Reports Twilio Failure Yet SMS Sent Successfullly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Twilio

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

SMS works without reported error

##### ACTUAL RESULTS

SMS works but module reports error

[code]

[2016-09-23 22:24] mattmakai commented on #3029
I am able to reproduce this - looks like it was introduced in 1.9.6 after 1.9.4 (works in 1.9.4). With [this commit](https://github.com/ansible/ansible-modules-extras/commit/4ef6f4ea4248d2b16771cfcf72cab0cb4009fbd9). Doesn't look like the module was tested when the change was made because it's clear the ['status'] == 200 on line 164 will never be true. What's next step here?

[2016-09-23 22:26] mattmakai commented on #3029
I'm not familiar with this `fetch_url` function that broke the module, do I need to submit a fix for this? If I am specified as a maintainer on the module it would be good to get a heads up when changes are made and merged but not tested :/

[2016-09-24 07:26] wimnat commented on #2736
@ryanwetzelberger for me, it's desired behavior as Ansible is bringing the config in to line with what is defined.  However, i see many occasions where people dont want this.  It's resolved in other modules by adding a 'purge_tags' parameter.

I can do this but will do it separately.  if you could create a seperate issue that'd be great.

[2016-09-24 19:22] resmo commented on #3029
IMHO the problem is, the module looks for 200 response code but it should (also) look for 201. Could you change https://github.com/ansible/ansible-modules-extras/blob/devel/notification/twilio.py#L164 to

[code]

and test it again?

[2016-09-25 00:58] mattmakai commented on #3029
sure, i got my test environment set up again. will make some modifications and submit a PR tonight or tmrw AM

[2016-09-25 06:54] resmo commented on #2725
fix backported to 2.1 by #2923.

resolved. Thx!

[2016-09-25 06:54] #2725 closed

[2016-09-25 11:56] drehelis commented on #2960
So I figured out timeout of 30000ms is just not enough. Bumped it to 300000 and it works now.

  # Wait-Job can fail for a few seconds until the scheduled task starts- poll for it...
  while ($job -eq $null) {
      start-sleep -Milliseconds 100
      if($sw.ElapsedMilliseconds -ge 300000) { # tasks scheduled right after boot on 2008R2 can take awhile to start...
        Throw "Timed out waiting f

[2016-09-25 12:00] resmo commented on #2734
Hi all, I created a bug fix PR #3032 , feedback and testing much appreciated ;)

[2016-09-25 14:28] n0ts commented on #2837
@mwild1 Thanks for your report. I'll check this issue.

[2016-09-25 18:42] resmo commented on #3029
I was able to reproduce and created a PR #3033  which also improves error message output.

[2016-09-26 09:47] jhawkesworth commented on #2960
Nice work @autogun
@nitzmahone - I wonder if its worth making the timeout configurable or adding an 'extra patient' mode?  There's also sorts of things that can slow down startup, like scheduled Maintenance.
I'm not yet using this module much myself so don't have any runtime experience to offer unfortunately.

[2016-09-26 11:18] resmo commented on #2963
closed with merge of #2965

[2016-09-26 11:18] #2963 closed

[2016-09-26 11:48] #3029 closed

[2016-09-26 14:13] ryanwetzelberger commented on #2736
@wimnat will do!  Without this change, the PR linked to this issue is good!

[2016-09-26 14:14] ryanwetzelberger commented on #2736
accidentally closed it before PR has been completed. Reopening

[2016-09-26 16:29] ryanwetzelberger opened #3040 "allow s3_bucket to append tags"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Mac OS X 10.12
##### SUMMARY

I have tags already applied to a s3 bucket.  When I run a script to tag s3 buckets with additional tags, it removes all existing tags.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Check for s3 tag "Application" wit

[2016-09-26 17:00] bcoca commented on #3040
changing to feature idea as this works as designed, the list passed is 'cannonical', other modules have added this behavior by adding an option that controls if tags are appended or not.

[2016-09-26 19:16] pokidovea commented on #1675
Ping! It's still reproducible on ansible v2.1.1.0

[2016-09-26 19:51] rosmo commented on #3017
@ubreu, That looks pretty terrible for YAML anyway. I would not encourage such things.

wontfix

[2016-09-26 19:54] #3017 closed

[2016-09-26 22:15] Lujeni commented on #2731
Hi,

@cortopy @lowwalker it's seems that the `check_compatibility` is not fully compliance with this board https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#reference-compatibility-mongodb-python

I will fix this check very soon.

thanks

[2016-09-26 22:50] jamieburchell opened #3041 "Timezone fails on CentOS 6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
timezone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control machine: Windows 10 Pro - Bash on Windows
Host machine: CentOS 6

##### SUMMARY
Setting timezone on CentOS 6 machine breaks. OK on CentOS 7.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Timezone to be set

##### ACTUAL RESULTS
[code]

[2016-09-27 03:27] bmillemathias commented on #1004
@devekko Yes the proxmox modules handles KVM virtualization, so you can close the bug.

[2016-09-27 03:31] bmillemathias commented on #2897
To clarify support for public key is a matter to send in the JSON structure a key `ssh-public-keys` and the content of the public key as value.

[2016-09-27 03:56] bmillemathias commented on #2897
I patched the file promox.py this way

[code]

So this is rather simple but I ended with an error I can't understand

[code]

If I rename the hash key `ssh-public-keys` to `ssh_public_keys` the syntax error disappears (but the Proxmox API return an error because the key is unknown), so I wondered If there was a limitation in the key naming (like not supporting hyphen) either in Proxmoxer or in the

[2016-09-27 14:20] bgandon commented on #2487
+1

[2016-09-27 14:25] jjshoe opened #3046 "datadog_monitor is not idempotent"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

datadog_monitor
##### ANSIBLE VERSION

[code]
##### SUMMARY

datadog_monitor makes changes every time. This is especially annoying as datadog has a way to notify folks when a monitor changes
##### STEPS TO REPRODUCE

Make any call to datadog_monitor twice
##### EXPECTED RESULTS

OK
##### ACTUAL RESULTS

CHANGED
##### NOTES

I've started playing

[2016-09-27 16:45] gundalow opened #3048 "[Regression] asa_command: silently allows invalid command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Running `asa_command` with an invalid `commands:` no longer bombs out

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2016-09-27 17:29] gundalow commented on #3048
Once fixed test cases `test_asa_command/tests/cli/invalid.yaml` (and possibly others) will need updating

[2016-09-27 18:20] resmo commented on #2734
Please test and comment +1 on PR #3032 asap for make it into 2.2 before the release.

[2016-09-27 21:37] jamesongithub opened #3051 "elb module - ec2_elb_lb not idempotent for scheme changes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The scheme is not able to be modified if the elb already exists.

##### STEPS TO REPRODUCE

1) Create elb with scheme == 'internet-facing'
[code]
2) Run playbook again with same elb_name
[code]
3) Note that load balancer scheme has not changed.

[2016-09-27 21:38] jamesongithub commented on #3051
already reported here https://github.com/ansible/ansible-modules-core/issues/4414

[2016-09-27 21:38] #3051 closed

[2016-09-28 06:31] nickallevato commented on #1401
+1 ty

[2016-09-28 08:55] awesomefireduck opened #3052 "Blockinfile overwrites symlink with file if changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

blockinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg mentioned above:

[code]
##### OS / ENVIRONMENT

I'm running ansible on OSX El Capitain (10.11.6) and managing localhost
I'm also running ansible on debian jessie with ansible 2.2.0 and the same config (as localhost)
##### SUMMARY

blockinfile overwrites the file with the

[2016-09-28 09:36] JulienPalard opened #3053 "Pear module not verbose enough while failing"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

pecl
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I asked for the pecl module to install something but my alternatives pointed /usr/bin/php to php7 which make the module fail without reporting why.
##### STEPS TO REPRODUCE

[code]

I'm getting (I tried `-vvv`):

[code]

Which is not eno

[2016-09-28 10:09] JulienPalard commented on #2443
I'm getting the same issue I think:

[code]

Ansible simply tells me:

[code]

Which is clearly false, the install probably failed du to "i don't know" sent or not sent as an answer of this question?

Oh, and just in case someone find this issue as I'm speaking of "stomp", to install stomp you have to give "yes" as the openssl path, it's weird but it works, see: https://bugs.php.net/bug.php?id=639

[2016-09-28 11:15] gundalow opened #3056 "asa_config: Clearer message when `authorize: yes` isn't set"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Seems like asa_config is fairly broken, and unsable to parse the output of `show running-config`.

[code]
##### STEPS TO REPRODUCE

[code]

or even

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-28 11:21] gundalow opened #3057 "asa_template: matched error in response: configure terminal"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Module can't parse output of `configure terminal`
May be related to https://github.com/ansible/ansible-modules-extras/issues/3056

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2016-09-28 13:25] ryansb commented on #2736
Fix for this issue has been merged, thanks for reporting this issue

[2016-09-28 13:25] #2736 closed

[2016-09-28 16:22] wenottingham opened #3059 "There are now three ovirt modules. Is there a path forward?"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloud/misc/ovirt.py
cloud/misc/rhevm.py (new in 2.2)
cloud/ovirt/ovirt_vms.py (new in 2.2)
##### SUMMARY

There are now three modules for the same thing in extras. Ideally, there's some sort of path forward to a single module.

CC @TimothyVandenbrande @machacekondra @vincentvdk

[2016-09-28 17:53] machacekondra commented on #3059
ovirt_vms module is for version 4 of the oVirt. The other modules are for version 3 of the oVirt.

[2016-09-28 19:10] mrooney opened #3060 "iptables: option to run iptables-save"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

iptables module
##### ANSIBLE VERSION

ansible 2.1.0.0
##### SUMMARY

As documented, "This module does not handle the saving and/or loading of rules, but rather only manipulates the current rules that are present in memory". However, it would be awesome if there was an optional "save" option which default to false, that did run iptables-save fo

[2016-09-28 20:11] LinusU commented on #3060
I'm 👍 on this

[2016-09-29 07:19] trishnaguha commented on #1652
I got the similar issue.

[2016-09-29 08:02] abaschen commented on #2139
@chrisisbeef I have also the issue and found at line 214 that we go check the latest build number regardless of the classifier. I have 2 classifier A and B which have build numbers 79 and 80. If I want to download the snapshot for A it will give the build version of B because it's the latest. I will try to fix it and make a pull request.

edit: done [Pull request posted](https://github.com/ansible

[2016-09-29 08:13] gundalow commented on #3057
Issue no longer applies as we have removed `asa_template` in 2.2

[2016-09-29 08:13] #3057 closed

[2016-09-29 09:44] gundalow commented on #3056
This appears to break all the `asa_config` tests

[2016-09-29 13:19] ReeSilva commented on #2998
@wimnat Nice, works like a charm :D Thank you

[2016-09-29 14:49] romaindup opened #3067 "win_package not accepting exit code 3010 as success"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_package
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default options
##### OS / ENVIRONMENT

Ansible on RHEL 6, deploying to a Windows 2008 R2 server
##### SUMMARY

When installing some msi, the return code is 3010 (requires restart). This is considered as a failed return code instead of a successful return code
##### STEPS TO REPRODUCE

[2016-09-29 16:38] jhawkesworth commented on #3067
As a workaround you could set ignore_errors: True and register the return code and check if it is acceptable.

Hope this helps,

Jon

[2016-09-29 17:44] Lujeni commented on #2731
Fixed & Merged (https://github.com/ansible/ansible-modules-extras/pull/3047)

Thanks

[2016-09-29 18:38] trondhindenes commented on #3067
should be easy to fix. I'm on it.

On Thu, Sep 29, 2016 at 6:38 PM, jhawkesworth notifications@github.com
wrote:

[2016-09-30 07:12] romaindup commented on #3067
I tried ignoring the error and checking the return code, but unfortunately, the value is not returned

[2016-09-30 07:36] t-v commented on #3059
I expressed my concerns here: https://github.com/ansible/ansible/pull/17364#issuecomment-245210349
But yes, I think it would be better to get everything in 1 module and make the v4 api backwards compatible than truly maintaining 3. But yes, this also means you'll need the features of all 3 modules merged in 1. Maintaining 3 of them will prolly be required for the next releases, but we can put 2 on

[2016-09-30 07:40] machacekondra commented on #3059
There is still no decision when v3 API and v3 SDKs will stopped be supported, maybe it will be 4.1, maybe later, but for sure - it will be stopped supported and not backward compatible.

[2016-09-30 17:51] ahnooie commented on #2733
@nathanwebsterdotme I don't know why it isn't working for you but thought I'd let you know the module works for me me using Server 2012 R2.  PowerShell seems to be case insensitive so I don't think that's the issue.

[2016-09-30 21:09] dcj commented on #2415
This doesn't seemed fixed to me in ansible 2.1.2.0

[code]

[2016-09-30 21:11] xen0l commented on #2415
@dcj, can you be more specific?

[2016-09-30 21:13] dcj commented on #2415
The target machine is SmartOS, build 20160929T025934Z

[code]

@xen0l, what else would you like to know?

[2016-09-30 21:22] xen0l commented on #2415
Well, it seems that fix is not yet available in 2.1.2.

[2016-09-30 21:40] dcj commented on #2415
@xen0l OK, thanks for the info.  I have hacked your fix info my module path for now.  When I read that the fix was merged in early August, I thought it must have been included in a late-September release...

[2016-10-01 05:30] vincentvdk commented on #3059
I've not managed an Ovirt/RHEV setup in some years now. So that's why I couldn't develop and test new features proposed for the original module. My idea was to split this up in a module per 'service' (vm, disk. dc, network, ...). I believe this is also the idea for the v4.x modules (yay! :-) ).
As there will still be people who keep running v3, the v3 modules should not go away. But merging the 2

[2016-10-01 11:08] jhawkesworth commented on #1805
@jrquint - please could you try using the syntax I suggested?

[code]

I suspect the issue is really how python handles strings so I think if you were to construct paths as per your example for other modules, such as win_copy, you would hit similar problems.

I think we probably need to document how to construct valid windows paths in ansible playbooks, but if you could test and report back your f

[2016-10-01 19:46] uhmfa commented on #3025
Hi, thanks for the input. Your workaround worked nicely, so I'm staying with it for now. Not sure whether support fo this feature should be dropped or not. In any case, I think this module lacks some more other useful functionalities like an option to set the repo to enable/disable.
Moreover, zypper module should let packages be installed from disabled repos by giving the --enablerepo option, but

[2016-10-02 16:25] Jmainguy commented on #1289
ansibot 'notabug'. Unable to reproduce issue. Close it out.

[2016-10-02 17:16] Jmainguy commented on #84
See updated PR #3077 to fix this.

[2016-10-02 21:31] Jmainguy commented on #3041
See #3078 for fix to this.

[2016-10-03 03:55] #1289 closed

[2016-10-03 03:56] bcoca commented on #1289
If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code
Because

[2016-10-03 03:58] bcoca commented on #3041
Fixed by #3078

f you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writi

[2016-10-03 03:58] #3041 closed

[2016-10-03 13:56] jle64 commented on #1418
I'm not sure how to fix this cleanly and in a generic way. The default value proposed by pecl does not always results in a successful build, so just writing '\n' or 'yes' on stdin is not sufficient, you need to be able to select choices.

I've made a [version](https://raw.githubusercontent.com/gentledevil/ansible-modules-extras/2c1420bc49bb240cefd966757e49334309801f09/packaging/language/pear.py) o

[2016-10-03 14:03] jle64 commented on #2443
This seems to be a duplicate_of #1418.

[2016-10-03 18:05] #2734 closed

[2016-10-03 19:39] robinro commented on #3025
The module can already set repos to disabled/enabled. The feature was not mentioned in the documentation, which will be fixes by PR #3083.

Installing packages from disabled repos is not possible with native zypper. If you want to install a single rpm you can do so by pointing zypper to the URL. For normal package installation you should enable the repository to also allow dependency resolution. W

[2016-10-04 09:03] michalklempa commented on #1717
I believe I have encountered this problem. I am using SBT to publish artifact to Artifactory maven repository. I am also using sbt-assembly https://github.com/sbt/sbt-assembly to add artifact with `assembly` classifier to my build & publish (deploy) procedure.

My `build.sbt` contains these modifications to achieve `sbt publish` publishing of `assembly` artifact:

[code]

Version of my artifact is

[2016-10-04 09:16] michalklempa commented on #1717
I have created pull-request with fix I have deployed to production, works and resolves this issue.

[2016-10-04 10:13] pief opened #3086 "zypper_repository: Adding repo with import of custom GPG key fails due to wrong command line option ordering"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/os/zypper_repository.py

##### ANSIBLE VERSION
[code]

Latest Git versions of the ``packaging/os/zypper.py`` and ``packaging/os/zypper_repository.py`` modules placed in ``library/``

##### CONFIGURATION
Running Vagrant with the ``ansible_local`` provisioner

##### OS / ENVIRONMENT
openSUSE Tumbleweed as Vagrant Base Box

##### SUMMARY

[2016-10-04 15:15] jalmasi opened #3089 "known_hosts: mixed/uppercase host names fail"
Bug Report

ansible 2.2.0

Adding a host to ssh known_hosts fails with 'Host parameter does not match hashed host field in supplied key'

Steps to reproduce:

Well, you need a host with mixed-case hostname:)
Anyway, problem seems to be known for a while, and is explained in detail here:
https://groups.google.com/forum/#!topic/ansible-project/qK6xUDsNEjI

Workaround:
Convert to lowercase hostname u

[2016-10-04 15:20] robinro commented on #3086
Thanks @pief for spotting this. Obviously we miss an integration test here.
needs_contributor
Thanks also for the quick PR to fix this.

[2016-10-05 10:25] 0x3bfc commented on #396
I solved by upgrade ansible version to 1.6.1

sudo pip install ansible==1.6.1

[2016-10-05 12:00] lioramilbaum opened #3094 "ec2_remote_facts fails to retrieve facts for ec2 spot instance"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_remote_facts
##### ANSIBLE VERSION

ansible 2.2.0
##### CONFIGURATION

##### OS / ENVIRONMENT

OS-X 10.12
##### SUMMARY

Launching ec2 spot instance. After that, I want to gather facts with ec2_remote_facts module.
Sometimes, not consistently, even though I am looping, the facts are not returned.
##### STEPS TO REPRODUCE

From play -
- ec2_re

[2016-10-05 13:14] #3086 closed

[2016-10-05 18:46] americanbhau commented on #1674
Just ran into this, any progress?

[2016-10-05 20:38] wkoszek opened #3097 "route53_facts doesn't let me list zone's records"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

route53_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I have a zone ID. Let's call it MYZONEID. I take it from right column of the zone listing in Route 53. It's an existing zone with lots of records. I'd like to get all of them into the Ansible variable so that later I can iterate o

[2016-10-05 20:44] ogenstad opened #3098 "Broken show command for asa_config (and asa_acl)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* asa_config
* asa_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/a

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The Cisco ASA devices supports two methods of displaying the current configuration.

* show running-config : Shows configuration, but masks passwords. Supports adding `all` to display default configuration, i.e. `show running

[2016-10-05 21:56] michaeljs1990 commented on #3094
I'm a little unclear on the issue and it's hard to tell what is going on from the output. does using the verbose flags provide anything? This sounds like a networking issue with aws to me but really hard to say.

[2016-10-05 22:31] JoeBiellik opened #3100 "Add support for win_regedit REG_NONE type"
##### ISSUE TYPE

 - Bug Report / Missing feature

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION

[code]
Built today from Git devel.

##### CONFIGURATION
Stock

##### OS / ENVIRONMENT
Host: CentOS 7
Target: Windows 10 (Powershell 5.0)

##### SUMMARY
I am unable to find a way to create a registry key with the type of "[REG_NONE](https://msdn.microsoft.com/en-us/library/windows/desktop/ms7

[2016-10-06 01:05] wimnat commented on #3094
needs_info

Can you turn up the verbosity? -vv

We need to see the module output before the retry

[2016-10-06 02:14] privateip commented on #3098
fixed in https://github.com/ansible/ansible/pull/17915 and https://github.com/ansible/ansible-modules-extras/pull/3102

[2016-10-06 02:14] #3098 closed

[2016-10-06 07:29] lmilbaum commented on #3094
OK. Found the problem. The instanceid variable was not set properly.
Would be helpful if the module could verify the validity of the filter and return an error when not valid.

[2016-10-06 09:47] mohclips commented on #2600
Proposed Fix:

change

`# Merge in any additional or overridden fields
    if params['fields']:
        createfields.update(params['fields'])
`

to

`# Merge in any additional or overridden fields
    if params['fields']:
        createfields.update(ast.literal_eval(params['fields']))
`

You also need to `import ast`

It's something to do with params['fields'] being a string and needs to be a pyth

[2016-10-06 13:29] dpiotrowski commented on #425
If I could add something here, I'd like to say that it affects version 2.1.2.0 as well.

[2016-10-06 14:50] aj-jaswanth opened #3105 "Template in block is not running filters properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

blockinfile  module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 6.7

##### SUMMARY

When using a template as block, if the template uses a filter regex_replace, the filter is not working as expected. The second argument to regex_replace has to be set as \1 instead of \\1 to get it working.

##### STEPS T

[2016-10-06 14:59] leigh507 opened #3106 "ec2_asg_facts not gathering all ASG's"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_asg_facts
##### ANSIBLE VERSION

ansible 2.3.0 - devel branch
Also present in 2.2.0 rc1
##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.11.5
##### SUMMARY

When running a ec2_asg_facts it does not fetch all ASGs that are in the account
##### STEPS TO REPRODUCE

Difficult - you will need quite a few ASG's. It looks as though the golden num

[2016-10-06 15:37] leigh507 commented on #3106
After further investigation I have found that the default value for describe_auto_scaling_groups is 50. This would explain the 50 records that are returned for ASG's.
Having added    `asgs = conn.describe_auto_scaling_groups(MaxRecords=100)` to line 297 in ec2_asg_facts.py i can now get all ASGs. However this is not really a solution as if I ever have 101 ASG's in any account i will hit the same p

[2016-10-06 15:43] leigh507 commented on #3106
Yet more information - it looks as though the describe_auto_scaling_groups does not have any sort of filtering yet - this will need to be requested from AWS as a feature.

I do think it would be a good idea to ensure the MaxRecords is either set to the max or calculated somehow.

[2016-10-06 15:56] leigh507 commented on #3106
Submitted the request to AWS https://github.com/boto/boto3/issues/837

[2016-10-06 17:14] maxamillion commented on #1112
I spent some time on this, I have a working branch if you'd like to test ... I've only done little testing but it works for the basic operations I have tried.

https://github.com/maxamillion/ansible-modules-extras/tree/firewalld-offline

Feedback would be greatly appreciated :)

[2016-10-06 17:37] maxamillion commented on #1112
At this point I've done enough testing that I think it's ready to go. I can successfully run every example included in the doc with `offline=true` and verify that the firewalld configs in `/etc/firewalld/` on the remote system are in fact updated properly.

Sending PR

[2016-10-06 17:49] #2935 closed

[2016-10-06 17:52] bendoh commented on #2766
(still not my module @ansibot !!!)

[2016-10-06 17:56] #2608 closed

[2016-10-06 17:56] #2376 closed

[2016-10-06 18:02] jctanner commented on #2299
@Blackbaud-IanThomas i'm not sure if your last comment indicated the issue is resolved. Can you please clarify?

needs_info

[2016-10-06 18:02] tuabache commented on #2600
@mohclips See also https://github.com/ansible/ansible-modules-extras/pull/2601

[2016-10-06 18:09] igor-raits commented on #2178
needs_contributor

[2016-10-06 18:09] igor-raits commented on #2178
@ansibot needs_contributor

[2016-10-06 18:10] igor-raits commented on #2178
@ansibot bot_broken

[2016-10-06 18:15] warej commented on #1741
Sorry, but recently I have no time to get into it again and prepare valuable fix.
And in the meantime we dropped the idea to use ansible with vcloud in my company.

[2016-10-06 18:15] #1503 closed

[2016-10-06 18:27] indrajitr commented on #1345
!needs_info

[2016-10-06 19:11] maxamillion commented on #2494
@ansibot no it isn't.

[2016-10-06 19:15] bsanders commented on #1472
@robynbergeron looks like @abulimov has been AFK for a while.

Wondering if this should be closed, as it's been merged?  Or should it be better documented as @freels suggested?

[2016-10-06 19:24] maxamillion commented on #1808
Yes, looking at the code the combination of `permanent` and `immediate` is not functioning as it should. I'll get this fixed up.

[2016-10-06 19:26] Shrews commented on #2893
Hi @alitvak69

So, this isn't really a bug in the module. Either the cloud you are connecting to does not have the nova version that supports this, that particular policy is disabled (I don't know enough about Nova policies to know if that is able to be disabled or not), or you _might_ need to upgrade python-novaclient to a more recent version (this last one seems unlikely, but worth a try). We pa

[2016-10-06 19:32] jhawkesworth commented on #2332
Oops, I hadn't got my head round the bot commands when I last touched this.

needs_contributor

[2016-10-06 19:38] johanwiren commented on #879
needs_contributor

[2016-10-06 19:47] #2893 closed

[2016-10-06 19:56] rosmo commented on #2754
@afunix, Can you do a PR?

[2016-10-06 19:57] rosmo commented on #1965
needs_contributor

[2016-10-06 19:58] rosmo commented on #1899
needs_contributor

[2016-10-06 20:07] jtyr commented on #2953
I believe this is `notabug`. Please feel free to re-open the issue if there is still some problem.

[2016-10-06 20:16] ksmets commented on #1785
I can confirm that #2839 fixes the issues with (un)installing the plugins

[2016-10-06 20:16] #1785 closed

[2016-10-06 20:18] Rthur commented on #2513
If the module always requires **become** to maintain ownership of known_hosts, then the module should stat the file prior to operation then set ownership post-operation.

[2016-10-06 20:19] stepanstipl commented on #1465
@mscherer I believe this was fixed by PR #1466 that has been merged into devel (hope you don't mind me closing this guys)

[2016-10-06 20:19] #1465 closed

[2016-10-06 20:35] h0nIg commented on #2646
@ansibot , waiting for response of @jhawkesworth @trondhindenes

[2016-10-06 20:42] #2953 closed

[2016-10-06 20:43] jtyr commented on #2384
I'm marking this issue as `wontfix` because I believe that using the `init_file` module is better solution than using the `yum_repository` module.

[2016-10-06 20:44] jxn commented on #903
@abadger I made a mistake in my example (copied out values into vars, but copied them inverted).  In my play they were right and still not removing the key

[2016-10-06 20:45] #2384 closed

[2016-10-06 20:54] trondhindenes commented on #2646
Sorry, I didn't realize. I need to test this, should be easy enough to repro/test tho, using a notepad service or something.

[2016-10-06 21:00] maxamillion commented on #1808
Fixed in a topic branch (linked below), but needs to await https://github.com/ansible/ansible-modules-extras/pull/3108 to merge first before opening a pull request because it's branched off that change (attempting to avoid merge conflicts).

https://github.com/maxamillion/ansible-modules-extras/tree/fix-permanent-immediate

[2016-10-06 21:00] ghost commented on #1010
I tried that pr to add this détails about the JBoss version. Hope this help

[2016-10-06 21:02] maxamillion commented on #910
This feature was added in Ansible 2.1, this issue ticket was just lost in the backlog. Are there currently any issues with it? (There is a known issue with not handling permanent and immediate at the same time, there is a fix incoming for that https://github.com/ansible/ansible-modules-extras/issues/1808).

[2016-10-06 21:03] maxamillion commented on #1808
needs_info

[2016-10-06 21:04] maxamillion commented on #2494
bot_broken

[2016-10-06 21:09] maxamillion commented on #2494
It is however waiting on a patch :)

[2016-10-06 21:45] maxamillion commented on #1808
!needs_info

[2016-10-06 21:46] maxamillion commented on #2494
resolved_by_pr 3112

[2016-10-06 21:48] maxamillion commented on #910
resolved_by_pr 1478

[2016-10-06 21:53] maxamillion commented on #236
I have this fixed in a topic branch (linked below), but am awaiting https://github.com/ansible/ansible-modules-extras/pull/3108 be merged so they don't conflict.

https://github.com/maxamillion/ansible-modules-extras/tree/fix-permanent-immediate

[2016-10-06 22:12] maxamillion commented on #1808
This appears to boil down to the same issue as https://github.com/ansible/ansible-modules-extras/issues/236

Marking as duplicate

[2016-10-06 22:12] maxamillion commented on #1808
duplicate_of 236

[2016-10-06 22:30] #1808 closed

[2016-10-06 23:13] mscherer commented on #2321
@ansibot I made a PR about it

[2016-10-07 04:41] aj-jaswanth commented on #3105
This issue is not valid, it was happening because I was using `block : |` so, it was automatically escaping the `\1`. http://stackoverflow.com/questions/39899313/template-in-block-is-not-running-filters-properly-in-ansible/

[2016-10-07 04:41] #3105 closed

[2016-10-07 05:28] slavekjurkowski2 opened #3114 "LXC_CONTAINER clone should support -P {new_directory} and -p {original_directory} for cloning into a new directory in lxc v1.0.x"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

lxc_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

ansible running on Ubuntu 12.04 LTS
lxc running on CentOS release 6.7 (Final)
##### SUMMARY

Presently there is not a way to clone (without snapshot) a directory based container to a new filesystem path. However this is supported by the underlying lxc-clone

[2016-10-07 05:49] pmozdzynski commented on #1308
no longer an issue.

[2016-10-07 09:26] afunix commented on #2754
@rosmo it is there: https://github.com/ansible/ansible-modules-extras/pull/2812
Do you want me to update it somehow?

[2016-10-07 12:29] ifelsefi commented on #3029
Thanks!  Y'all rock.

Now fixed in new release of Ansible 2.1.2.0.

[2016-10-07 12:37] resmo commented on #3029
@JusticeForMikeBrown thx!

[2016-10-07 14:10] #1112 closed

[2016-10-07 15:28] rhorer commented on #2536
I apologize for my tardiness in responding to your questions.

1.1) I have applied all the latest Oracle-supplied updates for the OS, including any Python and openssl updates they may provide
1.2) You are correct, it fails in the same way
1.3) As best I can tell, there are no third-party libraries involved
2.1) I am only having the issue on Solaris 10 and below and older Red Hat releases. RHEL 6+

[2016-10-07 15:38] mattmakai commented on #3029
:+1: Development crew on Ansible are awesome. thanks ya'll

[2016-10-07 17:11] maxamillion commented on #236
resolved_by_pr 3112

[2016-10-08 13:20] n0ts commented on #2837
https://github.com/ansible/ansible-modules-extras/pull/3125/files

[2016-10-08 13:24] n0ts commented on #2837
@ansibot I could not set self assign...

[2016-10-08 13:24] n0ts commented on #2837
@ansibot fixed in https://github.com/ansible/ansible-modules-extras/pull/3125

[2016-10-08 15:20] trondhindenes commented on #3067
PR https://github.com/ansible/ansible-modules-extras/pull/3126

[2016-10-08 19:15] #2754 closed

[2016-10-10 07:06] robinro commented on #3089
@jalmasi Please use the ISSUE_TEMPLATE when reporting bugs. See http://docs.ansible.com/ansible/community.html#i-d-like-to-report-a-bug for details

DNS is lowercase only, such that case-sensitive hostnames don't make much sense to me. What is your usecase for non-lowercase hostnames?

[2016-10-10 07:17] perbly opened #3128 "virtual server rule ... already exists in partition"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

network/f5/bigip_virtual_server.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When a virtual server exists and nothing should be done the module is trying to update the virtual server and gives error message "virtual server rule (rulename) already exists in partition"
##### STEPS TO REPRODUCE

Create a virtual server

[2016-10-10 07:24] ravibhure commented on #1442
@deimosfr can you please provide more information on this, looks this is pending since long.

[2016-10-10 09:34] wimnat commented on #2956
Confirmed.

How would you like this solved?

@filipenf made changes to this module to make it more idempotent but it looks like maybe now it's gone too far.

Perhaps another parameter to say 'always create new'?

needs_info

[2016-10-10 09:47] jalmasi commented on #3089
Inherited some servers with mixed-case hostnames.
I'm talking about hostname (/etc/hosts), not DNS. These are case insensitive, but case-preserving.
So, if your hostname returns WhatEver, getaddrinfo and such will do the same.
Generally, I think case-insensitive comparisson has to be used on hostnames, while preserving the case.

[2016-10-10 12:38] j3ffrw opened #3131 "After commit 9392943 win_firewall_rules rules default to services only"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_firewall_rule
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Using Linux Mint 17.2 Rafaela to manage Windows Server 2008 R2 Datacenter
##### SUMMARY

Service option should not have a default value "any" as this will prevent from creating a rule that "Apply to all programs and services"

from technet docs:
-Service<

[2016-10-10 12:59] filipenf commented on #2956
You're right @wimnat. What we could do would be to use the Name tag additionally to the ip/subnet combination. I think this would be cleaner than having an always_create and would be closer to how the ec2 module works for launching instances.

[2016-10-10 13:06] robinro commented on #3089
I don't think mixed-case hostnames is something one should support. See e.g.
http://stackoverflow.com/questions/940466/does-http-hostname-case-upper-lower-matter and references there, that state that casting to lowercase is usual behavior and thus explicitly not case-preserving.
One could write a workaround for this module, by I guess this would cause more issues than it would solve.

[2016-10-10 14:46] caphrim007 commented on #3128
under review

[2016-10-10 18:34] Blackbaud-IanThomas commented on #2299
@jctanner I haven't touched this stuff in a little bit, but I do believe that my last test of it was successful. I would feel comfortable confirming this as fixed.

[2016-10-10 19:13] damoun commented on #2766
bot_broken

[2016-10-10 19:20] ianmcorvidae opened #3133 "consul_kv: support KV transactions"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

consul_kv
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The `consul_kv` module currently only supports modifying individual KV values. However, starting with consul 0.7, there is an endpoint that allows packaging a set of KV updates (up to 64, apparently) into a single atomic transaction: http

[2016-10-10 19:49] mgruener commented on #2617
resolved_by_pr  #2961

[2016-10-10 20:02] tomas-kuchta commented on #2600
After reinstalling version 1.9.3 I got following more descriptive error:
ERROR: /home/tomask/ansible/group_vars/laptops must be stored as a dictionary/hash
- which clearly points to the file where it cannot parse: varName=varValue
- changing the var definition to: varName: varValue fixes the problem

versus: in 2.0.2 all the way to 2.1.2
ERROR! Unexpected Exception: dictionary update sequence elem

[2016-10-10 20:18] jmighion opened #3134 "Using win_regedit with binary values always results in "changed" state"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_regedit
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

OS : OS X 10.11.6
Managing: Windows 2008 R2 MS and Windows 2012 R2 DC
##### SUMMARY

Module changed data when it didn't need to when setting binary values without 2 bytes represented by hex.
I'm trying to set a registry data to 0 when the datatype is binary. T

[2016-10-10 23:29] don41382 commented on #1169
this is really annoying. It makes us thinking us of changing our deployment approach.

The issue has been out since 2015 and PR is waiting. Why don't you merge it?

[2016-10-11 02:16] simplesteph commented on #2434
created a PR to add the feature https://github.com/ansible/ansible-modules-extras/pull/3135. Please note I use a camelcase for dictionary parameters to match the boto3 API and simplify the code.

[code]

let me know questions or feedback. hope that helps!

[2016-10-11 21:23] bendoh commented on #2766
This ain't never gonna get fixed unless the proper folks are notified.

[2016-10-11 22:48] jmgamboa opened #3139 "Filesystem Module yields an error when trying to format a ec2 volume block device with a device not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Filesystem
http://docs.ansible.com/ansible/filesystem_module.html#synopsis

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac 10.9.5

##### SUMMARY
I've created ec2 volume and attaching it to an instance. Now when I attempt to format that the device, I get an error device not found. However the prior plays ran successfully and I see the B

[2016-10-11 23:20] jmgamboa commented on #3139
ok team. I found out the issue. My ubuntu server was renaming the block device on the system but reflects the original device in amazon web services. The block device sdf becomes xvdf on the system

[2016-10-11 23:20] #3139 closed

[2016-10-12 03:33] n0ts commented on #2837
esolved_by_pr

[2016-10-12 03:34] n0ts commented on #2837
resolved_by_pr

[2016-10-12 04:30] n0ts commented on #2837
@mwild1 I already resolved by pr. #3125 Thanks for your report!

[2016-10-12 05:33] jsok opened #3140 "lvg fails if pvs option omitted when state=absent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lvg` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS 6.7

##### SUMMARY
The `pvs` option is not necessary when `state=absent`, however failing to supply an empty string will cause the module to fail.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The volume group is removed successfully.

[2016-10-12 05:34] jsok commented on #3140
To make the task succeed, it is necessary to include `pvs` like:

[code]

[2016-10-12 07:35] joshiste opened #3142 "Zypper modules fails when running with --diff"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
zypper

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
override for roles_path, vault_password_file, ask_pass, transport and ssh pipelining

##### OS / ENVIRONMENT
control:
[code]
target:
[code]

##### SUMMARY
Running the zypper module with diff mode fails

##### STEPS TO REPRODUCE
Run a task using the zypper module in diff mode.
The wanted

[2016-10-12 09:35] damoun commented on #2766
Didn't see that unarchive is a core module, so we should close this issue.
There is already an issue on ansible-modules-core : https://github.com/ansible/ansible-modules-core/issues/4752

[2016-10-12 09:42] alxgu commented on #3142
Hi, thanks for your feedback. The PR #3143 should fix it.

[2016-10-12 10:19] robinro commented on #3142
Thanks @joshiste for catching this bug and thanks @alxgu for the fix.
resolved_by_pr #3143

[2016-10-12 11:28] perbly opened #3145 "f5 bigip_irule always reports changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

network/f5/bigip_irule.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
module always reports changed as status even if irule isn´t changed.

##### STEPS TO REPRODUCE
Add a irule using bigip_irule. Run the task again without any change.

[code]

##### EXPECTED RESULTS
Check if state is present and

[2016-10-12 15:01] stevekuznetsov opened #3149 "archive: doc on the Ansible website has no release label for param name change"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`archive`

##### ANSIBLE VERSION
[code]

##### SUMMARY
When @bendoh made commit https://github.com/ansible/ansible-modules-extras/commit/c0d77be4916f7f77e7f4bf44dcfcc5335b5f46d7, no release note was added to the documentation stating the change of parameter name `compression` to `format`. This is not a backwards compatible change and s

[2016-10-12 15:27] bendoh commented on #3149
Thanks, got it. I'll correct this ASAP.

[2016-10-12 16:01] caphrim007 commented on #3145
I thought we had fixed this in the f5networks repo.

@perbly can you provide a sample irule that triggers this?

[2016-10-12 16:07] ramondelafuente commented on #1554
needs_info

[2016-10-12 20:17] sebastiaanluca commented on #1224
Fails here too, same example. Only workaround is to manually run `npm install` for now?

[2016-10-13 04:22] perbly commented on #3145
I tried with a newly created test irule like this:

`when HTTP_REQUEST {
#COMMENT
}
`

What repo do you think the fix is @caphrim007 , i can try that. But devel and stable-2.2.0 branch gives the same result am afraid.

The issue is in these lines in the update function but i can´t understand why (#noobie)

`if content is not None:
            if 'content' in current:
                if content !=

[2016-10-13 04:32] caphrim007 commented on #3145
@perbly for future reference, this repo https://github.com/F5Networks/f5-ansible

I'll fix it there and then upstream the patch here

[2016-10-13 06:22] perbly commented on #3145
Alright, i read the https://github.com/F5Networks/f5-ansible/issues/42 and i changed the setting in my editor to not add newlines so this workararound works for newly created rules.
But it would be nice for existing irules that probably have this newline.

Thanks!

[2016-10-13 07:18] tomaszwrobel opened #3152 "iptables invert (!) feature not working properly"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

iptables module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

There is no way (or I don't know it) how to use invert feature in iptables module. Regarding to iptables documentation invert sign (!) should be before flag not after.

using command below

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-10-13 08:23] chitrangdakapoor opened #3154 "ssh to netscaler device not working"
I am trying to ssh to netscaler device with following ad-hoc command:-

"[root@localhost ansible]# ansible 10.102.56.141 -a "sh ver" -u nsroot --ask-pass "

but i get the following error:-

"10.102.56.141 | UNREACHABLE! => {
    "changed": false,
    "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the remote direct

[2016-10-13 08:38] #910 closed

[2016-10-13 11:16] ptorkko opened #3155 "Certificate expiration date parsing fails in letsencrypt module"
##### ISSUE TYPE
- Bug report
##### COMPONENT NAME

letsencrypt

##### ANSIBLE VERSION

[code]

Installed from rc1 tarball `sudo python setup.py install` after purging previous .deb installation.
##### CONFIGURATION

Default everything
##### OS / ENVIRONMENT

Ubuntu 16.04, python 2.7, managed platform centos7
##### SUMMARY

letsencrypt module fails to parse dates from generated certificate I
#####

[2016-10-13 12:23] cranebytes opened #3156 "iptables policy state never changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

iptables
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The state of the task is never changed even when it changed things.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I expect the state is changed when the policy is changed
##### ACTUAL RESULTS

State never changed

[code]

[2016-10-13 13:00] crane-denny commented on #3156
I see this also in v2.2.0.0-0.1.rc1.

[2016-10-13 13:44] chiefy opened #3157 "Smart quotes in consul_session desc. block cause Ansible to error."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

consul_session
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

centos 7
##### SUMMARY

[Smart-quotes in module code description block](https://github.com/ansible/ansible-modules-extras/blob/devel/clustering/consul_session.py#L106) causes ansible to barf.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

No er

[2016-10-13 14:02] privateip commented on #3056
You have to specify `authorize: yes` to run that command (as well as anything in asa_config).  That said, leaving this open to handle the error better and return a descriptive message

[2016-10-13 14:32] bearrito opened #3159 "Azure NSG Documenation missing some fields"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/azure_rm_securitygroup_module.html

##### SUMMARY
The documention does not indicate some fields related to rules

-  source_address_prefix - Does this support tags as in the PORTAL?

-  direction - Assumed set is Inbound/Outbound

-  access - Assumed set isDeny/Allow

[2016-10-13 14:44] #3159 closed

[2016-10-13 15:32] gundalow commented on #3048
For the usecase I've mentioned this looks like a graceful error, so I'm happy with it

[code]

**HOWEVER**

[code]

Generates

[code]

@privateip Are you OK that we get a backtrace in the second case?

[2016-10-13 18:14] davivcgarcia opened #3163 "Windows Core and Extra modules not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module (win_shell and win_command)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default configuration for Fedora 24.

##### OS / ENVIRONMENT
Controller Node: GNU/Linux Fedora 24 x86-64
Managed Node: Microsoft Windows Server 2012 R2 64bits

##### SUMMARY
The modules **win_command** and **win_shell** are not included in the distribution of

[2016-10-13 18:17] #3163 closed

[2016-10-13 18:31] plunchete opened #3164 "Slack: Broken links with anchor text"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Slack module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

[This PR](https://github.com/ansible/ansible-modules-extras/pull/3032#issuecomment-253554299) sending URLs with defined anchors to Slack broke.

The format for specifying a URL with an anchor on Slack, according to their[ message format

[2016-10-13 18:57] etsauer opened #3165 "os_stack module seems to be lacking idempotency"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_stack
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RHEL/Centos/Fedora in OpenStack
##### SUMMARY

I am attempting to design a role around the `os_stack` module to do idempotent provisioning. When I run the role (invoked via this playbook: https://github.com/etsauer/casl-ansible/blob/openstack-heat/roles/op

[2016-10-13 20:23] privateip commented on #3048
which test case is generating this?   it looks like its calling ios_command not asa_command which definitely would be a problem

[2016-10-13 22:31] nitzmahone commented on #3100
You should be able to use the .reg technique you mentioned via [win_regmerge](https://docs.ansible.com/ansible/win_regmerge_module.html). It appears that the underlying `Set-ItemProperty` cmdlet supports the `None` type, but there doesn't appear to be anything you can pass for `Value` to make it actually work. I'm going to close this since it doesn't appear we can add it without using the Win32 Re

[2016-10-13 22:31] #3100 closed

[2016-10-13 22:58] caphrim007 commented on #3145
@perbly can you try this updated file?

https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_irule.py

[2016-10-14 06:18] resmo commented on #3157
bot_broken

[2016-10-14 08:08] karimtabet commented on #659
@bcoca 's solution seems to have syntax issues. I managed to get it to work with this:

`{{ groups.glusterssl|difference([inventory_hostname]) }}`

[2016-10-14 09:06] alexbowers commented on #1652
Is it time to mark this as abandoned?

[2016-10-14 09:30] gwachter77 opened #3169 "Creating new gluster volume via Ansibale (Tower) fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

gluster_volume
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to ansible.cfg and no environment variables
##### OS / ENVIRONMENT

RHEL7.2
ansible-2.1.0.0-1.el7.noarch
ansible-tower-3.0.1-1.el7.centos.x86_64
##### SUMMARY

Creating a new gluster volume using gluster_volume in Ansible on freshly installed gluster servers fails with t

[2016-10-14 15:09] michael-dev2rights opened #3173 "Faillure to update lambda in EU-West-1 - sometimes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloud/amazon/lambda

##### ANSIBLE VERSION

latest dev from github  -  6be09ee86636c26a9fb68736caa1d571c39a6a8c

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I am using a clean virtualenv with ubuntu 16.04 python

||/ Name           Version      Architecture Description
+++-==============-============-============-======================

[2016-10-14 15:32] yaegashi commented on #1652
@alexbowers, I cannot reproduce your problem with Ansible 2.0.0.2-2 nor 2.1.2.0-1ppa~xenial on Ubuntu 16.04.  Could you provide a test case as a single playbook if the problem persists?  My own test was like the following:

[code]

Sample session:

[code]

Result in output.txt (Ansible 2.0.0.2-2 on Ubuntu 16.04)

[code]

[2016-10-14 15:41] yaegashi commented on #3052
You can achieve that expected result by adding `follow: yes`.

[code]

[2016-10-14 16:00] michael-dev2rights commented on #3173
I have debugged this issue carefully and verified that leaving out the "Publish" parameter makes the update succeed in the case where it otherwise fails.

I have demonstrated that AWS endpoint eu-west-1 _sometimes_ doesn't accept the Publish parameter and then rejects an update which includes it.

Unfortunately, looking at the API documentation it seems that the parameter is important.

Also, unfo

[2016-10-14 16:05] michael-dev2rights commented on #3173
Iff this ends up worth fixing (e.g. someone manages to reproduce it in future and it isn't just an AWS bug that goes away) I propose a fix something like this (N.B. this is not properly tested since I'm going a bit insane trying to work out when the bug actually triggers).

[code]

[2016-10-14 16:12] plunchete commented on #3164
FYI I'm talking to the slack support to know what is the expectation on their side, their docs are contradictory and their message builder works in a different way, here is their last email:

I will be more than happy to contribute with a fix once I know what it is expected on their side, and with the thumbs up from the maintainers of course.

[2016-10-14 16:16] yaegashi commented on #2687
You get expected results with Ansible 2.0.  The behavior has changed since #2261 was merged and included in 2.1.  Additional fix would be needed to handle the case when the dest is newly created.

[2016-10-14 16:29] steynovich commented on #3173
Yes, I believe this is broken in 734aa8f8e94db1805bf56a007aa944104d6b3d8e, not in AWS. I suspect this only happens when you try to update a function configuration and there is actually some attribute that has to be changed.

Can you please try the diff below? This removes the Publish parameter since that one is not valid according to the boto3 docs (http://boto3.readthedocs.io/en/latest/reference/

[2016-10-14 18:13] jean-christophe-manciot opened #3176 "[Enhancement] Add a "provider" parameter to snmp_facts module"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- h

[2016-10-14 18:59] ksylvan commented on #2687
Looks like https://github.com/ansible/ansible-modules-extras/issues/3174 will fix this, so I'm okay with closing this issue.

[2016-10-14 20:21] chiefy commented on #3157
😆

[2016-10-15 19:26] mhite commented on #3145
I haven't looked too closely at the code, but it seems like the "solution" is to read the existing iRule, strip CTRL-M's (ie. CR/LF -> LF) and extra spaces at end of lines. Similarly, the same would need to be done to the iRule being sent to the module. Once the transformation has been performed on both sides, a normalized comparison can be performed. You may already have this implemented, so sorr

[2016-10-15 20:14] caphrim007 commented on #3145
I have a pr in for this with a fix. We should be fine after it is merged

[2016-10-15 20:57] bearrito opened #3189 "[Azure] - Default deployment mode is inconistent with Azure ARM tools"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/azure_rm_deployment_module.html

##### SUMMARY

The default mode for deployment should be incremental. This is the default mode of the native azure tools.

https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-deploy/#incremental-and-complete-deployments

It seems dangerous to choose a

[2016-10-15 20:59] #3189 closed

[2016-10-15 23:04] bearrito commented on #3189
The module is listed as an extra - https://docs.ansible.com/ansible/azure_rm_deployment_module.html

[2016-10-17 07:32] mshearer opened #3200 "[Enhancement] Support delayed replication for mysql newer than 5.6"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Only works on mysql >=5.6, when delayed replication was added

##### SUMMARY
the mysql replication module should be able to configure delayed replication where mysql supports that feature

##### STEPS TO REPRODUCE
When using mysqlreplication in mode:changemaster,

[2016-10-17 07:51] #3200 closed

[2016-10-17 10:38] michael-dev2rights commented on #3173
Okay, that seems to be it;   a very simple reproducer is, having a lambda already uploaded and working, to change the lambda's timeout (e.g. 5 seconds -> 6 seconds).  When I do that the update fails.  When I bring in the referenced patch then the update works.  When I remove the patch again and change the timeout again the update fails.  This seems to be repeatable.

[2016-10-17 11:22] #3142 closed

[2016-10-17 14:18] h0nIg commented on #2932
this is an extra module, but it is not working on core modules too. therefore this is not intended and it seems that some yml feature is converting this value.

https://github.com/ansible/ansible-modules-core/blob/devel/windows/win_lineinfile.ps1#L196
https://github.com/ansible/ansible-modules-core/blob/devel/windows/win_user.ps1#L77

currently i do not have much time to fix this, feel free to ope

[2016-10-17 14:19] h0nIg commented on #2932
wontfix "needs api extension"

[2016-10-17 18:32] stevenscg commented on #2256
@casperbakker @bcoca FYI, I still have this issue with Ansible 2.1.2.0.

[2016-10-18 02:50] fallencliff opened #3218 "snmp_facts cannot import pysnmp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

control node: redhat 7.0
remote hosts: switch
##### SUMMARY

want to use snmp_facts module ,  and i installed the  pysnmp,

    but everytime i execute the module, returns the error  "msg": "Missing required pysnmp module (check docs)"

##### STEPS TO REPROD