[2016-10-18 08:20] bendavies commented on #2256
ok, so here's our work around

[code]

[2016-10-18 08:54] #2932 closed

[2016-10-18 10:37] danvaida opened #3220 "policy parameter of the sqs_queue module breaks idempotence"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

sqs_queue
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

wheezy on control machine.
##### SUMMARY

Module's idempotence is broken if the policy parameter is used.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

If ran multiple times, the task should be idempotent.
##### ACTUAL RESULTS

Removing the

[2016-10-18 21:23] evitorbarros commented on #1989
Does anyone have figured out a workaround for this issue?

[2016-10-18 22:13] jdranchman commented on #2384
jytr
I'm rather new at ansible and so far any solution I've come up with using init_file (with shell or file or...) against an unknown set of existing repo config files has gotten real ugly real fast. I too would benefit from an enhancement of yum_repository to deal with existing repos (not just dealing with new configs). My current spin is to blow all of them away and remake what I want for a pul

[2016-10-18 22:45] twardnw opened #3231 "can't create new EFS share"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/amazon/efs.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS X 10.11.6

##### SUMMARY
EFS module fails to create new EFS mount
##### STEPS TO REPRODUCE
When trying to run the following play, the module errors out
[code]

##### EXPECTED RESULTS
Expect new EFS share to be created
##### ACTUAL RESULTS
[co

[2016-10-18 23:05] ryansydnor commented on #3231
Can you try to upgrade your version of boto3 and botocore? The PerformanceMode attribute was added relatively recently.

[2016-10-18 23:50] twardnw commented on #3231
After update:

[code]

But the error persists.

[2016-10-19 02:26] bpleines opened #3233 "win_acl module cannot modify ACLs for registry keys"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_acl module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Control Node: Fedora 23
Host Machine: AWS Windows 2012 Member Server
##### SUMMARY

The win_acl module currently does not support modification of ACLs for registry keys - only for folders and files. There is not currently a module to modify ACLs for regis

[2016-10-19 02:40] bpleines commented on #3233
I listed this as a feature idea and not a bug because the module does not state that it has registry key functionality

[2016-10-19 03:05] dongyb80 opened #3234 "default settings in sl_vm too old"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sl_vm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The settings are too old. For example, the max CPU size is 16 in the source code. But it can be up to 56 now. When trying to provision VM with 32 CPUs, it gives me error. After changing sl_vm.py to add 32 to CPU_SIZES list, it works. So it should b

[2016-10-19 03:56] fallencliff commented on #3218
i think  the problem is in python virtualenv,
 i set the ansible_python_interpreter=/home/yd_hzj/pythonenv/AnsibleCmdb/bin/python  in inventory,
and then everything goes fine

[2016-10-19 03:57] #3218 closed

[2016-10-19 06:31] yarinkos commented on #1813
any workaround?

[2016-10-19 14:21] phips opened #3237 "Can't delete a VM with vmware_guest module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

(pip)c7:ansible-demos$ cat /etc/centos-release
CentOS Linux release 7.1.1503 (Core)

##### SUMMARY

Trying to delete a VM by setting 'state: absent' fails with vmware_guest module. First it fails if 'template' switch is not set, second it fails by trying to

[2016-10-19 15:24] jctanner opened #3238 "vmware_guest module documentation is broken"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vmware_guest module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ansible-doc vmware_guest fails ...

[code]

[2016-10-19 17:53] jctanner commented on #2912
@ikkaro I added a slight enhancement for cluster support out of necessity. Would you mind testing and giving feedback?

https://github.com/ansible/ansible-modules-extras/pull/3243

needs_info

[2016-10-19 18:36] jctanner commented on #3237
resolved_by_pr #3243

[2016-10-20 11:11] Plork opened #3248 "vsphere_portgroup only updates 1 host."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vmware_portgroup
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

When specifiying a vcenter server only 1 host of your datacenter is changed.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

When specifying a vcenter server you should be able to specify a cluster of all the hosts you want changed.
##### A

[2016-10-20 11:35] jhart1685 opened #3249 "Consul module does not allow for more than one check per service"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

 ansible-modules-extras/clustering/consul.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Consul supports healthchecks at the node (host) level, and also explicitly against specific services on the host.
When creating these healthchecks using Consul's HTTP API, you have a few options, including

[2016-10-20 13:05] bananabr opened #3254 "Expect module - Expected results feature"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

expect_module
##### ANSIBLE VERSION

[code]
##### SUMMARY

Expect module should have an **expected_results** option that would have the same structure of the **responses** options ( dict of lists). Every response to a pattern would have a correspondent expected_result, like in the example below:

[code]

[2016-10-20 22:12] twardnw commented on #3231
updating to Ansible 2.2.0.0-0.2.rc2 resolved the issue.

[2016-10-20 22:12] #3231 closed

[2016-10-21 08:28] ogenstad opened #3260 "Make authorize in ASA more user friendly"
Saw this a few days ago. I hope to find time to fix it, but haven't yet.
##### ISSUE TYPE
- Bug Report
- Feature Idea
##### COMPONENT NAME
- asa_acl
- asa_config
- asa_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Unlike Cisco IOS the Cisco ASA cli doesn't ignore the `enable` command if the user already is in enable mode.

[code]
##### ST

[2016-10-21 10:20] chitrangdakapoor commented on #3154
Hi,

Any update on this?

[2016-10-21 11:01] danvaida opened #3261 "lambda module doesn't upload code from S3"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lambda
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

controller machine is a docker container running debian wheezy. will gladly share the contents of the Dockerfile, if required.
##### SUMMARY

When trying to create or update a lambda function by using the code from an S3 bucket, the module crashes.
I believe the

[2016-10-21 14:19] steynovich commented on #3261
Can you update line 413 of lambda.py with:

[code]

And then re-run the playbook and show me the output again?

[2016-10-21 18:18] mechaxl opened #3265 "ec2_eni can't gracefully create and/or attach to instance"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2_eni
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I would like to use Ansible to create an ENI with a predetermined private IP address in AWS if it doesn't already exist, attach it to an particular instance if it's not already attached, and raise an error if the ENI exists but is already a

[2016-10-21 20:11] grisha87 commented on #2462
@brian-brazil , @dstoflet , @mangas This issue is also applicable for newest Ansible (2.1) I was thinking about fixing this myself and going in with a PR but I see fix from @mangas isn't processed yet (PR#2463). Can you chaps take a look?

[2016-10-21 21:50] #3140 closed

[2016-10-21 22:20] #2927 closed

[2016-10-22 10:41] dixhuit commented on #1118
Unsubscribing due to @ansibot's constant nagging...

[2016-10-22 13:30] marcinpraczko commented on #2460
Hi,

Is somebody looking on this - I do not see any reply since this issue was created. Saw one comment, however then there is bot.

Interesting whether this module is still under development.

Best regards,
Marcin Praczko

[2016-10-22 15:44] bermudezjd commented on #1163
Not sure if it's worth reconfiguring this PR.  I've already done so 3 or 4 times and it never seems to get approved.  Any reason why I should put this out again?

[2016-10-22 16:57] resmo commented on #3173
resolved_by_pr #3203

[2016-10-22 17:05] #3173 closed

[2016-10-22 20:48] danvaida commented on #3261
I don't have a matching line number(?) but I understood what you mean and I've followed your suggestion at all try-except blocks and I still got the 'No JSON object...'
I slashed the module's code to only a few lines, just as much as I'd need for a simple `get_function` as described here: http://boto3.readthedocs.io/en/latest/reference/services/lambda.html#Lambda.Client.get_function
That gets me:

[2016-10-22 20:51] trondhindenes commented on #2646
Looks good @h0nIg  - sorry it took me so long.Could you PR this so we can get it merged in?

[2016-10-23 04:58] salfand commented on #1496
You can close this issue.

[2016-10-23 15:38] missnebun commented on #1401
+1

[2016-10-23 16:10] dj-wasabi commented on #2159
resolved_by_pr #3269 #3228 #3229

[2016-10-23 20:25] resmo commented on #3234
resolved_by_pr #3236

[2016-10-23 20:28] #3234 closed

[2016-10-23 20:31] resmo commented on #2687
resolved_by_pr #3174

[2016-10-23 21:20] abadger commented on #2471
Per https://github.com/ansible/ansible-modules-extras/issues/2471#issuecomment-246185591 this is fixed i devel and stable-2.2.  It should appear in the 2.2.0 release.  Thanks @baldwinSPC .

Closing.

[2016-10-23 21:20] #2471 closed

[2016-10-23 21:25] abadger opened #3276 "profitbricks_volume delete needs to know which volume to delete"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloud/profitbricks/profitbricks_volume.py
##### ANSIBLE VERSION

[code]
##### SUMMARY

Ran pyflakes on the profitbricks_volume module and found that the delete_volume() function does not define the volume variable which it uses.  This would appear to make the module fail to delete a volume with a traceback in some cases.

The code in question is

[2016-10-23 23:16] abadger opened #3277 "Undefined variables in boundary_meter"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

monitoring/boundary_meter.py
##### ANSIBLE VERSION

[code]
##### SUMMARY

When porting to python3 I ran pyflakes on boundary_meter.py and found that there are several undefined variables.  These probably make state=absent traceback and  state=present when the cert file needs to be downloaded.
###### delete_meter problem

https://github.com/ansib

[2016-10-23 23:31] #2443 closed

[2016-10-24 11:49] aliusmiles opened #3280 "zabbix_host result is always 'changed' without zabbix proxy passed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

monitoring/zabbix_host.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When no zabbix proxy is set in _zabbix_host_ task, result is always '_changed_' on repeating runs, even though host's configuration is the same.
##### STEPS TO REPRODUCE

Run the following playbook twice:

[code]
##### EXPECTED R

[2016-10-24 11:49] tbondarchuk commented on #3280
I was able to trace this issue to the following line in zabbix_host.py:

[code]

It always returns _True_ due to actually comparing `if "0" != None:`

`host['proxy_hostid']` gets it's value by zabbix api from var `zabbix_host_obj`, and looks like zabbix api always returns it in `unicode` format. And `proxy_id` is set to _None_ if host exists in zabbix or to integer _0_, if not.

[2016-10-24 14:33] gundalow commented on #3048
Resolved

[2016-10-24 14:33] #3048 closed

[2016-10-24 16:57] devigned commented on #2486
User name and password creds will only work if you have not enabled multi-factor authentication, and is not the recommended approach for automation in Azure.

@lmazuel would you be willing to implement this. I might have time in a week or so, but I'm kind of busy at the moment.

If not, this does seem like a good one for: needs_contributor

[2016-10-24 17:08] Blackbaud-IanThomas commented on #2486
If this isn't a great approach for Azure, my need for it isn't large. I think the main thing that would be good would be to make sure the documentation clarifies this bit of information. I needed user name and password for a temporary need and preferred to use the access token.  I saw the user name and password as an option from the source, and reported this bug after I found out that it didn't wo

[2016-10-24 17:16] devigned commented on #2486
I think a lot of folks will probably want to use username / password for developing, it's just not how you should go to production.

Azure Active Directory encourages people to use service principals to separate application credentials from user credentials.

Service principals don't change their auth flow if multi-factor auth is enabled. If someone uses user credentials, then their security perso

[2016-10-24 17:26] Blackbaud-IanThomas commented on #2486
I agree.  Username and password would make things a lot easier for development.  It's a non-trivial thing to generate proper service principals, and everyone should have a username and password.

[2016-10-24 17:28] lmazuel commented on #2486
@devigned @Blackbaud-IanThomas As I see, it seems the common module [azure_rm_common.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/azure_rm_common.py) is handling it. Is this automatically available to sub-modules (if so we can close this issue) or there is some work to do?

[2016-10-24 17:31] Blackbaud-IanThomas commented on #2486
Yeah, actually that sounds right. When I dug into this originally, I discovered the connection between the two pieces and filed issues in both places. I haven't touched this stuff in a while, but I think it is possible that the source was updated to fix this issue.  It could be worth testing it out, but I think this might actually be resolved.

[2016-10-24 18:45] lmazuel commented on #2486
@Blackbaud-IanThomas @devigned
Just tested it with Ansible 2.1.2.0 from PyPI and it works great. I think we can close this issue.

[2016-10-24 18:47] devigned commented on #2486
Thank you for verifying this, @lmazuel!

[2016-10-24 20:05] bcoca commented on #1118
needs_contributor

[2016-10-24 20:27] jctanner commented on #1118
needs_contributor

[2016-10-25 03:40] #2750 closed

[2016-10-25 03:55] #3237 closed

[2016-10-25 04:46] thaumos commented on #2435
I'll take a look at this.

[2016-10-25 04:48] thaumos commented on #2435
!needs_info

[2016-10-25 05:55] resmo commented on #2646
resolved_by_pr #3267

[2016-10-25 08:42] #2687 closed

[2016-10-25 08:42] #2617 closed

[2016-10-25 09:34] michalklempa commented on #1717
@chrisisbeef  ping :) is there anything more i can do to speed up the merge of pull request?

[2016-10-25 12:29] maxim0r opened #3287 "win_chocolatey upgrade successfully even when the package with required version is missing."
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]
##### SUMMARY

Upgrade task successfully even when the package with required version is missing.
##### STEPS TO REPRODUCE

[code]

In this example, currently installed version 0.1 and package with version 0.2 is absent on source repo.
##### EXPECTED RESULTS

In most cases, the task should stop with a

[2016-10-25 14:39] chrisisbeef commented on #1717
apologies - it's been a busy few weeks for me guys. Took a look and tagged the PR. Thanks!

[2016-10-25 15:10] gregswift commented on #2435
@thaumos what additional info would you like? I just ran into this issue while creating a maintenance window. The window was created but the task fails.

[code]

[2016-10-25 18:05] cgeers commented on #751
fwiw, I am also affected by this issue

[2016-10-25 21:15] thaumos commented on #2435
@gregswift I didn't need more info actually. !needs_info is just a way to stop the bot from pinging me.

[2016-10-26 08:33] shaharmor opened #3290 "npm always installing even if package is installed already"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

npm
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the npm module to install a package globally, it doesn't check if the module is installed before installing, making it always "change" the module.
##### STEPS TO REPRODUCE

Run the follwing task multiple timesL

[code]
##### EXPECTE

[2016-10-26 09:02] n0ts commented on #2837
@ansibot `resolved_by_pr`

[2016-10-26 11:35] shaharmor opened #3291 "npm is not "becoming" root"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

npm
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OSX 10.10.5
##### SUMMARY

When installing anything with the npm module, its setting the permissions of all the modules files/directories to the user which was used to connect to the remote host, regardless of whether become is set or not.
##### STEPS TO REPRODU

[2016-10-26 11:37] avishefi commented on #1813
+1

[2016-10-26 15:12] jhart1685 commented on #3249
@sgargan - hope you don't mind, but I've contributed a PR (linked above) for this, as it seemed a fairly trivial fix.

[2016-10-26 16:29] tchouvince opened #3296 "Proxmox: set up multiple netif"
Hello,
ISSUE TYPE

[code]

I try to set up multiple netif but I have no success.
I use proxmox4.1-22 and ansible2.1.2.
Create  VMS with once netif run:
`
- name: Create proxmox instances
  proxmox: vmid={{ item.vmid }} node='{{ item.node }}' api_user='{{ item.api_user }}' api_password='{{ item.api_password }}' api_host='{{ item.api_host }}' password='{{ item.password }}' hostname='{{ item.hostname

[2016-10-26 19:39] #1717 closed

[2016-10-26 21:27] cheat117 opened #3300 "Documentation Update: ec2-asg-facts"
Documentation says requires boto, should read boto3.

module fails with boto2 installed and configured properly with dynamic inventory. using stable-2.2 tag installed via pip.

[2016-10-26 21:29] ahuffman opened #3301 "kubernetes.py ImportError: No module named yaml"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

kubernetes.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Attempting to run the kubernetes module to create a namespace on my cluster.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Creation of a namespace on my kubernetes cluster
##### ACTUAL RESULTS

[code]

[2016-10-26 23:30] ericchou1 opened #3302 "a10_server.py, a10_service_group.py, a10_virtual_server.py only import the required modules"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

a10_server.py
a10_service_group.py
a10_virtual_server.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Only import the necessary modules instead of:

from ansible.module_utils.basic import *
from ansible.module_utils.urls import *
from ansible.module_utils.a10 import *
##### STEPS TO REPRODUCE

[code]

[2016-10-27 08:22] mischapeters commented on #3302
👍

[2016-10-27 11:59] helldorado commented on #1004
@devekko I did a pull request #3292 for a new module proxmox_kvm. Hope you can test it.

[2016-10-27 16:11] jbilbro opened #3305 "vmware_guest - set static IP for virtual machine"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

vmware_guest
##### SUMMARY

Would like to be able to set the IP address of a VM when cloning from a template.  Is this already possible?  How are other people solving this??

[2016-10-27 19:08] jmehnle opened #3307 "logentries module fails to correctly unfollow logs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`logentries` module
##### ANSIBLE VERSION

[code]

(but broken in Ansible 2 as well)
##### OS / ENVIRONMENT

Managing Ubuntu 14.04 and 16.04.
`logentries` agent 1.4.39 (latest as of 2016-10-27), but tried various versions.
##### SUMMARY

The `logentries` module fails to correctly unfollow logs. The `le` command it issues is `le rm <logfile-path>`

[2016-10-27 20:01] abadger opened #3310 "dnf module doesn't work with dnf-2.0 API"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

packaging/os/dnf.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Fedora Rawhide
##### SUMMARY

Originally reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1387621

When trying to use the 'dnf' module in a task, we're getting tracebacks instead of successful install.  Diagnosed in the bugzilla report as being usage of functions

[2016-10-27 20:02] abadger commented on #3310
cc: @ignatenkobrain

[2016-10-28 02:16] wucj commented on #2693
Also found this issue in ansible version 2.1.2

[2016-10-28 10:32] ptorkko commented on #3155
Updated to RC4, reset everything related to this on the server and tried again.

Works fine until step3 in the original example:

`FAILED! => {"changed": false, "failed": true, "msg": "Faild to parse 'Not after' date of /etc/ssl/letsencrypt/le********.crt"}`

[code]

Any ideas, I'd rather not spend time implementing letsencrypt some other way if this module is supposed to exist in 2.2.

[2016-10-28 10:58] ptorkko commented on #3155
Did some hackery with my limited python skills, and the error seems to be:

`'Jan 26 09:29:00 2017 GMT' does not match format '%b %d %H:%M:%S %Y %Z'`

In a python console on the target server i get:

[code]

So the locale is not an issue, and I'm stumped.

edit:

Additionally:

[code]

[2016-10-28 11:04] mgedmin commented on #3155
I think in Python you have to

[code]

before other functions (such as `time.strftime`) will start paying attention to your LC_xxx environment variables.

Ansible modules [do that](https://github.com/ansible/ansible/blob/fda933723c8cb60248d41b5691edd86fe0a40807/lib/ansible/module_utils/basic.py#L1226-L1228) in [AnsibleModule.\_\_init\_\_](https://github.com/ansible/ansible/blob/fda933723c8cb60248d

[2016-10-28 11:13] ptorkko commented on #3155
Ok it indeed seems that the environment has a finnish locale for some reason, and assuming ansible uses it, it is probably the cause here.

I can change the locale, but this is still a bug, as the certificate will never be in the environment locale formatting.

With a quick look I can't find a way to tell strptime to use a specific locale.

[2016-10-28 11:16] #2646 closed

[2016-10-28 11:36] ptorkko commented on #3155
I can get it working on the playbook level by setting LC_ALL for the playbook.

Of course the date parsing should not be locale dependent in the first place, but at least I can get my certificates in place.

[2016-10-28 14:52] caphrim007 commented on #3145
@gundalow this can be closed as it was fixed in this PR https://github.com/ansible/ansible-modules-extras/pull/3175

[2016-10-28 15:15] bendoh commented on #3149
I'm not entirely convinced anything needs to be done here, as the module wasn't officially part of the Ansible Modules Extras distribution until 2.2 – since it wasn't actually documented prior to that, and the change occurred prior to its officially release. Furthermore, I'm not really sure where to put this sort of changelog – I'm not seeing examples of it elsewhere in the documentation for other

[2016-10-28 15:25] bcoca commented on #3149
@stevekuznetsov  I agree with @bendoh here, we normally frown on parameter renames once a module is released, but this is not the case. Things in /devel are subject to change w/o warning.

Once released we can still change parameter names but then try to maintain backwards compatibility via aliases or at least a deprecation period for the old parameter.

Since I don't see any actions coming out of

[2016-10-28 15:25] #3149 closed

[2016-10-28 15:33] stevekuznetsov commented on #3149
@bendoh An example can be seen in the `unarchive:` `copy` parameter: http://docs.ansible.com/ansible/unarchive_module.html#options

@bcoca I don't know what the correct thing to do here is, but perhaps hosting documentation on the docs.ansible.com domain that is for `devel` features is not correct. I dont' see a simple way to look at different versions of the documentation per Ansible release, but

[2016-10-28 15:36] bendoh commented on #3149
Ah, OK, thanks! I do agree that the documentation should be obtainable by official release and development branches should not be seen there, unless specifically requested.

[2016-10-28 15:36] gundalow commented on #3145
Closing as per the above comment.

[2016-10-28 15:36] #3145 closed

[2016-10-28 16:48] #1542 closed

[2016-10-28 18:57] madonius opened #3315 "Using reject_with with a previously defined jump: REJECT results in two Jump statements"
##### ISSUE TYPE
- Bug Report
  ##### COMPONENT NAME
  iptables
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla
##### OS / ENVIRONMENT

Debian Testing
##### SUMMARY

When using the iptables module with _reject_with_ and _jump: REJECT_ it results in

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect it to be usable as an iptables statement would be
##### ACTUAL RE

[2016-10-28 21:42] timmontague opened #3317 "blockinfile: insert text before first match"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

blockinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

n/a
##### SUMMARY

It would be helpful for the `blockinfile` module to support inserting a block of text _before_ the first match of a regular expression. My need for this arises because the `sendmail.mc` configuration file requires some settings be def

[2016-10-28 21:47] timmontague commented on #3317
In order to not break backwards compatibility, I suggest 2 new parameters be added to the `blockinfile` module: `insertbeforefirst` and `insertafterfirst`. The 2 parameters would be mutually exclusive with `insertbefore` and `insertafter`.

If this feature is desired, I can submit a pull request.

[2016-10-28 22:10] resmo commented on #2166
resolved_by_pr #2939

[2016-10-28 22:15] #2166 closed

[2016-10-29 10:00] jayenashar commented on #2581
is there a workaround for ansible 2.1 while we wait for ansible 2.2 to be released?

[2016-10-29 20:27] briceburg commented on #342
bug_resolved

AFAIK this is fixed in recent (2.0+) versions of ansible.

[2016-10-29 20:45] #342 closed

[2016-10-30 09:57] yaegashi commented on #1652
needs_info

[2016-10-30 23:43] JPry commented on #2610
I'm able to duplicate this issue with Ansible 2.1.

[2016-10-31 09:28] karmab commented on #3059
looking at the code , the cloud/ovirt/ovirt_vms.py module seems the more accurate and legible.
additionally, it uses ovirtsdk4 which seems to be the way to go in the future.
so i would tag the other ones as deprecated  or not recommended .
the rhevm.py is too complicated to read, plus i think the naming just adds confusion
a couple of notes on ovirt_vms.py
- why not call it ovirt_vm ....
- we shou

[2016-10-31 10:07] amishel opened #3323 "Redshift module missing supported machine types in a dictionary"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/redshift

##### ANSIBLE VERSION

latest dev branch
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Supported machine types in a dictionary are not relevant .
Missing machine type for : 'dc1.large'

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-31 10:10] amishel opened #3324 "Redshift module public_accessible = False does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redshift.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

When creating a cluster with :
   "module_args": {
            "availability_zone": "us-east-1a",
            "cluster_subnet_group_name": "redshift-subnet",
            "cluster_type": "multi-node",
            "co

[2016-10-31 13:56] machacekondra commented on #3059
Well, maybe if it will be named _ovirt_vm_ someone will ask why not call it _ovirt_vms_. I didn't find any recomendation about naming. But no problem to rename it if more people will suggest it.

I think it don't worth the effort. Someday in future ovirt3 won't be supported and we should remove that code again. So I would leave those current modules (and maybe rename them to ovirt3.py / rhevm3.py

[2016-10-31 14:33] gundalow commented on #3056
Tests have already been updated:
group_vars/asa.yaml

[code]

The remaining task is to make the error message clearer

[2016-10-31 16:24] #3310 closed

[2016-10-31 18:04] j-carl commented on #3323
resolved_by_pr #3328

[2016-11-01 00:39] simplesteph commented on #2641
This PR also addresses it a bit https://github.com/ansible/ansible-modules-extras/pull/1715

[2016-11-01 06:59] dongyb80 opened #3331 "documentation error for sl_vm module"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

sl_vm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In the documentation it says option **wait_timeout** but it should be **wait_time** indeed.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-11-01 10:29] sbktrifork commented on #2600
Just used @mohclips proposed fix, which works great..

[2016-11-01 11:07] bencromwell opened #3332 "NPM install fails to find directory in ansible 2.2.0.0 (worked in 2.1.0.0)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 14.04.5 LTS

##### SUMMARY
npm install is unable to locate the path to a repo checkout that it's installing to

##### STEPS TO REPRODUCE

vars:
[code]

Failing section of playbook is the npm install, the git checkout is included for context. The git chec

[2016-11-01 14:28] gfnord commented on #2853
Any news?

[2016-11-01 14:43] tbondarchuk commented on #3280
It has been fixed in 2.2 release:

[code]

[2016-11-01 14:43] #3280 closed

[2016-11-01 18:27] austinbutler opened #3335 "Timezone: global name 'tzfile' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
timezone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
Host: Arch
Client: CentOS 6.8

##### SUMMARY
As of https://github.com/ansible/ansible-modules-extras/commit/e29584ad70d2f4e0a8ef02781d7bc7e977ff0e69 timezone is broken again. If I go back to https://github.com/ansible/ansible-modules-extras/commit/df3

[2016-11-01 21:11] Hubbitus opened #3338 "filesystem does not support multiple devices (on btrfs f.e.)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`filesystem` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Does not have sence

##### OS / ENVIRONMENT
Fedora repos

##### SUMMARY

Task:
[code]
work as expected, but:
[code]
Produce error: **Device /dev/sda3 /dev/sdb not found.**

##### EXPECTED RESULTS
`Btrfs` (and some other like `zfs` too) allow create filesystems across multiple

[2016-11-02 06:06] mgruener commented on #3155
Thanks for analysing this issue. Hopefully I will be able to test the fix proposed by @mgedmin this weekend

[2016-11-02 12:25] pschiffe commented on #2487
The https://github.com/ansible/ansible-modules-extras/pull/2762 PR is more complete than https://github.com/ansible/ansible-modules-extras/pull/3058

[2016-11-02 13:28] druidushka opened #3346 "win_robocopy module don't handle all posible exit codes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_robocopy module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

module handle only 0,1,2,4,8,16 robocopy exit codes
but if custom flags used exit codes may eq combined value:

These can be combined, giving a few extra exit codes:

    0×03   3       (2+1) Some files were copied. Additional files w

[2016-11-02 13:35] blakfeld commented on #3346
Hiya, thanks for the bug report. I may not be able to get to this today, but I'll try to jump on it before the weekend is out (Unless you're interested in adding it! PRs welcome!)

[2016-11-02 14:28] #2178 closed

[2016-11-02 14:31] Klezst commented on #2733
The module checks if a binding with the specified name, host header, protocol, port, and IP exists. If not, it creates the binding. It does not check that the existing binding is using the specified certificate. Thus, if the binding already exists on the system and you attempt to add a certificate to it the module makes no changes. Perhaps this is what @nathanwebsterdotme experienced. If so, the s

[2016-11-02 20:14] cameronurnes opened #3347 "efs and efs_facts modules documentation malformed"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
efs
efs_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Table of options is malformed due to use of | operator in the description of a couple parameters.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Table would be properly formatted

##### ACTUAL RESULTS
Table comes out

[2016-11-02 20:16] cameronurnes commented on #3347
[http://i.imgur.com/XoWwg0C.png](Image of effect)

[2016-11-02 23:37] #3347 closed

[2016-11-03 02:27] tommygnr commented on #1675
Can this be closed in light of https://github.com/ansible/ansible-modules-extras/issues/1375 ?

[2016-11-03 08:39] #2684 closed

[2016-11-03 12:47] josegonzalez commented on #3347
This is still broken in prod.

[2016-11-03 12:54] pako-pl opened #3354 "s3_bucket error: Your previous request to create the named bucket succeeded and you already own it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
ansible 2.1.2.0
ansible 2.2.0.0

##### OS / ENVIRONMENT
Linux Debian

##### SUMMARY
Trying to run s3_bucket task when the bucket already exists results in an "Your previous request to create the named bucket succeeded and you already own it" error.

##### STEPS TO REPRODUCE
Run more than once the following task:

[2016-11-03 13:19] pako-pl commented on #3354
I've just confirmed that the issue affects the latest ansible 2.2.0.0, too.

[2016-11-03 15:34] tburt11 opened #3355 "clustering/consul_kv.py appears to have undocumented retrieve function"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

clustering/consul_kv.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

In the github repo, the following line in DOCUMENTATION appears to be truncated:
---snip---
 - If the key represents a prefix then Note that when a value is removed, the existing
    value if any is returned as part of the re

[2016-11-03 19:35] Ichimonji10 opened #3358 "Ansible 2.2.0.0 DNF module cannot manage package groups"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

`/etc/ansible.cfg` is untouched. It is as provided by the Arch Linux package. See: https://www.archlinux.org/packages/community/any/ansible/

No Ansible-related variables are set. Verified with:

[code]

##### OS / ENVIRONMENT

My control host is an up-to-date Arch Linux system. It was updat

[2016-11-03 20:09] martin-paulus commented on #2618
@amenonsen If you specify only one principle it helps to remove the [ ] enclosing the principle from your policy template.

Just this afternoon I ran into this problem: the policy part generated a changed status every time I ran the role with the s3_bucket policy configuration. It seems that AWS accepts a list of principals with just a single list entry, but upon downloading the current policy the

[2016-11-03 21:40] kkarimi commented on #1169
@rmorlok can you have a look at this please?

[2016-11-03 23:25] bgandon commented on #2487
Ok, thanks for pointing this PR out.

The problem with both PRs is that they don't do the same as `kubectl` especially when it comes to deleting a deployment. `kubectl delete deployment foobar` also deletes any ReplicaSet and any Pods related to the "foobar" deployment.

Whereas this Ansible module with both PRs will only delete the Deployment ressource and not the related ReplicaSet, nor the rela

[2016-11-04 00:37] tuwid opened #3360 "Instance creation failed => InvalidParameterValue: Value () for parameter groupId is invalid. The value cannot be empty""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group / ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ElementaryOS Loki
macOS Sierra 10.12.1
##### SUMMARY
While doing some tests suddenly i started receiving this error while creating machines:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Instance creation failed => InvalidParam

[2016-11-04 00:51] #3360 closed

[2016-11-04 05:02] elusiveity opened #3361 "redhat_subscription trying to register an already registered system"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No additional configuration.

##### OS / ENVIRONMENT

Ansible host: RHEL7
Managed node: RHEL7

##### SUMMARY

TASK [Subscribing to RedHat] ***************************************************
fatal: [hostname.local]: FAILED! => {"changed": false, "cmd": "subscription-manag

[2016-11-04 05:40] #3361 closed

[2016-11-04 12:46] xelor81 commented on #455
I have the very same issue here, all mentioned fixes are in place however the system still trying either to create the vg on the physical device or (when devices are not defined in the pvs array) reports that none of the physical volumes has been given.

[code]

[2016-11-04 13:39] Melanxolik opened #3362 "Problem with module: gitlab_user"
Module: gitlab_user doesnt' return error, when you tried enter small password.
Gitlab default password lenght: 8

But, when you use short password, ansible debuger retrun:

    "changed": false,
    "invocation": {
        "module_args": {
            "access_level": null,
            "email": "email@email.ru",
            "group": null,
            "login_password": "VALUE_SPECIFIED_IN_NO_LOG_PAR

[2016-11-04 15:42] abadger commented on #3358
Thanks @Ichimonji10 I've pushed a fix at #3363 if you'd care to test it.  I'll push it into the Fedora package as well once it passes upstream tests.

[2016-11-04 15:57] rmorlok commented on #1169
I think my other PR (https://github.com/ansible/ansible-modules-extras/pull/2357) should address this issue. There are several PRs related to the `ecs_taskdefinition` module that I'm holding on reviewing because the aforementioned PR addresses several things. Once that's out we can look at  the other PRs that address other stuff to build on top of it.

[2016-11-04 16:06] #3358 closed

[2016-11-04 18:36] willww64 opened #3364 "haproxy module failure after upgrade to ansible 2.2.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- haproxy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

After upgrade to ansible 2.2.0, haprox module execution failed. But the weight has been changed though.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Weight changed and no failure message.

##### ACTUAL RESULTS

[2016-11-04 19:06] willww64 commented on #3364
Sorry, I'm not familiar with github. I've found solution in pull request. So sorry to bother you.

[2016-11-04 19:06] #3364 closed

[2016-11-04 20:47] jeremy-audet commented on #3358
Test procedure:

[code]

The issue appears fixed. Thank you, @abadger!

[2016-11-04 21:21] senorsmile commented on #2542
This is something that I plan on doing ASAP as we have a lot of Mikrotik in my organization.  Will post more info once we know what the MVP will look like.

[2016-11-04 21:29] luqasz commented on #2542
I am working on [module](https://github.com/luqasz/napalm-ros) for NAPALM.

[2016-11-04 22:10] senorsmile commented on #2542
I am planning on using the rosapi:
- https://pypi.python.org/pypi/rosapi
- https://github.com/jellonek/rosapi

I also highly recommend doing this over the api rather than over ssh.

[2016-11-05 00:06] luqasz commented on #2542
That is why I've forked this module.

[2016-11-05 00:34] lukasged opened #3367 "Archive module unavailable in 2.2 stable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
archive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running and managing RedHat 7.2

##### SUMMARY
When I try to use the archive module together with ansible 2.2.0.0 installed with pip from the official repo, it doesn't find the module. However, when I install the ``devel`` version, it does recognize the arc

[2016-11-05 07:22] michaelansel commented on #2600
I believe the appropriate fix here is to appropriately designate the variable type in the module argument spec. Preparing a PR with the change now...

[2016-11-05 09:45] tuabache commented on #2600
@michaelansel If your pr #3368 does the trick (which I haven't tested), that's probably simpler than mine #2601 (still open!). Many thanks. Let's hope the bug gets fixed, eventually.

[2016-11-05 10:17] #2600 closed

[2016-11-06 11:32] am3rig0 commented on #3305
Have you considered using vmware_vm_shell module (https://docs.ansible.com/ansible/vmware_vm_shell_module.html) for this purpose? If you have VMware Tools / open-vm-tools installed, you should be able to pass commands to your OS to make sure your IP configuration matches the desired state.

[2016-11-06 11:47] trondhindenes commented on #1142
This issue isn't related to win_regedit specifically, and OP hasn't responded in a while, so closing.

[2016-11-06 11:47] #1142 closed

[2016-11-06 12:15] chchrist commented on #2547
@alikins I haven' tried it. I will try and come back to you.

[2016-11-06 12:53] blakfeld commented on #2999
I have a PR ready for this, but for some reason the build is failing.

[2016-11-06 13:33] mgruener commented on #3155
Thanks to this issue I found out that this seems to be a quite common problem for modules calling external tools and parsing their output. And that there are already proven ways to deal with this. @mgedmin's pull request will eventually solve this problem so as soon as this gets merged, the issue should be resolved.

[2016-11-06 20:13] sgargan commented on #827
Not able to reproduce this issue on any 2.0 branch. There are a good number of tests around this functionality and all work as expected. Marking as notabug and suggest this should be closed.

[2016-11-06 20:16] #827 closed

[2016-11-06 22:26] sgargan commented on #3355
@tburt11 Thanks for taking the time to log this; it really shouldn't be a hidden feature so I've added a way to easily retrieve the value for a key.

[2016-11-06 23:22] sgargan commented on #1316
Going to close this until something changes upstream. notabug

[2016-11-07 00:12] sgargan commented on #751
@oryband @cgeers, I've checked the following against the 2.1 and 2.2 branches and can't reproduce. If you're still experiencing the issue could you report what's failing for you and I'll take a look.

[code]

[2016-11-07 11:38] wimnat commented on #1813
@yarinkos can you please post your full task to replicate the problem?

[2016-11-07 12:54] walbert947 opened #3375 "elasticsearch_plugin fails if version parameter is defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elasticsearch_plugin module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

The control host is running Ubuntu 16.04.
The target hosts are running CentOS 7.2 and CentOS 6.8

##### SUMMARY

The elasticsearch_plugin module fails when the version number parameter is specified.

##### STEPS TO REPRODUCE

[code]

#####

[2016-11-07 13:11] walbert947 opened #3376 "elasticsearch_plugin does not work with Elasticsearch 5.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elasticsearch_plugin module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

The control host is running Ubuntu 16.04.
The target hosts are running CentOS 7.2 and CentOS 6.8

##### SUMMARY

The elasticsearch_plugin fails to run on Elasticsearch 5.x.

##### STEPS TO REPRODUCE

I tried two variations.

The first was a

[2016-11-07 13:53] #1316 closed

[2016-11-07 15:22] fbnfgc opened #3377 "Haproxy module fails - itertools.imap object has no attribute __getitem__"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
haproxy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04.1 LTS

##### SUMMARY
Can't change backend status using haproxy module with ansible 2.2.0.0. It fails with unexpected error.

##### STEPS TO REPRODUCE

playbook :
[code]
inventory:
[code]
group_vars:
[code]
host_vars:
[code]

vars:
[code]

#####

[2016-11-07 16:08] reiz opened #3379 "Profitbricks modules fails with unsupported operand types"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/profitbricks

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
If I run this code:

[code]

I'm getting this error:

[code]

[Here](https://devops.profitbricks.com/community/unable-to-create-servers-with-ansible-2110/) somebody says that it's fixed already but not merged yet.

[2016-11-07 16:21] baldwinSPC commented on #3379
cc @edevenport

[2016-11-07 17:25] jbilbro commented on #2914
This would be VERY helpful.

[2016-11-07 17:39] mattwwarren opened #3380 "Amazon ec2_elb_facts module fails when no names passed in"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
- Amazon Linux, stock install

##### SUMMARY
With the release of this module for Ansible 2.2, I am no longer able to get all load balancer information. The module throws a TypeError

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
- Not a fa

[2016-11-07 18:19] #2494 closed

[2016-11-07 19:04] mikegleasonjr commented on #3377
A fix seems to be in the pull requests #3378 but for those who don't want to wait the next release or modify the local sources, is there a workaround?

EDIT: I ended up installing from source and then applied the fix myself
EDIT2: same as ansible/ansible-modules-core/issues/4867 which has been fixed

[2016-11-07 19:50] maxamillion commented on #236
resolved_by_pr 3112

[2016-11-07 19:58] #236 closed

[2016-11-07 23:51] madrover opened #3387 "firewalld requirements on Centos 7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Centos 7

##### SUMMARY

The [module documentation](http://docs.ansible.com/ansible/firewalld_module.html) states that: _Requires the python2 bindings of firewalld, which may not be installed by default if the distribution switched to python 3_ but these python2 bindings

[2016-11-08 06:19] brucellino opened #3391 "jenkins_plugin giving Python type error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`jenkins_plugin`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings have been changed
##### OS / ENVIRONMENT

  * Execution node : Ubuntu 16.10
  * Managed node :  CentOS7
##### SUMMARY

I am using the `jenkins_plugin` module to install plugins to a jenkins server I am deploying. The specific task is :

[code]

where `plugins` is

[2016-11-08 08:40] #564 closed

[2016-11-08 08:53] #792 closed

[2016-11-08 08:59] #3323 closed

[2016-11-08 09:10] xrow commented on #236
https://github.com/ansible/ansible-modules-extras/pull/3112

[2016-11-08 10:18] jtyr commented on #3391
Thanks for reporting this, @brucellino. I believe that this issue should be fixed as part of the PR #3005. Please could you try to patch the `jenkins_plugin` module according to the PR and let us know if that helps?

[2016-11-08 11:05] jtyr commented on #3391
Thanks for testing the patch form #3005. I think that the problem you have is that you delete the whole `/var/lib/jenkins/plugins` directory. That directory is installed by the system and should never be removed. For your tests, you can try to remove all directories/files inside the directory but leave the directory itself in place:

[code]

[2016-11-08 11:06] brucellino commented on #3391
Hi @jtyr

The patch fixed the first problem, but raised a second :

[code]

So, the _second_ open file task failed. When I tried the same trick as in #3005 , this resulted in a file not found :

[code]

It's not clear which file it's referring to, because those were certainly there.

(I tried what you referred to in https://github.com/ansible/ansible-modules-extras/issues/3391#issuecomment-2591089

[2016-11-08 17:08] dav1x commented on #3305
I'm working on a PR for this feature now. Will update shortly.

[2016-11-08 20:06] jbilbro commented on #3305
Awesome, @dav1x , thanks!!

[2016-11-08 22:37] hankok commented on #2956
I got the same issue, not fixed in the latest build Ansible 2.3 and 2.2

[2016-11-09 02:58] jsteinich opened #3397 "ec2_lc_find not returning AssociatePublicIpAddress"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ec2_lc_find

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No significant changes

##### OS / ENVIRONMENT
Started with Ansible Tower 3.0.3 on CentOS 7 x86_64
Did a yum update on ansible to 2.2.
Did pip install boto3.

##### SUMMARY
Running ec2_lc_find fails with a missing key for AssociatePublicIpAddress

##### STEPS TO REPRODUCE
[code]

#####

[2016-11-09 11:58] madrover commented on #3387
So the issues dues not seem to be related to the lack of the firewall but with isssues [loading _ firewall.client import Rich_Rule](https://github.com/ansible/ansible-modules-extras/blob/devel/system/firewalld.py#L435).

[code]

Oddly enough, the package are installed:

[code]

and I can see the files:

[code]

Any hint?

[2016-11-09 12:30] ravibhure commented on #3377
Duplicate #3350

[2016-11-09 15:26] ceving commented on #1792
Same problem here with Solaris 10 and Ansible 2.1.1.0.

[2016-11-09 17:11] shaharmor commented on #3290
I think its due to `production: yes` causing npm to return an error

[2016-11-09 21:23] brontitall commented on #1792
Hey, I'm afraid I do not currently use ansible, and have not for some years. Although I wrote this code some time ago, I no longer have the environment or knowledge to update it.

[2016-11-09 21:50] howardtsai opened #3410 "openvswitch_port cannot set port property on the 'openvswitch' port"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network/openvswitch_port.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Managing Open vSwitch running on Ubuntu 14.04/16.04.

##### SUMMARY
For each Open vSwitch instance (such as those created by using the network/openvswitch_bridge module), an implicit 'openvswitch' port that has the same name with the bridge

[2016-11-09 22:28] lupupitkanen commented on #3290
I have tried `production: yes/no`, `state: present/latest` and all combinations. The task status is always `changed` when `global: yes`. Ansible login to host as root without sudo.
- ansible-2.2.0.0-3.el7.noarch
- node: v6.9.1
- npm: 3.10.9
- hosts: CentOS Linux release 7.2.1511 (Core)

[2016-11-09 22:55] ghost commented on #3410
@howardtsai Thanks for the bug report. I submitted a PR (#3411) with your suggested fix.

[2016-11-10 01:31] edrozenberg opened #3415 "Cask installs that require a password fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
homebrew_cask

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
macOS Sierra 10.12.1 (16B2555)

One mac (controller) controlling another mac (minion) using normal ssh connection with ssh key.

##### SUMMARY
Some homebrew casks ask for a password during the installation process. It appears the ansible module does no

[2016-11-10 01:38] edrozenberg commented on #3415
Found that the issue has been discussed on homebrew cask, puppet, chef projects already:
https://github.com/caskroom/homebrew-cask/issues/5667
https://github.com/boxen/puppet-brewcask/issues/22
https://github.com/kitchenplan/chef-homebrewalt/issues/8

Some suggestions are to use sudo, but that would make the entire app owned by root instead of the regular user. Not sure if the issue needs to be ta

[2016-11-10 07:40] jean-christophe-manciot opened #3416 "blockinfile replaces the block instead of inserting it after EOF"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- host: Ubu

[2016-11-10 08:10] fbnfgc commented on #3377
Closing this issue, #3350 has been merged.

[2016-11-10 08:10] #3377 closed

[2016-11-10 08:35] fiunchinho commented on #3397
I've created #3417 that fixes this issue

[2016-11-10 13:09] #664 closed

[2016-11-10 13:39] HSadhotra commented on #2542
Hi
I am interested in contributing to the routeros support as well: starting some research on this

[2016-11-10 13:56] gelato opened #3418 "ovirt_vms: No module named enum"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_vms
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint 18
##### SUMMARY

ImportError: No module named enum While trying to use module - enum and enum34 are installed via pip
##### STEPS TO REPRODUCE

Clone ansible-modules-extras
run:

[code]

[code]

##### EXPECTED RESULTS

Runs without errors
##### AC

[2016-11-10 14:20] ccollicutt commented on #3277
Hi, I don't think boundary exists as a service any more, so I'm sorry but this module should just be removed. I actually thought it had been. My apologies.

[2016-11-10 15:43] machacekondra commented on #3418
How did you install the ovirtsdk4? Via pip or rpm? Also can you please try on the target system(s) run:

[code]

And then:

[code]

Do you see any issues?

[2016-11-10 16:55] krzysztof-magosa commented on #306
You need to use `new_only` option.
It changes behaviour from replacing list with changing just one item.

[2016-11-10 17:14] krzysztof-magosa commented on #3387
What's exact version of your CentOS?
For me this module works fine on 7.1 without any additional effort:

[code]

My system:

[code]

[code]

[code]

[2016-11-10 17:20] jean-christophe-manciot opened #3420 "Cannot pull facts over SSH with snmp_facts on ASA"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT

[2016-11-10 17:30] krzysztof-magosa commented on #3301
To resolve that problem you must assure that target host has PyYAML library.
Depending on system it may come from RPM/DEB package, or you can use pip.

---

In my opinion documentation should be clarified to inform users that target host must have `PyYAML` module installed.

Also module should check whether it has `PyYAML` installed and display 'nice' error in case it's not, like other modules do,

[2016-11-10 17:36] krzysztof-magosa commented on #2579
While it's good idea for new users it would break a lot of existing roles.

[2016-11-10 18:27] ogenstad commented on #3420
I don't have any problems running this against a virtual ASA running 9.4(1)200. I would be surprised if it wouldn't work on 9.5.

Have you verified that you are able to reach the ASA with SNMP outside of Ansible?

[code]

And just change it to your community.

Are you running Ansible from 172.21.100.1? Based on the above config that's the only host which will be allowed to poll the ASA.

[2016-11-10 18:32] ogenstad commented on #3176
It wouldn't be hard to create a provider option to set snmp version and snmp credentials as a variable.

But it sounds like you want to share the same variable between snmp and ssh modules?

[2016-11-10 18:46] mjschultz commented on #3380
resolved_by_pr #3380

[2016-11-10 19:33] jprorama commented on #2045
So, I've just come across this issue as well.  For me its rhel7 but that isn't significant.

I'm no Python expert, but digging around a bit makes me think that the problem is that vlan creation isn't even implemented in the code.  It looks like the code on  ansible-modules-extras/network/nmcli.py#L890 is just a stub that returns the nmcli command.

Executing my playbook for creating a vlan interfa

[2016-11-10 19:38] jprorama commented on #2045
OK.  Just found the initial commit message and see the vlan support was not initially included.  I'm assuming it hasn't been added yet.

It may help to note that in the documentation.

[2016-11-10 20:03] nergdron opened #3422 "ec2_vpc_nat_gateway fails with 'EC2' object has no attribute 'describe_nat_gateways'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_nat_gateway

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
pipelining=True
allow_world_readable_tmpfiles=True

##### OS / ENVIRONMENT
Ubuntu 16.10 laptop connecting to AWS.
Boto3 version 1.4.1.

##### SUMMARY
When attempting to create a new NAT gateway for a VPC, ansible errors out saying it can't find the attribute 'descr

[2016-11-10 20:47] maltefiala commented on #2045
nmcli is the standard network manager in RHEL. ansible belongs to Red Hat. It is really embarrassing that nmcli support in ansible is broken for months. I opened several issues and no one responsible replied. Only the bot kept spamming pings for the package maintainer. Alas, we need to run nmcli as a shell command. Yes, it is possible and not much of a hassle but it kind of defeats the purpose of

[2016-11-10 22:10] linuxdynasty commented on #3422
@nergdron, this error is implying that the underlying client instance is not instantiated with either ec2 or it is not using boto3. I just ran a test locally and it succeeded using Ansible 2.0.1.0 with boto3 1.4.1 installed. I will go ahead and test with Ansible 2.2.0 tomorrow and let you know if I run into the same issue.

[2016-11-10 22:17] mikecali opened #3423 "vmware_vm_shell: "The guest operations agent could not be contacted""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_vm_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
RHEL 7.2

##### SUMMARY
vmware_vm_shell module seems unable to find the vm shell on Vcenter even with successful login to vsphere. I am using this module to execute a script that is pre-loaded to the template that I baked using packe

[2016-11-10 22:37] nergdron commented on #3422
Just discovered there was old boto v2 packages on my system, not via pip, but from apt. I've purged all those, and now I get an error that boto3 is required, even though it is installed via pip:

[code]

It's strange since presumably ec2_vpc needs boto3 as well, and it works perfectly in the previous step. So I'm not sure why boto3 isn't correctly being detected for ec2_vpc_nat_gateway.

[2016-11-10 22:42] nergdron commented on #3422
Aha! looking at the -vvvv output more carefully let me see what was happening. All commands (even local ones) are run with:

[code]

So it wasn't picking up anything in the virtualenvs. Installed boto3 with sudo, and now it's visible to ansible and runs correctly.

Is there a bug about ansible using packages from local virtualenvs I can track? In any case, this isn't a bug, thanks for pointing me

[2016-11-10 22:42] #3422 closed

[2016-11-10 22:43] bcg62 commented on #3415
https://github.com/chef-cookbooks/homebrew/issues/111

[2016-11-11 00:47] edrozenberg opened #3427 "osx_defaults - 'Type mismatch' error if default previously set with different type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
osx_defaults

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.12.1 (16B2555) managing the same

##### SUMMARY
When using the ansible osx_defaults module to set a default, and the default is already set but with a different type, an error is generated. Running ```defaults write ...``` from the command li

[2016-11-11 00:57] linuxdynasty commented on #3422
@nergdron, I was going to ask you if you were using virtualenv. I'm glad you found the issue.

[2016-11-11 01:14] velotraveler opened #3428 "iptables module always installs duplicate rules with older versions of netfilter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

  iptables
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

from OS: Red Hat Enterprise Linux Server release 6.6 (Santiago) / iptables 1.4.7
managed OS (2 hosts):
 - Red Hat Enterprise Linux Server release 5.8 (Tikanga) / iptables 1.3.5
 - Red Hat Enterprise Linux Server release 6.6 (Santiago) / iptables 1.4.7

#####

[2016-11-11 04:10] n0ts commented on #2837
resolved_by_pr

[2016-11-11 05:33] wshallum opened #3429 "maven_artifact fails if repository_url not specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`repository_url` is supposed to default to `http://repo1.maven.org/maven2` if not specified, however the change to support S3 URLs parsed the URL parameter (which defaults to `None`) before it can be changed to the default value.

####

[2016-11-11 07:47] gelato commented on #3418
@machacekondra I've installed it via pip (ubuntu-based system)

[code]

Everything's ok when importing...

[2016-11-11 08:25] gelato opened #3430 "Ovirt module reports that SDK is missing while it is installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint 18
##### SUMMARY

I get the error: "ovirtsdk required for this module" when try to run this module, but ovirt-engine-sdk (3.2.0.11-SNAPSHOT) is installed and i can successfully import it via python2 cli.
##### STEPS TO REPRODUCE

apt-get install ansibl

[2016-11-11 09:38] ceving commented on #1792
I have the environment and have tested it. And the proposed fix is quite simple. Maybe someone else can accept the bug fix.

[2016-11-11 12:26] madrover commented on #3387
Here you have my data:

[code]

Likewise, this happens as well in ansible 2.1.3.0:

[code]

However, if I upgrade to ansible 2.2.0.0 it works:

[code]

I'm not sure what's the support plan for the 2.1 series. Might this be fixed on it or our only option is to upgrade Ansible to 2.2?
We tend to develop for a specific Ansible version to avoid unexpected behaviors so changing versions is something th

[2016-11-11 12:31] gelato commented on #3430
Nvm, it actually runs on remote host, that's why it reported missing sdk...

[2016-11-11 12:31] #3430 closed

[2016-11-11 14:37] bcoca commented on #1792
so the code already has similar fix in place, is this still an issue in 2.2?
`if rc not in (None, 0, 2, 10, 20):`

[2016-11-11 15:16] Sodki commented on #2956
I'm affected by the same issue after updating to Ansible 2.2.

My use case is that I need to know the IP address before I launch a new machine. My solution was to create an ENI, obtain the IP address from it and then launch the machine, but my code is now returning an existing ENI instead of creating a new one. This is what I'm doing (and failing):

[code]

From the above, there is nothing that ca

[2016-11-11 15:30] Sodki commented on #2956
@wimnat Can you remove the `needs_info` label, please? @KpaBap might be unresponsive, but there are other responsive people affected by this issue (like me) and it would be a shame to see it closed by @ansibot.

Having a new parameter to always create an ENI is a workaround, but it still feels that the current idempotency logic is flawed.

[2016-11-11 17:16] dohnuts commented on #2799
I do not find resolved_by_pr 2868, nor i can obtain a certificate with -letencrypt in # ansible --version
ansible 2.2.0.0

With the test api it works, but i change to production api i have a CODE 4 error.

I can curl the challenge.

[2016-11-11 18:48] jean-christophe-manciot commented on #3420
@ogenstad
Yes to all questions:

[code]

And from the ASAv:

[code]

[2016-11-11 18:50] jean-christophe-manciot commented on #3176
@ogenstad
We would need only one line of code for passing all parameters when calling the module, and we can have an automatic dependency on the type of caller (group_vars/host_vars). .

[2016-11-11 18:53] jean-christophe-manciot commented on #3176
Also, there will be an issue with the usual Ansible parameter "username" which would collide with SNMPv3 "username".

[2016-11-11 18:59] ogenstad commented on #3420
Looking at the error where you initially reported the issue it says that it fails to connect with ssh. The snmp_facts module needs to be run in local mode. Are you using `connection: local`?

[2016-11-11 19:00] jean-christophe-manciot commented on #3176
My `provider` proposal for that `snmp_facts` module is:

[code]

[2016-11-11 19:12] jean-christophe-manciot commented on #3420
Yes through `ansible_connection: local`

[2016-11-11 19:15] ogenstad commented on #3420
Then I don't see why it would complain about ssh. Can you show your setup with the inventory file and playbook you are using?

[2016-11-11 19:19] akloeber opened #3442 ".npm cache gets populated at /root with ownership of sudo user"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
npm module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
If a module is installed globally the ownership of npm's cache (the `.npm` folder) after provisioning is not correct which causes subsequent errors and strange behaviors due to wrong permissions on that folder.

After provisioning with

[2016-11-11 20:57] #3397 closed

[2016-11-11 21:02] #3380 closed

[2016-11-11 22:00] basictheprogram opened #3443 "known_hosts returns rc:1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Stock configuration

##### OS / ENVIRONMENT

Management host macOS 10.12.1
Manage host Ubuntu Xenial 64-bit

##### SUMMARY

known_hosts fails when trying to add keys to known_hosts file

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

 The contents of  /etc/ssh/ssh_host

[2016-11-11 22:26] basictheprogram commented on #3443
Looks like ssh-keygen does not like a -f filename when that file does not exist.

[code]

ssh-keygen(1)
     ssh-keygen -F hostname [-f known_hosts_file] [-l]

Not sure why the module is not using my path: shouldn't the invocation be

[code]

known_hosts.py:192 is the problem

[code]

rc=1, since check_rc=True no useful error message

[2016-11-11 22:44] #3249 closed

[2016-11-11 23:07] rmorlok commented on #3015
Please note my comments on the PR.

[2016-11-11 23:12] rmorlok commented on #2795
@rafi can you confirm if this is resolved by #2593?

[2016-11-12 00:49] basictheprogram commented on #3443
I think a work-around like in the search_for_host_key() where stdout=='' and stderr=='' and (rc==0 or rc==1) is used

[2016-11-12 09:03] codegastudio opened #3444 "Letsencrypt Certificate public key must be different than account key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Letsencrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

MacOS Sierra to Ubuntu 14.04.2 LTS trusty

##### SUMMARY

Follow steps describe in [letsencrypt_module](https://docs.ansible.com/ansible/letsencrypt_module.html) and get error

At first run, i get error during ' letsencrypt step two'.
At second run,

[2016-11-12 09:32] jean-christophe-manciot commented on #3420
How does your module get the SSH credentials or private key necessary to log into the target?
Does it assume a default path of ~/.ssh/id_rsa?
What if it is located somewhere else or with a different name?

[2016-11-12 09:51] krzysztof-magosa commented on #3376
It looks that for some reason plugin manager in ES 5.0 does not accept option `--timeout` anymore.
Maybe it's removed completely or maybe it can be specified other way.

[2016-11-12 16:04] edrozenberg opened #3446 "homebrew module needs '--force' for ex. when multiple versions of a pkg installed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
homebrew

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.12.1 (16B2555) managing same

##### SUMMARY
There are various cases where passing '--force' to a homebrew action is useful.

For example:
* Once in a while have multiple versions of the same brew installed, such as php56-xdebug 2.4.1 and 2.3.3.

[2016-11-12 16:31] edrozenberg commented on #3446
`--force` applies to several brew actions, would be good if the ansible module could have an force option available for the various actions it can do.

[2016-11-12 16:46] krzysztof-magosa commented on #3387
Hi @madrover
Are you sure `firewalld` service is running?
Code in Ansible 2.1 does not differentiate between lack of firewalld library for python and between lack of connection to daemon - the displayed error is the same.

[code]

[2016-11-12 17:17] krzysztof-magosa commented on #2437
It looks that `maxResults` parameter should be raised or maybe module should use pagination and fetch unless there is no more data.

http://boto3.readthedocs.io/en/latest/reference/services/ecs.html#ECS.Client.list_services

[code]

I've checked also AWS documentation and I don't see how big `maxResults` parameter can be.
http://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListServices.ht

[2016-11-12 17:54] lbischof opened #3447 "ovirt_vms: Support multiple Cloud-Init NICs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ovirt_vms

##### SUMMARY
Would it be possible to support multiple network interfaces for Cloud-Init? I could write a pull request, but I'm not sure how it should work:

1. Support ip/netmask/gateway etc in the nics option that is already there (not cloud-init)
2. Add an optional nics dictionary list as a subitem of cloud-init
3. Some as above

[2016-11-12 19:09] krzysztof-magosa commented on #2264
I'll provide bugfix in few hours, already found reason why it does not work.

[2016-11-12 20:42] krzysztof-magosa commented on #3375
Didn't look too deep, but probably related: https://github.com/ansible/ansible-modules-extras/pull/3431

[2016-11-12 20:43] krzysztof-magosa commented on #3387
needs_info

[2016-11-12 22:24] albertca opened #3450 "dnsimple does not return all records"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnsimple

##### ANSIBLE VERSION
2.1.3.0

##### SUMMARY
According to dnsimple docs [1] it should be possible to list all records of a given domain but it actually is not.

[1] http://docs.ansible.com/ansible/dnsimple_module.html

##### STEPS TO REPRODUCE
- Register a domain  in dnsimple.com
- Create a record
- Try to fetch its record using the do

[2016-11-12 23:33] danvaida commented on #3261
@steynovich you'll be pleased to hear the news 😄
After working with the `s3_website` module and seeing it failing in a similar manner (500 error) I found out the culprit: the `EC2_URL` environment variable! I have this normally set to `https://ec2.<region>.amazonaws.com`. I'm thinking boto3 doesn't like it. I'll go ahead and investigate deeper.
Anyway, your module is working as expected.

[2016-11-12 23:33] #3261 closed

[2016-11-13 00:22] subtubes-io commented on #3376
I am getting the same thing. Does not look like an Ansible 2.2 specific thing. I am getting this on Ansible 2.1.2.0 Basically this option is no longer supported.

[2016-11-13 00:49] fionera opened #3452 "Cannot create a VM with Ansible-Proxmox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Proxmox

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 24

##### SUMMARY
Cannot create a new Container
{"changed": false, "failed": true, "msg": "creation of lxc VM 500 failed with exception: 501 Not Implemented"}

##### STEPS TO REPRODUCE

Create a new VM with Ansible-Proxmox

[code]
##### EXPECTED RESULTS
A c

[2016-11-13 07:28] mikecali commented on #3423
Still waiting for update here..

[2016-11-13 10:13] ogenstad commented on #3420
SSH is never used. This module only collects data through SNMP. I'm guessing you aren't using `connection: local`.

This is an example setup

Inventory file - asa-host:

[code]

Playbook file - asa-snmp.yml:

[code]

Running the playbook:

[code]

Could you try with that exact setup?

[2016-11-13 11:43] ritzk commented on #3423
@mikecali is vmware-tools installed and running on the guest ?

[2016-11-13 15:30] cidrblock opened #3454 "asa_command loses first line for show version, possible prompt detection issues?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

it appears the first line of `show version` when using the asa_command module is missing.

[code]

[code]

##### STEPS TO REPRODUCE

Use the ASA command module for a `show version` on an ASA context firewall.

[code]

##### EXPECTED RESULTS

[2016-11-13 18:10] yaegashi commented on #1926
I intentionally used `startswith()` to give some flexibility or noise immunity in marker line matching, however I admit it can play harmfully, and I don't cling to my original idea now.

Sorry for your inconvenience for a long time, and thanks @kokinomura for #3339.  Other PRs for further improvement would also be welcome (but please consider compatibility too).

[2016-11-13 18:33] mikecali commented on #3423
@ritzk, the guest has vmware-tools installed.

Running, version:2147483647 (Guest Managed)

Thanks.

[2016-11-13 19:32] ramondelafuente commented on #3164
@plunchete Any news from the Slack front? Ansibot is on my case ;-)

[2016-11-14 01:48] ghost commented on #1746
@stepanstipl. Just came across this problem myself in something that I'm writing. Looks like PR #2959 works from my testing so far. Though I can't say that's full testing yet.

[2016-11-14 08:47] madrover commented on #3387
aha! You nailed it there.
I'm using [Vagrant's vanilla Centos 7 box](https://atlas.hashicorp.com/centos/boxes/7) to test our playbooks and it does not have Firewalld service enabled by default. Once started the Firewalld service has been started the module has starter working correctly:

[code]

So the workaround for Ansible 2.1 is to ensure that Firewalld service is started before executing any F

[2016-11-14 08:47] #3387 closed

[2016-11-14 08:49] machacekondra commented on #3447
I think option 1) isn't correct as cloud_init isn't necessarily connect to nics.
Option 2) would be too nested, which is not way ansible do things...
I think we should introduce new parameter `cloud_init_nics`, which should deprecate `nic_` options in `cloud_init` dict. My bad I didn't did it at the beggining. What do you think?

[2016-11-14 09:09] dixhuit commented on #2579
Can you not effectively alias `osx_defaults` to `macos_defaults`and flag its use as "soon to be deprecated"? That would support both new users and existing roles until it is actually deprecated (which of course could be as far into the future as is required).

[2016-11-14 10:12] berislavlopac opened #3458 "locale_gen fails when using Python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`locale_gen`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
```ansible_python_interpreter: "python3"```

##### OS / ENVIRONMENT
Ubuntu Xenial 16.04

##### SUMMARY
When using Python 3, running a task with `locale_gen` fails.

##### STEPS TO REPRODUCE
1. Set a task using `locale_gen`; in my case it was:
[code]
2. Set `--ansible_python_interpr

[2016-11-14 10:14] berislavlopac commented on #3458
The culprit is the use of `LOCALE_NORMALIZATION.iteritems()` instead of `LOCALE_NORMALIZATION.items()`, which should not be a problem even in Python 2 since `LOCALE_NORMALIZATION` is quite small. I'm already working on the pull request.

[2016-11-14 10:17] yaegashi commented on #3052
notabug

[2016-11-14 10:28] yaegashi commented on #3416
That's an expected behavior.  See [module documentation](https://docs.ansible.com/ansible/blockinfile_module.html):

notabug

[2016-11-14 10:36] jean-christophe-manciot commented on #3416
Thanks, so I just need to insert a loop dependant item inside the mark.
I'll try later.
However, the module doc does not clearly state that it is **necessary** to change the marker for each loop iteration for the operation to function as expected.

[2016-11-14 10:43] stepanstipl commented on #1746
@jm-oss Thanks, good to hear. It would be good to get this merged.

[2016-11-14 10:43] #3416 closed

[2016-11-14 10:44] #3052 closed

[2016-11-14 11:04] TheGuyDanish opened #3461 "Add a cluster filter to the vmware_portgroup module."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_portgroup

##### SUMMARY
In certain situations, adding a portgroup to a vCenter may only be desirable upon a single cluster. For example if other clusters are also present in the vCenter that are not identical in hardware and won't be compatible with the desired changes.

I imagine it would be another option to the module, called 'clust

[2016-11-14 13:34] rosmo commented on #3169
@gwachter77, Can you create a PR with the fix?

[2016-11-14 13:35] alvaroaleman opened #3462 "consul_kv: Missing support for TLS client certificates"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION

[code]

##### SUMMARY

When securing Consul communication vie TLS, client certificates are needed to authenticate to Consul.

It would be nice if it was possible to use the consul_kv module to talk to a TLS-secured Consul.

[2016-11-14 14:37] #3305 closed

[2016-11-14 14:54] wenottingham commented on #3059
OK, so here's what I think might be useful as 'fixes' to come out of this:
- [ ] Fix location/categorization such that these all end up in the same place in the docs (two are in 'cloud/misc', the rest in 'cloud/ovirt'
- [ ] Update description and module docs to more clearly define what versions of oVirt (and RHEV) they work to manage

Mostly just want to avoid drive-by confusion (like I had). Comm

[2016-11-14 15:25] ncelebic opened #3463 "firewalld: Allow Service definition and Source IP/Block specification"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Redhat 7+

##### SUMMARY
The firewalld module should be improved to allow more basic functions.  Right now, you can allow everything from a host, everything to a port, everything to a previously defined service, or a rich rule, which includes everything else.  There should be a wa

[2016-11-14 16:03] eoli3n opened #3465 "npm "fs" package installation is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
installing "fs" package with npm module is always "changed" status

##### STEPS TO REPRODUCE
Try to install "fs" twice.
In example below, express is already installed.

[code]

[2016-11-14 16:11] oncipriani opened #3466 "zabbix_host fails if called to create/update a host when "force: false""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The module "zabbix_host" fails if called to create/update a host on Zabbix when "force: false".

##### STEPS TO REPRODUCE
1. Make sure the host you are trying to create/update already exists on Zabbix server;
2. Use the "zabbix_host" mo

[2016-11-14 16:36] LorenzBischof commented on #3447
Sounds great

[2016-11-14 18:11] j-carl commented on #3324
resolved_by_pr #3467

[2016-11-15 08:41] eoli3n opened #3470 "npm "mongodb" package error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Installing "mongodb" package with npm module failed with module error

[code]

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS
[code]

[2016-11-15 08:52] eoli3n commented on #3470
This module is boring... i have soooooooo many errors. Here's a temporary workaround

[code]

[2016-11-15 09:01] dwoo4dwoo opened #3471 "win_updates: Windows Malicious Software Removal Tool failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux foo 3.10.0-327.4.5.el7.x86_64 #1 SMP Mon Jan 25 22:07:14 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.2.1511 (Core)
Windows Server 2016

##### SUMMARY
Windows Malicious Software Removal Tool always causes a failure.  It looks like KB89

[2016-11-15 09:50] #630 closed

[2016-11-15 10:03] sharsh opened #3472 "regex support in jboss module"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
jboss module
##### ANSIBLE VERSION: 2.2.0.0
##### OS / ENVIRONMENT : N/A
##### SUMMARY
Good to support regex in order to identify previously deployed file version, undeploy and deploy new file
example :
jboss.yml snippet

Run command

[code]

[2016-11-15 10:55] hyperized opened #3473 "ec2_snapshot_facts broken filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_snapshot_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
When running the ec2_snapshot_facts task with a owner filter the module breaks.

##### STEPS TO REPRODUCE
Owner ID is real and correct, but obscured for the purpose of this issue.

[code]
And:
[code]
Both result in:
[code]

#####

[2016-11-15 12:14] machacekondra commented on #3418
@gelato I've tried with following Dockerfile to reproduce:

[code]

[code]

[code]

Everything is fine. I think that your system is misconfigured. Can you please ensure your libraries are correct.

[2016-11-15 15:33] krzysztof-magosa commented on #3376
Ansible module will need to check whether ES is 5.x and if so - don't specify timeout.

[2016-11-15 16:53] plunchete commented on #3164
@ramondelafuente they actually sent me an update a couple of days ago, this is what they said

and

I'm happy to test what works and what doesn't and submit a PR with the encoding when necessary

[2016-11-15 17:48] omgjlk commented on #3046
This is biting us too :(  Is this module maintained any more?

[2016-11-15 18:08] jean-christophe-manciot commented on #3420
My global variable "ansible_connection" wasn't included into the role somehow.
Including it solves this.
However, that means that all information travels in clear text over the network.
It's too bad considering that Ansible offers SSH encryption by default.
Could you consider adding SSH support to your module, as requested [here](https://github.com/ansible/ansible-modules-extras/issues/3176#issuec

[2016-11-15 19:21] stomplee opened #3476 "Remove ESXi hostname requirement from vmware_guest module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When using VMWare vCenter either via the GUI or powershell, vCenter itself is the mechanism by which your destination ESXi host is chosen yet this vmware_guest ansible module is requiring you to manually specify the destination ESXi host whic

[2016-11-15 20:07] dav1x commented on #2796
Working on a PR to add the note or annotation. It is complete and I am testing. Will update this issue when added. Have not started resource pool yet

[2016-11-15 20:51] krzysztof-magosa commented on #3367
The same problem with Ansible 2.2.0 installation from EPEL.

[code]

[2016-11-15 21:18] dav1x commented on #3476
DRS, HA and cluster technologies are defined at the cluster level. @jctanner added cluster support in a previous PR. This should close this issue. I believe he is updating the docs to reflect that.

@stomplee let me know if I can help further

[2016-11-15 21:21] jctanner commented on #3476
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/3479

[2016-11-15 22:14] garrettkyle commented on #3476
Ok sorry I'm new to this whole Ansible thing.  A coworker is better versed in this and directed me to look at the actual code which shows that ESXI_hostname is not required when a cluster is specified.  That said, could it not by default specify the default VMWare cluster name that is used if you don't specify otherwise when the cluster is created?

I'm also wondering about the apparent lack of do

[2016-11-15 23:11] krzysztof-magosa commented on #1533
`user` module has parameter `update_password` parameter.
I believe `rabbitmq_user` module should follow that.
The only problem is that `rabbitmqctl` does not report whether password has been changed or not:

[code]

[2016-11-15 23:29] krzysztof-magosa commented on #859
@Draiken, could you explain me what's the exact issue here?
`rabbitmq_user` gets list of permissions so you have full flexibility.

[2016-11-16 01:35] nathanhruby commented on #428
just upgraded to 2.2.0.2 and confirm 100%FREE lvols are still causing this error

[2016-11-16 02:12] #3476 closed

[2016-11-16 09:56] Draiken commented on #859
Hi!
It's been so long I'm going to try my best to recall the circumstances when I opened this.

The `rabbitmq_user` manages a single list of permissions, but users can have multiple permissions (eg. multiple vhosts). I had written a `rabbitmq_permission` custom module that handled the permissions part allowing me to have a user with multiple permission sets and created this issue asking if it woul

[2016-11-16 11:07] krzysztof-magosa commented on #859
But you can do:

[code]

[2016-11-16 13:27] Draiken commented on #859
Was this added in the last year or so?
If this works, then you can close this issue. I don't recall this existing when I opened the issue, but then again, I don't remember much from that time :smile:

Thanks for finally looking into it

[2016-11-16 13:29] Draiken commented on #859
Yes! it was added here apparently https://github.com/ansible/ansible-modules-extras/commit/09268b1a481040bf50c2250a18b8108a35e6faeb

I believe this issue can be closed.

[2016-11-16 13:45] krzysztof-magosa commented on #859
I believe you can close ticket?
If so please do that, I cannot.
Cheers.

[2016-11-16 14:07] gundalow commented on #3420
@privateip @Qalthos What do you think, is this something we can do?

[2016-11-16 14:38] #859 closed

[2016-11-16 14:53] ogenstad commented on #3420
The name of the module is snmp_facts and the description is: "Retrieve facts for a device using SNMP."

The module also supports SNMPv3 which would make the information encrypted.

I don't see how this would work through SSH. If the device supported Python and could run the script locally.

From my perspective this bug report should be closed given that the module works as expected.

On the other

[2016-11-16 15:30] burns498 commented on #2616
Hello - Have we found a resolution to this issue? I can also confirm this behavior when a marker="" is set.

To note, it seems that this may only occur for the first block. I have ran several tests and the last line is only clobbered for the first block after the first append (ie: the second block clobbers the first). Subsequent blocks play nice together.

[code]

Sample output:

Thanks

[2016-11-16 15:51] jjshoe commented on #3046
@j2sol put up a PR, I'm happy to review/get it merged in.

[2016-11-16 17:46] pa7ac opened #3482 "vmware_guest scsi controller type ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default
##### OS / ENVIRONMENT

N/A

##### SUMMARY

When cloning a new vm from template the given value for parameter scsi is ignored and controller in vm is always paravirtual even if controller in template is LSI_parallel

##### STEPS TO REPRODUCE

Create vm from template usin

[2016-11-16 19:48] abaschen commented on #2139
Apparently this https://github.com/ansible/ansible-modules-extras/commit/1db36bea62d032f841153f2abd04d84fceb48fa7 fixes the issue. consider review for closing

[2016-11-17 00:10] Constantin07 commented on #3473
@hyperized in the first example that happens because owner id it treated as integer in the list instead of string.
Try to tell Ansible to treat it as string explicitly:

`
owner_ids:
          - "8511611*****"
`

or try the fix available here #3488

[2016-11-17 04:56] yaegashi commented on #2616
I believe the current behavior described here will be affected by #3339.  Please test again after it gets merged to devel.

By the way I've never expected any valid use case for `marker=""`; it might be desirable it should raise an error when no `{mark}` keyword found in `marker`.  Any comments?

needs_info

[2016-11-17 06:14] sbwoodside opened #3489 "blockinfile with delegate_to: localhost results in 1 entry instead of multiple entries"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X El Capitan 10.11.6 (15G1108)

##### SUMMARY
I'm attempting to construct an SSH configuration file on the local machine that will contain `Host` entries for each of the servers in the group. I have 4 remote hosts in this case. I expected that `blockinfile

[2016-11-17 09:04] aperigault opened #3490 "vmware_guest is very slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
I have a lot of VMs and folders in my vcenter and _build_folder_map function take approximately 3 minutes to run.
Have you an idea to accelerate it ?

[2016-11-17 09:26] AlekseyKrylov opened #3491 "unable shutdown vmware guest. only power off"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### SUMMARY

Unable to shutdown/restart vmware guest using the Guest Operations Manager

##### EXPECTED RESULTS

These methods are implemented by https://github.com/ViaSat/ansible-vsphere

[2016-11-17 09:55] mischapeters commented on #3302
👍

[2016-11-17 13:35] acharrett opened #3493 "route53_zone fails if the private zone configured in the play already exists."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
route53_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
$ cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

$ rpm -q ansible
ansible-2.2.0.0-3.el7.noarch

$ rpm -qa|grep boto
python2-botocore-1.4.58-1.el7.noarch
python2-boto3-1.4.0-1.el7.noarch
python2-boto-2.43.0-1.el7.noarch

##### SUMMARY
route53_z

[2016-11-17 15:59] burns498 commented on #2616
Thanks @yaegashi, sounds good.

To comment, I at least was using a marker="" for the blockinfile module such that I could append blocks of text to a file. I had found that setting "insertafter: EOF" still overwrote until I set marker="". I found the suggestion in [issue 14363](https://github.com/ansible/ansible/issues/14363). Definitely willing to use a different multi-line append option if this i

[2016-11-17 18:18] #3324 closed

[2016-11-17 18:24] #3155 closed

[2016-11-17 18:28] #1926 closed

[2016-11-17 23:34] #3458 closed

[2016-11-18 10:00] tmshn commented on #3335
This bug is resolved_by_pr #3337

[2016-11-18 10:17] #3335 closed

[2016-11-18 11:31] ktakashi commented on #2547
I've tried the `file://` prefix and got the error like this:

[code]

In the repository directory there's `maven-metadata-local.xml` but no `maven-metadata.xml`

[2016-11-18 14:09] ceving commented on #1792
Sorry have only 2.1.1 in the Solaris environment and can not test 2.2.

[2016-11-18 15:30] ericchou1 commented on #3302
Merged the modification in Pull Request https://github.com/ansible/ansible-modules-extras/pull/3239.

[2016-11-18 16:25] augusto commented on #1813
+1
I get this on 2.0.1.0 even if I paste the raw, minified, escaped (valid) json inside the task.yml file. Here's an example

[code]

The error I get back is:
`"msg": "Policies must be valid JSON and the first byte must be '{'"`

[2016-11-18 16:52] twistyWater opened #3498 "win_robocopy: The variable '$changed' cannot be retrieved because it has not been set."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_robocopy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
host_key_checking = no

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes

##### OS / ENVIRONMENT
Running ansible from ubuntu bash on windows 10 anniversary
Running win_robocopy on host windows

[2016-11-18 20:37] ramondelafuente commented on #3164
That sounds as confusing as the docs 😂
Thanks for putting in the effort, I appreciate that as I currently have a lot less time to maintain stuff than I had when I wrote this module. 👍

[2016-11-18 21:48] ajmora7 commented on #2215
@jhawkesworth I'm running the command you suggested within a playbook and getting the same error stating ansible is unable to connect that @sayantandas was receiving as well. Any advice?

[2016-11-19 07:09] wimnat commented on #2956
So how about we just create new if IP isn't provided?

If the user wanted to NOT create a new eni if a subnet already had one then you could just use eni_facts module to count the number of existing ENIs and then use a when: statement on the eni module

[2016-11-19 22:34] iredmail commented on #1910
This issue still occur with Ansible-2.2.

[2016-11-19 23:38] mikecali commented on #3423
@ritzk and @chrrrles any help on this will be really appreciated.

[2016-11-20 10:10] loia commented on #3220
notabug

@danvaida There's a couple of issues with your policy causing it to not be idempotent:
- Missing `Version` parameter (e.g. `2018-10-17`).  AWS automatically uses a default value if you don't supply one.  The default value could be changed by AWS over time so its probably safer for this module not to make any assumptions here.
- `Statement` needs to be a list instead of an object (dict).

[2016-11-21 08:06] #3418 closed

[2016-11-21 08:06] gelato commented on #3418
Sorry, on other system everything works fine.

[2016-11-21 08:14] gelato opened #3501 "IPA: modules report failed state when no changes are made"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipa
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint 18
##### SUMMARY

Instead of doing nothing ansible modules report failed state when no changes are made.
##### STEPS TO REPRODUCE

Run ipa modules imputing cyrilic data multiple times

[code]

##### EXPECTED RESULTS

Ansible won't report failed state
###

[2016-11-21 08:18] gelato commented on #3501
@Nosmoht Sorry to submit this issue so late, i was ill, so couldn't reach pc.
Previously you told that this is unicode issue.

[2016-11-21 08:41] Trikke76 opened #3502 "support for zabbix maintenance to modify the period"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- monitoring/zabbix_maintenance.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The module creates or deletes a maintenance periode in zabbix. But it would be nice if the role would also give the option to update a role.
sometimes you want to deploy a system with a role name that is the same as an

[2016-11-21 13:57] #3220 closed

[2016-11-21 14:58] Nosmoht commented on #3501
Thanks @gelato for opening the issue. I could already reproduce the error. Seems that it is an unicode issue. I'm working on a fix already.

[2016-11-21 15:10] ric79 commented on #3000
Hello! News about that?

[2016-11-21 15:20] FelixDefrance commented on #3489
Hi,

Same issue here, so i use with_items, but the issue still there. And if I use "content" instead of "block" we get other strange results..

Step 1: "with_items" and "content" (same issue as initially reported)

[code]

[code]
EXPECTED RESULTS
[code]

ACTUAL RESULTS
[code]

Step 2: "with_items" and "block"

[code]
EXPECTED RESULTS
[code]

ACTUAL RESULTS
[code]
ENVIRONNEMENT

ansible 2.1.1.0 on

[2016-11-21 16:33] qji77 opened #3505 "capabilities: show "changes" all the time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
capabilities

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special.

##### OS / ENVIRONMENT
I use Ubuntu (14.04 and 16.04) on both side, but I guess the issue is more generic.

##### SUMMARY
I use the capabilities module to set cap_net_raw=pe capability on a binary, like this:
[code]
Ansible reports this task as changed all the time

[2016-11-21 17:02] FelixDefrance commented on #3489
I try to use register, but no gain :(

[code]
ACTUAL RESULTS
[code]

[2016-11-21 17:12] Nosmoht commented on #3501
How to reproduce
[code]
results in
[code]
So the IPA server itself saves the strings as unicode. As the module does not encode/devoce any in- or output the comparison in method get_user_diff/get_group_diff
[code]
returns always true and the module tries to update the record.

[2016-11-21 18:16] natefoo commented on #3505
This is explained in [the documentation](http://docs.ansible.com/ansible/capabilities_module.html):

That said, I suppose there's an alternative: Rather than comparing the current capabilities before setting to the desired capabilities and using that comparison to determine change, we could just compare the capabilities as reported by `getcap` before and after running `setcap` and if the output is

[2016-11-21 18:23] thiagoalves opened #3506 "lvol is trying to shrink logical volume with fixed size when executed twice"
ISSUE TYPE: Bug Report
COMPONENT NAME: lvol
ANSIBLE VERSION: ansible 2.2.0.0
CONFIGURATION: no changes
OS / ENVIRONMENT: Ubuntu xenial 16.04 (Linux 4.4.0-47-generic #68-Ubuntu SMP x86_64) -

##### SUMMARY
lvol is creating the logical volume correctly at the first run, but after running the same playbook again without modifications, an error message is displayed: "Sorry, no shrinking of lv_default

[2016-11-21 20:54] yaegashi commented on #3489
You cannot concat text fragments in a single block by calling blockinfile multiple times.  It simply replaces the content of the block every time and only the last one remains there.  Document also says in [notes](https://docs.ansible.com/ansible/blockinfile_module.html#notes):

notabug

[2016-11-21 21:04] #3489 closed

[2016-11-21 22:33] jmighion opened #3509 "Null check needed when comparing old vs new data for registry entry"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory = ./hosts
log_path = ./ansible.log

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If the registry data is null, win_regedit throws an error on line 164 of win_regedit.ps1 because the currentRegistryData is null.

Compare-RegistryData -ReferenceData $currentRegis

[2016-11-21 22:44] jmighion opened #3510 "win_regedit is not idempotent for multistring datatypes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory = ./hosts
log_path = ./ansible.log

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The win_regedit module does not compare multistring data correctly to determine if it needs changing or not. For Windows, multistring values are null terminated strings https://msd

[2016-11-22 04:03] yshnb commented on #957
I'm facing same problem too. versions are below

- ansible 2.2.0.0
- Ubuntu 16.04.1 LTS
- npm 3.10.8

[2016-11-22 06:14] gelato commented on #3501
I have to add that something similar happens with group module - it adds users to group only at first run. On second run only first added group is modified.

[2016-11-22 07:37] tsboj17 commented on #3490
+1
I only want to gather the facts with this module and it costs 4-5 minutes per VM.

[2016-11-22 09:37] FelixDefrance commented on #3489
Ahh voila!
Thanks for the link.

The workaround works by add this line in my code.

The result is different (ugly)

[code]

[2016-11-22 11:19] dagwieers commented on #2536
@rhorer I must have missed your response earlier.

- The broken Python setup I cannot easily fix as it is unrelated to Ansible. I would doubt this is a bug in Solaris, but if you have it on all your (updated) Solaris 10 systems I would report it to Oracle Support. They are being paid to help you on this. Unless the python is coming from another party like OpenCSW ?

- Regarding sending the mail fr

[2016-11-22 14:24] Lowess opened #3514 "ec2_elb_facts module broken when no names are provided"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special
##### OS / ENVIRONMENT

[code]
##### SUMMARY

```ec2_elb_facts``` module is broken in the version shipped with ansible 2.2.0.0.

The module throws the following exception when no ELB names are provided:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2016-11-22 14:39] Lowess commented on #3514
The fix is here: [#3516](https://github.com/ansible/ansible-modules-extras/pull/3516)

[2016-11-22 14:49] #2536 closed

[2016-11-22 15:37] philicious opened #3519 "win_acl error with having LDAP signing enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none / default

##### OS / ENVIRONMENT
managing Windows7 from MacOS 10.11

##### SUMMARY
win_acl is failing if having LDAP signing enabled

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ACL for that folder updated

##### ACTUAL RESULTS

[code]

[2016-11-22 15:46] bendoh commented on #3367
Hmm, yeah, while I'm the module maintainer, I'm not responsible for handling releases – So I'm not exactly sure why this isn't in that release.

[2016-11-22 16:16] bendoh commented on #3367
Perhaps @jimi-c or @mattclay will be able to chime into why the module isn't part of the release?

[2016-11-22 16:52] jhawkesworth commented on #2072
@michelleperz Hi - can the fix I made for this on https://github.com/ansible/ansible-modules-extras/issues/3257 be tested?  I'm fairly confident it will fix this - then we can get the fix merged and this issue closed.

[2016-11-22 19:14] angystardust commented on #3506
@thiagoalves this issue has already been reported in #428

[2016-11-22 20:07] tomislacker opened #3521 "ec2_elb_facts should support check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
*N/A*

##### OS / ENVIRONMENT
*N/A*

##### SUMMARY
Since the `ec2_elb_facts` is strictly a read-only operation, it should support running with `--check`

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
It would be expected that `ec2_elb_facts` would still fetch th

[2016-11-23 01:51] jcst commented on #2445
It seems to be resolved for me now :

[code]

[code]

[code]

[2016-11-23 01:51] #2445 closed

[2016-11-23 07:22] karlism opened #3525 "vmware_guest: machine deployment without templates"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### SUMMARY

Can you please add feature to create VM without any templates specified? We used this scenario with old _vsphere_guest_ module previously, and by default new VMs booted from network and rest of the deployment was automated by kickstart. With vmware_guest module this is no longer pos

[2016-11-23 09:10] choallin opened #3526 "Unreachable lxd container"
##### ISSUE TYPE

 - Bug Report
Can't access the lxd container

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The inventory file:
[containers]
unified-env ansible_connection=lxd ansible_user=root

[test]
localhost ansible_connection=local

[prodction]
essence ansible_user=root

##### OS / ENVIRONMENT
My OS: Ubuntu 16.04
Container: is local and also runs Ubun

[2016-11-23 10:20] tallandtree commented on #2651
I think the issue is with ssh-keyscan in combination with hashed hostnames and other ports itself and not per se with the ansible module. If I add keys manually with ssh-keyscan, it doesn't work as well.

eg.
[code]
then:
[code]

If I do this without "-H" it works.

If you add the key via ssh itself (by accepting the fingerprint), the portnumber is also hashed. With ssh-keyscan -H, the port number

[2016-11-23 10:46] landryb opened #3527 "lvol module isnt idempotent when using %FREE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

`lvol` module fails at subsequent runs when the lv has been created at the first run.
##### STEPS TO REPRODUCE

[code]
The lvol is created fine at the first run.
[code]

##### EXPECTED RESULTS

`lvol` task should show [ok] for subseque

[2016-11-23 12:41] landryb commented on #3527
And same thing with `ansible 2.2.1.0` running on OpenBSD:
[code]

[2016-11-23 13:15] landryb commented on #3527
Seems related to https://github.com/ansible/ansible-modules-extras/issues/428, as if i add 'shrink=false' to the args (when using 2.2.1 on OpenBSD), i get the correct behaviour:
[code]

But that means depending on 2.2.1..... or the default value of shrink should be false.

[2016-11-23 13:22] landryb commented on #428
Coming here from #3527, i don't agree with @j2sol, the math is right here.. if we use %FREE, semantically for me that means '% of remaining free space', if you want a 'percentage of the total space of the vg', use %VG, which just works, and is idempotent. I don't know when %VG was added, but it works for me with 2.1.1 and 2.2.1.

[2016-11-23 13:23] landryb commented on #3527
I was being wrong, i should have been using `100%VG` which just works w/ 2.1.1 and 2.2.1, and is semantically correct.

[2016-11-23 13:23] #3527 closed

[2016-11-23 13:30] leonty opened #3530 "yum_repository: remove baseurl dependency"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Server 16.04.01 -> RHEL 6.8/7.3

##### SUMMARY

The "name" parameter is marked as the only required, but the parameter "baseurl" is in fact required too according to its description: "This or the mirrorlist parameter is required if state is set t

[2016-11-23 15:57] jtyr commented on #3530
Thanks for the report, @leonty. Unfortunately this is __notabug__. The `yum_repository` was designed to define a new YUM repo which requires the parameters you mentioned in the issue description. If you want to tweak a single parameter, you can use the `ini_file` module for that.

[2016-11-23 16:17] Confushion opened #3533 "Module 'archive' not available in version 2.2.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none
ansible installed with repo `deb http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main`

##### OS / ENVIRONMENT
Ubuntu 14.4

##### SUMMARY
Using module `archive` produces an error: `ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect

[2016-11-23 16:29] #3530 closed

[2016-11-23 16:30] Confushion commented on #3533
Ah... seems to be available in version 2.3 instead of 2.2:
https://github.com/ansible/ansible-modules-extras/blob/fcea2821851b535d39056b480882f0510423975b/files/archive.py

Online documentation still says "New in version 2.2"

[2016-11-23 17:07] bendoh commented on #3533
This is a duplicate of #3367 where we've been discussing this exact issue, except the answer is here! Thanks for figuring it out.

[2016-11-23 17:07] bendoh commented on #3367
Online documentation is wrong according to #3533 and this module is actually slated for release 2.3.

[2016-11-23 17:15] lukasged commented on #3367
Oh, ok, so they would only need to change the online documentation to not confuse people.

[2016-11-23 17:21] mattclay commented on #3367
The module is being added in 2.3. The documentation in devel has already been updated: https://github.com/ansible/ansible-modules-extras/commit/fcea2821851b535d39056b480882f0510423975b

The online documentation will reflect this once the fix has been published.

[2016-11-23 17:21] #3367 closed

[2016-11-23 17:22] mattclay commented on #3533
The module is being added in 2.3. The documentation in devel has already been updated: https://github.com/ansible/ansible-modules-extras/commit/fcea2821851b535d39056b480882f0510423975b

The online documentation will reflect this once the fix has been published.

[2016-11-23 17:22] #3533 closed

[2016-11-23 17:22] bendoh commented on #3367
Thanks!

[2016-11-23 20:07] sbwoodside commented on #3489
@yaegashi In my original report, I am not using a loop. I saw that note in your documentation so I didn't do it that way.

The situation in my original report is that `blockinfile` only does one host on each call. Because of the configuration of my hosts file, it is being called for 4 separate remote hosts, and even so, it is not concatenating.

[2016-11-23 20:57] yaegashi commented on #3489
Regardless of using with_* loop or not, you're repeatedly calling blockinfile on the same file (`delegate_to: localhost`) with the same marker.  It just serially executes for each host and replaces the content of the existing block found in the file each time.

Please understand blockinfile is not intended to manipulate text fragments in the existing block. It's just for idempotently adding/removi

[2016-11-23 22:29] Etherdaemon commented on #1292
Hi @Constantin07 - is this issue resolved for you now? I believe you weren't able to confirm previously due to the Ansible Tower version available to you at the time.

[2016-11-23 23:30] Constantin07 commented on #1292
Hi @Etherdaemon, just checked with the latest version of module from devel and it looks to work fine.

[code]

Thank you.

[2016-11-24 09:26] leynos opened #3536 "Custom install locations specified by the ChocolateyInstall env variable in win_chocolatey"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_chocolatey module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Windows Server 2012 R2 target machine, with ChocolateyInstall environment variable set at the machine level
RHEL 7.1 control machine

##### SUMMARY
Chocolatey supports specifying the install location using the ChocolateyInstall environment vari

[2016-11-24 09:48] leonty commented on #3530
@jtyr Thanks for pointing at `ini_file `solution. Though it's still not perfect, one needs to know the file names (which don't always relate to the repo names).
Could we enhance the `yum_repository `module so that it can modify existing repo as well as add new ones? The difference is not that much, just to remove `baseurl `dependency :) It's just a parameter among others, and all the main function

[2016-11-24 09:53] jtyr commented on #3530
Even `yum_repository` module would need to know which file to modify (it doesn't read all files, it always reads one specific file only). So it's the same as using `ini_file` module. This is why I'm not keen to modify the `yum_repository` module to do that if we can use the `ini_file` module instead.

[2016-11-24 10:00] jtyr commented on #3391
@brucellino Did you resolve the problem with the module? Can this issue be closed now?

[2016-11-24 10:09] leonty commented on #3530
Why not to develop the functionality of this module? Maintaining repo descriptions is essential for a module called `yum_repository`, adding, modifying, removing. Being stuck at this level of functionality makes the module just another syntactic sugar over the `template` module. And it almost provokes creating a more functional fork.
Using ini_file demands wordy (and ugly) preparations at the play

[2016-11-24 10:24] jtyr commented on #3530
We could extend the functionality to search through all repo files to determine which file holds the repo definition. Then it would be easy to allow modification of one parameter only. The only problem is that there could be several repo definitions with the same ID but. Then it depends whether it's disabled/enabled and which priority it has. How would you target the one you want to change?

[2016-11-24 10:41] gonzolino opened #3537 "Check that archives are not created within paths to be removed is unreliable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When creating an archive with remove=True the archive module checks that the archive is not created within the paths to be removed.

Since the check is done with a simple `dest.startswith(path)`, it can happen that the check reports th

[2016-11-24 11:08] jswetzen commented on #2933
Did you resolve this? I'm having the same problem on Windows Server 2012, R2. It worked fine for me on Windows 7.
I should also add that other commands work, it's just win_owner that's giving me trouble so far.

[2016-11-24 11:54] sherlockmatt opened #3539 "win_robocopy does not return changed properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_robocopy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

win_robocopy returns all of it's returned variables inside a win_robocopy node, preventing ansible from reading the changed variable (since it's actually win_robocopy.changed).

##### STEPS TO REPRODUCE

Run a win_robocopy which w

[2016-11-24 13:26] leonty commented on #3530
I just performed a small test on my system. If there are several repo descriptions with the same repo id, the call of `yum -v repolist somereponame` sorts the descriptions by filename and picks up the first. So should we do, I guess.
There are also a number of yum bindings for python, we could just trust them on this question.

[2016-11-24 14:02] jtyr commented on #3530
Please feel free to explore this enhancement further and submit PR which I'm keen to review.

[2016-11-24 14:29] nbeernink opened #3541 "source address not set with firewalld module"
This issue sounded like #1808 but I gave the fix a try and it doesn't fix my issue.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nocows = 1

##### OS / ENVIRONMENT
control node: Fedora 24 (soon to be 25)
server to manage: CloudLinux release 7.2 (Valeri Kubasov), so basically Centos 7.2

##### SUMMARY

Using source parameter of t

[2016-11-24 16:44] rqelibari commented on #3415
You can currently circumvent this by doing it like this:

[code]

What this actually does is nothing else then `sudo -v` does in bash scripts. And as such homebrew-cask will not ask you for a password.

[2016-11-24 17:14] bdellegrazie commented on #2139
No 1db36be doesn't fix the issue for a non snapshot version with classifier

[2016-11-24 20:14] gcs-github opened #3543 "ZFS module idempotence problems with received dataset properties"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zfs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Managing from macOS 10.12
Managing Gentoo Linux hosts

##### SUMMARY

Currently, the ZFS module will only consider `local` settings while comparing the current state of a ZFS filesystem and its intended target state. This can lead to unwanted `set` operations

[2016-11-24 21:27] willuk2010 opened #3544 "Disable existing Scheduled Task with win_scheduled_task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes to ansible.cfg, or ansible variables set.

##### OS / ENVIRONMENT

Ansible running from = RHEL 6.7 (Santiago)
OS i'm managing = Windows 2008 r2

##### SUMMARY

trying to use  win_scheduled_task to disable an existing scheduled task, using;

win_scheduled_task: n

[2016-11-24 23:55] ericchou1 commented on #3302
https://github.com/ansible/ansible-modules-extras/pull/3239 is merged. Thanks.

[2016-11-24 23:55] #3302 closed

[2016-11-25 00:07] gcs-github commented on #3543
Now I think I understand why you'd want to filter on `local`: in order to make sure the setting is permanent even if a parent dataset were to change inherited properies later on.

If that's the case, I'd suggest either adding `received` to the filter, so that you filter on the setting either being `local` or `received`, as I believe they bear some form of equivalence. Or maybe even better, expose

[2016-11-25 09:31] gelato opened #3545 "IPA: can't set password for ipa_user module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipa
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint 18

##### SUMMARY

Can't add password for ipa user through ipa_user module - password is always empty in IPA
##### STEPS TO REPRODUCE

Run ipa_user module with all required fields and password field filled.

[code]

##### EXPECTED RESULTS

User creation

[2016-11-25 09:32] gelato commented on #3545
@Nosmoht Hello, i found another bug... It's very frustrating to have no means to set a password for user...

[2016-11-25 13:51] darrylcauldwell commented on #2532
I have multiple AWS accounts (eg user, acc1, acc2, acc3) and want to use a iam user in the  user account and assume roles which trust the user account in acc1/2/3. This works great without MFA and I use multiple sts_assume_role tasks at the start of playbook to create an AssumeRole session token for each account.

However when I enable the account to use Multi Factor Authentication I get an issue.

[2016-11-25 14:25] bendoh commented on #3537
Cool, thanks for the report 👍  I'll look into it ASAP!

[2016-11-25 14:28] gonzolino commented on #3537
@bendoh Thanks, I already tried to fix it (see #3538), but it seems like there is a problem with the syntax, which is weird since it runs on my laptop...

[2016-11-25 14:39] bendoh commented on #3537
Yeah, that's a 2.5 syntax: http://stackoverflow.com/a/10314837/901644

<http://www.oomphinc.com/?utm_source=emailsig>

Benjamin Doherty | Technical Director
(617) 533-9010 | ben@oomphinc.com

Oomph, Inc. | Office: (401) 228-7660
460 Harris Ave., Providence, RI 02909
<https://www.google.com/maps/dir//460+Harris+Ave,+Providence,+RI+02909/@41.8231819,-71.4362361,17z/data=!4m13!1m4!3m3!1s0x89e445a1fbe

[2016-11-25 14:39] bendoh commented on #3537
Yeah, that's a 2.5 syntax: http://stackoverflow.com/a/10314837/901644

[2016-11-25 14:40] bendoh commented on #3537
Ansible python modules should be compatible with Python 2.3 to pass all checks

[2016-11-25 14:41] gonzolino commented on #3537
ok thanks, I did not know this. I will update my patch.

[2016-11-25 18:53] Nosmoht commented on #3545
Hi @gelato,

thanks for reporting the issue.

I simply forgot to add the code to set the passwords.

But thanks to @mkrupcale this is already fixed with https://github.com/ansible/ansible-modules-extras/pull/3485.

[2016-11-26 12:59] n0ts commented on #2837
resolved_by_pr #3125

[2016-11-26 15:20] spikerobinson commented on #3163
The correctly filed issue is here:
[https://github.com/ansible/ansible-modules-core/issues/5259](https://github.com/ansible/ansible-modules-core/issues/5259)

[2016-11-27 08:03] richardweiu opened #3550 "blockinfile marker is null while replace the last line"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

the default setting

##### OS / ENVIRONMENT

ubuntu 14.04 3.16.0-37-generic
##### SUMMARY

- I don't want inser any marker info,but when I set

+ `no` , it will inser `False` befor and after the content
+ `null`,it will inser `None` befor and after the content
+ `""`, it will i

[2016-11-27 22:57] sok3t opened #3551 "Try to set selinux with sefcontext returns UnicodeEncodeError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sefcontext

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible execution:
 - Fedora 25
 - Python 2.7.12

Managed Host:
 - Fedora 24
 - Python 2.7.12

##### SUMMARY
Trying to set selinux fcontext fails with error : UnicodeEncodeError: 'ascii' codec can't encode character u'\\xe9' in position 8: ordinal not in range(

[2016-11-28 09:08] ritzk commented on #3423
@ansibot  notabug

@mikecali  This is an issue with vmware toosl guest status, or you do not have GuestOperations permission. You can test this using - https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/execute_program_in_vm.py .

[2016-11-28 09:40] #3423 closed

[2016-11-28 09:41] #1805 closed

[2016-11-28 11:32] ogenstad commented on #3420
@gundalow, @privateip, @Qalthos, this situation is a bit strange. I have the maintainer status of this issue which has been resolved. However I don't have any access to close the issue, but still get reminders for it.

[2016-11-28 12:46] gundalow commented on #3000
@caphrim007 @mhite What's the link to the PR for the fix for this?

[2016-11-28 12:48] gundalow commented on #3420
@ogenstad You can use `ansibot` to change the state of the issue as detailed in https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md

bug_resolved

[2016-11-28 12:48] #3420 closed

[2016-11-28 12:57] Alex5252 opened #3553 "Roles support in vmware_local_user_manager.py module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_local_user_manager.py

##### ANSIBLE VERSION

ansible 2.2.0.0

##### SUMMARY

Can you please add a feature to create local roles and add local users in local roles? We'd like create role, with needed permissions and add give them to the created user.

[2016-11-28 13:00] caphrim007 commented on #3000
@gundalow i think this one

https://github.com/F5Networks/f5-ansible/commit/240fa16a794426598ea50815746027d4cae9f004

[2016-11-28 13:12] Alex5252 opened #3554 "Support multiple NICs in vmware_vswitch.py module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_vswitch.py

##### ANSIBLE VERSION

ansible 2.2.0.0
Python 2.7.12Python 2.7.12
pyvmomi (6.0.0.2016.6)

##### SUMMARY

Can you please add feature to add multiple NICs in vSwitch?

[2016-11-28 14:30] aheimsbakk commented on #3152
I can confirm this issue still exists on Ansible verson 2.2.0.0.

[2016-11-28 14:35] jctanner commented on #3545
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/3485

[2016-11-28 14:38] jctanner commented on #3539
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/3540

[2016-11-28 14:44] machacekondra opened #3555 "ovirt_vms: Add option to specify if last version of the template should be used."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ovirt_vms and ovirt_templates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Please add option to specify if last version of the template should be used.

[2016-11-28 16:18] ganniterix commented on #3447
I like the cloud_init_nics idea. It can be easily set in facts per VM and then just passed as a parameter to the module.

[2016-11-28 16:23] ganniterix commented on #3555
This could be particularly useful when working with different template versions for testing purposes.

[2016-11-28 17:16] alikins commented on #3551
formatted traceback...
[code]

[2016-11-28 21:16] subtubes-io commented on #3376
Anyword on this?

[2016-11-29 09:52] rosmo commented on #3169
needs_contributor

[2016-11-29 09:52] LinusU commented on #3060
needs_contributor

[2016-11-29 09:53] LinusU commented on #3156
needs_contributor

[2016-11-29 09:53] LinusU commented on #3315
needs_contributor

[2016-11-29 10:45] ilpianista opened #3563 "win_firewall_rule fails when locale isn't English"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target host is Windows 7 with German language.

##### SUMMARY
I've a task to open a firewall port.
The rule creation succeeded, but on the next execution of the same task it fails because win_firewall_rule tries to parse the output which is in German and not in English as th

[2016-11-29 10:51] ilpianista commented on #3131
Commit author here and I agree that default have to be changed. Sorry about that.

But please also update win_firewall_rule doc.

[2016-11-29 13:30] machacekondra commented on #3447
resolved_by_pr 3557

[2016-11-29 14:00] aairey commented on #3501
@Nosmoht any news?

Looking forward to using this module 2.3 onwards :)

[2016-11-29 17:17] Nosmoht commented on #3501
Hi All,

so far i have no idea how to fix the issue with cyrillic characters.

It seems that the IPA server stores the value different than passed.
[code]
instead of
[code]
which is the reason why the simple comparison
[code]
is always true and the module tries to update the value.

Would be great if anyone could support me.
I need at least an idea of how to
- figure out if a string is in the form

[2016-11-29 17:37] frisbee23 opened #3564 "minor broken html/quoting on efs_module.html"
searched for efs in open issues, none found

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
documentation of efs_module

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
https://docs.ansible.com/ansible/efs_module.html shows on my chrome broken html after parameter tags

##### EXPECTED RESULTS
readable documentation on the website

[2016-11-29 19:47] angystardust commented on #3423
Hi @mikecali sorry fot the noise but you can use the newer vmware module (vmware_guest) to reconfigure the network of a templated vm (technically speaking it's called "customspec").
Take a look here:
https://github.com/ansible/ansible-modules-extras/pull/3395

[2016-11-29 19:59] angystardust commented on #3423
You can take this task as a reference. I hope you'll find it useful ;)

[code]

[2016-11-30 07:34] gunph1ld opened #3565 "ec2_ami_copy | The parameter Encrypted is not recognized"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_ami_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS Sierra, Darwin Kernel Version 16.1.0
boto 2.43.0

##### SUMMARY
getting this error when trying to copy an image to an encrypted image

##### STEPS TO REPRODUCE
run the playbook

[code]

##### EXPECTED RESULTS
Successful copy an image to an encrypted ima

[2016-11-30 11:49] hyperized commented on #3473
@Constantin07 Thanks, this does indeed solve the issue. Let's wait for #3488 to merge :)!

[2016-11-30 11:49] #3473 closed

[2016-11-30 13:27] sgargan commented on #751
Marking as wontfix.

[2016-11-30 15:38] tumbl3w33d commented on #3391
I just ran into this bug and can confirm that patching according to #3005 fixes the issue.

[2016-11-30 18:21] dagwieers commented on #3551
@sok3t Can you test whether #3569 fixes your problem ?

The real error (which #3569 fixes) is suppressed because of the encode error in fail_json(), I will have to make a test-case for this. I assume that the error-message (exception) from the system includes French non-ascii characters.

[2016-11-30 18:35] andreaswolf commented on #1554
Uhm, sorry. I thought I had answered here :-/

I stopped using Ansible for SW deployments a while ago, because I needed something I feel more familiar with, and being a PHP developer mainly, that was unfortunately not Ansible. So I fear I can’t really help you here—I’ll therefore close the issue. If somebody else has similar problems I guess they can just reopen it, right?

[2016-11-30 18:35] #1554 closed

[2016-11-30 19:15] #751 closed

[2016-12-01 05:48] mikecali commented on #3423
Thanks. This is exactly what I am looking for.
In my limited testing this works like a charm @angystardust

[2016-12-01 05:53] tmartinx opened #3589 "Add "set" support to openvswitch_bridge module."
Currently, the openvswitch_bridge module does support the "set" module, to configure the bridge.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
openvswitch_bridge

##### ANSIBLE VERSION
[code]

##### SUMMARY
If you try to create a bridge with specific settings, it doesn't work...

What I mean is that I tried to do what the openvswitch_port module already supports (the "set")!

Something l

[2016-12-01 06:17] dspruell opened #3590 "Support for fuzzy versioning in openbsd_pkg to handle non-branch ambiguities"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

openbsd_pkg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

Managed host running OpenBSD 6.0:

[code]

##### OS / ENVIRONMENT

Ansible run from OpenBSD 5.7 & Python 2.7.9, managed OS OpenBSD 6.0 & Python 2.7.12.

##### SUMMARY
Referring back to #97 - with addition of support for branches, some ambiguities in OpenBSD package vers

[2016-12-01 10:07] williamlord opened #3592 "consul_acl keyring and operator ACL types"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
consul_acl (http://docs.ansible.com/ansible/consul_acl_module.html)

##### ANSIBLE VERSION
[code]

##### SUMMARY
Add support for the new ACL types keyring and operator which Consul introduced in 0.6.0 and 0.7.0 respectively.
https://github.com/hashicorp/consul/blob/master/acl/policy.go#L23-L24

##### STEPS TO REPRODUCE
Rule types keyring and o

[2016-12-01 12:45] marcdb opened #3600 "jenkins_plugin reports "change = true" even when nothing has changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

managing host: Ubuntu 14.04 LTS
managed host: CentOS Linux release 7.2.1511 (Core)  (vagrant box)

##### SUMMARY
Each time I execute a playbook containing a task which calls the jenkins_plugin module, it reports that changes have been made. Even if the req

[2016-12-01 13:17] #3551 closed

[2016-12-01 14:03] aioue opened #3607 "letsencrypt does not create a full-chain cert"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
letsencrypt does not create a full-chain cert - it is missing the intermediate cert and so things like websockets and mobile browsers break.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
Full chain cert created
or
cert, intermediate files c

[2016-12-01 14:14] JoHoffmann commented on #1842
Same problem here with a slightly different configuration:

Ubuntu 16.04.1 LTS
ansible 2.1.1.0

`name: NetConfig - Setting DNS server
  nmcli:
    dns4=20.20.20.20,20.20.20.21,20.20.20.22
    conn_name={{ansible_default_ipv4.alias}}
    type=ethernet
    state=present`

**Expected Results:**

changed=0

**Actual result:**

`changed: [yourserver.namein.here] => {"Exists": "Connections do exist so w

[2016-12-01 14:35] jtyr commented on #3600
Thanks for your report, @marcdb. The issue here is that Jenkins doesn't know about new plugins until you restart it. This is why the installation returns `changed` again if you run the installation tasks multiple times. Please refer to the examples from the module documentation for more information how to deal with this issue. Marking this as `notabug`.

[2016-12-01 14:55] #3600 closed

[2016-12-01 15:02] marcdb commented on #3600
Hello @jtyr,
Actually, I do restart jenkins after the installation of the plugins. The "notify: restart jenkins" will make sure that a handler is called to restart Jenkins. The problem now is that this handler is called each time I run this playbook. I would expect that the second time I run it, the "change" field will be false. But it isn't in my case. I assume from your reply that in your tests,

[2016-12-01 15:14] jtyr commented on #3600
The notification restarts Jenkins only at the end of the Play, not right after the plugin was installed. Try the following and you will see that it won't show `changed` in the last plugin installation task:

[code]

[2016-12-01 19:10] pastephens opened #3619 "sefcontext KeyError"
Done.
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- sefcontext

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From: Fedora 24
To: RHEL7

##### SUMMARY

Module fails outside of check-mode, but seems to work fine in check-mode.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

SUCCESS!

##### ACTUAL RESULTS

[code]

[2016-12-01 19:40] dagwieers commented on #3619
resolved_by_pr #3569

[2016-12-01 19:42] measurabl-robot opened #3620 "iptables: flush does not respect --check"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
From: OS X
To: Ubuntu 14.04

##### SUMMARY
iptables module with `flush=true` does not respect `--check` flag, it makes changes - purging iptables - on remote system.

##### STEPS TO REPRODUCE
Run playbook containing iptables flush=true task with `--check`.

[code

[2016-12-01 19:53] #3619 closed

[2016-12-01 19:58] LinusU commented on #3620
needs_contributor

[2016-12-01 20:52] jtyr commented on #3391
`bug_resolved` by #3005.

[2016-12-01 21:03] #3391 closed

[2016-12-01 21:16] ghost commented on #3490
+1 also
Playbook using vsphere_guest took about 35 seconds to clone from template and power on. Updated to use the vmware_guest module listed below, and it took over 8.5 minutes. I watched in VSphere. The new vm didn't appear until about 6.5 minutes in. Then, the vm was started and the playbook resumed after ip address was reported. If there are any logs I can provide that would assist, let me kno

[2016-12-01 23:01] nocode99 opened #3623 "Getting value from consul_kv not working when using 'state=acquire'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
I should be able to retrieve dictionary values from consul.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I should be able to extract the Value from `{{ mydict }}`

##### ACTUAL RESULTS
[code]

Not shown in the documentation is the `retreive` flag but that

[2016-12-02 10:59] fgimian opened #3624 "Homebrew issue when using. with_items (name is set to be a list?)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/os/homebrew.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
The Homebrew module doesn't play nicely with `with_items` anymore.  It now performs all installations of items in a single step which means lack of progress during the run and inability to see which package failed

[2016-12-02 14:10] marcdb commented on #3600
The restart of jenkins in our case, is done through a handler, which we flush after the installation of the plugin. So Jenkins is really restarted. Before I run the play again. So that cannot be the real problem. So, I have investigated this a bit further.

It looks that it is related to the setting "state: pinned". Looking at the code, I have the impression that the plugin must already be install

[2016-12-02 14:34] jtyr commented on #3600
Do you also wait for the Jenkins to come up again after you restart it? Please test the code I sent you yesterday and let me know if that works for you.

[2016-12-02 14:39] indrajitr commented on #3624
This happens because `homebrew`, like a few other packaging modules, does loop optimization.
It is probably an outcome of ansible/ansible#16966.

This is more to make `homebrew`'s behavior consistent and keep it in line with other packaging modules. Any reason you'd object to this?

[2016-12-02 14:39] indrajitr commented on #3624
needs_info

[2016-12-02 18:09] nocode99 commented on #3623
I've submitted a PR https://github.com/ansible/ansible-modules-extras/pull/3638

[2016-12-02 21:11] fgimian commented on #3624
Firstly, thank you all so much for your time here 😄

Personally I do find this behaviour confusing and undesired.  It means that when failures occur, it's impossible to see which package failed due to them all being installed at once.

When installing a huge number of packages with a loop, there is also not enough feedback during the process with this approach as you may only see an update after a

[2016-12-03 05:25] hanks opened #3640 "can not use variable in responses key of expect module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
expect

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

macOS 10.11.3

##### SUMMARY

can not use variable in responses key of expect module

[code]

##### EXPECTED RESULTS
It should check the prompt with the `path` value, and input `yes`

##### ACTUAL RESULTS

No response for the prompt

[2016-12-03 08:49] kayhayen opened #3641 "timezone cannot change timezone in systemd based containers"
In my playbook, I got the following:

[code]

The condition was added as a workaround, because in the Debian Stretch, systemd based LXC container, timedatectl reports:

This is likely because systemd-timesyncd and systemd-timedated are disabled in virtual machines, but Ansible insists on using them to change the timezone.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - timezone

##### AN

[2016-12-03 10:19] sgargan commented on #3623
@nocode99 thanks for taking the time to report and fix this. There were others that have reported this and I added a fix https://github.com/ansible/ansible-modules-extras/pull/3371 a few weeks back, I'm just waiting for it to ship. @gregdek can you take a look at that, its marked as ship.

[2016-12-03 22:45] jocelynj commented on #3452
I'm hitting the same issue, which seems to be linked to  #1789.
I think this bug is caused by some incompatibilities between ansible module and Proxmox 4.0 API.

[2016-12-04 15:51] nocode99 commented on #3623
Ah okay thanks!  I searched for 'consul key' and nothing showed up.  I like your approach better than mine and will close the PR request.  Thanks!

[2016-12-04 22:23] amir343 commented on #3565
I guess this is a problem with boto but feel free to submit a PR if you think it relies in `ec2_ami_copy` module. Thanks!

[2016-12-05 12:34] gwachter77 commented on #3169
https://github.com/ansible/ansible-modules-extras/pull/3486 fixed this issue

[2016-12-05 12:45] candlerb opened #3660 "Easier management of remote hosts for lxd connection plugin; consistency with lxd_container?"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

lxd_container module and lxd connection plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I want to do these two things:

1. Create containers on a remote host. This is what the `lxd_container` module does.
2. Manage containers on a remote host. This is what the `lxd` connection plugi

[2016-12-05 13:06] levequej opened #3661 "lvol indempotency fails when float is provided for size argument (with "g" prefix)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

lvol indempotency fails  (first play is okay, but the other plays do fail) when float is provided for size argument (with "g" prefix)
like 5.4g fails, while 5g is ok

##### STEPS TO REPRODUCE
use lvol with a flo

[2016-12-05 14:36] simbelmas commented on #3551
It doesn't solve the problem for me.
ran:
`git clone git://github.com/ansible/ansible.git --recursive
 cd ansible/lib/ansible/modules/extras/
 git checkout devel
`
Then launched ansible-playbook.
The error is the same.

[2016-12-05 14:51] resmo commented on #3551
@sok3t please look at http://docs.ansible.com/ansible/intro_installation.html#running-from-source to see how to install from source

[2016-12-05 15:24] simbelmas commented on #3551
Sorry, it works for me. Thanks

[2016-12-05 15:27] dagwieers commented on #3551
@sok3t Thanks for reporting back ! (I just wanted to point out that it is probably safer to copy the template individually into your project's library/ directory to ensure you are testing the patch that was merged, but I hadn't seen @resmo 's comment yet)

[2016-12-05 15:44] sivel commented on #3640
This is not specific to the expect module.  Using variables as keys is unsupported throughout ansible.

Maybe you could instead define a variable like:

[code]

And then supply that to responses like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2016-12-05 15:44] #3640 closed

[2016-12-05 16:20] hnakamur commented on #3660
Thanks for your proposal.
I would like the option 2.

As for option 1, I agree replacing `lxc exec` is not trivial. Also it is an incompatible change since it does not support the form `<remote>:<container>` anymore.
Although it is not documented that the form `<remote>:<container>` is supported in the lxd connection plugin, probably there are people who already use this form to specify a containe

[2016-12-05 16:21] machacekondra commented on #3555
resolved_by_pr 3567

[2016-12-05 16:28] #3165 closed

[2016-12-05 16:32] candlerb opened #3663 "lxd_container does not validate HTTPS server certificate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

lxd_container does not appear to validate server certificate when connecting via REST API to a remote host using HTTPS, and therefore seems to be using it insecurely.

##### STEPS TO REPRODUCE

[code]

... where 192.168.5.82 is s

[2016-12-05 16:33] #3521 closed

[2016-12-05 16:45] ryansb commented on #3514
This works in current devel. I'll look at backporting the fix to 2.2.

[2016-12-05 16:47] ryansb commented on #3514
See https://github.com/ansible/ansible-modules-extras/pull/3381

[2016-12-05 16:47] #3514 closed

[2016-12-05 16:49] ryansb commented on #3514
Committed to 2.2 as https://github.com/ansible/ansible-modules-extras/commit/ff17827151552c9fbb589614a431a207d35deef1

[2016-12-05 16:51] candlerb commented on #3660
That's because "remotes" are an entirely local concept - a configuration of the lxc command line tool itself.

`lxc list` supports a `--format` flag to give machine-readable output, e.g. `lxc list --format json`; but sadly, as you've found, `lxc remote list` does not.

It does for me:

[code]

You can see I've added two remotes (using `lxc remote add` - I did not touch this file directly).

Howeve

[2016-12-05 16:52] rosmo commented on #3169
resolved_by_pr 3486

[2016-12-05 17:17] scottsb commented on #2384
@jtyr, I would vote to reopen this issue. I understand that the original intent of the `yum_repository` module was to create brand new entries, but I don't see any reason why it needs to be restricted to that. The argument that it is possible to enable a repository using `ini_file` fails to persuade me because that argument could be used against the existence of `yum_repository` entirely, given th

[2016-12-05 17:28] jtyr commented on #2384
There was a similar discussion in the issue #3530. I'm keen to review any PRs resulting into improving the functionality of the `yum_repository` module.

[2016-12-05 17:29] #3301 closed

[2016-12-05 17:30] scottsb commented on #2384
As far as prior precedent, there are two that I can point to quickly:

**macports**: This module manages packages rather than repositories, but it is relevant for its additional states of `active` and `inactive` that can be set in addition to simply `present` and `absent`. If introduced here, it would address the immediate use case of enabling/disabling repositories, though I would prefer the more

[2016-12-05 17:31] #3169 closed

[2016-12-05 17:31] scottsb commented on #2384
Thanks, @jtyr. I will follow the discussion there. Unlikely I'll have time to do a PR myself, but if I do, I will.

[2016-12-05 18:56] DoubleD512 commented on #2706
VMWare will not allow you to shrink the size of a disk from a template on a clone.  Increase is allowed

[2016-12-05 21:00] thaumos commented on #2435
fixed by #2120

[2016-12-05 21:16] #2435 closed

[2016-12-05 22:29] #3410 closed

[2016-12-06 13:29] Slezhuk opened #3672 "Become comaintainer for jira module"
Hello! I would like to become comaintainer for web_infrastructure/jira.py module. Looks like current maintainer @tarka not answering to requests.

[2016-12-06 14:29] hnakamur commented on #3663
I think it may be easier to letting the `lxc remote add` (which is supposed to be called from the new `lxd_remote` module) to take care of certificates and remove certificated related code from `lib/ansible/module_utils/lxd.py` and `cloud/lxd/lxd_container.py`.

I read the documentation and you are correct. This is my bug. Sorry.

Well, I admit I have not enough knowledge and experience on the LXD

[2016-12-06 14:29] hnakamur commented on #3660
Yes. I didn't recognize this fact when I implemented the lxd_container module.
And this made me think that maybe I should have use the lxc command instead of the LXD REST API to implement the lxd_container module, since the lxc command covers the whole functions needed and the LXD REST API covers only the subset of them.

So, maybe we should go for the option 3 after all. Even though this is an in

[2016-12-06 14:31] abadger commented on #3672
bot_skip

[2016-12-06 15:01] candlerb commented on #3663
The obvious starting point would be to add a `server_cert` option to the module:

[code]

Problems are:

1. This is no good when you connect for the first time, unless you've already fetched the certificate (which you could do using ansible, connecting to the remote host over ssh and downloading `/var/lib/lxd/server.crt`)
2. You have to explicitly point to the right cert file for each URL you use

[2016-12-06 15:03] UrosCvijan commented on #3565
I have the same problem. Which version of boto should be installed? I mean, if it is boto, is there a fix, or solution what to do so it works?

[2016-12-06 17:26] dssdss opened #3676 "win_updates Not working on localized Windows Server 2012R2 (russian)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS I'm running from:
[code]

OS I'm managing:
[code]

[code]

Localization:
[code]
##### SUMMARY

##### STEPS TO REPRODUCE

I tried to install windows updates on localized russian windows server 2012R2 (ru_windows_server_2012_r2_vl_with_update_x64_dvd_6052

[2016-12-06 18:08] kkirsche opened #3677 "Pushover Hostname api.pushover.net:443 doesn't match"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[Pushover](http://docs.ansible.com/ansible/pushover_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.12.1 -> macOS 10.12.1 (localhost) — N/A

##### SUMMARY

Running the pushover module results in the error:
[code]

##### STEPS TO REPRODUCE

**tasks/main.yml**
[code]

**templates/config.j

[2016-12-06 18:09] kkirsche commented on #3677
I've also validated the user and app tokens using httpie:

[code]

[2016-12-06 22:01] jsumners commented on #2071
This issue was moved to ansible/ansible#18795

[2016-12-06 22:01] #2071 closed

[2016-12-06 22:56] ilpianista commented on #3563
This issue was moved to ansible/ansible#18807

[2016-12-06 22:56] #3563 closed

[2016-12-07 03:55] font commented on #2629
This issue was moved to ansible/ansible#18815

[2016-12-07 03:55] #2629 closed

[2016-12-07 08:36] dagwieers commented on #2332
This issue was moved to ansible/ansible#18819

[2016-12-07 08:36] #2332 closed

[2016-12-07 09:38] dssdss commented on #3676
Also, I tried to use http://docs.ansible.com/ansible/win_scheduled_task_module.html Everything is fine with it on both windows - en and ru. Scheduled task was successfully created.

So, the problem is only with win_updates module on rus os version. As you can see, I also tried to install en_US mui on it, applied to all users and made it default system locale, but this problem still exists...

[2016-12-07 12:27] ankitcharolia opened #3682 "ipa_user: fails with 'repsonse user_mod: no modifications to be performed' if sshpubkey is an empty list and user has no public keys in FreeIPA"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/identity/ipa/ipa_user.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No Changes

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If sshpubkey is an empty list, ansible ipa_user module fails with 'repsonse user_mod: no modifications to be performed'

##### EXPECTED RESULTS

ipa_user module should not be failed in case sshpubkey is

[2016-12-07 14:09] Atoms commented on #2921
This issue was moved to ansible/ansible#18844

[2016-12-07 14:09] #2921 closed

[2016-12-07 15:49] indrajitr commented on #3446
This issue was moved to ansible/ansible#18860

[2016-12-07 15:52] #3672 closed

[2016-12-07 15:52] #3676 closed

[2016-12-07 15:52] #3677 closed

[2016-12-07 15:52] #3682 closed

[2016-12-07 15:52] j3ffrw commented on #3131
This issue was moved to ansible/ansible#18861

[2016-12-07 15:52] #3131 closed

[2016-12-07 16:00] chiefy commented on #3157
👎

[2016-12-07 16:22] jmehnle commented on #3307
This issue was moved to ansible/ansible#18871

[2016-12-07 16:22] #3307 closed

[2016-12-07 16:38] jmehnle commented on #2489
This issue was moved to ansible/ansible#18878

[2016-12-07 16:38] #2489 closed

[2016-12-07 16:45] jmighion commented on #3134
This issue was moved to ansible/ansible#18880

[2016-12-07 16:45] #3134 closed

[2016-12-07 16:46] candlerb commented on #3660
This issue was moved to ansible/ansible#18881

[2016-12-07 16:46] #3660 closed

[2016-12-07 16:46] candlerb commented on #3663
This issue was moved to ansible/ansible#18882

[2016-12-07 16:46] #3663 closed

[2016-12-07 16:47] jmighion commented on #3510
This issue was moved to ansible/ansible#18883

[2016-12-07 16:47] #3510 closed

[2016-12-07 16:48] jmighion commented on #3509
This issue was moved to ansible/ansible#18885

[2016-12-07 16:48] #3509 closed

[2016-12-07 17:57] ymartin59 commented on #2986
This issue was moved to ansible/ansible#18893

[2016-12-07 17:57] #2986 closed

[2016-12-07 18:54] bencromwell commented on #3332
This issue was moved to ansible/ansible#18907

[2016-12-07 18:54] #3332 closed

[2016-12-07 19:17] natefoo commented on #3505
This issue was moved to ansible/ansible#18911

[2016-12-07 20:21] jniederm opened #3685 "ovirt_clusters fails with 'NoneType' object has no attribute 'policy'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cloud/ovirt/ovirt_clusters.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Following snippet of playbook
[code]

produces error

[code]

[2016-12-07 20:26] jniederm commented on #3685
Version of ovirt_clusters.py: https://github.com/ansible/ansible/blob/87d26c4729686dcffdcfa742d0cd50821296905d/lib/ansible/modules/cloud/ovirt/ovirt_clusters.py

[2016-12-07 20:56] dwoo4dwoo commented on #3471
This issue was moved to ansible/ansible#18934

[2016-12-07 20:56] #3471 closed

[2016-12-08 11:16] Plork commented on #3248
que?

[2016-12-08 11:18] Plork commented on #3248
This issue was moved to ansible/ansible#18980

[2016-12-08 11:18] #3248 closed

[2016-12-08 12:27] ghost commented on #1010
As it takes too many times to everyone. Just forget that issue

[2016-12-08 12:27] #1010 closed

[2016-12-08 14:21] dssdss commented on #3676
But when I went to https://github.com/ansible/ansible/issues/new I saw disclaimer:
[code]
So, that's why I posted this bug there. Please, correct it!

[2016-12-08 16:10] aioue commented on #3607
This issue was moved to ansible/ansible#18996

[2016-12-08 16:10] #3607 closed

[2016-12-09 07:07] offlinehoster commented on #2022
Ansible 2.2 is also effected.

[2016-12-09 10:53] aperigault commented on #3490
This issue was moved to ansible/ansible#19064

[2016-12-09 10:53] #3490 closed

[2016-12-09 21:28] #3685 closed

[2016-12-10 21:32] #418 closed

[2016-12-12 08:27] chrwen-omicron commented on #2446
This issue was moved to ansible/ansible#19213

[2016-12-12 08:27] #2446 closed

[2016-12-12 09:32] skornehl commented on #3046
@jjshoe Hey, sorry it took so long - but actually my focus shifted away from this ..

But today I have some time. I have some smaller tasks because of the move to do - and dig deeper into it later.

[2016-12-12 10:22] jswetzen commented on #2933
This issue was moved to ansible/ansible#19218

[2016-12-12 20:55] #3260 closed

[2016-12-13 10:17] tmshn commented on #3641
This issue was moved to ansible/ansible#19280

[2016-12-13 10:19] tmshn commented on #3641
@kayhayen Sorry for late reply! I was kinda busy...

Following the [comment](https://github.com/ansible/ansible-modules-extras/issues/3641#issuecomment-265483903) by @ansibot, I copied this issue to https://github.com/ansible/ansible/issues/19280.
Let's have discussion out there!

[2016-12-15 19:54] nergdron commented on #3380
What's the timeframe for getting this released in a 2.2 point release? Just ran into this today on a fresh 2.2 install via pip.

[2016-12-16 09:35] gnotari opened #3694 "locale_gen fails with python3"
using Ansible 2.2.0.0
pipelining = True

passing option  -e 'ansible_python_interpreter=/usr/bin/python3'

`fatal: [192.168.239.194]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Shared connection to 192.168.239.194 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_lhviwmqc/ansible_module_locale_gen.py\", line 239, in <module>\r\n    mai

[2016-12-16 09:41] #3694 closed

[2016-12-16 14:07] robinro commented on #3025
@fedealaimo If you still care to get this done you should migrate this issue to the the merged repository. Otherwise I'd recommend to close it.

[2016-12-18 13:52] mattwwarren commented on #3380
There was a message on the mailing list last week about an RC2 for 2.2.1 so I expect the final cut to be coming up soon. I'm not sure if there are any features you are using in 2.2 but I've locked my current environments into the latest 2.1 until this fix is released.

[2016-12-18 16:58] bmillemathias commented on #2897
This issue was moved to ansible/ansible#19487

[2016-12-18 17:00] bmillemathias commented on #1789
This issue was moved to ansible/ansible#19488

[2016-12-18 17:02] driller23 commented on #3347
efs_facts does not return any results even with no tags use....

[2016-12-18 21:06] nergdron commented on #3380
Unfortunately I'm using a lot of the new AWS functionality in 2.2 so I don't have that option. But I'll look for 2.2.1 soon. Thanks!

[2016-12-19 14:02] ArKam commented on #2480
I confirm @thetrav diag, I've got the same issue and trace the error on the shade method call.
This issue is not solved, or at least with ansible 2.2.0.0 from pip on Ubuntu 16.04 LTS.

Could we have an update on it?

[2016-12-19 19:33] thetrav commented on #2480
I sent a pull request: https://github.com/ansible/ansible-modules-core/issues/4520

this has solved my issue, however was not merged because it doesn't work on very old versions of python.  I decided supporting those versions is beyond my effort to reward ratio.

Feel free to fix up the PR if you want it merged

[2016-12-19 23:01] kaneda-fr commented on #2203
This issue was moved to ansible/ansible#19538

[2016-12-19 23:01] #2203 closed

[2016-12-19 23:02] kaneda-fr commented on #2189
This issue was moved to ansible/ansible#19539

[2016-12-19 23:02] #2189 closed

[2016-12-20 20:04] #610 closed

[2016-12-20 22:42] d3v1an7 commented on #2610
This issue was moved to ansible/ansible#19585

[2016-12-20 22:42] #2610 closed

[2016-12-22 00:29] afunix commented on #3525
Have exactly the same scenario.
I don't need templates as I configure my VMs with vsphere_guest and install OS over PXE.
Would like to migrate from vsphere_guest to vmware_guest, as the first one doesn't work well with some of our hosts.

[2016-12-22 14:44] aioue commented on #3565
This issue was moved to ansible/ansible#19638

[2016-12-22 14:58] ArKam commented on #2480
Nop, I'll not, I have surrender with ansible.

[2016-12-28 23:29] leynos commented on #3536
This issue was moved to ansible/ansible#19725

[2016-12-28 23:29] #3536 closed

[2016-12-31 09:10] sjkeerthi opened #3697 "Region eu-west-2 missing on ansible-2.2 ec2 module"
OS: Fedora 24
Ansible: 2.2
Module Version: ec2ansible (0.1.2)

Could not able to create instances via Ansible on London (eu-west-2) Regions

Amazon Elastic Compute Cloud (Amazon EC2)
======================================
EU (London)	eu-west-2	 ec2.eu-west-2.amazonaws.com	HTTP and HTTPS

ERROR:
=======
TASK [Launch instances] ********************************************************
fatal: [localho

[2016-12-31 15:23] uhmfa commented on #3025
Thanks @robinro, from my side this can be closed. Next time I will be using again zypper module, it will be already on ansible 2.2+. I will see how it behaves then..

[2016-12-31 15:23] #3025 closed

[2017-01-02 15:46] #3565 closed

[2017-01-02 15:49] #1789 closed

[2017-01-02 15:49] #2897 closed

[2017-01-02 15:54] #2933 closed

[2017-01-02 15:59] #3505 closed

[2017-01-02 16:00] #3446 closed

[2017-01-03 10:42] Tahvok commented on #2480
I'm having a problem to authenticate with admin_token in this module. Same error is received. I have tried your pull request, but still the same problem occurs.

[2017-01-03 17:46] juju4 commented on #2092
This issue was moved to ansible/ansible#19813

[2017-01-03 17:46] #2092 closed

[2017-01-03 22:32] #3238 closed

[2017-01-03 22:32] #2928 closed

[2017-01-04 02:30] SydOps opened #3698 "kubernetes library module doesn't support `apis/extensions/v1beta1/`"
@jimi-c & @erjohnso

Any chances to support below kinds under  `apis/extensions/v1beta1/` in `ansible-modules-extras/clustering/kubernetes.py`

http://kubernetes.io/docs/api/

http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/

https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/swagger-spec/extensions.json

Add a new kind in `KIND_URL` doesn't work directly (ht

[2017-01-04 06:04] #3697 closed

[2017-01-04 19:43] fghaas commented on #2996
@greygjhart Looks like this issue didn't get much love from Ansible devs, but for what it's worth on Ubuntu this does still work as advertised. I'm currently running the `2.0.6-0ubuntu1~ubuntu16.04.1` lxc package from `xenial-updates`, and it does include `lxc-clone` (though it is marked as deprecated).

[2017-01-04 20:56] jjshoe commented on #3106
Can confirm, getting bit by this now too

[2017-01-05 02:57] ozbillwang commented on #3698
Maybe my updates work, the problem I have is related with the **HTTPS** auth.  Got same error when create a new `namespace`.

If set `insecure` to true, got below error:
[code]
If set `insecure` to false, got this error:

    "msg": "failed to create the resource: HTTP Error 401: Unauthorized

https://docs.ansible.com/ansible/kubernetes_module.html#synopsis

And the goo.gl short url doesn't work n

[2017-01-05 21:12] #3106 closed

[2017-01-07 19:50] #3698 closed

[2017-01-08 14:01] uyaffe opened #3699 "customer GW module"
trying to define a VPN connection at AWS, using the ec2_customer_gateway module, got an error that  bgp_arn parameter is missing. after adding that parameter to the yml file, it now complaining that bgp_arn is an illegal parameter

uyaffe@:~/Documents/Aws/Ansible/ansible$ ansible-playbook -i hosts site.yml -vvv
....
fatal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "failed":

[2017-01-10 17:35] dav1x commented on #3525
hey @afunix

this should be addressed by this PR https://github.com/ansible/ansible/pull/19228

closed via PR# 19228

[2017-01-10 23:35] dav1x commented on #2796
I've tested and the following options work fine:

        resource_pool: OCP3
        annotation: "Taco Tuesday"

This is on the latest devel build of ansible 2.3.

[2017-01-11 11:48] Yannik commented on #1924
This issue was moved to ansible/ansible#20126

[2017-01-11 11:48] #1924 closed

[2017-01-12 11:27] wilsncc commented on #1910
Still happening. Anyone hoping to resolve this?

I'd note that it only really happens when the DNS entries are on a line of their own.

[2017-01-12 12:18] wilsncc commented on #1842
Same thing here.

[2017-01-12 17:48] #3699 closed

[2017-01-16 16:18] rfdy opened #3700 "composer: Unable to use "working-dir" with spaces"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
composer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The composer module is not able to use "working-dir" with directories that contain a space.

##### STEPS TO REPRODUCE
`mkdir /tmp/test\ directory`

[code]
[code]

##### EXPECTED RESULTS
Composer is able descend into the requested directory.

[2017-01-16 16:23] #3700 closed

[2017-01-18 11:49] mattmonkey83 commented on #3164
Hi - Just wondered if this was still being investigated?  We've hit the same problem after updating.

[2017-01-18 14:52] fghaas commented on #2996
@greygjhart You might want to check out ansible/ansible#20373 from @umago, it should fix the issue of `lxc-clone` no longer being available and having been removed in favor of `lxc-copy`.

[2017-01-18 23:51] neilsh commented on #3164
@mattmonkey83 I think the issue has a fix completed, to be released in the next version: https://github.com/ansible/ansible/issues/19579

[2017-01-19 10:16] mattmonkey83 commented on #3164
Ah awesome, hadn't seen that issue.  Thanks @neilsh.

[2017-01-22 21:16] ghost commented on #2996
That reads just like the clean and backward compatible version of the quickfix I wrote to be able to get it going on our platforms. My four-month old message was essentially to know if someone had any interest in my tidying my fix and sharing it.

@fghaas Sorry I didn't answer your previous message, it was very kind of you to take some time to study the issue I reported on a different platform.

[2017-01-22 21:16] #2996 closed

[2017-01-23 08:02] fghaas commented on #2996
Hi @greygjhart, thanks for following up here — would you mind testing the fix in ansible/ansible#20373 and let @umago know (in a comment on that PR) that it's working for you?

[2017-01-24 12:29] #2641 closed

[2017-01-24 17:06] jyergatian commented on #1118
@frenck I see your point of view and will close this issue.

[2017-01-24 17:06] #1118 closed

[2017-01-25 14:42] andrewhowdencom commented on #3444
This issue was moved to ansible/ansible#20638

[2017-01-25 14:43] #3444 closed

[2017-01-26 19:27] #1746 closed

[2017-01-26 21:44] TimJDFletcher commented on #2651
I have run into this bug too, it seems to be a macOS specific bug

[code]

[2017-01-27 21:40] TSheahan commented on #2542
I've written a full and feature-rich API interface into MikroTik using Perl. I also wrote a config descriptor-modifier language for meta-programming MikroTik configs.

I'm interested in contributing to MikroTik support on Ansible. Anyone working on that, who would like code contributions, please get in touch.

[2017-01-27 22:11] senorsmile commented on #2542
@TSheahan that sounds very interesting.  We are writing our current implementation in Python only to be compatible with upstream Ansible.

We are still getting our proof of concept working, but should have something that we can release open source (on github) shortly.

[2017-01-27 22:19] luqasz commented on #2542
I've written [driver](https://github.com/napalm-automation/napalm-ros) for [NAPALM](https://github.com/napalm-automation/napalm). It is almost finished. Basic facts gathering works. I need to implement config parsing (probably from json) and uploading it to mikrotik. I've done my previous configuration manager [mcm](https://github.com/luqasz/mcm).

[2017-01-31 01:48] msmith93 commented on #3391
@brucellino Your issue was probably caused by the fact that your Jenkins home directory is not /var/lib/jenkins. You can use the "jenkins_home" parameter of the jenkins_plugin module to overwrite the default.

[2017-01-31 12:18] l1x commented on #694
[code]

[code]

[code]

Is it possible that I have this bug in 2.1.2.0?

[2017-01-31 13:37] igogorevi4 commented on #2835
I faced same necessity

I suggest that improvement

By default just links new template to hosts:
[code]
or if you need reset previous templates use some option, like this:

[code]
I guess it'd be useful

[2017-01-31 16:21] ssenaria commented on #1179
Running into the same issue.

`
TASK [ec2] *********************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: object of type 'NoneType' has no len()
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Traceback (most recent call last):\n  File

[2017-02-01 04:30] tmshn commented on #3641
@ansibot (or @kayhayen )

This is already resolved in ansible/ansible#19280.
Could you close this issue?

[2017-02-01 05:21] #3641 closed

[2017-02-02 15:20] durnote opened #3701 "Add instance_type to ec2_remote_facts result"
ISSUE TYPE

Feature Idea
COMPONENT NAME

cloud / amazon / ec2_remote_facts

ANSIBLE VERSION

ansible 2.2.0.0

SUMMARY

Can you please add very simple change (one line only)  for ec2_remote_facts to show instance_type as well.

`'instance_type': instance.instance_type`

[2017-02-02 20:26] #3701 closed

[2017-02-05 05:29] sheldmandu commented on #2384
Hi @jtyr I would also suggest that the functionality to enable a specific repo is needed and cannot be easily replicated with the ini_file module in all scenarios.  A great example where I came across this is the remi repos for installing a specific version of php. Try install the rpm and look at the repo files.  See https://blog.remirepo.net/post/2016/02/14/Install-PHP-7-on-CentOS-RHEL-Fedora  Th

[2017-02-05 05:32] sheldmandu commented on #3530
If anyone is having this issue, the simplest way to solve is installing yum-utils and running a command to call yum-config-manager --enable.  You can even put changed_when: false if you don't want to be flagged as a change.  I've posed the specific scenario that yum_repository doesn't deal with in 2384.  Perhaps yum_repository can just utilize functionality already in yum-config-manager.

[2017-02-08 12:20] rbbrasil opened #3702 "vaicavalo!"
# This repository is locked

Please open all new issues and pull requests in https://github.com/ansible/ansible

For more information please see http://docs.ansible.com/ansible/dev_guide/repomerge.html

[2017-02-08 13:45] #3702 closed

[2017-02-08 14:16] gundalow commented on #3682
Fixed by https://github.com/ansible/ansible/pull/19210

[2017-02-08 17:04] kladiv commented on #3428
+1
i found issue in SuSE Enterprise Server (SLES) 11 SP4 using iptables-1.4.10-4.5.1 package

[2017-02-09 18:55] Mr-Pi opened #3703 "openvswitch_bridge ansible 2.3.0"
Failed to add ovs bridge with parent bridge and vlan.

**config:**
[code]
output of `ansible-playbook -i ./staging all.yml -l firewalk_new -vvv`
[code]

[2017-02-10 04:05] #3703 closed

[2017-02-11 20:52] gaddman commented on #2065
The config path error described in the summary has been raised in ansible/ansible#21296

[2017-02-12 03:59] jctanner commented on #2796
@denys-19 if you are still interested in this, please migrate the issue. http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo

[2017-02-12 03:59] #2796 closed

[2017-02-12 04:00] jctanner commented on #3525
resolved by https://github.com/ansible/ansible/pull/19228

[2017-02-12 04:00] #3525 closed

[2017-02-12 04:01] jctanner commented on #3491
@AlekseyKrylov please retest with a recent version of devel and migrate this issue or open a in new one in ansible/ansible if it is still not working.

[2017-02-12 04:01] #3491 closed

[2017-02-12 04:03] jctanner commented on #2914
Please review the latest features in vmware_guest on the devel branch in ansible/ansible.

[2017-02-12 04:03] #2914 closed

[2017-02-12 04:04] jctanner commented on #3482
@pa7ac please retest with a recent version of devel and migrate this issue or open a new one in ansible/ansible if you are still affected by this.

[2017-02-12 04:04] #3482 closed

[2017-02-12 04:05] jctanner commented on #2915
@ikkaro please migrate this issue to ansible/ansible if it still interests you.

[2017-02-12 04:05] #2915 closed

[2017-02-12 04:07] jctanner commented on #2913
A lot of work has gone into the module since the 2.2 release and I'm pretty sure datastore clusters was part of that. Please check in the devel branch on ansible/ansible and if you don't find what you want, please migrate this issue or open a new one in ansible/ansible.

[2017-02-12 04:07] #2913 closed

[2017-02-12 04:08] jctanner commented on #2912
I'm 99% certain the latest code supports clusters. If not, please open a new issue in ansible/ansible or migrate this one.

[2017-02-12 04:08] #2912 closed

[2017-02-15 20:31] chriswolske commented on #2960
I am having the same error with five (5) of my 30+ servers. The common denominator appears to be that it is failing on Domain Controllers, all other servers work just fine. The account used with ansible is a Domain Admin account, and Domain Admins are explicitly added to the local Administrators group. I have a local WSUS server and the failed servers in question can pull from it when I use the lo

[2017-02-19 11:00] ovcharenko commented on #2065
resolved_by_pr #21604

[2017-02-19 11:00] ovcharenko commented on #2065
bug_resolved

[2017-02-23 05:48] mcrocker commented on #2707
JBoss 6.x has an identity file containing applied patch names. It would probably be faster to search that file than attempt to use the cli to test for the presence of a patch, then only use the cli via a shell module to apply patches.

[2017-02-27 14:56] karlism commented on #3525
I've finally had the chance to test new changes, but unfortunately _vsphere_guest_ module still fails to deploy VM without a template and displays following error:

[code]

If I add "template: False" to the the module options, it starts to clone random live VM (not evan a template) to new VM.
I've tested this with Ansible 2.2.1.0 and this _vmware_guest_ module version:
https://raw.githubuserconten

[2017-02-28 11:14] #2072 closed

[2017-02-28 16:29] juliedavila commented on #1130
For ubuntu/debian you should be good to go if you install `libnm-glib-dev`

Tested on ubuntu 16

[2017-02-28 16:30] juliedavila commented on #1130
I believe this is a documentation issue in regards to `requirements` rather than a bug with the code itself

[2017-03-01 15:34] JonTheNiceGuy commented on #1130
Confirmed on Ubuntu 16.04.2

[2017-03-07 15:37] Liberasys commented on #2651
Same problem here with Ubuntu !
[code]

[2017-03-08 16:43] snemir2 commented on #1179
can confirm running into the identical issue.
 ansible --version
ansible 2.2.1.0

[2017-03-12 11:22] #3506 closed

[2017-03-12 18:30] morbidick commented on #1545
if anyone is interested, i just ported an acme-tiny role to this module: https://github.com/morbidick/ansible-role-letsencrypt works like a charm, thx for the nice work

[2017-03-12 18:32] hryamzik commented on #1545
@morbidick [really](https://github.com/gitinsky/ansible-role-letsencrypt)?

[2017-03-12 18:57] morbidick commented on #1545
@hryamzik yeah i saw your role, i just wanted to post my role as an example because it specifically uses this build in module

[2017-03-12 19:00] hryamzik commented on #1545
Ah I see, I didn't mention module was already available, looks like release queue is more than 9 months now.

[2017-03-12 19:02] morbidick commented on #1545
@hryamzik available with ansible 2.2

[2017-03-13 18:33] #3592 closed

[2017-03-16 18:05] carlwain74 commented on #2731
Has this issue been fixed as I'm still facing this issue on Centos 7.
Here is my task from my playbook
[code]
The versions I am using are :-

Ansible 2.2.1.0
PyMongo 3.4.0
Mongo 3.4.2
[code]

If I manually connect to the admin database I can execute the db.createUser successfully
[code]

[2017-03-16 20:36] bcdonadio commented on #428
The very %FREE logic is obviously not idempotent, and such usage of the lvol module is therefore not to be employed when idempotency is needed.

However, there is still an issue with idempotency when using %VG: the division isn't stable. If you have a 100GB VG and create an LV with 20%VG size, there's a possibility that the next run of the algorithm will give an extent less or an extent more to th

[2017-03-19 01:01] bitliner commented on #2731
Same here, it throws an exception:

[code]

but the password is well specified in the configuration file by variable.

It only works if I specify it without string.

Not working version:

[code]

Working version
[code]

[2017-03-21 12:14] windowsansiblernew opened #3707 "win_regedit - Not adding new reg entries"
Following is a basic playbook for testing out win_regedit and i could see that the newkey is alone getting created, not the entry and the data in it
---
 - hosts: web
   tasks:
    - name: Crete and add reg entries
      win_regedit:
       key: HKLM:\SOFTWARE\testing\SDk\newkey
       entry: hello
       data: world

[2017-03-21 12:18] #3707 closed

[2017-03-22 03:50] jctanner commented on #3539
resolved_by_pr https://github.com/ansible/ansible/pull/20158

[2017-03-22 03:50] #3539 closed

[2017-03-22 14:22] jctanner commented on #3176
duplicate of https://github.com/ansible/ansible/issues/18978

[2017-03-22 14:22] #3176 closed

[2017-03-24 09:56] danvaida commented on #1756
This issue was moved to ansible/ansible#22939

[2017-03-24 13:04] jctanner commented on #3461
duplicate of https://github.com/ansible/ansible/issues/19553

[2017-03-24 13:04] #3461 closed

[2017-03-24 13:07] #1756 closed

[2017-03-24 15:24] jctanner commented on #1652
submitter timeout.

[2017-03-24 15:24] #1652 closed

[2017-04-04 09:10] metal3d commented on #774
Exactly the same, the volume is started but ansibles says it failed

[2017-04-09 05:59] jugatsu commented on #2542
@luqasz Can you please share the status of supporting mikrotik routeros in ansible right now?

[2017-04-09 10:41] luqasz commented on #2542
@jugatsu Please create a issue on github. I don't want to mix discussion subjects in PRs.

[2017-04-13 13:47] uriinf commented on #3152
I can confirm this issue still exists on Ansible verson 2.3.0.0.

[2017-04-17 14:08] jmvbxx commented on #957
I had the same problem and solved the following way. I have `npm` install via `apt` as always but then in a separate task I use the `npm` module to install `npm` before any other package and then it works properly.

It's not the nicest workaround but at least it keeps the work flowing.

- ubuntu 16.04
- ansible 2.3.0.0
- npm 4.5.0

[2017-04-18 10:47] morganchristiansson commented on #2956
It's currently not possible to create a detached ENI with ec2_eni module.

Workaround is to not use ansible.

Duplicate issues: https://github.com/ansible/ansible/issues/19972 https://github.com/ansible/ansible/issues/19452

[2017-04-18 12:06] morganchristiansson commented on #2956
I've come up with this workaround:
[code]

[2017-04-19 12:12] gundalow commented on #3454
Closing this as the issue is now tracked as https://github.com/ansible/ansible/issues/23723

[2017-04-19 12:12] #3454 closed

[2017-04-20 13:22] jcgarrido commented on #2999
The same issue is happening in Ansible 2.2.1 and specifying the body directly in the task instead of reading from a file:

[code]
A network trace shows that the payload is empty:

![win_uri](https://cloud.githubusercontent.com/assets/17270767/25232832/10c0050c-25dd-11e7-92d8-4c05ae4f3718.png)

[2017-04-20 14:42] machacekondra commented on #3555
resolved_by_pr 3567
this can be closed

[2017-04-20 15:23] blakfeld commented on #2999
I had a fix for this, but I think it got lost when they merged the repos. I've got some free time this week, let me see what I can cook up. Are you up for testing a PR later on?

[2017-04-20 15:36] jcgarrido commented on #2999
Sure, I'll be glad to test it.

[2017-04-20 15:49] swoodford commented on #2128
Also ran into this issue.  Thanks for your insight @ajbonner I ended up using `become: false` on my npm task and it seems to have worked!

[2017-04-20 16:43] blakfeld commented on #2999
@jcgarrido Try this out: https://github.com/blakfeld/ansible/blob/add_body_file_win_uri/lib/ansible/modules/windows/win_uri.ps1

I haven't seen anything compelling as to why it's not at least attempting to POST the xml as a string blob, but when googling around it seems that everyone using XML seems to recommend using a file. I know this may not be ideal, but does this at least get you unblocked?

[2017-04-20 18:10] kladiv commented on #1083
+1
useful to implement "create" too, if destination file different from /etc/security/limits.conf (e.g. /etc/security/limits.d/<file>.conf)

[2017-04-21 08:50] pinkal-vansia opened #3711 "EFS Name is blank when created with ansible efs module"
Hello, I am using Ansible efs module to create AWS EFS Filesystem. File system gets created but name field is always blank.

[code]

output of playbook execution with `-vvvvv` switch
[code]

[2017-04-21 08:59] #3711 closed

[2017-04-21 11:13] jcgarrido commented on #2999
@blakfeld It turned out that I was using quite and old version of the module bundled with Ansible 2.2.0:

https://github.com/ansible/ansible-modules-extras/blob/f564e77a0848824874f111bad44f427537dddc30/windows/win_uri.ps1

I have found that in that version $body is set but never used.

More recent versions of the file already include a fix for that, it was fixed here: https://github.com/ansible/an

[2017-04-25 15:37] JoelFeiner commented on #2009
Issue is still present on 2.3.0.

[2017-04-26 08:20] dankeder commented on #2009
At this moment the fix of this issue is merged only into devel. It's not in any of the stable-x.x branches (esp. not in stable-2.2). I'm not sure why :\.

[2017-04-26 09:42] clabu commented on #2547
This was working using the `file://` prefix in Ansible 2.0.1.0 but it was broken by this change in `lib/ansible/module_utils/uris.py` introduced in Ansible 2.1.0.0: https://github.com/ansible/ansible/commit/ed35e8bce21180529e72f5bbe1d853b67ddac870

Previously, the `urls.fetch_url` method would always set the response's status code to `200`. Since the change, the actual status code in the response

[2017-04-26 09:45] rcarrillocruz commented on #3589
The 'set' option was added on Ansible 2.3, you need to upgrade from 2.2 to 2.3 to use it.

Closing.

[2017-04-26 09:45] #3589 closed

[2017-04-26 15:35] offlinehoster commented on #1791
Closed because of what. This module is not working as expected.

[2017-04-26 15:37] offlinehoster commented on #2022
Ansible 2.3.0.0  is also effected

[2017-04-26 16:22] jhawkesworth commented on #2999
Since the issue appears to have been fixed in #2504, which would have been released in ansible 2.3.0, I am going to close this.  If there are still related issues with this, please open a new issue (in https://github.com/ansible/ansible as ansible-modules-extra is no longer being used for issue tracking or pull requests.

[2017-04-26 16:22] #2999 closed

[2017-04-26 16:55] claco commented on #1705
This issue was moved to ansible/ansible#24028

[2017-04-26 16:55] #1705 closed

[2017-04-26 16:59] doug2525 opened #3712 "pexpect 4.0.1 Ansible variable issue"
Receiving error "Insufficient version of pexpect installed (4.0.1), this module requires pexpect>=3.3. Error was 'NoneType' object has no attribute 'rstrip'" When trying to use Ansible variable in value field. It works fine if I hard code the value but if I use the Ansible variable I get the version error.
Ansible version 2.1.1.0
pexpect version 4.0.1

Works fine:
- name: run superset.sh
  expect:

[2017-04-26 17:05] #3712 closed

[2017-04-28 11:41] gundalow commented on #1062
A fix has been proposed in https://github.com/ansible/ansible/pull/20677 reviews welcome so this can be merged. Thanks in advance

[2017-05-02 17:29] #2219 closed

[2017-05-08 11:00] davedastrange opened #3713 "module vmware_vm_facts folder"
Hello!
It would be nice to get the folder (folderpath) from the vm.
See:
https://github.com/tsugliani/pyvmomi/blob/master/sample/getvmstree.py

[2017-05-08 11:09] #3713 closed

[2017-05-09 11:12] petenorth commented on #2547
@clabu The patch to maven_artifact.py didn't resolve the issue for me.

The info['status'] seems to come back with -1, I tried using a value of -1 rather than None but to no avail.

Version of ansible was:

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (R

[2017-05-09 11:32] dagwieers commented on #2882
Please test the following PR ansible/ansible#23162, which should fix your issue.

[2017-05-09 11:47] dagwieers commented on #2663
We have mostly rewritten win_regedit to be idempotent and support check-mode and have diff-support. We also added integration tests in the meantime to ensure proper working.

So could you please test the v2.3 release or the devel branch to verify that this is still an issue ? And if it is still an issue, please move over the issue to https://github.com/ansible/ansible

[2017-05-09 11:49] dagwieers commented on #3287
@maxim0r We have rewritten the win_chocolatey partly. So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-05-09 11:51] dagwieers commented on #3544
@willuk2010 We have rewritten the win_scheduled_task almost entirely (and added integration tests). So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-05-10 22:08] ghost commented on #2911
I'm having what looks to be the same problem, on a vCenter environment that is structured as
Datacenter -> Cluster(s) -> Hosts(s). But I'm using Ansible 2.3.0. Same desired outcome, same errors in the vCenter logs.

The only significant difference I think exists between my environment and the environment described above is it sounds like the fix addressed multiple hosts in the datacenter with defa

[2017-05-11 08:16] necr0n commented on #3254
This issue was moved to ansible/ansible#24493

[2017-05-11 08:23] #3254 closed

[2017-05-13 00:01] dagwieers commented on #2882
@okand Can you please test if this issue is still present using PR ansible/ansible#23162. If not, please move this issue to https://github.com/ansible/ansible instead. Thanks !

[2017-05-13 00:06] dagwieers commented on #2916
@ferventcoder Can we move this issue to https://github.com/ansible/ansible if we still consider this valuable ?

[2017-05-13 00:07] dagwieers commented on #1496
@salfand You can close this issue. I cannot ;-)

[2017-05-13 00:09] dagwieers commented on #287
@nitzmahone Shouldn't this be working now with the async_wrapper in v2.3 ?

If this issue is still present in v2.3 or the devel branch, please move it over to https://github.com/ansible/ansible !

[2017-05-13 00:11] dagwieers commented on #2813
@dreamcat4 We have rewritten the win_chocolatey partly. So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-05-13 00:12] dagwieers commented on #1886
@sparkvilla Please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-05-13 00:13] dagwieers commented on #2814
@dreamcat4 We have rewritten the win_chocolatey partly. So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-05-13 00:16] ferventcoder commented on #2916
@dagwieers does that mean what I think it means?

[2017-05-13 00:17] dagwieers commented on #2916
@dagwieers Possibly, I don't know what you are thinking :-)

[2017-05-13 00:19] ferventcoder commented on #2916
Moved to https://github.com/ansible/ansible/issues/24569

[2017-05-13 00:19] #2916 closed

[2017-05-13 00:26] dagwieers commented on #1233
@xpicio Could you please test if this issue is still present in v2.3 or the devel branch wrt. https://github.com/ansible/ansible/issues/16708 ? If this issue is still causing problems, please move this issue to https://github.com/ansible/ansible !

Thanks in advance !

[2017-05-13 00:28] dagwieers commented on #921
@michelleperz Could we please move this issue over to https://github.com/ansible/ansible if this is still considered valuable ? Otherwise it may not get the proper attention it may need.

Thanks in advance !

[2017-05-13 22:59] not-mms commented on #1562
same error for me.

[2017-05-17 08:32] okand commented on #2882
Sorry for the delay, I've been offline for a couple of weeks.

I don't have access to an environment to test this in anymore unfortunately but thanks anyway 😅

[2017-05-17 08:34] dagwieers commented on #2882
@okand No problem. Can you please close this ticket ?

[2017-05-17 08:36] #2882 closed

[2017-05-17 13:17] webvictim commented on #2139
This issue was moved to ansible/ansible#24724

[2017-05-17 13:21] #2139 closed

[2017-05-18 19:40] b-long commented on #2960
Has anyone found a workaround to this issue?

[2017-05-26 15:03] #1910 closed

[2017-05-30 06:54] valentin-krasontovitsch commented on #3060
This issue was moved to ansible/ansible#25149

[2017-05-30 06:58] #3060 closed

[2017-06-01 08:16] #3452 closed

[2017-06-01 23:22] dagwieers commented on #921
Seems a useful request still.
This issue was moved to ansible/ansible#25282

[2017-06-01 23:43] #1767 closed

[2017-06-02 01:13] dagwieers commented on #921
@gundalow Please close this issue.

[2017-06-02 06:58] jhawkesworth commented on #921
closing superceeded by  ansible/ansible#25282

[2017-06-02 06:58] #921 closed

[2017-06-02 10:58] #1496 closed

[2017-06-02 11:00] dagwieers commented on #2960
Let's move this issue over to ansible/ansible.

[2017-06-02 11:01] dagwieers commented on #2960
Since this issue still seems relevant, let's move it.
This issue was moved to ansible/ansible#25298

[2017-06-02 11:04] #2960 closed

[2017-06-03 22:33] dagwieers commented on #2663
After testing the provided use-case literally with no issues (on devel branch on Windows 10), and lacking any feedback from the OP, I think we can close this issue.

@gundalow Can you close this please ?

[2017-06-04 00:48] dagwieers commented on #1233
@gundalow This is believed to be fixed. No feedback since almost a year. Please close !

[2017-06-05 19:44] #2663 closed

[2017-06-05 19:44] #1233 closed

[2017-06-06 15:26] dagwieers commented on #3287
This issue was moved to ansible/ansible#25393

[2017-06-06 15:28] #3287 closed

[2017-06-06 15:35] dagwieers commented on #2814
This issue was definitely fixed when the module was cleaned up. If you still have a problem, let us know.

[2017-06-06 15:38] dagwieers commented on #1886
A lot of the supporting code has been refactored and we need feedback from @sparkvilla.
If you still have an issue with v2.3 or the devel branch, please file a new issue at https://github.com/ansible/ansible/issues

[2017-06-06 15:39] #2814 closed

[2017-06-06 15:39] #1886 closed

[2017-06-06 15:44] dagwieers commented on #2813
A lot of the supporting code for Windows/WinRM support has been rewritten. And we believe this issue might be resolved. If you still experience issues using v2.3 or the devel branch, we would like to hear from you. Please check ansible/ansible#23320 or open a new issue at: https://github.com/ansible/ansible/issues

Thanks !

[2017-06-06 15:44] #2813 closed

[2017-06-06 18:25] dagwieers commented on #1140
Ok, after reviewing this issue, I think we can close it. The documentation has been improved in the meantime with the various authentication options and their characteristics. The support code has been improved a lot recently and if any ill-effects are encountered, please open a new ticket at https://github.com/ansible/ansible/issues

Thanks !

[2017-06-06 18:26] #1140 closed

[2017-06-07 00:52] dagwieers commented on #3346
This is already fixed in v2.3 or the devel branch. We can close this ticket.

[2017-06-07 00:57] #3346 closed

[2017-06-07 10:01] matanlb commented on #2731
Having the same issue, expect setting the password as string (and not variable) doesn't help.
Any input on this issue?

[2017-06-07 10:28] dagwieers commented on #287
@sonjz Any feedback on this with the current v2.3/devel branch async implementation ? I would be really grateful if we would have a module to manage the taskbar.

[2017-06-07 10:32] gundalow commented on #3498
Moved to https://github.com/ansible/ansible/issues/25410
So closing this

[2017-06-07 10:32] #3498 closed

[2017-06-07 11:43] dagwieers commented on #3067
There is a workaround using #3126, and with ansible/ansible#25398 return-code 3010 is accepted as success by default. So I think we can close this issue.

[2017-06-07 11:45] #3067 closed

[2017-06-08 08:08] dagwieers commented on #2746
This issue was moved to ansible/ansible#25465

[2017-06-08 08:11] dagwieers commented on #2733
This issue was moved to ansible/ansible#25466

[2017-06-08 08:12] dagwieers commented on #2732
This issue was moved to ansible/ansible#25467

[2017-06-08 08:15] #2732 closed

[2017-06-08 08:16] #2733 closed

[2017-06-08 08:16] #2746 closed

[2017-06-08 08:18] dagwieers commented on #2386
This issue was moved to ansible/ansible#25469

[2017-06-08 08:19] dagwieers commented on #2728
This issue was moved to ansible/ansible#25470

[2017-06-08 08:22] dagwieers commented on #1436
This issue was moved to ansible/ansible#25471

[2017-06-08 08:23] dagwieers commented on #1435
This issue was moved to ansible/ansible#25472

[2017-06-08 08:24] dagwieers commented on #1432
This issue was moved to ansible/ansible#25473

[2017-06-08 08:25] #1435 closed

[2017-06-08 08:25] #1436 closed

[2017-06-08 08:25] #2728 closed

[2017-06-08 08:26] dagwieers commented on #3233
This issue was moved to ansible/ansible#25474

[2017-06-08 08:27] dagwieers commented on #3519
This issue was moved to ansible/ansible#25475

[2017-06-08 08:35] #3519 closed

[2017-06-08 08:35] #3233 closed

[2017-06-08 08:35] #1432 closed

[2017-06-08 08:37] dagwieers commented on #2605
This issue was moved to ansible/ansible#25476

[2017-06-08 08:43] dagwieers commented on #3544
This issue was moved to ansible/ansible#25478

[2017-06-08 08:43] dagwieers commented on #3544
This issue was moved to ansible/ansible#25479

[2017-06-08 08:44] #2386 closed

[2017-06-08 08:46] #2605 closed

[2017-06-08 08:49] dagwieers commented on #287
Lacking any feedback, we can close this issue here. If you still have questions or feedback to share, please open a new issue at https://github.com/ansible/ansible/issues

[2017-06-08 08:50] jhawkesworth commented on #287
closed

[2017-06-08 08:50] #287 closed

[2017-06-08 08:52] jhawkesworth commented on #3544
issue moved, closing this one.

[2017-06-08 08:52] #3544 closed

[2017-06-12 16:59] #1741 closed

[2017-06-12 17:06] felipelrz commented on #2562
Your win_clones.yml is missing the ansible_user variable. Fullfil it with username@DOMAIN and it will work.

[2017-06-16 11:26] walterdolce commented on #425
This affects Ansible `2.3.1.0` and fails on Debian Jessie64 as well.

[2017-06-16 19:15] gundalow commented on #396
From the comments it sounds like this got fixed in Ansible 1.6.1 so closing

[2017-06-16 19:15] #396 closed

[2017-06-21 13:13] wang415 commented on #3423
Could you let me look at the script?

[2017-06-21 13:14] wang415 commented on #3423
"/dnz_support/ngito-reconfigure-network.sh",

[2017-06-28 08:07] Vladimir-csp commented on #428
Stumbled upon this recently. I see two ways:
- make separate parameters for initial size and desired size.
- have a flag that toggles resizing in general. If false, use size parameter only when creating.

[2017-06-28 23:51] jctanner commented on #1557
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/1511

[2017-06-28 23:51] #1557 closed

[2017-06-29 21:00] #1773 closed

[2017-06-29 21:29] straight-shoota commented on #1773
This issue was moved to ansible/ansible#26265

[2017-06-29 21:32] #3443 closed

[2017-07-03 23:15] felipe1982 commented on #1083
Hi. Came here from Google looking for how to remove an entry. Tried `state: absent` but complained
[code]

[2017-07-04 00:16] willthames commented on #1083
Please raise a new issue on the main [ansible/ansible](https://github.com/ansible/ansible) repo, this repo is no longer in use.

[2017-07-04 00:16] #1083 closed

[2017-07-10 15:31] ivanbaldo commented on #1674
Being bitten by this in Ansible 2.3.1.0.

[2017-07-11 22:47] jamescassell commented on #2913
I can confirm that this was not included.  I'm on Ansible 2.3.

[2017-07-12 00:35] willthames commented on #1674
This issue was moved to ansible/ansible#26664

[2017-07-12 00:35] #1674 closed

[2017-07-17 10:18] mangas commented on #2462
@grisha87 new PR: https://github.com/ansible/ansible/pull/21891

[2017-07-24 12:00] es1o commented on #1717
I have the same issue.
I use version 2.3.1.0 looks like that fix has't been merged yet to the mainline.

[2017-07-25 17:27] dresc commented on #2022
hi,

Please fix it!

[2017-08-04 03:42] freephile commented on #659
I'm still running into this exact problem, and no suggested workaround is helping.  I'm using the latest versions of gluster, ansible, and using the exact same playbook code that has been published here and elsewhere.  I can execute the probe by hand, but when ansible tries to probe, it fails.  So this proves it's not a firewall or permission problem

`fatal: [10.0.50.161]: FAILED! => {"changed":

[2017-08-07 14:00] JakeDEvans commented on #1842
also interested in a fix.

[2017-08-08 12:23] dagwieers commented on #3554
This issue is also raised in the upstream ansible/ansible repository at https://github.com/ansible/ansible/issues/23522 and being resolved by https://github.com/ansible/ansible/pull/25857

This issue can be closed.

[2017-08-08 12:49] #3554 closed

[2017-08-08 13:24] dagwieers commented on #899
This issue was moved to ansible/ansible#27893

[2017-08-08 13:24] #899 closed

[2017-08-08 13:28] dagwieers commented on #1019
This issue was moved to ansible/ansible#27894

[2017-08-08 13:32] dagwieers commented on #1484
Since this is a duplicate of ansible/ansible#20819 we can close this one.

[2017-08-08 13:33] dagwieers commented on #1575
This issue was moved to ansible/ansible#27895

[2017-08-08 13:37] #1484 closed

[2017-08-08 13:54] dagwieers commented on #3553
This issue was moved to ansible/ansible#27899

[2017-08-08 13:59] #3553 closed

[2017-08-08 14:00] #1575 closed

[2017-08-08 14:00] #1019 closed

[2017-08-09 13:41] #2475 closed

[2017-08-09 14:11] JLofgren commented on #1300
@crainiarc, did you get an answer to your question from the mail list? Can you provide a permalink?

[2017-08-10 15:59] MattAlex151 commented on #2128
None of the posted solutions work for me. I've tried symlinking, `become: false`, and adding to the PATH all with no success.

EDIT: Misread what to symlink, was trying npm when it should have been node itself. It works if I symlink node to /usr/local/bin

[2017-08-15 12:35] Nomane commented on #2543
Please reopen this issue since it still reproducible in v2.2.1.0 (+ duplicate from https://github.com/ansible/ansible/issues/21553)

[2017-08-17 21:22] #2462 closed

[2017-08-18 00:50] jctanner commented on #3564
Documentation looks good to me.

[2017-08-18 00:50] #3564 closed

[2017-08-19 16:54] rozaq14996 opened #3720 "installing npm mongodb error"
npm ERR! Unexpected end of input at 1:22614
npm ERR! ctories":{},"dist":{"shasum":"d19996ea68175cf03b1d2b95e77a33e991f385d
npm ERR!

[2017-08-19 16:56] dev-rozaq commented on #3720
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'mongodb' ]
2 info using npm@5.0.3
3 info using node@v8.1.4
4 verbose npm-session d9e08610e3ab592f
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET

[2017-08-19 16:57] dev-rozaq commented on #3720
anyone can help me

[2017-08-19 17:12] #3720 closed

[2017-08-22 19:57] mykaul commented on #3418
@machacekondra  - I think the issue is that check_sdk fails wrongly when the SDK is not installed:
[code]

I thought the whole point of check_sdk was to fail gracefully?

[2017-08-27 18:41] kiranos commented on #2542
is there any progress beeing made in this topic?

[2017-08-28 10:17] mjudeikis commented on #664
This might save somebody day or two:

[code]

main area which tripped me was `{{ item.name | lower }}` as guys "here" uses some of the hostnames uppercase and some lower case. So I was seeing intermediate failures

[2017-09-10 16:48] #3555 closed

[2017-09-10 19:45] #74 closed

[2017-09-10 19:46] #84 closed

[2017-09-10 19:47] #137 closed

[2017-09-10 19:47] #209 closed

[2017-09-10 19:47] #219 closed

[2017-09-10 19:49] #220 closed

[2017-09-10 19:52] #306 closed

[2017-09-10 19:52] #308 closed

[2017-09-10 19:52] #327 closed

[2017-09-10 19:55] #383 closed

[2017-09-10 19:58] #425 closed

[2017-09-10 20:03] #428 closed

[2017-09-10 20:03] #434 closed

[2017-09-10 20:03] #506 closed

[2017-09-10 20:08] #521 closed

[2017-09-10 20:08] #523 closed

[2017-09-10 20:08] #545 closed

[2017-09-10 20:13] #577 closed

[2017-09-10 20:13] #578 closed

[2017-09-10 20:13] #681 closed

[2017-09-10 20:18] #793 closed

[2017-09-10 20:19] #809 closed

[2017-09-10 20:19] #817 closed

[2017-09-10 21:49] #829 closed

[2017-09-10 21:50] #830 closed

[2017-09-10 21:50] #836 closed

[2017-09-10 21:50] #847 closed

[2017-09-10 21:50] #879 closed

[2017-09-10 21:50] #888 closed

[2017-09-10 21:55] #901 closed

[2017-09-10 21:55] #903 closed

[2017-09-10 21:55] #915 closed

[2017-09-10 21:55] #919 closed

[2017-09-10 22:00] #932 closed

[2017-09-10 22:00] #956 closed

[2017-09-10 22:00] #978 closed

[2017-09-10 22:00] #1004 closed

[2017-09-10 22:00] #1062 closed

[2017-09-10 22:00] #1063 closed

[2017-09-10 22:05] #1098 closed

[2017-09-10 22:05] #1103 closed

[2017-09-10 22:05] #1129 closed

[2017-09-10 22:05] #1130 closed

[2017-09-10 22:11] #1163 closed

[2017-09-10 22:11] #1169 closed

[2017-09-10 22:11] #1224 closed

[2017-09-10 22:15] #1244 closed

[2017-09-10 22:16] #1278 closed

[2017-09-10 22:16] #1292 closed

[2017-09-10 22:16] #1308 closed

[2017-09-10 22:16] #1331 closed

[2017-09-10 22:16] #1343 closed

[2017-09-10 22:16] #1345 closed

[2017-09-10 22:16] #1347 closed

[2017-09-10 22:16] #1348 closed

[2017-09-10 22:16] #1349 closed

[2017-09-10 22:21] #1401 closed